
@font-face {
	font-family: 'SVN-NexaBold';
	src:url('SVN-NexaBold.eot');
	src:url('SVN-NexaBold.eot?#iefix') format('embedded-opentype'),  
		url('SVN-NexaBold.woff') format('woff'), 
		url('SVN-NexaBold.woff2') format('woff2'), 
		url('SVN-NexaBold.ttf')  format('truetype'), 
		url('SVN-NexaBold.svg#SVN-NexaBold') format('svg');
}

@font-face {
	font-family: 'SVN-NexaLight';
	src:url('SVN-NexaLight.eot');
	src:url('SVN-NexaLight.eot?#iefix') format('embedded-opentype'),  
		url('SVN-NexaLight.woff') format('woff'), 
		url('SVN-NexaLight.woff2') format('woff2'), 
		url('SVN-NexaLight.ttf')  format('truetype'), 
		url('SVN-NexaLight.svg#SVN-NexaLight') format('svg');
}

@font-face {
	font-family: 'Roboto-Bold';
	src:url('Roboto-Bold.eot');
	src:url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Bold.woff') format('woff'), 
		url('Roboto-Bold.woff2') format('woff2'), 
		url('Roboto-Bold.ttf')  format('truetype'), 
		url('Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
	font-family: 'Roboto-Italic';
	src:url('Roboto-Italic.eot');
	src:url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Italic.woff') format('woff'), 
		url('Roboto-Italic.woff2') format('woff2'), 
		url('Roboto-Italic.ttf')  format('truetype'), 
		url('Roboto-Italic.svg#Roboto-Italic') format('svg');
}

@font-face {
	font-family: 'Roboto-Light';
	src:url('Roboto-Light.eot');
	src:url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Light.woff') format('woff'), 
		url('Roboto-Light.woff2') format('woff2'), 
		url('Roboto-Light.ttf')  format('truetype'), 
		url('Roboto-Light.svg#Roboto-Light') format('svg');
}

@font-face {
	font-family: 'Roboto-Medium';
	src:url('Roboto-Medium.eot');
	src:url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Medium.woff') format('woff'), 
		url('Roboto-Medium.woff2') format('woff2'), 
		url('Roboto-Medium.ttf')  format('truetype'), 
		url('Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src:url('Roboto-MediumItalic.eot');
	src:url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-MediumItalic.woff') format('woff'), 
		url('Roboto-MediumItalic.woff2') format('woff2'), 
		url('Roboto-MediumItalic.ttf')  format('truetype'), 
		url('Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url('Roboto-Regular.eot');
	src:url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Regular.woff') format('woff'), 
		url('Roboto-Regular.woff2') format('woff2'), 
		url('Roboto-Regular.ttf')  format('truetype'), 
		url('Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src:url('Montserrat-SemiBold.eot');
	src:url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  
		url('Montserrat-SemiBold.woff') format('woff'), 
		url('Montserrat-SemiBold.woff2') format('woff2'), 
		url('Montserrat-SemiBold.ttf')  format('truetype'), 
		url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src:url('OpenSans-Regular.eot');
	src:url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),  
		url('OpenSans-Regular.woff') format('woff'), 
		url('OpenSans-Regular.woff2') format('woff2'), 
		url('OpenSans-Regular.ttf')  format('truetype'), 
		url('OpenSans-Regular.svg#Montserrat-SemiBold') format('svg');
}

@font-face{
	font-family:'SVNKelsonSansBold';
	src:url('SVN-Kelson-Sans-Bold.eot');
	src:url('SVN-Kelson-Sans-Bold.eot?#iefix') format('embedded-opentype'),
		url('SVN-Kelson-Sans-Bold.woff2') format('woff2'),
		url('SVN-Kelson-Sans-Bold.woff') format('woff'),
		url('SVN-Kelson-Sans-Bold.ttf') format('truetype'),
		url('SVN-Kelson-Sans-Bold.svg#SVN-Kelson-Sans-Bold') format('svg');
}

@font-face {
	font-family: 'UTM-Bebas_1';
	src:url('UTM-Bebas_1.eot');
	src:url('UTM-Bebas_1.eot?#iefix') format('embedded-opentype'),  
		url('UTM-Bebas_1.woff') format('woff'), 
		url('UTM-Bebas_1.woff2') format('woff2'), 
		url('UTM-Bebas_1.ttf')  format('truetype'), 
		url('UTM-Bebas_1.svg#UTM-Bebas_1') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src:url('RobotoCondensed-Bold.eot');
	src:url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
		url('RobotoCondensed-Bold.woff') format('woff'), 
		url('RobotoCondensed-Bold.woff2') format('woff2'), 
		url('RobotoCondensed-Bold.ttf')  format('truetype'), 
		url('RobotoCondensed-Bold.svg#RobotoCondensed-Bol') format('svg');
}

@font-face {
	font-family: 'UTM-AvoBold';
	src:url('UTM-AvoBold.eot');
	src:url('UTM-AvoBold.eot?#iefix') format('embedded-opentype'),  
		url('UTM-AvoBold.woff') format('woff'), 
		url('UTM-AvoBold.woff2') format('woff2'), 
		url('UTM-AvoBold.ttf')  format('truetype'), 
		url('UTM-AvoBold.svg#UTM-AvoBold') format('svg');
}