<?php
$urlHelper = $this->getView()->plugin('url');

if(!empty($params['breadcrumb'])) {
    $xhtml = '<li><a href="'. $view->url('routeHome') .'">Trang chủ</a></li>';
    foreach ($params['breadcrumb'] AS $item) {
        $link = $item['url'];
        $name = '<a href="'. $link .'" title="'. $item['name'] .'">'. mb_strtoupper($item['name']) .'</a>';
        if(empty($link)) {
            $name = $item['name'];
        }
        
        $xhtml .= '<li>'. $name .'</li>';
    }
    
    $result = '<div class="box_breadcrumb">
            		<ul class="breadcrumb">
            			'. $xhtml .'
            		</ul>
                </div>';
}
?>