<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-content">
        <div class="alert alert-success" role="alert">
        	Đã tạo rss bài viết thành công. <a href="<?php echo $this->url('routeHome', array(), array('force_canonical' => true));?>rss.xml" target="_blank"><?php echo $this->url('routeHome', array(), array('force_canonical' => true));?>rss.xml</a>
        </div>
    </div>
</form>