@charset "utf-8";

/* Import Font */
@IMPORT url("font.css");

/* System */
a{ color: #039cdf; text-decoration: none; transition: color 0.15s ease-in-out 0s; -webkit-transform: color 0.15s ease-in-out 0s; -moz-transform: color 0.15s ease-in-out 0s; -o-transform: color 0.15s ease-in-out 0s;}
a:hover { color: #222; text-decoration: none;}

/* Content */
body{ font-family: 'Roboto', sans-serif; font-size: 16px;}
img{max-width: 100%;}
hr { border: 1px solid #929497; margin: 10px 0 !important; }
ul{list-style: none; margin: 0; padding: 0;}
b{font-weight: 900;}
.box-flex{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap;}
.flex-center{align-items: center;}
.box_menu.scroll-to-fixed-fixed{background-color: #fff;}
.box_menu .logo{margin:10px 0; font-size: 30px; font-weight: 900; line-height: 34px}
.box_menu .logo>a{color: #d32426;}
.box_menu .navbar{ margin: 0; border: 0;}
.box_menu .navbar .navbar-nav{ margin: 15px 0 0;}
.box_menu .navbar .navbar-nav li{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; align-items: center;}
.box_menu .navbar .navbar-nav li a{font-weight: 700; color: #333; position: relative; padding: 10px 15px; line-height: 22px;}
.box_menu .navbar .navbar-nav li a:hover{background: none; color: #d32426;}

section{padding: 80px 0; background-size: cover; background-repeat: no-repeat; background-position: center;}
.section-title{text-transform: uppercase; font-size: 24px; font-weight: 700; }
.section-title>*{display: inline-block; padding: 10px 20px; max-width: 100%; border: #333 thin solid; margin: 0; text-align: center; }
.section-title.title-white>*{border-color: #fff; color: #fff; }
.section-content{padding-top: 30px; }
.ctas{text-transform: uppercase;margin-top: 30px; display: inline-block; border-radius: 40px; background-color: red; background-image: -webkit-linear-gradient(#991f23, #d42427); background-image: -o-linear-gradient(#991f23, #d42427); background-image: linear-gradient(#991f23, #d42427); color: #fff !important; padding: 12px 30px 10px 30px; position: relative; font-weight: 700;}
.ctas:before{content: ''; position: absolute; left: 5px; right: 5px; bottom: 5px; top: 5px; border: #f3d5d6 2px solid; border-radius: 40px; }
.item-col{margin:10px 0;}

/* About */
.box-about .section-content ul{padding-left: 15px;}
.box-about .section-content ul li{padding-left: 25px; position: relative; }
.box-about .section-content ul li:before{content: ''; display: inline-block; width: 10px; height: 10px; background-color: #d32426; position: absolute; left: 0; top: 5px; }
.box-about .section-content ul li+li{margin-top: 15px;}

/* Benefit */
.box-benefit{position: relative;}
.box-benefit:before{content: ''; position: absolute; z-index: 0; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); }
.box-benefit .container{position: relative; z-index: 1;}
.box-benefit .item-benefit{background-color: rgba(255,255,255,0.8);}
.box-benefit .item-benefit .item-benefit-title{background-color: #d42427; font-weight: 700; padding: 15px 30px; color: #fff; position: relative;}
.box-benefit .item-benefit .item-benefit-title:after{position: absolute; content: ''; left: 0; top: 100%; width: 100%; box-sizing: border-box; background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%); height: 5px; }
.box-benefit .item-benefit .item-benefit-content{padding: 30px;}
.box-benefit .item-benefit .item-benefit-content ul li{padding-left: 25px; position: relative;  font-weight: 500;}
.box-benefit .item-benefit .item-benefit-content ul li:before{content: ''; display: inline-block; width: 10px; height: 10px; background-color: #d32426; position: absolute; left: 0; top: 5px; }
.box-benefit .item-benefit .item-benefit-content ul li+li{margin-top: 20px; }

/* attendee */
.box-attendee{background-size: auto; background-position: center; background-repeat: no-repeat; background-color: #f5f5f5;}
.box-attendee .item-attendee{width: 100%;}
.box-attendee .item-attendee .item-attendee-icon{margin-bottom: 25px; }

/* Member */
.box-member .item-member{color: #fff; margin:20px 0;}
.box-member .item-member .item-member-img{margin-bottom: 10px; display: inline-block; border: #fff 2px solid; padding: 10px; border-radius: 100%;}
.box-member .item-member .item-member-img img{border-radius: 100%; border: #d42427 5px solid;}
.box-member .item-member .item-member-name{margin:0 0 10px; text-transform: uppercase;}

/* Route */
.box-route{background-size: cover; background-position: center; background-repeat: no-repeat; position: relative;}
.box-route:before{content: ''; left: 0; right: 0; top: 0; bottom:0; position: absolute; z-index: 1; background-color: rgba(255,255,255,0.8); }
.box-route .container{position: relative; z-index: 2;}
.box-route .section-content{padding-top: 50px;}
.box-route .section-content>.row{margin: 0 !important;}
.box-route .section-content>.row>.item-col{padding: 0 !important;}
.box-route .item-route .item-route-info .item-route-content{border: #333 thin solid; background-color: #fff; position: relative; padding: 15px 15px 90px; font-weight: 500; }
.box-route .item-route .item-route-info .item-route-content img{max-width: 60px; max-height: 60px; position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); }

/* Program */
.box-program .item-program{border-radius: 25px; border: #fff thin solid; width: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 375px; position: relative; color: #fff; }
.box-program .item-program:before{content: ''; position: absolute; z-index: 1; left: 0; right: 0; bottom: 0; top: 0; background-color: rgba(47, 29, 29, 0.9); border-radius: 25px; transition: all 0.3s;}
.box-program .item-program:hover:before{opacity: 0.8;}
.box-program .item-program .item-program-content{position: relative; z-index: 2; padding: 15px; font-weight: 300}
.box-program .item-program .item-program-content .item-program-index{color: #d42427; font-size: 60px; line-height: 60px; font-weight: 600; margin-bottom: 15px; padding-left: 15px;}
.box-program .item-program .item-program-content .item-program-title{margin: 0 0 15px; text-transform: uppercase; font-weight: 500; line-height: 35px; min-height: 70px; }

/* Langer */
.box-langers .langers-slide{position: relative;}
.box-langers .langers-slide .owl-nav{margin: 0;}
.box-langers .langers-slide .owl-prev,
.box-langers .langers-slide .owl-next{position: absolute; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); background-color: #f5f5f5 !important; border: #ccc thin solid !important; font-size: 40px !important; line-height: 40px !important; width: 50px; height: 50px; text-align: center; border-radius: 100% !important; color: #333 !important; outline: none !important; } .box-langers .langers-slide .owl-prev{left: -65px;}
.box-langers .langers-slide .owl-next{right: -65px;}
.box-langers .langers-slide .item{position: relative;}
.box-langers .langers-slide .item .bg-image{width: 100%; }
.box-langers .langers-slide .item .item-langer-info .item-langer-title{color: #d42427; margin: 0 0 15px; text-transform: uppercase; font-size: 26px; }
.box-langers .langers-slide .item .item-langer-info .item-langer-meta{color: #d42427; font-style: italic; margin: 0 0 15px; }
.box-langers .langers-slide .item .item-langer-info .item-langer-content{padding: 15px 0; font-weight: 500; position: relative; }
.box-langers .langers-slide .item .item-langer-info .item-langer-content p+p{margin-top: 15px; }

.box_chuongTrinh{position: relative; color: #fff;}
.box_chuongTrinh:before{content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(47, 29, 29, 0.9); z-index: 1; }
.box_chuongTrinh .container{position: relative; z-index: 2;}
.box_chuongTrinh .box_form{ margin: 20px 0 0 0;}
.box_chuongTrinh .box_form .box_title {font-size: 28px; color: #d42427; text-transform: uppercase; text-align: center; margin-bottom: 40px; position: relative; }
.box_chuongTrinh .box_form .box_title:before { position: absolute; content: ""; top: 50px; width: 150px; height: 8px; background: #d32426; left: 44%; }
.box_chuongTrinh .box_form .item{ font-size: 20px; padding: 10px 0 10px 25px; background: url(../images/bg-item.png) no-repeat 0px 20px;}
.box_chuongTrinh .box_form .form .form-control{height: 45px;padding-left: 30px; margin-bottom: 20px; border: 1px solid #fff; font-weight: 500; font-size: 13px; background: none; color: #fff;}
.box_chuongTrinh .box_form .form .form-control::-webkit-input-placeholder { color: #fff; font-size: 13px;}
.box_chuongTrinh .box_form .form .form-control:-moz-placeholder {color: #fff; font-size: 13px;}
.box_chuongTrinh .box_form .form .form-control::-moz-placeholder {color: #fff; font-size: 13px;}
.box_chuongTrinh .box_form .form .form-control:-ms-input-placeholder {color: #fff; font-size: 13px;}
.box_chuongTrinh .box_form .form .btn-gui{ text-align: center; }
.box_chuongTrinh .box_form .form .btn-gui .btn-default{ background: #fff; border: 1px solid #fff; color: #d42427;  font-size: 15px; font-weight: bold;padding: 7px 35px; text-transform: uppercase;}
.box_chuongTrinh .box_form .form .btn-default.form-control{ text-align: left; line-height: 29px; }
.box_chuongTrinh .box_form .form .btn-gui .form-control{ text-align: center;}
.box_chuongTrinh .box_form .hotline{padding: 10px; text-align: center; font-size: 20px;}
.box_chuongTrinh .box_form .hotline a{color: #fff; font-weight: bold;}

.box-footer{padding:30px 0;}
.box-footer, .box-footer a{color: #d42427;}
.box-footer .item-footer{font-size: 14px; }
.box-footer .item-footer ul li i{width: 15px;}
.box-footer .item-footer ul li+li{margin-top: 7px;}

.loading{ position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999999; background: url("../images/loading.gif") no-repeat center center rgba(255, 255, 255, 0.8);}
.modal.fade{ background-color: rgba(0, 0, 0, 0.6);}
.modal .alert{ padding: 5px; margin-bottom: 5px;}
.dangKy { position: fixed; top: 50%; right: 20px; display: none;  z-index: 20;}
.dangKy img{ height: 100px;}

iframe[name="google_conversion_frame"] { height: 0;}

/*Responsive*/
@media all and (min-width: 1200px){

}

@media all and (max-width: 1199px){
	.box-attendee .item-attendee .item-attendee-content{padding: 40px 35px;}
}

@media all and (min-width: 992px){
	.box-about .about-img{padding-left: 50px;}
	.box-about .about-img .item-img{position: relative; margin-bottom: 15px; display: inline-block;}
	.box-about .about-img .item-img:before{content:""; position: absolute; z-index: -1; width: 100%; height: 100%; left: -15px; bottom: -15px; border: #333 thin solid; }

	.box-attendee .item-attendee .img-bg{position: relative;}
	.box-attendee .item-attendee .img-bg img{position: relative; z-index: 2}
	.box-attendee .item-attendee .img-bg-after{position: absolute; left: 3px; top: 0; z-index: 1;}
	.box-attendee .item-attendee .item-attendee-content{position: absolute; left: 0; top: 0; bottom: 0; right: 0; padding: 65px; font-weight: 700; z-index: 3}

	.box-langers .langers-slide .item .item-langer-info{position: absolute; left: 10%; top: 15%; right: 45%; bottom: 15%; }
}

@media all and (max-width: 991px){
	.box-attendee .item-attendee{background-color: #fff; border-radius: 4px; position: relative; box-shadow: 0 0 10px #ccc; }
	.box-attendee .item-attendee:after{content: ''; position: absolute; left: 10px; right: 10px; bottom: 10px; top: 10px; border-radius: 4px; border: #d32426 thin solid; }

	.box-langers .langers-slide .item{border: #333 thin solid; background-color: #f5f5f5; padding: 45px; }
	.box-langers .langers-slide .item:before{content: ''; position: absolute; left: 15px; right: 15px; top: 15px; bottom:  15px; border: #D4B071 thin solid; }
}

@media all and (min-width: 768px) and (max-width: 991px){
	.box-route .item-route{margin-top: 30px;}

}

@media all and (min-width: 768px){
	.box_menu .navbar .navbar-nav li+li{border-left: 2px #333 solid; }
	.box_menu .navbar .navbar-nav li a span{display: block;}

	.box-route .item-route .item-route-index{position: relative; width: 100%;}
	.box-route .item-route .item-route-index:before{content: ''; position: absolute; z-index: 1; left: 0; right: 0; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); height: 10px; background-color: #d42427; }
	.box-route .item-route .item-route-index span{position: relative; z-index: 2; color: #d42427; background-color: #fff; border: #d42427 4px solid; font-weight: 900; font-size: 60px; display: inline-block; width: 100px; height: 100px; line-height: 94px; transform: rotate(45deg); }
	.box-route .item-route .item-route-index span b{transform: rotate(-45deg); display: inline-block;}
	.box-route .item-route .item-route-info{padding: 50px 15px 0; width: 100%;}
	.box-route .item-route .item-route-info .item-route-content{min-height: 175px; }
	.box-route .item-route .item-route-info .item-route-content:before{content: ''; position: absolute; left: 50%; bottom: 100%; transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); width: 2px; height: 50px; background-color: #333; }
	.box-route .item-route .item-route-info .item-route-content>span{display: none;}
	.section-title>*{min-width: 480px;}
}

@media all and (max-width: 767px){
	body{font-size: 14px;}
	.section-title>*{font-size: 26px;}
	.box-member .item-member .item-member-name,
	.box-program .item-program .item-program-content .item-program-title{font-size: 20px;}

	.box_menu .logo{float: left; padding: 0 15px;}
	.box_menu .navbar{ min-height: 50px;}
	.box_menu .navbar .navbar-brand{ font-size: 14px; line-height: 16px; padding-top: 8px; padding-bottom: 0; height: 50px;}
	.box_menu .navbar .navbar-toggle{ margin-top: 25px; margin-bottom: 5px; border: #333 thin solid;}
	.box_menu .navbar .navbar-toggle .icon-bar{background-color: #333;}
	.box_menu .navbar-collapse-background{ position: fixed; display: block; padding: 0; margin: 0; top: 0; left: -100%; width: 100%; height: 100%; max-height: 100%; z-index: 9999; background: rgba(0, 0, 0, 0.6); transition: left 0.1s ease-in-out 0s; -webkit-transform: left 0.1s ease-in-out 0s; -moz-transform: left 0.1s ease-in-out 0s; -o-transform: left 0.1s ease-in-out 0s;}
	.box_menu .navbar-collapse{ display: block; width: 220px; left: -220px; height: 100%; max-height: 100%; background-color: #111; position: fixed; top: 0; margin: 0; padding: 0;  transition: left 0.1s ease-in-out 0s; -webkit-transform: left 0.1s ease-in-out 0s; -moz-transform: left 0.1s ease-in-out 0s; -o-transform: left 0.1s ease-in-out 0s;}
	.box_menu .navbar-collapse.open{ left: 0; z-index: 999999;}
	.box_menu .navbar-collapse.open .navbar-nav{ margin: 0;}
	.box_menu .navbar .navbar-nav li+li{border-top: 1px rgba(255,255,255,0.7) solid; }
	.box_menu .navbar-collapse.open .navbar-nav>li{ display: block; height: auto; width: 100%;}
	.box_menu .navbar-collapse.open .navbar-nav>li>a{ display: block; text-align: left; color:#fff;}
	.box_menu .navbar-collapse.open .navbar-nav>li>a span{ display: inline;}

	.about-img{text-align: center;}

	.box-langers .langers-slide .owl-dots{margin: 0; position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); }

	.box-route .item-route .item-route-info .item-route-content{border-color: #ccc; padding-left: 50px; text-align: left;}
	.box-route .item-route .item-route-info .item-route-content>span{position: absolute; left: 15px; top: 15px; font-size: 40px; line-height: 40px; color: #d42427; }

	.box_footer .follow{ float: inherit; text-align: center; margin-top: 10px;}
}

@media (max-width: 550px){
	.box-program .item-program{min-height: 300px;}
} 