<?php
$userInfo = new \ZendX\System\UserInfo();

if(!empty($arrMenu)) {
    $xhtml .= '<ul class="nav navbar-nav">';
    $parentRight = array();
    $maxLevel = 1;
    $minLevel = 1;
    $i = 0;
    foreach ($arrMenu AS $menu) {
         
        if($i > 0) {
            $name   = $menu['name'];
            $target = $menu['target'];
            $icon   = $menu['icon'] ? $menu['icon'] : 'link';
            $class  = $menu['class'] ? $menu['class'] : '';
            
            if(!empty($menu['link'])) {
                $link   = $menu['link'];
            } else {
                $link   = $view->url('routeAdmin/default', array('controller' => 'index', 'action' => 'index'));
            }
             
            if($menu['level'] > $maxLevel) {
                $maxLevel = $menu['level'];
            }
             
            if($menu['right'] - $menu['left'] == 1) {
                if(strtolower($link) == 'divider') {
                    $xhtml .= sprintf('<li class="divider"></li>');
                } else {
                    $xhtml .= sprintf('<li><a href="%s" target="%s" title="%s"><i class="fa fa-%s"></i> <span class="title">%s</span><span class="arrow"></span></a></li>', $link, $target, $name, $icon, $name);
                }
                 
                for ($j = $minLevel; $j < $maxLevel; $j++) {
                    if(in_array($menu['right'] + $j, $parentRight)) {
                        $xhtml .= '</ul></li>';
                    }
                }
            } else {
                $parentRight[] = $menu['right'];
                $xhtml .= sprintf('<li class="parent"><a href="%s" target="%s" title="%s" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle"><i class="fa fa-%s"></i> <span class="title">%s</span><span class="arrow"></span></a><ul class="dropdown-menu">', $link, $target, $name, $icon, $name);
            }
        }
        $i++;
    }
    //if($userInfo->getUserInfo('id') == '0000000000-0000-0000-0000-111111111111') {
        $xhtml .= '<li class="parent">
                    <a href="javascript:;" target="_self" title="" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" aria-expanded="false"><i class="fa fa-cogs"></i> <span class="title">Cấu hình</span><span class="arrow"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/xadmin-nested/menu/index/Menu.Admin/" target="_self" title="Menu admin"><i class="fa fa-link"></i> <span class="title">Menu admin</span><span class="arrow"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/xadmin/form/index/" target="_self" title="Form"><i class="fa fa-wpforms"></i> <span class="title">Quản lý form</span><span class="arrow"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/xadmin/user-group/index/" target="_self" title="Nhóm quyền truy cập"><i class="fa fa-users"></i> <span class="title">Nhóm quyền truy cập</span><span class="arrow"></span></a></li>
                        <li><a href="/xadmin/user-permission/index/" target="_self" title="Danh sách Action"><i class="fa fa-universal-access"></i> <span class="title">Danh sách Action</span><span class="arrow"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/xadmin/dynamic/index/" target="_self"><i class="fa fa-folder-o"></i> <span class="title">Cấu hình chuyên mục</span><span class="arrow"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/xadmin-nested/setting/index/System/" target="_self" title="Cấu hình hệ thống"><i class="fa fa-cog"></i> <span class="title">Cấu hình hệ thống</span><span class="arrow"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/xadmin-nested/setting/language/" target="_self" title="Ngôn ngữ"><i class="fa fa-database"></i> <span class="title">Ngôn ngữ</span><span class="arrow"></span></a></li>
                    </ul>
                </li>';
    //}
    $xhtml .= '</ul>';
    
    $result = $xhtml;
}
?>