<?php
$userInfo = new \ZendX\System\UserInfo();

if(!empty($arrMenu)) {
    $xhtml .= '<ul>';
    $items = [];
    $parentRight = array();
    $maxLevel = 1;
    $minLevel = 1;
    foreach ($arrMenu AS $key => $menu) {
        if($menu['level'] > 1) {
            $name        = $menu['name'];
            $target      = $menu['target'];
            $icon        = $menu['icon'] ? $menu['icon'] : 'link';
            $class       = $menu['class'] ? $menu['class'] : '';
            $description = $menu['description'] ? $menu['description'] : '';
            
            $link   = '';
            if(!empty($menu['category_alias'])) {
                $link = $view->url('routePostCategory', array('alias' => $menu['category_alias']));
            }
            if(!empty($menu['link'])) {
                $link   = $menu['link'];
            }
             
            if($menu['level'] > $maxLevel) {
                $maxLevel = $menu['level'] - 1;
            }
            
            if($_SERVER['REQUEST_URI'] == $link) {
                $class .= !empty($class) ? ' active' : 'active';
            }
            
            if($menu['right'] - $menu['left'] == 1) {
                $xhtml .= '<li data-level="'. $menu['level'] .'" data-max="'. $maxLevel .'" data-key="'. $key .'">
                    <a href="'. $link .'" target="'. $target .'" class="'. $class .'" '. $description .'><span class="title">'. $name .'</span></a>
                </li>';
                $items[] = '<li data-level="'. $menu['level'] .'" data-max="'. $maxLevel .'" data-key="'. $key .'">
                    <a href="'. $link .'" target="'. $target .'" class="'. $class .'" '. $description .'><span class="title">'. $name .'</span></a>
                </li>';

                for ($j = $minLevel; $j < $maxLevel; $j++) {
                    foreach ($parentRight AS $key_parent => $value_parent) {
                        if($menu['right'] + $j == $value_parent) {
                            if(($arrMenu[$key + 1]['level'] != $menu['level']) || empty($arrMenu[$key + 1])) {
                                $xhtml .= '</ul></li>';
                            }
                        }
                    }
                }
            } else {
                $parentRight[] = $menu['right'];
                $items[] = '<li class="dropdown" data-level="'. $menu['level'] .'"><a href="'. $link .'" target="'. $target .'" class="'. $class .'"><span class="title">'. $name .'</span> <i class="fa fa-angle-down" aria-hidden="true"></i></a><ul>'; 
                $xhtml .= '<li class="dropdown" data-level="'. $menu['level'] .'"><a href="'. $link .'" target="'. $target .'" class="'. $class .'"><span class="title">'. $name .'</span> <i class="fa fa-angle-down" aria-hidden="true"></i></a><ul>';
            }
        }
    }
    // $xhtml .=   '<li class="nav-item-right" style="position: relative;">
    //                 <a href="#" data-toggle="modal-search" id="search_button" class="search-icon"><i class="fa fa-search"></i></a>
    //             </li>';
    $xhtml .=   '</ul>';
    $odd_out = count($items)%2 == 0; 
    $mid = ($odd_out ? 1 : 0) + ceil(count($items)/2)-1;
    $logo = '<a class="logo" href="/" title="'. $settings['General.Meta.Title']['value'] .'"><img src="'. $settings['General.System.Logo']['image'] .'"></a>';
    $flag = '<div class="language">
                    <a href="'. $view->url('routeLanguage', array('code' => 'vi')) .'"><img src="'. $params['template']['urlImg'] .'/vi.png' .'"></a>
                    <a href="'. $view->url('routeLanguage', array('code' => 'jp')) .'"><img src="'. $params['template']['urlImg'] .'/jp.png' .'"></a>
                </div>';
    $search =   '<div class="modal-search hidden-xs hidden-sm pull-right" style="margin-top: 10px;">
                    <div class="container">
                        <form action="/search">
                            <input type="text" name="keyword" class="form-control" maxlength="300" placeholder="Tìm kiếm" value="'. $_GET['keyword'] .'">
                        </form>
                        <i class="fa fa-times s-close"></i>
                    </div>
                </div>';
    
    $result = '<section class="box_menuMain" id="box_menuMain">
                <div class="container">
                    <div class="logo_main hidden-md hidden-lg">'. $logo .'</div>
            		<div class="menu hidden-xs hidden-sm">
            			<ul>'. implode('',array_slice($items,0,$mid)).'<li><div class="logo_main hidden-xs hidden-sm">'. $logo .'</div></li>'.implode('',array_slice($items,$mid,$mid)) .'</ul>
                        '. $search .'
        			</div>
                    <div class="header hidden-md hidden-lg">
                        <a href="javascript:;" class="toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>
                <div class="clr"></div>
            </section>';
}
?>

<?php $view->headScript()->captureStart() ?>
    $(document).ready(function(e){
        $('.body').on('click', '.box_menuMobile ul li.dropdown>a>i', function(e){
            e.preventDefault();
            $(this).parent().toggleClass('active');
            $(this).parent().parent().children('ul').slideToggle('fast');
        });
    });

    function close_menu_mobile() {
        $('.bg_menu_mobile').remove();
        $('.box_menuMobile').remove();
    }
    
    $(document).ready(function() {
    	$('#box_menuMain .header .toggle').click(function() {
    	    var xhtmlMenu = $('#box_menuMain .menu').html();
            $('body').append('<div class="box_menuMobile">'+ xhtmlMenu +'</div>');
            $('body').append('<div class="bg_menu_mobile" onclick="close_menu_mobile()"></div>');
    	});
    });

    // Search Modal - DEVNGUYEN
    $("[data-toggle='modal-search']").click(function () {
        //if click open
        $('body').toggleClass('search-open');
        return false;
    });

    $(".modal-search .s-close").click(function () {
        //close modal
        $('body').removeClass('search-open');
        return false;
    });
<?php $view->headScript()->captureEnd() ?>