<?php
if(!empty($arrMenu)) {
    $xhtml .= '<ul>';
    $parentRight = array();
    $maxLevel = 1;
    $minLevel = 1;
    foreach ($arrMenu AS $menu) {
        if($menu['level'] > 1) {
            $name   = $menu['name'];
            $target = $menu['target'];
            $icon   = $menu['icon'] ? $menu['icon'] : 'link';
            $class  = $menu['class'] ? $menu['class'] : '';
            
            $link   = '';
            if(!empty($menu['category_alias'])) {
                $link = $view->url('routePostCategory', array('alias' => $menu['category_alias']));
            }
            if(!empty($menu['link'])) {
                $link   = $menu['link'];
            }
             
            if($menu['level'] > $maxLevel) {
                $maxLevel = $menu['level'];
            }
             
            if($menu['right'] - $menu['left'] == 1) {
                $xhtml .= '<li data-level="'. $menu['level'] .'" data-max="'. $maxLevel .'" data-key="'. $key .'"><a href="'. $link .'" target="'. $target .'" class="'. $class .'"><span class="title">'. $name .'</span></a></li>';
            
                for ($j = $minLevel; $j < $maxLevel; $j++) {
                    foreach ($parentRight AS $key_parent => $value_parent) {
                        if($menu['right'] + $j == $value_parent) {
                            if(($arrMenu[$key + 1]['level'] != $menu['level']) || empty($arrMenu[$key + 1])) {
                                $xhtml .= '</ul></li>';
                            }
                        }
                    }
                }
            } else {
                $parentRight[] = $menu['right'];
                $xhtml .= '<li class="dropdown" data-level="'. $menu['level'] .'"><a href="'. $link .'" target="'. $target .'" class="'. $class .'"><span class="title">'. $name .'</span></a><ul>';
            }
        }
    }
    $xhtml .= '</ul>';
    
    $result = '<div class="box_menuTop">
                    <div class="container">
            		    '. $xhtml .'
                        <div class="logo"><a href="/"><img src="'. $settings['General.System.Logo']['image'] .'"></a></div>
                    </div>
                </div>';
}
?>