<?php
    // Thiết lập Meta
    $this->headTitle('Đăng ký tài khoản thành công');
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
    
    $arrRoute = array('controller' => 'index', 'action' => 'login');
    $linkLogin = $this->url('routeUser/default', $arrRoute);
?>

<div class="box_notice" style="padding-bottom: 100px;">
	<div class="page-header">
        <h1>Thông báo</h1>
	</div>
	<p class="lead">Đăng ký tài khoản thành công</p>
	<p>Vui lòng <a href="<?php echo $linkLogin;?>">nhấn vào đây</a> để đăng nhập vào hệ thống</p>
</div>
