<?php

    $myForm				= $this->myForm;

    $myForm->prepare();

    

    $arrControl = array(

        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),

        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),

        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),

        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),

    );

    

    $elements = array(

        array('element' => $myForm->get('name'), 'label' => 'Tên', 'validate' => array('require' => true)),

        array('element' => $myForm->get('alias'), 'label' => 'Đường dẫn tĩnh'),

        array('element' => $myForm->get('image'), 'label' => 'Hình ảnh'),

        array('element' => $myForm->get('image_course'), 'label' => 'Hình ảnh 527x275'),

    	array('element' => $myForm->get('layout'), 'label' => 'Template hiển thị'),

    	array('element' => $myForm->get('form'), 'label' => 'Template form'),

        array('element' => $myForm->get('form_id'), 'label' => 'Id Form đăng ký', 'validate' => array('require' => true)),

        array('element' => $myForm->get('status'), 'label' => 'Hiển thị', 'boxClass' => 'col-sm-2'),

        array('element' => $myForm->get('ordering'), 'label' => 'Thứ tự', 'boxClass' => 'col-sm-1'),

        array('element' => $myForm->get('description'), 'label' => 'Mô tả ngắn', 'boxClass' => 'col-md-12'),

        array('element' => $myForm->get('content'), 'label' => 'Nội dung', 'boxClass' => 'col-md-12'),

        array('element' => '', 'section' => 'Phần mở rộng', 'boxClass' => 'col-md-12'),

        array('element' => $myForm->get('meta_title'), 'label' => 'Meta title', 'boxClass' => 'col-md-4'),

        array('element' => $myForm->get('meta_keywords'), 'label' => 'Meta keywords', 'boxClass' => 'col-md-4'),

        array('element' => $myForm->get('meta_description'), 'label' => 'Meta description', 'boxClass' => 'col-md-4'),

        array('element' => $myForm->get('meta_url'), 'label' => 'Link thay thế', 'boxClass' => 'col-md-4'),

        array('element' => '', 'section' => 'Phân loại', 'boxClass' => 'col-md-12'),

        array('element' => $myForm->get('box_hot'), 'label' => 'Hot', 'boxClass' => 'col-md-2 col-xs-6'),

        array('element' => $myForm->get('box_highlight'), 'label' => 'Nổi bật', 'boxClass' => 'col-md-2 col-xs-6'),

        array('element' => $myForm->get('box_home'), 'label' => 'Trang chủ', 'boxClass' => 'col-md-2 col-xs-6'),

        array('element' => $myForm->get('box_footer'), 'label' => 'Cuối trang', 'boxClass' => 'col-md-2 col-xs-6'),

        array('element' => $myForm->get('box_left'), 'label' => 'Cột trái', 'boxClass' => 'col-md-2 col-xs-6'),

        array('element' => $myForm->get('box_right'), 'label' => 'Cột phải', 'boxClass' => 'col-md-2 col-xs-6'),

        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),

    );

    

    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);



?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">

    <div class="page-control">

    	<div class="title pull-left">

    		<?php echo $this->caption;?>

    	</div>

    	<div class="control pull-right">

			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>

		</div>

		<div class="clearfix"></div>

	</div>

    <?php echo $this->flashMessenger()->render();?>

	<?php echo @$this->xViewElementErrors($elements);?>

	<div class="page-tabs">

		<ul class="nav nav-tabs">

			<li class="active">

				<a href="#tab_0" data-toggle="tab">Thông tin chung</a>

			</li>

            <li>

                <a href="#tab_3" data-toggle="tab">Khóa học</a>

            </li>

			<li>

				<a href="#tab_1" data-toggle="tab">Hình ảnh</a>

			</li>

			<li>

				<a href="#tab_2" data-toggle="tab">Video</a>

			</li>

		</ul>

	</div>

    <div class="page-content">

    	<div class="tab-content">

    		<div class="tab-pane active" id="tab_0">

        		<div class="row">

        			<?php echo $xhtml;?>

        		</div>

    		</div>

    		<div class="tab-pane" id="tab_1">

                <div class="row image-manager" id="image-manager">

                    <?php

                    $images = '';

                    if(!empty($this->params['data']['images'])) {

                        $images = $this->params['data']['images'];

                    } elseif(!empty($this->item['images'])) {

                        $images = unserialize($this->item['images']);

                    }

                    

                    

                    if(!empty($images)) {

                        $string = '0123456789abcde0123456789fghi0123456789jklm0123456789nopqrst0123456789uvwxyz0123456789';

                        

                        for ( $i = 0; $i < count($images['url']); $i++) {

                            $image_url      = $images['url'][$i];

                            $image_name     = $images['name'][$i];

                        

                            $id_item        = 'img_' . substr(str_shuffle($string), 0, 10);

                            $image          = '<img class="img" src="'. $image_url .'" />';

                            $input_hidden   = '<input type="hidden" name="images[url][]" value="'. $image_url .'">';

                            $input_name     = '<input type="text" class="form-control input-sm" name="images[name][]" placeholder="Tên" value="'. $image_name .'">';

                            $control        = '<div class="control">

                                                  <a href="javascript:;" onclick="openEditImage(\''. $id_item .'\')">Sửa</a> |

                                                  <a href="javascript:;" onclick="openDeleteImage(\''. $id_item .'\')">Xóa</a>

                                              </div>';

                            $content        = $image . $input_hidden . $control;

                            echo sprintf('<div class="col-md-2" id="%s"><div class="item">%s</div>%s</div>', $id_item, $content, $input_name);

                        }

                    }

                    ?>

                    <div class="col-md-2 item"><div onclick="openAddImage()" class="btn-add"><i class="fa fa-plus"></i><div class="text">Thêm ảnh</div></div></div>

                </div>

        		<script type="text/javascript">

                    function openAddImage() {

                        var id = '#image-manager';

                        var id_item = 'img_' + ramdomString(10);



                        window.KCFinder = {

                            callBack: function(url) {

                                window.KCFinder = null;

                                $(id).prepend('<div class="col-md-2" id="'+ id_item +'"></div>');

                                

                                var image           = '<img class="img" src="' + url + '" />';

                                var input_hidden    = '<input type="hidden" name="images[url][]" value="' + url + '">';

                                var input_name      = '<input type="text" class="form-control input-sm" name="images[name][]" placeholder="Tên" value="">';

                                var control         = '<div class="control">' + 

                                                          '<a href="javascript:;" onclick="openEditImage(\'' + id_item + '\')">Sửa</a> |' +  

                                                          '<a href="javascript:;" onclick="openDeleteImage(\'' + id_item + '\')">Xóa</a>' + 

                                                      '</div>';

                                $('#' + id_item).html('<div class="item">' + image + input_hidden + control + '</div>' + input_name);

                            }

                        };

                        window.open('/public/scripts/kcfinder/browse.php?type?opener=ckeditor&type=images&langCode=vi', 'kcfinder_textbox',

                            'status=0, toolbar=0, location=0, menubar=0, directories=0, ' +

                            'resizable=1, scrollbars=0, width=1000, height=600'

                        );

                    }



                    function openEditImage(id_item) {

                        window.KCFinder = {

                            callBack: function(url) {

                                window.KCFinder = null;

                                

                                $('#' + id_item + ' .img').attr('src', url);

                                $('#' + id_item + ' input[type="hidden"]').val(url);

                            }

                        };

                        window.open('/public/scripts/kcfinder/browse.php?type?opener=ckeditor&type=images&langCode=vi', 'kcfinder_textbox',

                            'status=0, toolbar=0, location=0, menubar=0, directories=0, ' +

                            'resizable=1, scrollbars=0, width=1000, height=600'

                        );

                    }



                    function openDeleteImage(id_item) {

                    	bootbox.confirm("Nếu xóa phần tử sẽ không thể khôi phục lại. Bạn có chắc chắn muốn xóa?", function(result) {

                			if(result == true) {

                				$('#' + id_item).remove();

                			}

                		});

                    }

                </script>

    		</div>

    		<div class="tab-pane" id="tab_2">

        		<div class="row video-manager" id="video-manager">

                    <?php

                    $videos = '';

                    if(!empty($this->params['data']['videos'])) {

                        $videos = $this->params['data']['videos'];

                    } elseif(!empty($this->item['videos'])) {

                        $videos = unserialize($this->item['videos']);

                    }

                    

                    if(!empty($videos)) {

                        $string = '0123456789abcde0123456789fghi0123456789jklm0123456789nopqrst0123456789uvwxyz0123456789';

                        

                        for ( $i = 0; $i < count($videos['id']); $i++) {

                            $video_id       = $videos['id'][$i];

                            $video_image    = $videos['image'][$i];

                            $video_name     = $videos['name'][$i];

                        

                            $id_item        = 'img_' . substr(str_shuffle($string), 0, 10);

                            $image          = '<img class="img" src="'. $video_image .'" />';

                            $input_hidden   = '<input type="hidden" name="videos[image][]" value="'. $video_image .'">';

                            $input_id       = '<input type="text" class="form-control input-sm" name="videos[id][]" placeholder="ID" value="'. $video_id .'">';

                            $input_name     = '<input type="text" class="form-control input-sm name" name="videos[name][]" placeholder="Tên" value="'. $video_name .'">';

                            $control        = '<div class="control">

                                                  <a href="javascript:;" onclick="openEditVideo(\''. $id_item .'\')">Sửa</a> |

                                                  <a href="javascript:;" onclick="openDeleteVideo(\''. $id_item .'\')">Xóa</a>

                                              </div>';

                            $content        = $image . $input_hidden . $control;

                            echo sprintf('<div class="col-md-2" id="%s"><div class="item">%s</div>%s%s</div>', $id_item, $content, $input_id, $input_name);

                        }

                    }

                    ?>

                </div>

                <br><br>

                <div class="row">

                    <div class="col-md-4 col-md-offset-4">

                        <div class="input-group input-group-default">

							<input type="text" class="form-control" name="id-video" id="id-video" placeholder="Nhập ID video từ Youtube">

							<span class="input-group-btn">

								<button class="btn red" type="button" onclick="openAddVideo()">Thêm video</button>

							</span>

						</div>

						<p style="color: #999; padding-top: 5px;">Link: https://www.youtube.com/watch?v=<span style="color: #FF0000;">3LRg38hyiDQ</span></p>

                    </div>

                </div>

        		<script type="text/javascript">

                    function openAddVideo() {

                        var id = '#video-manager';

                        var id_item = 'video_' + ramdomString(10);

                        var id_video = $('#id-video').val();

                         

                        if(!id_video || id_video == '') {

                        	xToastr('error', 'Bạn chưa nhập ID video của Youtube', '');

                        } else {

                        	$(id).prepend('<div class="col-md-2" id="'+ id_item +'"></div>');



                            var url             = 'http://img.youtube.com/vi/'+ id_video +'/0.jpg';

                            var image           = '<img class="img" src="'+ url +'" />';

                            var input_hidden    = '<input type="hidden" name="videos[image][]" value="' + url + '">';

                            var input_id        = '<input type="text" class="form-control input-sm id" name="videos[id][]" placeholder="ID" value="'+ id_video +'">';

                            var input_name      = '<input type="text" class="form-control input-sm name" name="videos[name][]" placeholder="Tên" value="">';

                            var control         = '<div class="control">' + 

                                                      '<a href="javascript:;" onclick="openEditVideo(\'' + id_item + '\')">Sửa</a> |' +  

                                                      '<a href="javascript:;" onclick="openDeleteVideo(\'' + id_item + '\')">Xóa</a>' + 

                                                  '</div>';

                            $('#' + id_item).html('<div class="item">' + image + input_hidden + control + '</div>' + input_id + input_name);



                            $('#id-video').val('');

                        }

                    }



                    function openEditVideo(id_item) {

                        window.KCFinder = {

                            callBack: function(url) {

                                window.KCFinder = null;

                                

                                $('#' + id_item + ' .img').attr('src', url);

                                $('#' + id_item + ' input[type="hidden"]').val(url);

                            }

                        };

                        window.open('/public/scripts/kcfinder/browse.php?type?opener=ckeditor&type=images&langCode=vi', 'kcfinder_textbox',

                            'status=0, toolbar=0, location=0, menubar=0, directories=0, ' +

                            'resizable=1, scrollbars=0, width=1000, height=600'

                        );

                    }



                    function openDeleteVideo(id_item) {

                    	bootbox.confirm("Nếu xóa phần tử sẽ không thể khôi phục lại. Bạn có chắc chắn muốn xóa?", function(result) {

                			if(result == true) {

                				$('#' + id_item).remove();

                			}

                		});

                    }

                </script>

    		</div>

    		<div class="tab-pane" id="tab_3">

        		<div class="row">

                    <div class="col-md-12"><h3 class="form-section">Lịch diễn ra</h3></div>

                </div>

                <div class="row">

                    <div class="col-xs-3"><div class="form-group"><b>Tỉnh thành</b></div></div>

                    <div class="col-xs-3"><div class="form-group"><b>Ngày diễn ra</b></div></div>

                    <div class="col-xs-3"><div class="form-group"><b>Thời gian</b></div></div>

                    <div class="col-xs-3"><div class="form-group"><b>Địa điểm</b></div></div>

                </div>

                <?php

                $course_option = $this->item['course_options'] ? $this->item['course_options'] : $this->params['data']['course_option'];

                foreach ($this->city AS $city) { 

                ?>

                <div class="row">

                    <div class="col-xs-3"><div class="form-group"><input type="text" name="course_option[<?php echo $city['id'];?>][name]" class="form-control" value="<?php echo $city['name'];?>" readonly="readonly"></div></div>

                    <div class="col-xs-3"><div class="form-group"><input type="text" name="course_option[<?php echo $city['id'];?>][date]" class="form-control date-picker" value="<?php echo $course_option[$city['id']]['date'];?>"></div></div>

                    <div class="col-xs-3"><div class="form-group"><input type="text" name="course_option[<?php echo $city['id'];?>][time]" class="form-control" value="<?php echo $course_option[$city['id']]['time'];?>"></div></div>

                    <div class="col-xs-3"><div class="form-group"><input type="text" name="course_option[<?php echo $city['id'];?>][address]" class="form-control" value="<?php echo $course_option[$city['id']]['address'];?>"></div></div>

                </div>

                <?php

                } 

                ?>

                <!-- <div class="row">

                    <?php echo $xhtmlCourse; ?>

                </div> -->



                <div class="row">

                    <div class="col-md-3">

                        <div class="form-group">

                            <label class="control-label">Mã khóa học</label>

                            <div class="control-element">

                                <input type="text" name="course_code" class="form-control" value="">

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="form-group">

                            <label class="control-label">Danh mục</label>

                            <div class="control-element">

                                <select name="course_category_id" id="course_category_id" class="form-control select2 select2_basic">

                                    <option value="">- Chọn danh mục -</option>

                                    <option value="1521186924-jd85-u9q8-vk2j-351522c77fd5">Lãnh đạo quản trị</option>

                                    <option value="1521256944-vua2-9fh5-zt7e-69j5ugc948oe">Nhân sự</option>

                                    <option value="1521187025-4x7j-82o4-6y4u-85w0j1m0id21">Bán hàng</option>

                                    <option value="1521187025-4x7j-82o4-6y4u-85w0j1m0id21">Marketing</option>

                                    <option value="1521866337-v332-c731-nd59-17ek79lp605v">Tài chính</option>

                                    <option value="1521187016-3x04-9890-1c49-8l161q80a268">Quản trị bản thân</option>

                                </select>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="form-group">

                            <label class="control-label">Giảng viên</label>

                            <div class="control-element">

                                <select name="course_teacher_id" id="course_teacher_id" class="form-control select2 select2_basic">

                                    <option value="">- Chọn giảng viên -</option>

                                    <option value="1515859385-5x53-u041-8627-650804t28412">TS. Alok Bharadwaj</option>

                                    <option value="1561433054-k97e-179k-8x5w-i9f9jy9157v3">Mr. Tony Dzung</option>

                                    <option value="1515859381-0yse-v36o-703g-887ylw8vp734">Ths. Phạm Thu Thủy</option>

                                    <option value="1515859390-4433-720h-2408-3735199w5049">GS. Dave Ulirich</option>

                                    <option value="1515859373-6833-41f0-w3v6-l506n96983i0">TS. Lê Thẩm Dương</option>

                                </select>

                            </div>

                        </div>

                    </div>

                </div>

                 <div class="row">

                    <div class="col-md-12"><h3 class="form-section">Giá vé</h3></div>

                </div>

                <div class="row">

                    <div class="col-md-2">

                        <div class="form-group">

                            <label class="control-label">Giá vé</label>

                            <div class="control-element">

                                <input type="text" name="course_price[normal]" class="form-control mask_currency" value="<?php echo $course_option['course_price']['normal']; ?>">

                            </div>

                        </div>

                    </div>



                    <div class="col-md-2">

                        <div class="form-group">

                            <label class="control-label">Giá vé ưu đãi</label>

                            <div class="control-element">

                                <input type="text" name="course_price[sale]" class="form-control mask_currency" value="<?php echo $course_option['course_price']['sale']; ?>">

                            </div>

                        </div>

                    </div>



                    <div class="col-md-2">

                        <div class="form-group">

                            <label class="control-label">Giá 01 vé</label>

                            <div class="control-element">

                                <input type="text" name="course_price[01]" class="form-control mask_currency" value="<?php echo $course_option['course_price']['01']; ?>">

                            </div>

                        </div>

                    </div>



                    <div class="col-md-2">

                        <div class="form-group">

                            <label class="control-label">Giá 02 vé</label>

                            <div class="control-element">

                                <input type="text" name="course_price[02]" class="form-control mask_currency" value="<?php echo $course_option['course_price']['02']; ?>">

                            </div>

                        </div>

                    </div>



                    <div class="col-md-2">

                        <div class="form-group">

                            <label class="control-label">Giá 03 - 05 vé</label>

                            <div class="control-element">

                                <input type="text" name="course_price[03to05]" class="form-control mask_currency" value="<?php echo $course_option['course_price']['03to05']; ?>">

                            </div>

                        </div>

                    </div>



                    <div class="col-md-2">

                        <div class="form-group">

                            <label class="control-label">Giá trên 05 vé</label>

                            <div class="control-element">

                                <input type="text" name="course_price[up05]" class="form-control mask_currency" value="<?php echo $course_option['course_price']['up05']; ?>">

                            </div>

                        </div>

                    </div>

                </div>

    		</div>

    	</div>

	</div>

</form>



<?php $this->headScript()->captureStart() ?>

	var editor = CKEDITOR.replace( 'content', {

		customConfig	: 'config.js'

	});



    $('#course_teacher_id option[value="<?php echo $course_option['course_teacher_id']; ?>"]').prop("selected", true);

    $('#course_category_id option[value="<?php echo $course_option['course_category_id']; ?>"]').prop("selected", true);

<?php $this->headScript()->captureEnd() ?>