<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-2 col-xs-6'),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
    
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="col-50">STT</th>';
    $xhtmlHead .= '<th>Ngày</th>';
    $xhtmlHead .= '<th>Họ tên</th>';
    $xhtmlHead .= '<th>Điện thoại</th>';
    $xhtmlHead .= '<th>Email</th>';
    $xhtmlHead .= '<th>Địa chỉ</th>';
    $xhtmlHead .= '<th>Ghi chú</th>';
    $xhtmlHead .= '<th class="text-right"><div class="row"><div class="col-xs-6">Tên sản phẩm</div><div class="col-xs-3">Số lượng</div><div class="col-xs-3">Thành tiền</div></th>';
    $xhtmlHead .= '<th>Tổng tiền</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id             = $item['id'];
            $name           = $item['name'];
            $phone          = $item['phone'];
            $email          = $item['email'];
            $address        = $item['address'];
            $note           = $item['note'];
            $product        = unserialize($item['product']);
            $nameProduct    = '';
            $amount         = '';
            $totalPrice     = 0;
            $i              = 0;
            
            foreach ($product AS $value){
                $i++;
                
                $product_price	= 0;
                if(!empty($value['product']['product_price'])) {
                    if(!empty($value['product']['product_sale_percent'])) {
                        $product_price	= $value['product']['product_price'] - ($value['product']['product_sale_percent'] / 100 * $value['product']['product_price']);
                    } else {
                        $product_price	= $value['product']['product_price'];
                    }
                }
                $amount         = $value['amount'];
                if($product_price > 0) {
                    $price      = $product_price * $amount;
                    $totalPrice = $totalPrice + $price;
                } else {
                    $product_price = '';
                    $price      = '';
                }
                
                $nameProduct .= '<div class="row"><div class="col-xs-6 mask_currency">'. $value['product']['name'] . '</div><div class="col-xs-3">'. $value['amount'] .'</div><div class="col-xs-3 mask_currency">'. $price . '</div></div>';
            }

            $created        = $item['created'] ? date_format(date_create($item['created']), 'd/m/Y H:i:s') : '';
            
            $cid            = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $cid.'</td>
    							<td>'. $index .'</td>
    							<td>'. $created .'</td>
    							<td>'. $name .'</td>
    							<td>'. $phone .'</td>
    							<td>'. $email .'</td>
    							<td>'. $address .'</td>
    							<td>'. nl2br($note) .'</td>
    							<td class="text-right">'. $nameProduct .'</td>
    							<td class="mask_currency">'. $totalPrice .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => 'javascript:;', 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();', ) ), ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php 
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>
