<?php 
$language = $this->language;
$language_active = $this->language['language_active'];

$prodcutCarts 	= $this->productCart;
$i 				= 1;
$xhtml 			= '';
$totalPrice     = 0;

$userInfo = new \ZendX\System\ContactInfo();
$name = !empty($this->params['data']['name']) ? $this->params['data']['name'] : $userInfo->getContactInfo('name');
$phone = !empty($this->params['data']['phone']) ? $this->params['data']['phone'] : $userInfo->getContactInfo('phone');
$email = !empty($this->params['data']['email']) ? $this->params['data']['email'] : $userInfo->getContactInfo('email');
$address = !empty($this->params['data']['address']) ? $this->params['data']['address'] : $userInfo->getContactInfo('address');

if(!empty($prodcutCarts)) {
?>

<div class="box_module">
	<div class="box_title">
		<h3 class="title"><?php echo $language['cart'][$language_active];?></h3>
	</div>
	<div class="box_content">
		<div class="layout_item_product">
		    <div class="table_productCart" id="table_productCart"></div>
	    </div>
    </div>
</div>

<div class="box_module">
	<div class="box_title">
		<h3 class="title"><?php echo $language['cart_form_title'][$language_active];?></h3>
	</div>
	<div class="box_content">
		<div class="layout_item_product">
		    <div class="box_form">
		        <form action="#" id="frmCart" name="frmCart" method="POST" class="">
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-name">
		                        <input type="text" name="name" class="form-control" value="<?php echo $name;?>" placeholder="<?php echo $language['fullname'][$language_active];?>">
		                    </div>
		                    <div class="form-group" id="input-phone">
		                        <input type="text" name="phone" class="form-control" value="<?php echo $phone;?>" placeholder="<?php echo $language['phone'][$language_active];?>">
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-email">
		                        <input type="text" name="email" class="form-control" value="<?php echo $email;?>" placeholder="<?php echo $language['email'][$language_active];?>">
		                    </div>
		                    <div class="form-group" id="input-address">
		                        <input type="text" name="address" class="form-control" value="<?php echo $address;?>" placeholder="<?php echo $language['address'][$language_active];?>">
		                    </div>
		                </div>
		                <div class="col-sm-12">
		                    <div class="form-group" id="input-note">
		                        <textarea class="form-control" name="note" placeholder="<?php echo $language['note'][$language_active];?>"></textarea>
		                    </div>
		                </div>
		                <div class="col-sm-12">
        		            <div class="error"></div>
        		            <div class="btnSuccess text-center">
        		                <input type="button" value="<?php echo $language['cart_button_order'][$language_active];?>" class="btn btn-lg btn-success submit" onclick="successCart();">
        		            </div>
    		            </div>
		            </div>
		        </form>
		    </div>
	    </div>
    </div>
</div>

<?php 
} else {
    echo '<div class="alert alert-danger">'. $language['cart_null'][$language_active] .'</div>';
}
?>

<?php $this->headScript()->captureStart() ?>
	function listCart() {
		$.ajax({
			url: '<?php echo $this->url('routePost/default', array('controller' => $this->params['controller'], 'action' => 'list-cart'));?>',
			type: 'POST',
			beforeSend: function() {
				 $('#table_productCart').addClass('box_loading');
			},
			success: function(result) {
			    $('#table_productCart').html(result);
				$('#table_productCart').removeClass('box_loading');
				$('.mask_currency').autoNumeric("init",{ mDec: 0, aSep: ',', aDec: '.', });
			}
		});
	}
	listCart();
	
    function successCart() {
        var frmData = '#frmCart';
        $.ajax({
			url: '<?php echo $this->url('routePost/default', array('controller' => $this->params['controller'], 'action' => 'cart'));?>',
			type: 'POST',
			data: $(frmData).serialize(),
			beforeSend: function() {
				 $('body').append('<div class="submit_loading"></div>');
			},
			success: function(result) {
			    if(result == 'success') {
			        window.location.href = '<?php echo $this->url('routePost/default', array('controller' => $this->params['controller'], 'action' => 'success-cart'));?>';
			    } else {
			        $(frmData +' .error').html('<div class="alert alert-danger">' + result + '</div>');
			    }
				
				$('.submit_loading').remove();
			}
		});
    }
    
    $('body').on('change','input[name="amount"]', function(){
    	$.ajax({
			url: '<?php echo $this->url('routePost/default', array('controller' => $this->params['controller'], 'action' => 'update-cart'));?>',
			type: 'POST',
			data: {
				key: $(this).attr('data-key'),
				amount: $(this).val()
			},
			success: function(result) {
			    listCart();
			}
		});
    });
    
    $('body').on('click','.btn_delete', function(){
        if (confirm("<?php echo $language['cart_alert_delete'][$language_active];?>") == true) {
            $.ajax({
    			url: '<?php echo $this->url('routePost/default', array('controller' => $this->params['controller'], 'action' => 'delete-cart'));?>',
    			type: 'POST',
    			data: {
    				key: $(this).attr('data-key'),
    			},
    			success: function(result) {
    			    listCart();
    			}
    		});
        }
    });
<?php $this->headScript()->captureEnd() ?>











