<?php
    $language = $this->language;
    $language_active = $this->language['language_active'];
?>

<?php 
echo '<div class="box_module cart"><div class="alert alert-success">'. $language['cart_success'][$language_active] .'</div></div>';
?>