<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('shortcode'), 'label' => 'Mã Shortcode', 'validate' => array('require' => true), 'boxClass' => 'col-md-3 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('modal')),
        array('element' => $myForm->get('id')),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
    if($this->params['data']['modal'] != 'success') { 
?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><?php echo $this->caption;?></h4>
    </div>
    <div class="modal-body">
<?php
    } 
?>
<?php echo @$this->xViewElementErrors($elements);?>
    <form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
        <div class="row">
            <?php echo $xhtml;?>
        </div>
    </form>
<?php
    if($this->params['data']['modal'] != 'success') { 
?>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn green save-close">Lưu & Đóng</button>
        <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
    </div>
<?php
    } 
?>