<?php
$language = $this->language;
$language_active = $this->language['language_active']; 
?>
<div class="box_notice" style="padding-bottom: 100px;">
	<div class="page-header">
        <h1><?php echo $language['notification'][$language_active];?></h1>
	</div>
	<p class="lead"><?php echo $language['not_found'][$language_active];?></p>
	<p><?php echo $language['text_go_home'][$language_active];?></p>
</div>