@charset "utf-8";
/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box; outline: none !important; }
body{font-family: 'Roboto', FontAwesome,  sans-serif; font-size: 16px; color: #333; }
h1,h2,h3{margin-top: 0px; margin-bottom: 20px; }
img{max-width: 100%; height: auto; }
a{color: #333; transition: all 0.3s; }
a,a:hover{text-decoration: none; }
ul{margin: 0; list-style: none; }
iframe{width: 100%; margin-bottom: -6px;}

.small-container{ width: 990px; max-width: 100%; margin: 0 auto;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-red{color: red;}
.text-white{color: #fff;}
.text-main{color: #DC1E20;}
.text-bold{font-weight: bold;}
.box-flex{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; }
.box-flex:before,
.box-flex:after{display: none;}
.box-flex>*{max-width: 100%;}
.flex-center{align-items: center; }
.item-col{margin: 10px 0;}

fieldset {text-align: center; border-top: 1px solid #FFF;}
fieldset legend {display: block;width: auto;margin: 0;padding: 0 20px;font-size: 25px;font-weight: 700;letter-spacing: 0.05em;border-bottom: none;}
section{padding: 60px 0; }

.section-title{ line-height: 49px; position: relative; min-width: 650px; max-width: 100%; display: inline-block; padding: 0 15px; text-align: center; font-family: "Open Sans", sans-serif; color: #FFF; font-size: 30px; font-weight: bold; background-image: linear-gradient(to right, #a31b1e, #de5256);}
.section-title:before{ content: ""; position: absolute; top: -5px; bottom: -5px; right:calc(100% - 15px); width: 287px; background: url("../images/title-left.png") no-repeat;}
.section-title:after{ content: ""; position: absolute; top: 0; left: 100%; width: 28px; height: 100%; width: 0; height: 0; border-top: 25px solid transparent; border-bottom: 24px solid transparent; border-left:28px solid #de5256;}
.section-title.title-white{ background: none; font-size: 45px;}
.section-title.title-white:before{ display: none;}
.section-title.title-white:after{ display: none;}
.section-content{padding-top: 20px; }

.cta-main{position: relative; padding-left: 60px; padding-right: 60px; padding-top: 10px; display: inline-block; }
.cta-main .cta-svg{position: absolute; left: 0; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.cta-main .cta-svg.right{ left: auto; right: 0; text-align: right;}
.cta-main.cta-center{padding: 0; margin-top: 30px;}
.cta-main.cta-center .cta-svg{left: -80px;}
.cta-main sgv{width: 100%; height: 100%; fill: rgba(255, 255, 255, 1); }
.cta-main.svg-main svg{fill: rgba(144, 0, 0, 1.0);}
.cta-btn{position: relative; width: 180px; max-width: 100%; background-image: linear-gradient(to right, #a41b1e, #de5155); color: #fff !important; display: inline-block; text-transform: uppercase; font-size: 17px; text-align: center; font-weight: bold; padding: 0 10px 10px 15px; }
.cta-btn:after{content: ''; position: absolute; right: -5px; top: -5px; left: 5px; bottom: 5px; border: rgb(127, 125, 125) 2px solid; }
.cta-btn.cta-white{ background-image: linear-gradient(to right, #FFF, #d1d3d4); color: #d52327 !important;}
.cta-btn.cta-white:after{border-color: #d1d3d4;}

.item-ytb{position: relative; cursor: pointer;}
.item-ytb svg{position: absolute; z-index: 2; width: 60px; height: 60px; left: 50%; top: 50%; transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.item-ytb iframe{position: absolute; z-index: 4; left: 0; top: 0; right: 0; bottom: 0;}

/* Header */
header{background-color: #DC1E20; font-size: 20px; font-weight: bold;}
header a{color: #fff !important; }
.main-header{position: relative; z-index: 5;}
.main-header .logo{width: 140px; padding-right: 10px !important; display: flex; align-items: center;}
.main-header .cta-header{padding: 0 10px !important; display: inline-block; border-radius: 3px; border: #fff 2px solid; background-color: rgb(255, 193, 8); text-transform: uppercase; font-size: 14px; text-align: center; }
.main-header .cta-header a{color: #333 !important;}
.main-header .list-main{ text-align: right; padding-right: 150px;}
.main-header .list-main .item-header{padding: 15px 20px; text-align: center; display: inline-block; text-transform: uppercase;}
.main-header .list-main .item-header i{font-size: 20px; margin-right: 5px;}
.main-header .list-main .item-header.logo { padding-left: 0;}

/* Banner */
.box-banner{position: relative;}
.box-banner a{ display: block;}
.box-banner img{width: 100%;}
.box-banner .cta-main{position: absolute; bottom: 5%; left: 18%; }

/* Partner */
.box-partner{padding: 20px 0;}
.box-partner .list-partner{align-items: center; position: relative; padding-bottom: 15px; -js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap;}
.box-partner .list-partner:after{content: ''; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); border-top: #333 thin solid; width: 250px; max-width: 100%; }
.box-partner .list-partner .item-partner{max-height: 65px; flex: 1 1 auto; text-align: center; padding: 0 5px;}
.box-partner .list-partner .item-partner img{max-height: 65px; max-width: 100px;}

/* Problem */
.box-problem{font-size: 20px; line-height: 30px;}
.box-problem .section-content{width: 990px; margin: 0 auto; max-width: 100%; font-family: "Quicksand"; line-height: 1.7;}

/* Box cta */
.box-cta{background-color: #002368; color: #fff; }
.box-cta p{margin: 0; font-size: 24px; font-weight: bold;}
.box-cta .container{width: 990px; margin: 0 auto; max-width: 100%;}

/* Your problem */
.box-your-problem .item-problem+.item-problem{margin-top: 30px; }
.box-your-problem .item-problem{font-size: 21px;}
.box-your-problem .item-problem .item-text{position: relative; padding-left: 45px;}
.box-your-problem .item-problem .item-text+.item-text{margin-top: 20px;}
.box-your-problem .item-problem .item-text img{ position: absolute; top: 6px; left: 15px;}
.box-your-problem .item-problem .item-problem-title{position: relative; padding-left: 80px; color: #DC1E20; font-size: 20px; text-align: justify; text-transform: uppercase; line-height: 1.2; font-weight: 500; margin-bottom: 30px; border-bottom: 2px solid #d52327; padding-bottom: 15px;}
.box-your-problem .item-problem .item-problem-title img{ position: absolute; top: 0; left: 0;}
.box-your-problem .item-problem .item-problem-title.title-2{ padding-left: 100px;}
.box-your-problem .item-problem .cta-main{margin-top: 20px;}
.box-your-problem .item-problem .item-problem-text{ background-image: linear-gradient(to right, #fbfbfb, #ebeced); border: 7px solid #eaebec; border-radius: 40px; padding: 20px;}
.box-your-problem .item-problem .item-problem-img{position: relative; padding-bottom: 10px;}
.box-your-problem .item-problem .item-problem-img.img-right{padding-left: 10px;}
.box-your-problem .item-problem .item-problem-img.img-left{padding-right: 10px;}
.box-your-problem .item-problem .item-problem-img:after{content: ''; border: #d52327 3px solid; position: absolute; bottom: 0; top: 10px; }
.box-your-problem .item-problem .item-problem-img.img-right:after{left: 0; right: 10px;}
.box-your-problem .item-problem .item-problem-img.img-left:after{right: 0; left: 10px;}

/* Fail */
.box-fail{ background-image: url("../images/bg_fail.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; }
.box-fail .small-container{ width: 800px;}
.box-fail .section-content{font-size: 21px; font-weight: 300; }
.box-fail .section-content p{margin-bottom: 25px; font-size: 20px;}
.box-fail .section-content p+p{margin-bottom: 7px;}
.box-fail .section-content fieldset{ margin-bottom: 20px;}
.box-fail .section-content .cta-main.cta-center{margin-top: 10px;}

/* Box-reason */
.box-reason .section-content{padding: 0;}
.box-reason .box-flex{align-items: flex-end;}
.box-reason .item-reason{padding-left: 30px; position: relative; }
.box-reason .item-reason img{position: absolute; left: 0; top: 0;}
.box-reason .item-reason+.item-reason{margin-top: 20px; }
.box-reason .item-reason .item-reason-title{margin: 0; color: #d82228; font-size: 18px; }

/* Route */
.box-route { background-image: linear-gradient(to right, #f2f2f3, #e7e8e9); padding: 60px 0;}
.box-route .list-route{ margin-bottom: 40px;}
.box-route .item-route .item-route-title{padding-top: 10px; position: relative; margin: 0 0 15px; font-size: 24px; color: #d82127; padding-left: 130px; text-decoration: underline; }
.box-route .item-route .item-route-title .item-route-index{font-size: 40px; position: absolute; left: 50px; top: 0; color: #8c8c8c; font-style: italic; font-weight: 300;}
.box-route .item-route .item-route-content{padding-left: 130px; }
.box-route .item-route ul li{position: relative; padding-left: 30px; }
.box-route .item-route ul li>img{position: absolute; top: 0; left: 0;}
.box-route .item-route ul li+li{margin-top: 15px;}
.box-route .item-route ul ul{margin-top: 15px; }
.box-route .item-route ul ul li{position: relative; padding-left: 20px; }
.box-route .item-route ul ul li:before{content: '\f111'; font-family: FontAwesome; color: #d82127; font-size: 10px; position: absolute; left: 0; top: 2px; }
.box-route .item-route+.item-route{margin-top: 25px;}
.box-route .item-route .table-route tbody>tr>td{border-color: #d82228; padding: 20px; font-size: 18px;}
.box-route .item-route .table-route tbody>tr>td:first-child{font-weight: bold; width: 150px; text-align: left; }
.box-route .item-route .table-route p:last-child{margin-bottom: 0;}

/* Testi - Member */
.box-testi-member{ background-image: url("../images/bg_testi.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }
.box-testi-member .section-title{ margin-bottom: 50px;}
.box-testi-member .item-box+.item-box{margin-top: 50px;}
.box-testi-member .owl-carousel.owl-theme{position: relative;}
.box-testi-member .owl-carousel.owl-theme .owl-nav .owl-prev,
.box-testi-member .owl-carousel.owl-theme .owl-nav .owl-next{position: absolute; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 30px; height: 36px; line-height: 36px; background-color: rgba(255,255,255,0.5) !important; color: #fff !important; text-shadow: rgb(0, 0, 0) 1px 1px 0px; font-size: 50px !important; margin: 0 !important; border-radius: 0 !important; }
.box-testi-member .owl-carousel.owl-theme .owl-nav .owl-prev{left: 0;}
.box-testi-member .owl-carousel.owl-theme .owl-nav .owl-next{right: 0;}
.box-testi-member .owl-carousel.owl-theme .owl-nav .owl-prev span,
.box-testi-member .owl-carousel.owl-theme .owl-nav .owl-next span{line-height: 22px;}
.box-testi-member .item-member .item-member-img{position: relative; width: 200px; height: 200px; margin: 0 auto; max-width: 100%; border-radius: 100%; overflow: hidden; margin-bottom: 15px;}
.box-testi-member .item-member .item-member-img img{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; width: auto; max-width: 105%;}
.box-testi-member .item-member .item-member-name{color: rgb(227, 6, 19); font-size: 20px; font-weight: bold; text-align: center; line-height: 1.6; margin: 0 0 15px;}
.box-testi-member .item-box-cta p{color: #DC1E20; font-size: 24px; font-weight: bold;letter-spacing: 0px; line-height: 1.2; text-shadow: rgb(0, 0, 0) 0px 0px 0px; margin: 0; }

/* Testi - Teacher */
.box-testi-teacher{ background-size: cover; background-position: center; background-repeat: no-repeat; }
.box-testi-teacher .section-title{ margin-bottom: 20px;}
.box-testi-teacher .section-content{ margin-bottom: 30px;}
.box-testi-teacher .item-box+.item-box{margin-top: 50px;}
.box-testi-teacher .owl-carousel.owl-theme{position: relative;}
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-prev,
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-next{position: absolute; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 30px; height: 36px; line-height: 36px; background-color: rgba(255,255,255,0.5) !important; color: #fff !important; text-shadow: rgb(0, 0, 0) 1px 1px 0px; font-size: 50px !important; margin: 0 !important; border-radius: 0 !important; }
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-prev{left: 0;}
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-next{right: 0;}
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-prev span,
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-next span{line-height: 22px;}
.box-testi-teacher .item-member .item-member-img{position: relative; width: 200px; height: 200px; margin: 0 auto; max-width: 100%; border-radius: 100%; overflow: hidden; margin-bottom: 15px;}
.box-testi-teacher .item-member .item-member-img img{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; width: auto; max-width: 105%;}
.box-testi-teacher .item-member .item-member-name{color: rgb(227, 6, 19); font-size: 20px; font-weight: bold; text-align: center; line-height: 1.6; margin: 0 0 15px;}
.box-testi-teacher .item-member .item-member-desc{ font-weight: 600;}
.box-testi-teacher .item-box-cta p{color: #DC1E20; font-size: 24px; font-weight: bold;letter-spacing: 0px; line-height: 1.2; text-shadow: rgb(0, 0, 0) 0px 0px 0px; margin: 0; }

/* Box commitment */
.box-commitment .section-content{ margin-bottom: 30px;}
.box-commitment .item-commitment{color: #414042; padding: 50px 30px 20px 30px; background-image: linear-gradient(to right, #fbfbfb, #ebeced);border: 7px solid #eaebec;border-radius: 40px;}
.box-commitment .item-commitment .item-commitment-img{height: 55px; margin-bottom: 15px;}
.box-commitment .item-commitment .item-commitment-img svg{max-height: 100%;}
.box-commitment .item-commitment .item-commitment-title{ margin: 0 0 15px; padding-bottom: 10px; font-weight: 600; font-size: 25px; color: #d52327; border-bottom: 2px solid #414042; text-align: right; position: relative;}
.box-commitment .item-commitment .item-commitment-title img{ position: absolute; left: 0; bottom: 14px;}
.box-commitment .item-commitment p{ text-align: justify; font-size: 20px;}
.box-commitment .container{ padding-left: 45px; padding-right: 45px; width: 1280px; max-width: 100%;}
.box-commitment .row{ margin-left: -45px; margin-right: -45px;}
.box-commitment .item-col{ padding-left: 45px; padding-right: 45px;}

/* Form */
.box-form{ background-image: url("../images/bg_dangky.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff;}
.box-form .item-gift { width: 460px; max-width: 100%; margin: 0 auto; padding-top: 10px;}
.box-form .item-gift .item-gift-title{text-align: center; margin-bottom: 35px; text-transform: uppercase;}
.box-form .item-gift .item-gift-title span{display: inline-block; background-image: linear-gradient(to right, #a51b1e, #de5256); border: 5px solid #de5256; padding: 5px 15px; width: 350px; max-width: 100%; font-size: 40px; font-weight: bold; border-radius: 15px;}
.box-form .item-gift .item-gift-content{ font-weight: 400; font-size: 20px; }
.box-form .item-gift .item-gift-content p{ position: relative; padding-left: 40px; margin-bottom: 20px;}
.box-form .item-gift .item-gift-content p img{ position: absolute; top: 2px; left: 0;}
.box-form .count-down{ margin: 30px 0; opacity: 0;}
.box-form .count-down .item-count-down{display: inline-block; width: 85px; margin-top: 10px;}
.box-form .count-down .item-count-down+.item-count-down{margin-left: 15px;}
.box-form .count-down .item-count-down .item-count-number{background-color: #DC1E20; font-size: 36px; padding: 15px; border-radius: 10px; font-weight: bold;}
.box-form .form-content{ padding: 50px; border: 5px solid #d24e51;}
.box-form .form-content .form-title{font-size: 26px; margin: 0 0 15px; padding-bottom: 10px; text-align: center; text-transform: uppercase; border-bottom: 5px solid #b21d21;}
.box-form .form-content .form-desc{font-size: 18px;}
.box-form .form-content .form-desc svg{ width: 30px; height: 30px; vertical-align: middle; margin-right: 15px;}
.box-form .main-form{margin-top: 30px;}
.box-form .main-form .form-control{height: 48px;}
.box-form .main-form .btn-submit{background-color: #DC1E20; color: #fff; font-weight: bold; font-size: 24px; text-transform: uppercase; white-space: unset;}

footer{background-color: #182328; font-size: 14px; }
footer .fb-page, footer .fb-page span, footer .fb-page iframe{ width: 100% !important;}
footer .main-footer{ padding: 30px 0; background-color: #edebeb;}
footer .main-footer .item-footer{ margin-bottom: 20px;}
footer .main-footer .item-footer .logo{ margin-bottom: 10px;}
footer .main-footer .item-footer p{ margin-bottom: 5px;}
footer .main-footer .item-title{ font-size: 25px; font-size: 25px; color: #d82228; font-weight: bold; text-align: left; letter-spacing: 0px; line-height: 1.2; margin: 0 0 20px; text-transform: uppercase; }
footer .main-footer .item-network{ color: #d82127; font-size: 20px;text-transform: uppercase; font-weight: bold; margin-top: 50px;}
footer .main-footer .item-network a{padding: 0 4px;}
footer .main-footer .item-network a:first-child{padding-left: 20px;}
footer .branch-footer{ padding: 30px 0; background-color: #a21e22; color: #FFF;}
footer .branch-footer .item-branch ul li { margin-bottom: 6px; font-size: 13px; font-weight: 400;}
footer .branch-footer .item-branch ul li i{margin-right: 7px; font-size: 16px;}
footer .form-ft { padding-top: 10px;}
footer .form-ft .form-control{background: none; border-radius: 0; border-color: #e18789; font-size: 13px; outline: none !important; box-shadow: none !important;}
footer .form-ft .form-control option{color: #333;}
footer .form-ft .form-control::-webkit-input-placeholder,
footer .form-ft .form-control::-ms-input-placeholder,
footer .form-ft .form-control::placeholder{color: #fff; }
footer .form-ft .my_btn{background-color: #DC1E20; color: #FFF; font-size: 16px; text-transform: uppercase; border: none; height: 40px;}
footer .copyright-footer{padding: 10px; font-size: 14px; background-color: #a21e22; border-top: 1px solid #a22925; color: #EEE;}
footer .copyright-footer a{ color: #EEE;}

@media screen and (min-width: 992px){
    .main-header .logo{position: absolute; padding-left: 0; left: 0; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 140px;}
    .main-header .cta-header{position: absolute; right: 0; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 120px;}
    .box-your-problem .item-problem:first-child .item-problem-text{padding-right: 40px;}
	.box-your-problem .item-problem:last-child .item-problem-text{padding-left: 40px;}

    .box-commitment .item-commitment p{ min-height: 170px;}
}
@media screen and (max-width: 767px){
    .section-title{font-size: 24px; color: rgb(183, 28, 28); font-weight: bold; text-align: center; text-shadow: rgb(0, 0, 0) 1px 1px 0px; line-height: 1.3; min-width: unset; display: block; text-align: center; background: none; }
    .section-title.title-white{color: #fff;}
    .section-title:before{ display: none;}
    .section-title:after{ display: none;}
    .section-title.title-white{ font-size: 24px;}

    .main-header .list-main{display: block; text-align: left; padding: 0;}
    .main-header .list-main .item-header{flex: unset;}
    .main-header .cta-header{ margin: 8px 0 0; float: right;}

    .cta-main{padding-left: 80px;}
    .cta-main.cta-center .cta-svg{left: -80px;}

    .box-banner .cta-main{left: 10px; padding-left: 0; }

    .box-route .item-route .item-route-title{ padding-left: 60px;}
    .box-route .item-route .item-route-title .item-route-index{ left: 0;}
    .box-route .item-route .item-route-content{ padding-left: 0;}

    .box-route .item-route .table-route tbody>tr>td{ padding: 10px; font-size: 14px;}
    .box-route .item-route .table-route tbody>tr>td:first-child{ width: 100px;}
    .box-route .table-responsive>.table-bordered{ border: 1px solid #d82228;}

    .box-commitment .container{ padding-left: 15px; padding-right: 15px;}
    .box-commitment .row{ margin-left: -15px; margin-right: -15px;}
    .box-commitment .item-col{ padding-left: 15px; padding-right: 15px;}

    .box-partner .list-partner .item-partner img{max-width: 100%; max-height: unset;}

    .box-form .count-down .item-count-down{width: 70px;}
    .box-form .count-down .item-count-down .item-count-number{padding: 10px;}

    .box-form .form-content{padding: 20px;}
    .box-form .main-form .btn-submit{display: block; width: 100%;}
}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }
@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@-webkit-keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translateX(-20px);transform:translateX(-20px)}
	100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px)}
	100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
.fadeInLeft{animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft; animation-delay: 2s; -webkit-animation-delay: 2s; animation-duration: 2s; -webkit-animation-duration: 2s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; }
@-webkit-keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translateX(20px);transform:translateX(20px)}
	100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}
	100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
.fadeInRight{animation-name: fadeInRight; -webkit-animation-name: fadeInRight; animation-delay: 2s; -webkit-animation-delay: 2s; animation-duration: 2s; -webkit-animation-duration: 2s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; }