<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    if(empty($myForm->get('post_category_id')->getValue())) {
        $myForm->get('post_category_id')->setValue($this->ssData['post_category_id']);
    }
    
    $elements = array(
        array('element' => $myForm->get('name'), 'label' => 'Tên', 'validate' => array('require' => true)),
        array('element' => $myForm->get('post_category_id'), 'label' => 'Danh mục', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('image'), 'label' => 'Hình ảnh'),
        array('element' => $myForm->get('type'), 'label' => 'Loại', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('status'), 'label' => 'Trạng thái', 'boxClass' => 'col-md-1'),
        array('element' => $myForm->get('ordering'), 'label' => 'Thứ tự', 'boxClass' => 'col-md-1'),
        array('element' => $myForm->get('description'), 'label' => 'Mô tả ngắn', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('content'), 'label' => 'Nội dung', 'boxClass' => 'col-md-12'),
        array('element' => '', 'section' => 'Phần mở rộng', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('meta_title'), 'label' => 'Meta title', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_keywords'), 'label' => 'Meta keywords', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_description'), 'label' => 'Meta description', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('alias'), 'label' => 'Đường dẫn tĩnh', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_url'), 'label' => 'Link thay thế', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('box_hot'), 'label' => 'Hot', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('layout'), 'label' => 'Chọn layout hiển thị', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
    
?>
<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
    <div class="page-content">
    	<div class="row">
            <?php echo $xhtml;?>
        </div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    var editor = CKEDITOR.replace( 'content', {
        customConfig : 'config.js?v=1'
    });
<?php $this->headScript()->captureEnd() ?>