<?php
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];

    $current_url = DOMAIN.$_SERVER[REQUEST_URI];
?>
<html>
<head>
    <title><?php echo $this->arrParams['meta']['title']; ?></title>
    <meta name="description" content="<?php echo $this->arrParams['meta']['description']; ?>" >
    <meta name="keywords" content="<?php echo $this->arrParams['meta']['keywords']; ?>" >
    <meta name="title" content="<?php echo $this->arrParams['meta']['title']; ?>" >
    <meta name="language" content="vietnamese" >
    <meta name="robots" content="index, follow, all" >
    <meta name="author" content="langgo.edu.vn" >
    <meta name="copyright" content="copyright © 2011 by langgo.edu.vn" >
    <meta name="revisit-after" content="1 days" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="Refresh" content="7200" >
    <meta http-equiv="content-language" content="vi" >
    <meta property="og:image" content="<?php echo $urlImg;?>/527x275.jpg" />
    <meta property="og:title" content="<?php echo $item['meta_title']; ?>" />
    <meta property="og:description" content="<?php echo $item['meta_description']; ?>" />

    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $setting['General.System.Favicon']['image'], 'type' => 'image/x-icon'), 'PREPEND')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
            ->appendStylesheet($this->arrParams['template']['urlPlugin'] .'/owl-carousel/owl.carousel.min.css')
            ->appendStylesheet($this->arrParams['template']['urlPlugin'] .'/owl-carousel/owl.theme.default.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css?v='. date('dmYHis'));

    echo $this  -> headScript()
                -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.js')
                -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.form.min.js')
                -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap.min.js')
                -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/function.js')
                -> appendFile($this->arrParams['template']['urlPlugin'] .'/owl-carousel/owl.carousel.min.js')
                -> appendFile($this->arrParams['template']['urlPlugin'] .'/jquery-scrolltofixed-min.js')
                -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js');
    
    $URL = isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' . '://'. $_SERVER[HTTP_HOST] .''. $_SERVER[REQUEST_URI] .'' : 'http' . '://'. $_SERVER[HTTP_HOST] .''. $_SERVER[REQUEST_URI] .'';
    echo '<link href="'. (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http') . '://'. $_SERVER[HTTP_HOST] .'' .'" hreflang="vi-vn" rel="alternate">';
    echo '<link href="'. (!empty(substr($URL, 0, strrpos($URL, '?'))) ? substr($URL, 0, strrpos($URL, '?')) : $URL) .'" rel="canonical">';
    
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
</head>
<body>
    <header>
        <div class="container">
            <div class="main-header">
                <div class="list-main">
                    <div class="item-header logo">
                        <a href="/"><img src="<?php echo $settings['General.System.LogoWhite']['image'];?>" alt="Logo LangGo"></a>
                    </div>
                    <div class="item-header cta-header">
                        <a href="javascript:goBox('.box-form');">Đăng ký<br />nhận tư vấn</a>
                    </div>
                    <div class="item-header hidden-xs">
                        <a href="javascript:goBox('.box-reason');">Lý do chọn LangGo</a>
                    </div>
                    <div class="item-header hidden-xs">
                        <a href="javascript:goBox('.box-route');">Lộ trình học</a>
                    </div>
                    <div class="item-header hidden-xs">
                        <a href="javascript:goBox('.box-testi-member');">Cảm nhận học viên</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="box-banner">
        <div class="hidden-xs"><a href="javascript:goBox('.box-form');"><img src="<?php echo $urlImg; ?>/banner_main.jpg" alt="VẤN ĐỀ CỦA NGƯỜI HỌC TIẾNG ANH GIAO TIẾP"></a></div>
        <div class="visible-xs"><a href="javascript:goBox('.box-form');"><img src="<?php echo $urlImg; ?>/banner_second.jpg" alt="VẤN ĐỀ CỦA NGƯỜI HỌC TIẾNG ANH GIAO TIẾP"></a></div>
    </div>

    <section class="box-your-problem">
        <div class="container">
            <div class="text-center"><h2 class="section-title text-center">BẠN CÓ ĐANG GẶP NHỮNG VẤN ĐỀ SAU</h2></div>
            <div class="section-content small-container">
                <div class="item-problem">
                    <div class="row box-flex flex-center">
                        <div class="item-col col-xs-12 col-sm-6">
                            <div class="item-problem-text">
                                <h3 class="item-problem-title"><img src="<?php echo $urlImg; ?>/01.png"> Bạn cảm thấy bối rối không biết học IELTS từ đâu</h3>
                                <div class="list-text">
                                    <div class="item-text">
                                        <img src="<?php echo $urlImg; ?>/icon-1.png" title="Bạn đang thiếu một phương pháp học thực sự hiệu quả?" />
                                        Bạn không biết trình độ hiện tại của bản thân
                                    </div>
                                    <div class="item-text">
                                        <img src="<?php echo $urlImg; ?>/icon-1.png" title="Bạn muốn tìm môi trường giao tiếp tiếng Anh toàn diện? " />
                                        Bạn không biết với trình độ đó mình sẽ phải học IELTS thế nào
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-6">
                            <div class="item-problem-img img-right">
                                <img src="<?php echo $urlImg; ?>/new1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-problem">
                    <div class="row box-flex flex-center">
                        <div class="item-col col-xs-12 col-sm-6 col-sm-push-6">
                            <div class="item-problem-text">
                                <h3 class="item-problem-title title-2"><img src="<?php echo $urlImg; ?>/02.png"> Bạn gặp khó khăn trong việc tìm kiếm một môi trường học IELTS phù hợp cho bản thân</h3>
                                <div class="list-text">
                                    <div class="item-text">
                                        <img src="<?php echo $urlImg; ?>/icon-1.png" title="Bạn không nghe kịp khi người bản ngữ nói quá nhanh? " />
                                        Bạn không có giáo viên tốt, không có bạn học cùng
                                    </div>
                                    <div class="item-text">
                                        <img src="<?php echo $urlImg; ?>/icon-1.png" title="Bạn ngại nói vì thường xuyên phát âm sai, vốn từ vựng quá ít ỏi? " />
                                        Bạn không thể tự thiết lập kế hoạch học từ phương pháp đến lộ trình
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="cta-main svg-main">
                                        <div class="cta-svg">
                                            <img class="fadeInLeft" src="<?php echo $urlImg; ?>/btn-left.png">
                                        </div>
                                        <a href="javascript:goBox('.box-form');" class="cta-btn">Yes! Tôi muốn <br /> nhận tư vấn</a>
                                        <div class="cta-svg right">
                                            <img class="fadeInRight" src="<?php echo $urlImg; ?>/btn-right.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-6 col-sm-pull-6">
                            <div class="item-problem-img img-left">
                                <img src="<?php echo $urlImg; ?>/new2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="box-fail text-center">
        <div class="container">
            <div class="text-center"><h2 class="section-title title-white">ĐÓ KHÔNG PHẢI LỖI CỦA BẠN</h2></div>
            <div class="section-content">
                <p class="small-container">Bạn không phải là người duy nhất. Hầu hết các lớp học, các trung tâm IELTS, giáo viên tiếng Anh đang áp dụng những phương pháp học rất khô khan, nhàm chán và khó học, dễ mất động lực</p>
                <fieldset>
                    <legend align="center" class="text-white"><i>Hãy để LangGo giúp bạn thay đổi tư duy và thói quen học IELTS.</i></legend>
                </fieldset>
                <div class="text-center">
                    <div class="cta-main svg-main">
                        <div class="cta-svg">
                            <img class="fadeInLeft" src="<?php echo $urlImg; ?>/btn-left-2.png">
                        </div>
                        <a href="javascript:goBox('.box-form');" class="cta-btn cta-white">Yes! Tôi muốn <br /> nhận tư vấn</a>
                        <div class="cta-svg right">
                            <img class="fadeInRight" src="<?php echo $urlImg; ?>/btn-right-2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="box-reason">
        <div class="container">
            <div class="section-content">
                <div class="row box-flex">
                    <div class="item-col col-xs-12 col-sm-6">
                        <h2><img src="<?php echo $urlImg; ?>/why_us.png" alt="05 Lý do chọn LangGo"></h2>
                        <div class="list-reason">
                            <div class="item-reason">
                                <img src="<?php echo $urlImg; ?>/icon-1.png" title="THAY ĐỔI TƯ DUY VÀ THÓI QUEN HỌC TIẾNG ANH" />
                                <h3 class="item-reason-title">THAY ĐỔI TƯ DUY VÀ THÓI QUEN HỌC TIẾNG ANH</h3>
                                Ứng dụng phương pháp lập trình ngôn ngữ tư duy NLP trong thiết lập mục tiêu và xây dựng lộ trình học IELTS hiệu quả
                            </div>
                            <div class="item-reason">
                                <img src="<?php echo $urlImg; ?>/icon-1.png" title="PHƯƠNG PHÁP HỌC TỪ VỰNG TIÊN TIẾN" />
                                <h3 class="item-reason-title">PHƯƠNG PHÁP HỌC TỪ VỰNG TIÊN TIẾN</h3>
                                Ứng dụng siêu trí nhớ PMS để tăng tốc trong học từ vựng (Độc quyền phát triển bởi LangGo)
                            </div>
                            <div class="item-reason">
                                <img src="<?php echo $urlImg; ?>/icon-1.png" title="BẢN ĐỒ HỌC TẬP HÀNG NGÀY DAILY CHALLENGE" />
                                <h3 class="item-reason-title">BẢN ĐỒ HỌC TẬP HÀNG NGÀY DAILY CHALLENGE</h3>
                                Giúp bạn phân bổ thời gian học hiệu quả cho từng kỹ năng Listening - Speaking - Reading - Writing
                            </div>
                            <div class="item-reason">
                                <img src="<?php echo $urlImg; ?>/icon-1.png" title="MÔ HÌNH HỌC TẬP TỐI ƯU" />
                                <h3 class="item-reason-title">MÔ HÌNH HỌC TẬP TỐI ƯU</h3>
                                Mô hình học 1 thầy kèm 6 trò dễ dàng tương tác và kèm cặp sát sao kết hợp học chuyên sâu 1-1 giải quyết cơn ác mộng Speaking và Writing
                            </div>
                            <div class="item-reason">
                                <img src="<?php echo $urlImg; ?>/icon-1.png" title="CAM KẾT ĐẦU RA BẰNG HỢP ĐỒNG" />
                                <h3 class="item-reason-title">CAM KẾT ĐẦU RA BẰNG HỢP ĐỒNG</h3>
                                Đánh bay hoàn toàn nỗi lo không đạt được mục tiêu điểm số, học viên LangGo được học lại miễn phí đến khi đạt đầu ra.
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="reason-img"><img src="<?php echo $urlImg; ?>/why_img.png" alt="5 Lý do nên chọn LangGo"></div>
                    </div>
                    <div class="item-col col-xs-12 col-sm-6">
                        <div class="text-center">
                            <div class="cta-main cta-center">
                                <div class="cta-svg">
                                    <img class="fadeInLeft" src="/public/template/frontend/template/ielts-6-0/images/btn-left.png">
                                </div>
                                <a href="javascript:goBox('.box-form');" class="cta-btn">Yes! Tôi muốn <br /> nhận tư vấn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="box-route">
        <div class="container">
            <div class="text-center"><h2 class="section-title">LỘ TRÌNH HỌC</h2></div>
            <div class="section-content small-container">
                <div class="list-route">
                    <div class="item-route">
                        <div class="item-route-title"><span class="item-route-index">01</span> ĐỐI TƯỢNG</div>
                        <div class="item-route-content">
                            <ul>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="Sinh viên cần điểm IELTS để tốt nghiệp đại học" />
                                    Sinh viên cần điểm IELTS để tốt nghiệp đại học
                                </li>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="Người đi làm cần điểm IETLS để thăng tiến" />
                                    Người đi làm cần điểm IETLS để thăng tiến
                                </li>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="HS/ SV cần điểm IELTS để tìm kiếm cơ hội du học" />
                                    HS/ SV cần điểm IELTS để tìm kiếm cơ hội du học
                                </li>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="HS cần điểm IELTS để được vào thẳng các trường Đại học hàng đầu Việt Nam" />
                                    HS cần điểm IELTS để được vào thẳng các trường Đại học hàng đầu Việt Nam
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-route">
                        <div class="item-route-title"><span class="item-route-index">02</span> CAM KẾT</div>
                        <div class="item-route-content">
                            <ul>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="Cam kết đầu ra bằng hợp đồng, không đạt được học lại miễn phí" />
                                    Cam kết đầu ra bằng hợp đồng, không đạt được học lại miễn phí
                                </li>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="Đội ngũ GV có năng lực tiếng Anh 8.0 IELTS trở lên theo sát tiến độ học tập để đảm bảo kết quả tối đa" />
                                    Đội ngũ GV có năng lực tiếng Anh 8.0 IELTS trở lên theo sát tiến độ học tập để đảm bảo kết quả tối đa
                                </li>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="100% GV được đào tạo với các phương pháp giảng dạy hiện đại (NLP, PMS, ELC)" />
                                    100% GV được đào tạo với các phương pháp giảng dạy hiện đại (NLP, PMS, ELC)
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-route"> 
                        <div class="item-route-title"><span class="item-route-index">03</span> CHI TIẾT KHOÁ HỌC</div>
                        <div class="item-route-content">
                            <ul>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="Cam kết đầu ra bằng hợp đồng, không đạt được học lại miễn phí" />
                                    Thời lượng: Từ 2-3 tháng/ 1 trình độ, 3 buổi/ tuần, 2 giờ/ buổi
                                </li>
                                <li>
                                    <img src="<?php echo $urlImg; ?>/icon-1.png" title="Đội ngũ GV có năng lực tiếng Anh 8.0 IELTS trở lên theo sát tiến độ học tập để đảm bảo kết quả tối đa" />
                                    Mục tiêu:
                                    <ul>
                                        <li>Chinh phục được điểm số IELTS từ 3.0 -7.5</li>
                                        <li>Rèn luyện thói quen kỷ luật trong học tiếng Anh và trong cuộc sống</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-route">
                        <div class="item-route-title"><span class="item-route-index">04</span>NỘI DUNG HỌC</div>
                        <div class="table-responsive">
                            <table class="table-route table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Giai đoạn 1:<br />1.0 - 3.0</td>
                                        <td>
                                            <p>- Chuẩn hóa ngữ âm cơ bản (đọc từ đơn lẻ) và nâng cao (trọng âm, âm cuối, (Pre IELTS) nối âm, ngữ điệu)</p>
                                            <p>- Bổ sung vốn từ vựng về những chủ đề cơ bản hay gặp trong Listening và Speaking IELTS</p>
                                            <p>- Nắm vững các chủ điểm ngữ pháp quan trọng: Từ loại, thì, cấu trúc câu…hay gặp trong IELTS</p>
                                            <p>- Luyện viết chính xác các dạng câu cơ bản</p>
                                            <p>- Làm quen với chiến thuật làm bài Listening</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Giai đoạn 2:<br />3.0 - 4.0</td>
                                        <td>
                                            <p>- Làm quen và nắm vững các chủ điểm ngữ pháp nâng cao thường gặp trong IELTS: câu bị động, câu điều kiện, mệnh đề quan hệ,…</p>
                                            <p>- Tiếp tục bổ sung vốn từ vựng tương đương trình độ</p>
                                            <p>- Làm quen với format đề thi IELTS</p>
                                            <p>- Nắm được phương pháp và luyện tập các dạng trong Listening và Reading : Điền từ, trắc nghiệm, trả lời ngắn  </p>
                                            <p>- Luyện phản xạ với các câu hỏi trong Speaking part 1</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Giai đoạn 3:<br />4.0 - 5.0</td>
                                        <td>
                                            <p>- Tiếp tục luyện tập các dạng đã học trong Listening và Reading, nắm được phương pháp và luyện thêm các dạng: Nối thông tin, Chọn từ 1 list đáp án, Yes/No/Given, True/False/Not Given  </p>
                                            <p>- Tiếp tục luyện Speaking part 1 và làm quen với các dạng và topic thường gặp trong part 2 </p>
                                            <p>- Nắm được dạng bài và biết cách làm bài Writing task 1 về các dạng phân tích số liệu  </p>
                                            <p>- Luyện viết đoạn văn để chuẩn bị cho các dạng của Writing task 2</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Giai đoạn 4:<br />5.0 - 6.0+</td>
                                        <td>
                                            <p>- Tiếp tục luyện tập các dạng đã học trong Listening và Reading, nắm được phương pháp và luyện thêm các dạng: Nối thông tin, Chọn từ 1 list đáp án, Yes/No/Given, True/False/Not Given  </p>
                                            <p>- Tiếp tục luyện Speaking part 1 và làm quen với các dạng và topic thường gặp trong part 2 </p>
                                            <p>- Nắm được dạng bài và biết cách làm bài Writing task 1 về các dạng phân tích số liệu  </p>
                                            <p>- Luyện viết đoạn văn để chuẩn bị cho các dạng của Writing task 2</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="cta-main svg-main">
                        <div class="cta-svg">
                            <img class="fadeInLeft" src="<?php echo $urlImg; ?>/btn-left.png">
                        </div>
                        <a href="javascript:goBox('.box-form');" class="cta-btn">Yes! Tôi muốn <br /> nhận tư vấn</a>
                        <div class="cta-svg right">
                            <img class="fadeInRight" src="<?php echo $urlImg; ?>/btn-right.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="box-testi-member">
        <div class="container">
            <div class="item-box testi-box">
                <div class="text-center"><h2 class="section-title title-white">CẢM NHẬN HỌC VIÊN</h2></div>
                <div class="section-content">
                    <div class="member-slide owl-theme owl-carousel">
                        <div class="item item-ytb" data-ytb="S26MDvAZu18">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 408.7 408.7" fill="rgba(0, 0, 0, 0.5)"><polygon fill="#fff" points="163.5 296.3 286.1 204.3 163.5 112.4 163.5 296.3"></polygon><path d="M204.3,0C91.5,0,0,91.5,0,204.3S91.5,408.7,204.3,408.7s204.3-91.5,204.3-204.3S316.7,0,204.3,0ZM163.5,296.3V112.4l122.6,91.9Z" transform="translate(0 0)"></path></svg>
                            <div class="item-testi-content item-ytb-content">
                                <img src="http://i3.ytimg.com/vi/S26MDvAZu18/maxresdefault.jpg" alt="18 TUỔI đã nói tiếng Anh giỏi thế này, CÒN BẠN?">
                            </div>
                        </div>
                        <div class="item item-ytb" data-ytb="Yz42a1WHuNI">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 408.7 408.7" fill="rgba(0, 0, 0, 0.5)"><polygon fill="#fff" points="163.5 296.3 286.1 204.3 163.5 112.4 163.5 296.3"></polygon><path d="M204.3,0C91.5,0,0,91.5,0,204.3S91.5,408.7,204.3,408.7s204.3-91.5,204.3-204.3S316.7,0,204.3,0ZM163.5,296.3V112.4l122.6,91.9Z" transform="translate(0 0)"></path></svg>
                            <div class="item-testi-content item-ytb-content">
                                <img src="http://i3.ytimg.com/vi/Yz42a1WHuNI/maxresdefault.jpg" alt="Câm điếc tiếng Anh thất nghiệp như chơi!">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="box-testi-teacher text-center">
        <div class="container">
            <div class="item-box member-box">
                <div class="text-center"><h2 class="section-title">ĐỘI NGŨ GIẢNG VIÊN</h2></div>
                <div class="section-content">
                    <div class="teacher-slide owl-theme owl-carousel">
                        <div class="item item-member">
                            <div class="item-member-img">
                                <img src="<?php echo $urlImg; ?>/member4.jpg" alt="NGUYỄN DIỆU HOA">
                            </div>
                            <h3 class="item-member-name">NGUYỄN DIỆU HOA</h3>
                            <p class="item-member-desc">
                                8.0 IELTS <br />
                                Kinh nghiệm 7 năm giảng dạy
                            </p>
                        </div>
                        <div class="item item-member">
                            <div class="item-member-img">
                                <img src="<?php echo $urlImg; ?>/member3.jpg" alt="LÊ LAN ANH">
                            </div>
                            <h3 class="item-member-name">LÊ LAN ANH</h3>
                            <p class="item-member-desc">
                                8.0 IELTS <br />
                                Kinh nghiệm 7 năm giảng dạy
                            </p>
                        </div>
                        <div class="item item-member">
                            <div class="item-member-img">
                                <img src="<?php echo $urlImg; ?>/member3.png" alt="PHAN THANH TUẤN">
                            </div>
                            <h3 class="item-member-name">PHAN THANH TUẤN</h3>
                            <p class="item-member-desc">
                                8.0 IELTS <br />
                                Kinh nghiệm 3 năm giảng dạy
                            </p>
                        </div>
                        <div class="item item-member">
                            <div class="item-member-img">
                                <img src="<?php echo $urlImg; ?>/member1.jpg" alt="Trịnh Ngọc Huyền">
                            </div>
                            <h3 class="item-member-name">Trịnh Ngọc Huyền</h3>
                            <p class="item-member-desc">
                                8.0 IELTS<br />
                                Kinh nghiệm 5 năm giảng dạy
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="cta-main svg-main">
                    <div class="cta-svg">
                        <img class="fadeInLeft" src="<?php echo $urlImg; ?>/btn-left.png">
                    </div>
                    <a href="javascript:goBox('.box-form');" class="cta-btn">Yes! Tôi muốn <br /> nhận tư vấn</a>
                    <div class="cta-svg right">
                        <img class="fadeInRight" src="<?php echo $urlImg; ?>/btn-right.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="box-commitment text-center">
        <div class="container">
            <div class="text-center"><h2 class="section-title">CAM KẾT</h2></div>
            <div class="section-content">
                <div class="row">
                    <div class="item-col col-xs-12 col-sm-4">
                        <div class="item-commitment">
                            <h4 class="item-commitment-title"><img src="<?php echo $urlImg; ?>/01.png"> VỀ KẾT QUẢ</h4>
                            <p>Cam kết đầu ra bằng <span>HỢP ĐỒNG</span> đảm bảo chất lượng đúng với kỳ vọng. Ký hợp đồng cam kết về chất lượng dịch vụ cung cấp với mỗi học viên.</p>
                        </div>
                    </div>
                    <div class="item-col col-xs-12 col-sm-4">
                        <div class="item-commitment">
                            <h4 class="item-commitment-title"><img src="<?php echo $urlImg; ?>/02.png"> VỀ GIẢNG VIÊN</h4>
                            <p>Tất cả giảng viên đều có năng lực Tiếng Anh, kinh nghiệm giảng dạy Tiếng Anh chuyên nghiệp và có tiêu chuẩn cao trong đào tạo.</p>
                        </div>
                    </div>
                    <div class="item-col col-xs-12 col-sm-4">
                        <div class="item-commitment">
                            <h4 class="item-commitment-title"><img src="<?php echo $urlImg; ?>/03.png"> VỀ DỊCH VỤ</h4>
                            <p>Đội ngũ giảng viên và bộ phận quản lý chất lượng sẽ theo sát tiến độ học tập để đảm bảo học viên đạt được tiến bộ mong muốn.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="cta-main svg-main">
                    <div class="cta-svg">
                        <img class="fadeInLeft" src="<?php echo $urlImg; ?>/btn-left.png">
                    </div>
                    <a href="javascript:goBox('.box-form');" class="cta-btn">Yes! Tôi muốn <br /> nhận tư vấn</a>
                    <div class="cta-svg right">
                        <img class="fadeInRight" src="<?php echo $urlImg; ?>/btn-right.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="box-form">
        <div class="container">
            <div class="row">
                <div class="item-col col-xs-12 col-sm-5 col-sm-push-7">
                    <div class="form-content">
                        <h2 class="form-title">Đăng ký nhận tư vấn!</h2>
                        <form class="main-form" id="frmDangKyNhanTin" action="" method="POST">
                            <input type="hidden" name="vacancy" value="Học tiếng anh cho người mới bắt đầu">
                            <input type="hidden" name="post_item_id" value="">
                            <input type="hidden" name="source" value="<?php echo $current_url; ?>">
                            <input type="hidden" name="sbj_from" value="LangGo Edu"  />
                            <div class="form-group input-name">
                                <input type="text" class="form-control" name="name" placeholder="Họ và tên">
                            </div>
                            <div class="form-group input-email">
                                <input type="text" class="form-control" name="email" placeholder="Nhập email">
                            </div>
                            <div class="form-group input-phone">
                                <input type="text" class="form-control" name="phone" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="form-group input-address">
                                <input type="text" class="form-control" name="address" placeholder="Nhập địa chỉ">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-submit my_btn" type="button" onclick="formRegisterCRM('#frmDangKyNhanTin');" >Xác nhận thông tin</button>
                            </div>
                            <div class="btnSuccess">
                                <input type="hidden" value="<?php echo $item['form_id'];?>" name="form_id">
                                <input type="hidden" name="training_location_id" value="1480645204-6f20-2dim-76cv-l21v0p1938oe">
                                <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                <input type="hidden" name="source_channel_id" value="1547275785345c2w9744i8">
                                <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="item-col col-xs-12 col-sm-7 col-sm-pull-5">
                    <div class="item-gift">
                        <div class="item-gift-title"><span>Tặng ngay</span></div>
                        <div class="item-gift-content">
                            <p><img src="<?php echo $urlImg; ?>/icon-1.png"> Tặng khóa học Siêu trí nhớ PMS Online</p>
                            <p><img src="<?php echo $urlImg; ?>/icon-1.png"> Tặng khóa IELTS Online</p>
                            <p><img src="<?php echo $urlImg; ?>/icon-1.png"> Tặng chi phí thi trị giá 4.750.000vnđ dành cho 10 bạn đạt 7.5 IELTS đầu tiên</p>
                            <p><img src="<?php echo $urlImg; ?>/icon-1.png"> Học bổng lên đến 8.000.000vnđ</p>
                        </div>
                        <div class="count-down text-center">
                            <div class="item-count-down count-date">
                                <p><b>Ngày</b></p>
                                <div class="item-count-number"></div>
                            </div>
                            <div class="item-count-down count-hour">
                                <p><b>Giờ</b></p>
                                <div class="item-count-number"></div>
                            </div>
                            <div class="item-count-down count-minute">
                                <p><b>Phút</b></p>
                                <div class="item-count-number"></div>
                            </div>
                            <div class="item-count-down count-second">
                                <p><b>Giây</b></p>
                                <div class="item-count-number"></div>
                            </div>
                        </div>
                        <img src="<?php echo $urlImg; ?>/cta-1.png" alt="LangGo" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $URL;?>" data-width="" data-numposts="5" style="width: 100%;"></div>
        </div>
    </section>

    <footer>
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="item-col col-xs-12 col-sm-4">
                        <div class="item-footer">
                            <div class="item-title">LangGo trên Facebook</div>
                            <div class="fb-page" data-href="<?php echo $settings['General.System.Facebook']['value'];?>" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TienganhgiaotiepLangGo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TienganhgiaotiepLangGo/">Tiếng Anh giao tiếp LangGo</a></blockquote></div>
                        </div>
                    </div>
                    <div class="item-col col-xs-12 col-sm-5">
                        <div class="item-footer">
                            <img class="logo" src="<?php echo $settings['General.System.Logo']['image'];?>" alt="LangGo">
                            <p><i class="fa fa-map-marker"></i> <?php echo $settings['General.System.Address']['value'];?></p>
                            <p><i class="fa fa-phone"></i> <?php echo $settings['General.System.Hotline']['value'];?></p>
                        </div>
                        <div class="item-network">
                            Social network
                            <a href="<?php echo $settings['General.System.Facebook']['value'];?>" target="_blank"><span><img alt="facebook" src="<?php echo $urlImg; ?>/social-1.png"></span></a>
                            <a href="<?php echo $settings['General.System.Google']['value'];?>" target="_blank"><span><img alt="google+" src="<?php echo $urlImg; ?>/social-2.png"></span></a>
                            <a href="<?php echo $settings['General.System.Youtube']['value'];?>" target="_blank"><span><img alt="youtube" src="<?php echo $urlImg; ?>/social-3.png"></span></a>
                        </div>
                    </div>
                    <div class="item-col col-xs-12 col-sm-3">
                        <div class="item-footer">
                            <div class="item-title">Đăng ký nhận tin</div>
                            <p>Để nhận thông tin về các sự kiện đặc biệt và tài liệu học tiếng anh giao tiếp miễn phí. Bạn hãy để lại cho chúng tôi thông tin liên lạc.</p>
                            <div class="form-ft">
                                <form action="" id="frmDangkyTuVan">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group input-name">
                                                <input type="text" class="form-control" name="name" placeholder="Họ tên" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group input-phone">
                                                <input type="text" class="form-control" name="phone" placeholder="Điện thoại" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group input-email">
                                                <input type="text" class="form-control" name="email" placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group input-training_location_id">
                                                <select name="training_location_id" class="form-control">
                                                    <option value="" selected="selected">- Cơ sở -</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group input-location_city_id">
                                        <select name="location_city_id" class="form-control">
                                            <option value="">Tỉnh thành bạn đang sinh sống</option>
                                            <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                            <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                            <option value="none">Tỉnh khác</option>
                                        </select>
                                    </div>
                                    <div class="btnSuccess">
                                        <input type="hidden" value="1527907487ni9303jd64s2" name="form_id">
                                        <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                        <input type="hidden" name="source_channel_id" value="1475118253-f69m-4h09-9q8p-12538c0gfl04">
                                        <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                        <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                        <input class="form-control my_btn" id="btn-gui" type="button" value="Đăng ký nhận tin" onclick="formRegisterCRM('#frmDangkyTuVan');">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="branch-footer">
            <div class="container">
                <div class="row">
                    <!-- Đoạn này load js -->
                </div>
            </div>
        </div>
        <div class="copyright-footer text-center">Hệ thống được phát triển và vận hành bởi <a href="https://langtech.vn">LangTech</a></div>
    </footer>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=1901177466786690&autoLogAppEvents=1"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0"></script>

    <script type="text/javascript">
        $(document).ready(function(e){
            //Cơ sở
            $.ajax({
                type: 'POST',
                url: 'https://langmaster.vn/erp/api/sale-document/list',
                crossDomain: true,
                data: {
                    where:{
                        code: 'training-location',
                        type: 'on'
                    }
                },
                dataType: 'json',
                success: function(responseData, textStatus, jqXHR) {
                    var html = '';
                    $.each(responseData, function(key, val) {
                        if(val['address']) {
                            html += `<div class="item-col col-xs-12 col-sm-4">
                                        <div class="item-footer item-branch">
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i>`+ val['address'] +`</li>
                                                <li><i class="fa fa-phone"></i>`+ val['phone'] +`</li>
                                            </ul>
                                        </div>
                                    </div>
                            `;
                        }
                    });
                    $('.branch-footer .row').html(html);
                }
            });
        }); 
    </script>
</body>
</html>
