<?php 
    $aclInfo            = new \ZendX\System\ContactInfo(); 
    $userInfo           = $aclInfo->getContactInfo();
    $contact_user_id    = $aclInfo->getContactInfo('id');
    $contact_user_name  = $aclInfo->getContactInfo('name');
    $contact_user_email = $aclInfo->getContactInfo('email');
    $contact_user_phone = $aclInfo->getContactInfo('phone');
?>
<?php
$arrVideo = array(); 
foreach ($this->detail AS $key => $item) {
	$arrVideo[$key] = $item;
} 
?>
<div class="user_box_content">
	<div class="box_title"><?php echo $this->caption;?></div>
	<div class="box_content">
		<?php
		if(count($arrVideo) > 0) { 
			$item_video = !empty($_GET['video']) ? $arrVideo[$_GET['video']] : $arrVideo[0];
			if(!empty($item_video['video'])) {
				$filename = URL_FILES .'/course/'. $item_video['item_id'] .'/'. $item_video['video'] .'.mp4' ; // <== dung code de lay ten file trong database
				//$filename = 'http://hbr.edu.vn'. $this->url('routeUser/default', array('controller' => $this->params['controller'], 'action' => 'video')) .'?course='. $item_video['item_id'] .'&id='. $item_video['video'] .'&token='. $this->ssFilter['token']; // <== dung code de lay ten file trong database
				//$filename = $this->url('routeUser/default', array('controller' => $this->params['controller'], 'action' => 'video')) .'?course='. $item_video['item_id'] .'&id='. $item_video['video'] .'&token='. $this->ssFilter['token']; // <== dung code de lay ten file trong database
				$xvideo = '<video id="video" controls="controls"  style="width: 100%;">
                    	       <source src="'. $filename .'"></source>
                    	    </video>';
				
				if(strpos($item_video['video'], "ttp") > 0) {
					$filename = $item_video['video'];
					$urlValue = strip_tags($filename);
					if (stripos($urlValue, "https://youtu.be") !== false) {
					    $idVideo = explode('be/', $urlValue);
					} elseif (stripos($urlValue, "https://www.youtube.com/embed") !== false) {
					    $idVideo = explode('embed/', $urlValue);
					} else {
					    $idVideo = explode('?v=', $urlValue);
					}
					
					$id = $idVideo[1];
					if (strpos($idVideo[1], '?')) {
					    $idVideo = explode('?', $idVideo[0]);
					}
					if (strpos($idVideo[1], '&')) {
					    $idVideoTmp = explode('&', $idVideo[1]);
					    $id = $idVideoTmp[0];
					}
				    
					$xvideo = '<div class="embed-responsive embed-responsive-16by9" id="video">
                                        <iframe id="video" class="embed-responsive-item" src="//www.youtube.com/embed/'. $id .'?rel=0&autoplay=1"></iframe>
                                  </div><br>';
					
				}
			
				
				if(count($arrVideo) == 1) {
					echo '<div class="info_video_full" style="padding: 0 0 20px;">
					        '. $xvideo .'
					       <p id="second_view" class="hidden"></p>
					    </div>';
				} else {
					echo '<div class="info_video">
                            '. $xvideo .'
                            <p id="second_view" class="hidden"></p>                    
                        </div>
                        <div class="info">'.$item_video['content'].'</div>';
				}
			}
		?>
		
		<?php
		if(count($arrVideo) > 1) {
		?>
		<div class="courseList">
			<?php
			foreach ($arrVideo AS $key => $val) {
				$name = '<a href="?video='. $key .'" title="'. $val['name'] .'" id="'.$val['id'].'">'. $val['name'] .'</a>';
				$class = ($item_video['id'] == $val['id']) ? ' active' : '';
				echo '<div class="item'. $class .'">
						<div class="info">
							<h3 class="title">'. $name .'</h3>
						</div>
					</div>';
			} 
			?>
		</div>
		<?php
		}
		} 
		?>
  		
  			<?php $this->headScript()->captureStart() ?>
				/*jwplayer("video_course").setup({
			        file: "<?php echo $filename;?>",
			        autostart: true,
			        width: "100%",
			        aspectratio: "16:9",
			        type: "hls"
		        });*/
		    <?php $this->headScript()->captureEnd() ?>
		    
		<?php
		if(!empty($this->item['content'])) {
			echo '<div class="info_content">'. htmlspecialchars_decode($this->item['content']) .'</div>';
		} 
		?>
	</div>
</div>

<?php
if($this->item_other->count() > 0) { 
?>
<div class="user_box_content">
    <div class="box_title">TÀI LIỆU KHÁC CÙNG CHUYÊN MỤC</div>
    <div class="box_content">
        <div class="courseGrid">
            <div class="row">
                <?php
                foreach ($this->item_other AS $key => $item) {
                    if($item['id'] != $this->item['id']) {
                        $item_url 		= $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $item['id']));
                        
                        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                        $description    = nl2br($item['description']);
                        
                        echo '<div class="col-xs-6 col-sm-4">
                                <div class="item">
                                    <div class="image">'. $image .'</div>
                                    <div class="info">
                                        <h3 class="title">'. $name .'</h3>
                                    </div>
                                </div>
                            </div>';
                    }
                } 
                ?>
            </div>
        </div>
    </div>
</div>
<?php
} 
?>

<?php $this->headScript()->captureStart() ?>
	var time_view = 0;
    var video = document.getElementById("video");
    video.ontimeupdate = function() {
		document.getElementById("second_view").innerHTML = video.currentTime;
        time_view = video.currentTime;
    };

	function countView() {
		$.ajax({
            url: '<?php echo $this->url('routeUser/default', array('controller' => $this->params['controller'], 'action' => 'add-contact-user'));?>',
            type: 'POST',
            data:{
            	contact_user_id: 	'<?php echo $contact_user_id;?>',
            	contact_user_name: 	'<?php echo $contact_user_name;?>',
            	contact_user_email:	'<?php echo $contact_user_email;?>',
            	contact_user_phone:	'<?php echo $contact_user_phone;?>',
             	id: 				'<?php echo $item_video['id'];?>',
             	seconds_view: 		time_view
            },
    		success: function(result){
    			if(result != '') {
    				xToastr('error', '');
    			}
        	}
        });
	}
	//countView();
    $(document).ready(function(){
     	setInterval(function() {
     		countView();
     	}, 30000);
    });
<?php $this->headScript()->captureEnd() ?>