<?php
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];

    $current_url = DOMAIN.$_SERVER[REQUEST_URI];
?>
<html>
<head>
    <title><?php echo $item['meta_title']; ?></title>
    <meta name="description" content="<?php echo $item['meta_description']; ?>" >
    <meta name="keywords" content="<?php echo $item['meta_keywords']; ?>" >
    <meta name="title" content="<?php echo $item['meta_title']; ?>" >
    <meta name="language" content="vietnamese" >
    <meta name="robots" content="index, follow, all" >
    <meta name="author" content="langgo.edu.vn" >
    <meta name="copyright" content="copyright © 2011 by langgo.edu.vn" >
    <meta name="revisit-after" content="1 days" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="Refresh" content="7200" >
    <meta http-equiv="content-language" content="vi" >
    <meta property="og:image" content="<?php echo $urlImg;?>/527x275.jpg" />
    <meta property="og:title" content="<?php echo $item['meta_title']; ?>" />
    <meta property="og:description" content="<?php echo $item['meta_description']; ?>" />

    <?php
    echo $this->headMeta()
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->setCharset('utf-8');

    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $urlImg . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
            ->appendStylesheet($this->arrParams['template']['urlCss'] .'/fontawesome-all.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/jquery.fancybox.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css')
            ->appendStylesheet($this->arrParams['template']['urlPlugin'] .'/owl-carousel/owl.carousel.min.css')
            ->appendStylesheet($this->arrParams['template']['urlPlugin'] .'/owl-carousel/owl.theme.default.min.css');

    echo $this 	-> headScript()
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.js')
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.form.min.js')
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap.min.js')
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox/jquery.fancybox.js')
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/function.js')
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap.min.js')
				-> appendFile($this->arrParams['template']['urlPlugin'] .'/owl-carousel/owl.carousel.min.js')
				-> appendFile($this->arrParams['template']['urlPlugin'] .'/jquery-scrolltofixed-min.js')
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js');
    
    $URL = isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http' . '://'. $_SERVER[HTTP_HOST] .''. $_SERVER[REQUEST_URI] .'';
    echo '<link href="'. (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http') . '://'. $_SERVER[HTTP_HOST] .'' .'" hreflang="vi-vn" rel="alternate">';
    echo '<link href="'. (!empty(substr($URL, 0, strrpos($URL, '?'))) ? substr($URL, 0, strrpos($URL, '?')) : $URL) .'" rel="canonical">';
    
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php'; ?>
	<div class="box_menu" id="box_menu">
		<div class="navbar text-uppercase text-center" id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" aria-expanded="true">
						<span class="sr-only">Togglen</span> 
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="logo"><a href="/">Sales<br />Master</a></h1>
				</div>
				<nav class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right box-flex">
						<li><a href="javascript:goBox('box-about');">Giới thiệu</a></li>
						<li><a href="javascript:goBox('box-benefit');">Lợi ích <span>ứng viên</span></a></li>
						<li><a href="javascript:goBox('box-route');">Lộ trình <span>tham dự</span></a></li>
						<li><a href="javascript:goBox('box-program');">Chương trình <span>đào tạo</span></a></li>
						<li><a href="javascript:goBox('box_chuongTrinh');">Ứng tuyển</a></li>
					</ul>
				</nav>
			</div>
			<div class="navbar-collapse-background"></div>
		</div>
	</div>
	<div class="page-banner"><img src="<?php echo $item['image'];?>" alt="<?php echo $item['meta_title'];?>"></div>

	<section class="box-about" id="box-about">
		<div class="container">
			<div class="row">
				<div class="item-col col-xs-12 col-sm-6">
					<div class="section-title"><h2>Giới thiệu</h2></div>
					<div class="section-content">
						<p><b>SALES MASTER</b> là chương trình tuyển dụng, đào tạo những chiến binh Sales lớn nhất trong năm 2020 của Trường Doanh nhân HBR, với mục đích:</p>
						<ul>
							<li>Tìm kiếm các ứng viên có mong muốn, đam mê phát triển sự nghiệp trong lĩnh vực Sales</li>
							<li>Đào tạo, huấn luyện giúp các bạn làm chủ sự nghiệp của bản thân, là bệ phóng sự nghiệp vững chắc cho các bạn trẻ tiềm năng</li>
						</ul>
					</div>
				</div>
				<div class="item-col col-xs-12 col-sm-6">
					<div class="about-img"><div class="item-img"><img src="<?php echo $urlImg . '/img_about.jpg'; ?>" alt="Giới thiệu"></div></div>
				</div>
			</div>
			<div class="text-center"><a href="javascript:goBox('box_chuongTrinh');" class="ctas">Đăng ký ngay</a></div>
		</div>
	</section>

	<section class="box-benefit" id="box-benefit" style="background-image: url('<?php echo $urlImg; ?>/bg_benefit.jpg');">
		<div class="container">
			<div class="section-title title-white text-center"><h2>Lợi ích khi tham dự</h2></div>
			<div class="section-content">
				<div class="row box-flex">
					<div class="item-col col-xs-12 col-sm-6 box-flex">
						<div class="item-benefit">
							<div class="item-benefit-title">Được tham gia các chương trình đào tạo:</div>
							<div class="item-benefit-content">
								<ul>
									<li>Nâng cao kỹ năng giao tiếp, thuyết phục khách hàng</li>
									<li>Đọc vị và nắm bắt tâm lý khách hàng qua các công cụ: DISC, NLP...</li>
									<li>Xử lý bất kì từ chối nào của khách hàng </li>
									<li>Nắm bắt được quy trình:<br />Bạn - Bàn - Bán - Bám</li>
									<li>Xác định được các yếu tố để trở thành một người bán hàng xuất sắc</li>
									<li>Được tham gia đào tạo bởi các founder xuất sắc trong các lĩnh vực: Sale, marketing, nhân sự</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 box-flex">
						<div class="item-benefit">
							<div class="item-benefit-title">Được trải nghiệm thực tế quá trình làm việc:</div>
							<div class="item-benefit-content">
								<ul>
									<li>Tham gia nghiên cứu thị trường và đối thủ cạnh tranh</li>
									<li>Thực chiến với nhiều đối tượng khách hàng khác nhau</li>
									<li>Ứng dụng các công cụ NLP, DISC để phân tích tâm lý hành vi khách hàng</li>
									<li>Phối hợp tổ chức các chương trình, sự kiện với quy mô lên tới 1000 người</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><a href="javascript:goBox('box_chuongTrinh');" class="ctas">Đăng ký ngay</a></div>
		</div>
	</section>

	<section class="box-attendee" id="box-attendee" style="background-image: url('<?php echo $urlImg; ?>/bg_obj.png');">
		<div class="container">
			<div class="section-title text-center"><h2>Đối tượng tham dự</h2></div>
			<div class="section-content text-center">
				<div class="row box-flex">
					<div class="item-col col-xs-12 col-sm-4 box-flex">
						<div class="item-attendee">
							<div class="img-bg hidden-xs hidden-sm">
								<img src="<?php echo $urlImg; ?>/item_obj.png" alt="Đối tượng tham dự">
								<div class="img-bg-after"><img src="<?php echo $urlImg; ?>/bg_item_attendee.png" alt="Đối tượng tham dự"></div>
							</div>
							<div class="item-attendee-content">
								<div class="item-attendee-icon"><img src="<?php echo $urlImg; ?>/icon_obj1.png" alt="Đối tượng tham dự"></div>
								Có mong muốn<br/> phát triển sự nghiệp<br/> trong lĩnh vực Sales
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-4 box-flex">
						<div class="item-attendee">
							<div class="img-bg hidden-xs hidden-sm">
								<img src="<?php echo $urlImg; ?>/item_obj.png" alt="Đối tượng tham dự">
								<div class="img-bg-after"><img src="<?php echo $urlImg; ?>/bg_item_attendee.png" alt="Đối tượng tham dự"></div>
							</div>
							<div class="item-attendee-content">
								<div class="item-attendee-icon"><img src="<?php echo $urlImg; ?>/icon_obj2.png" alt="Đối tượng tham dự"></div>
								Có tham vọng<br/> làm chủ sự nghiệp<br/>trong 3-5 năm tới
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-4 box-flex">
						<div class="item-attendee">
							<div class="img-bg hidden-xs hidden-sm">
								<img src="<?php echo $urlImg; ?>/item_obj.png" alt="Đối tượng tham dự">
								<div class="img-bg-after"><img src="<?php echo $urlImg; ?>/bg_item_attendee.png" alt="Đối tượng tham dự"></div>
							</div>
							<div class="item-attendee-content">
								<div class="item-attendee-icon"><img src="<?php echo $urlImg; ?>/icon_obj3.png" alt="Đối tượng tham dự"></div>
								Đang tìm kiếm một<br/>môi trường được đào tạo <br/>bài bản về Sales - Marketing - Nhân sự và phát triển<br/>mạng lưới quan hệ.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><a href="javascript:goBox('box_chuongTrinh');" class="ctas">Đăng ký ngay</a></div>
		</div>
	</section>

	<section class="box-member" id="box-member" style="background-image: url('<?php echo $urlImg; ?>/bg_member.jpg');">
		<div class="container">
			<div class="section-title title-white text-center"><h2>Đội ngũ Trainer và Mentor</h2></div>
			<div class="section-content text-center">
				<div class="row box-flex">
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-1.png" alt="Nguyễn Dương">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Nguyễn Dương</h3>
								Chuyển gia trải nghiệm khách hàng<br />
								Nguyên Giám đốc quốc gia Singtel Việt Nam
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-2.png" alt="Lê Minh Tuấn">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Lê Minh Tuấn</h3>
								CEO tại BNI Hà Nội 6<br />
								(Tổ chức kết nối doanh nhân toàn cầu)
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-3.png" alt="Tony Dzung">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Tony Dzung</h3>
								Founder and Chairman Trường Doanh nhân HBR và Tổ hợp Giáo Dục - Công Nghệ quốc tế Langmaster
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-4.png" alt="Trần Trung Hiếu">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Trần Trung Hiếu</h3>
								CEO/Founder TopCV
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-5.png" alt="Linda">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Linda</h3>
								Cựu giám đốc Nhân sự TA Holdings
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-6.png" alt="Trần Văn Tuấn">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Trần Văn Tuấn</h3>
								CEO/Founder TA Holdings
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-7.png" alt="Nguyễn Tất Kiểm">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Nguyễn Tất Kiểm</h3>
								CEO Trường đào tạo kinh doanh thực chiến TAKI
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-8.png" alt="Diệu Thu">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Diệu Thu</h3>
								CEO Savary Yoga & Dance
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-9.png" alt="Nguyễn Mến">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Nguyễn Mến</h3>
								CEO MC Fashion
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-10.png" alt="Thạch Thảo">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Thạch Thảo</h3>
								Phó TGĐ Tổ hợp Giáo Dục - Công Nghệ quốc tế Langmaster
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-11.png" alt="Đặng Văn Thuyên">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Đặng Văn Thuyên</h3>
								Cựu Giám đốc kinh doanh Langmaster
							</div>
						</div>
					</div>
					<div class="item-col col-xs-6 col-sm-4">
						<div class="item-member">
							<div class="item-member-img">
								<img src="<?php echo $urlImg; ?>/huan-luyen-vien-12.png" alt="Lang Công Đạt">
							</div>
							<div class="item-member-content">
								<h3 class="item-member-name">Lang Công Đạt</h3>
								Giám đốc kinh doanh Langmaster
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><a href="javascript:goBox('box_chuongTrinh');" class="ctas">Đăng ký ngay</a></div>
		</div>
	</section>

	<section class="box-route" id="box-route" style="background-image: url('<?php echo $urlImg; ?>/bg_route.jpg');">
		<div class="container">
			<div class="section-title text-center"><h2>Lộ trình tham dự</h2></div>
			<div class="section-content text-center">
				<div class="row box-flex">
					<div class="item-col col-xs-12 col-sm-6 col-md-3">
						<div class="item-route">
							<div class="item-route-index hidden-xs">
								<span><b>1</b></span>
							</div>
							<div class="item-route-info">
								<div class="item-route-content">
									<span>1</span>
									Nộp đơn tham gia chương trình: "Thực tập Sales tài năng"
									<img src="<?php echo $urlImg; ?>/item_route1.png" alt="Nộp đơn tham gia chương trình: Thực tập Sales tài năng">
								</div>
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-3">
						<div class="item-route">
							<div class="item-route-index hidden-xs">
								<span><b>2</b></span>
							</div>
							<div class="item-route-info">
								<div class="item-route-content">
									<span>2</span>
									Vượt qua 2 tháng thử thách trong chương trình Thực tập Sales tài năng
									<img src="<?php echo $urlImg; ?>/item_route2.png" alt="Vượt qua 2 tháng thử thách trong chương trình Thực tập Sales tài năng">
								</div>
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-3">
						<div class="item-route">
							<div class="item-route-index hidden-xs">
								<span><b>3</b></span>
							</div>
							<div class="item-route-info">
								<div class="item-route-content">
									<span>3</span>
									Trở thành chiến binh sale (Sales master) với mức thu nhập cực khủng
									<img src="<?php echo $urlImg; ?>/item_route3.png" alt="Trở thành chiến binh sale (Sales master) với mức thu nhập cực khủng">
								</div>
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-3">
						<div class="item-route">
							<div class="item-route-index hidden-xs">
								<span><b>4</b></span>
							</div>
							<div class="item-route-info">
								<div class="item-route-content">
									<span>4</span>
									Tham gia chuỗi chương trình đào tạo chiến binh Sales (Sales Master 2020)
									<img src="<?php echo $urlImg; ?>/item_route4.png" alt="Tham gia chuỗi chương trình đào tạo chiến binh Sales (Sales Master 2020)">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><a href="javascript:goBox('box_chuongTrinh');" class="ctas">Đăng ký ngay</a></div>
		</div>
	</section>

	<section class="box-program" id="box-program" style="background-image: url('<?php echo $urlImg; ?>/bg_program.jpg');">
		<div class="container">
			<div class="section-title title-white text-center"><h2>Chuỗi trương trình đào tạo</h2></div>
			<div class="section-content">
				<div class="row box-flex">
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro1.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 1 </div>
								<h3 class="item-program-title">Trải nghiệm khách hàng</h3>
								Diễn giả: <b>Nguyễn Dương</b><br />
								- Chuyên gia trải nghiệm khách hàng, Nguyên giám đốc quốc gia Singtel Việt Nam
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro2.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 2 </div>
								<h3 class="item-program-title">Ứng dụng DISC trong bán hàng</h3>
								Diễn giả: <b>Lê Minh Tuấn</b><br />
								- CEO tại BNI Hà Nội 6 <br />
								(Tổ chức kết nối doanh nhân toàn cầu)
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro3.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 3 </div>
								<h3 class="item-program-title">Kỹ năng viết content bán hàng hiệu quả</h3>
								Diễn giả: <b>Tony Dzung</b><br />
								- Founder and Chairman trường Doanh nhân HBR và Tổ hợp Giáo Dục - Công nghệ quốc tế Langmaster
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro4.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 4 </div>
								<h3 class="item-program-title">Thu hút và tuyển dụng đội ngũ bán hàng</h3>
								Diễn giả: <b>Trần Trung Hiếu</b><br />
								- CEO/Founder TopCV
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro5.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 5 </div>
								<h3 class="item-program-title">Chăm sóc khách hàng chuyên nghiệp</h3>
								Diễn giả: <b>Linda</b><br />
								- Cựu Giám đốc Nhân sự TA Holdings
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro6.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 6 </div>
								<h3 class="item-program-title">Kịch bản bán hàng và xử lý từ chối</h3>
								Diễn giả: <b>Trần Văn Tuấn</b><br />
								- CEO/Founder TA Holdings
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro7.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 7 </div>
								<h3 class="item-program-title">Xây dựng đội nhóm bán hàng vô địch</h3>
								Diễn giả: <b>Nguyễn Tất Kiểm</b><br />
								- CEO Trường Đào tạo thực chiến TAKI
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro8.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 8 </div>
								<h3 class="item-program-title">Tư duy bán hàng & kỹ năng chốt sale</h3>
								Diễn giả: <b>Diệu Thu</b><br />
								- CEO Savary Yoga & Dance
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro9.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 9 </div>
								<h3 class="item-program-title">Tạo động lực cho nhân viên</h3>
								Diễn giả: <b>Nguyễn Mến</b><br />
								- CEO MC Fashion
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro10.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 10 </div>
								<h3 class="item-program-title">-</h3>
								Diễn giả: <b>Thạch Thảo</b><br />
								- Phó TGĐ Tổ hợp Giáo Dục - Công Nghệ quốc tế Langmaster
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro11.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 11 </div>
								<h3 class="item-program-title">Tư duy bán hàng thành công</h3>
								Diễn giả: <b>Đặng Văn Thuyên</b><br />
								- Cựu Giám đốc kinh doanh Langmaster
							</div>
						</div>
					</div>
					<div class="item-col col-xs-12 col-sm-6 col-md-4 box-flex">
						<div class="item-program" style="background-image: url('<?php echo $urlImg; ?>/pro12.jpg');">
							<div class="item-program-content">
								<div class="item-program-index"> 12 </div>
								<h3 class="item-program-title">-</h3>
								Diễn giả: <b>Lang Công Đạt</b><br />
								- Giám đốc kinh doanh Langmaster
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><a href="javascript:goBox('box_chuongTrinh');" class="ctas">Đăng ký ngay</a></div>
		</div>
	</section>

	<section class="box-langers" id="box-langers">
		<div class="container">
			<div class="section-title text-center"><h2>Gương mặt Langers</h2></div>
			<div class="section-content">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="langers-slide owl-theme owl-carousel">
							<div class="item">
								<img src="<?php echo $urlImg; ?>/testi.jpg" alt="Lã Minh Hiếu" class="bg-image hidden-xs hidden-sm">
								<div class="item-langer-info">
									<h3 class="item-langer-title">Lã Minh Hiếu</h3>
									<div class="item-langer-meta">Đội trưởng kinh doanh cơ sở Trần Đại Nghĩa</div>
									<div class="item-langer-content">
										<p>Vào Langmaster em có cơ hội được đào toạ với lộ trình cụ thể rõ ràng, đặc biệt về những kỹ năng liên quan đến telesales data lạnh, chốt Sales và chăm sóc khách hàng sau bán.</p>
										<p>Điều tuyệt vời nhất khi lên vị trí Đội trưởng kinh doanh là em được Langmaster tạo điều kiện tham gia các khoá học chuyên sâu không chỉ về Sales mà còn về Nhân sự và Marketing, được mở rộng network với rất nhiều những quản lý cấp trung và cấp cao tại các khoá học</p>
									</div>
								</div>
							</div>
							<div class="item">
								<img src="<?php echo $urlImg; ?>/testi.jpg" alt="Lã Minh Hiếu" class="bg-image hidden-xs hidden-sm">
								<div class="item-langer-info">
									<h3 class="item-langer-title">Lã Minh Hiếu</h3>
									<div class="item-langer-meta">Đội trưởng kinh doanh cơ sở Trần Đại Nghĩa</div>
									<div class="item-langer-content">
										<p>Vào Langmaster em có cơ hội được đào toạ với lộ trình cụ thể rõ ràng, đặc biệt về những kỹ năng liên quan đến telesales data lạnh, chốt Sales và chăm sóc khách hàng sau bán.</p>
										<p>Điều tuyệt vời nhất khi lên vị trí Đội trưởng kinh doanh là em được Langmaster tạo điều kiện tham gia các khoá học chuyên sâu không chỉ về Sales mà còn về Nhân sự và Marketing, được mở rộng network với rất nhiều những quản lý cấp trung và cấp cao tại các khoá học</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>

	<section class="box_chuongTrinh" id="box_chuongTrinh" style="background-image: url('<?php echo $urlImg; ?>/bg_dky.jpg');">
		<div class="container">
			<div class="section-title title-white text-center"><h2>Đăng ký chương trình</h2></div>
			<div class="box_form">
				<div class="form">
					<form id="formDangKy" action="<?php echo DOMAIN_ERP; ?>/api/langgo-cv/add" method="POST">
                        <input type="hidden" name="vacancy" value="<?php echo $item['name']; ?>">
                        <input type="hidden" name="post_item_id" value="<?php echo $item['id']; ?>">
                        <input type="hidden" name="source" value="<?php echo $current_url; ?>">
                        <input type="hidden" name="sbj_from" value="Langgo Landingpage"  />
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Họ tên">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Số điện thoại">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="birthday" placeholder="Ngày sinh (dd/mm/yyyy)">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="school" placeholder="Trường học/Đơn vị công tác">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="career" placeholder="Ngành học/Nghề nghiệp">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="file" id="file-upload" name="profile" style="display: none;">
                                <a class="btn btn-default form-control" id="select-file" href="javascript:;" onclick="javascript:openFile();">Đính kèm hồ sơ (CV)</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="btn-gui"><input class="btn btn-default form-control" type="submit" value="Gửi tin"></div>
                            </div>
                        </div>						  
					</form>	
					<div class="hotline">Hotline: <a href="tel:0973693960">0973.693.960</a>. Email: hr@langmaster.edu.vn</div>				
				</div>
			</div>
		</div>
		<div id="modalDangKy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDangKy">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
						<h4 class="modal-title" id="gridModalLabel">Thông báo</h4>
					</div>
					<div class="modal-body">
						Thông tin của bạn đã được gửi thành công
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function openFile(){
				$('#file-upload').click(); 
				return false;
			}
			$(document).ready(function(){
				$('#file-upload').on('change',function(){
					var filename = this.value.split('\\').pop();
					$('a#select-file').text(filename);
				}) 
			});
			
			$('#myModal').modal('toggle')
			id_formDangKy = '#formDangKy';
			id_modalDangKy = '#modalDangKy';

			if ($('#name').val() == '' || $('#phone').val() == '' || $('#email').val() == '') {
	    		$(id_modalDangKy + ' .modal-body').html('<div class="alert alert-danger" role="alert">Vui lòng kiểm tra lại các trường thông tin! Bạn đang nhập thiếu!</div>');
	    	}

			var options = { 
		        type: 'post',
                beforeSubmit: function() {
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success: function(result) {
                    var xHtml = '';
                    result = $.parseJSON(result);
                    if(result.error) {
                        xHtml += '<div class="alert alert-danger" role="alert">';
                        $.each(result['error'], function( index, value ) {
                            xHtml += '<p>'+ value +'</p>';
                        });
                        xHtml += '</div>';
                    } else {
                        xHtml += '<div class="alert alert-success" role="alert">Thông tin của bạn đã được gửi thành công</div>';
                        $(id_formDangKy)[0].reset();
                    }

                    $(id_modalDangKy + ' .modal-body').html(xHtml);
                    $(id_modalDangKy).addClass('in').css('display', 'block');
                    
                    $('.page-loading').remove();
                },
                error: function() {
                    $(id_modalDangKy + ' .modal-body').html('<div class="alert alert-danger" role="alert">Không thể gửi thông tin, vui lòng thử lại sau!</div>');
                    $(id_modalDangKy).addClass('in').css('display', 'block');
                    
                    $('.page-loading').remove();
                }
		    }; 
		 
		    $(id_formDangKy).ajaxForm(options); 

		    $(id_modalDangKy + ' .btn-close').click(function() {
		    	$(id_modalDangKy + ' .modal-body').html('');
	        	$(id_modalDangKy).removeClass('in').css('display', 'none');
		    })
		</script>
	</section>

	<section class="box-footer">
		<div class="container">
			<div class="row box-flex">
				<div class="item-col col-xs-12 col-sm-4 col-md-3">
					<div class="item-footer">
						<ul>
							<li><i class="fa fa-map-marker-alt"></i> Cơ sở: Số 30 Ngách 2, Ngõ 76 Duy Tân</li>
							<li><i class="fa fa-phone"></i> <a href="tel:0962195439">096.219.5439</a></li>
						</ul>
					</div>
				</div>
				<div class="item-col col-xs-12 col-sm-4 col-md-3">
					<div class="item-footer">
						<ul>
							<li><i class="fa fa-map-marker-alt"></i> Cơ sở: 188 Nguyễn Lương Bằng, Đống Đa</li>
							<li><i class="fa fa-phone"></i> <a href="tel:0962244496">096.224.4496</a></li>
						</ul>
					</div>
				</div>
				<div class="item-col col-xs-12 col-sm-4 col-md-3">
					<div class="item-footer">
						<ul>
							<li><i class="fa fa-map-marker-alt"></i> Cơ sở: 485 Hoàng Quốc Việt, Cầu Giấy</li>
							<li><i class="fa fa-phone"></i> <a href="tel:0962195439">096.219.5439</a></li>
						</ul>
					</div>
				</div>
				<div class="item-col col-xs-12 col-sm-4 col-md-3">
					<div class="item-footer">
						<ul>
							<li><i class="fa fa-map-marker-alt"></i> Cơ sở: Số 32, Ngõ 168, Nguyễn Xiển, Thanh Xuân</li>
							<li><i class="fa fa-phone"></i> <a href="tel:0962244496">096.224.4496</a></li>
						</ul>
					</div>
				</div>
				<div class="item-col col-xs-12 col-sm-4 col-md-3">
					<div class="item-footer">
						<ul>
							<li><i class="fa fa-map-marker-alt"></i> Cơ sở: Số 155 Bạch Mai, Hai Bà Trưng</li>
							<li><i class="fa fa-phone"></i> <a href="tel:0962152228">096.215.2228</a></li>
						</ul>
					</div>
				</div>
				<div class="item-col col-xs-12 col-sm-4 col-md-3">
					<div class="item-footer">
						<ul>
							<li><i class="fa fa-map-marker-alt"></i> Cơ sở: 51A Hồ Tùng Mậu, Cầu Giấy</li>
							<li><i class="fa fa-phone"></i> <a href="tel:0962195439">096.219.5439</a></li>
						</ul>
					</div>
				</div>
				<div class="item-col col-xs-12 col-sm-4 col-md-3">
					<div class="item-footer">
						<ul>
							<li><i class="fa fa-map-marker-alt"></i> Cơ sở: 447 Giải Phóng</li>
							<li><i class="fa fa-phone"></i> <a href="tel:0917745066">091.774.5066</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>