<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_category'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-2 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="col-50">STT</th>';
    $xhtmlHead .= '<th class="col-50">Ảnh</th>';
    $xhtmlHead .= $this->linkAdminSort('Tên', 'name', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Giá bán', 'price', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Danh mục', 'category_id', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Giảng viên', 'teacher', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Phân loại', 'teacher', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Danh mục bài học', 'course_group_id', $this->params['ssFilter'], null);
    $xhtmlHead .= '<th>Chi tiết khóa học</th>';
	$xhtmlHead .= $this->linkAdminSort('Người tạo', 'created_by', $this->params['ssFilter'], null);
	$xhtmlHead .= $this->linkAdminSort('Id', 'id', $this->params['ssFilter'], null);
	$xhtmlHead .= $this->linkAdminSort('Thứ tự', 'ordering', $this->params['ssFilter'], array('class' => 'col-80'));
    $xhtmlHead .= '<th class="col-80">Công cụ</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id             	= $item->id;
            $name           	= $item->name;
            $alias          	= $item->alias;
            $teacher            = $this->teacher[$item->teacher]['name'];
            $type               = $item->type;
            $category    		= $this->category[$item->category_id]['name'];
            $created        	= date_format(date_create($item->created), 'd/m/Y H:i:s');
            $image_thumb        = !empty($item->image_thumb) ? '<img src="'. $item->image_thumb .'" style="width: 44px;">' : '';
            $created_by     	= $this->user[$item->created_by]['fullname'];
            $ordering       	= @$this->xFormInput('ordering['. $id .']', $item->ordering, array('class' => 'form-control input-xs'));
            $cid            	= @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            $price_product      = number_format($item -> price);
            $price_sale_percent = $item->price_sale_percent ? '<span style="color: #FF0000;">'. $item->price_sale_percent .'%</span>' : '';
            
            $price = '';
            if ( $price_product == 0 ) {
                $price = '<div>Khóa tặng kèm</div>';
            } else {
                $price = $price_product;
            }
            
            // Link Action
            $linkEdit       	= $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            $linkDetail       	= $this->url('routeAdmin/default', array('controller' => 'course-detail', 'action' => 'filter', 'id' => $id));
            $linkGroup          = $this->url('routeAdmin/default', array('controller' => 'course-group', 'action' => 'index', 'id' => $id));
            
            // Control Action
            $controlEdit    	= $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlStatus  	= $this->linkAdminStatus($id, $item->status);
            $controls       	= $controlStatus . $controlEdit;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $cid .'</td>
    							<td>'. $index .'</td>
    							<td>'. $image_thumb .'</td>
    							<td><a href="'. $linkEdit .'"><b>'. $name .'</b></a><p class="alias">Url: '. $alias .'</p></td>
                                <td>
                                    <div>'. $price .'</div>
                                    <div style="color: #ff0000;">'. $price_sale_percent .'</div>
                                </td>
    							<td>'. $category .'</td>
                                <td>'. $teacher .'</td>
                                <td>'. $type .'</td>
                                <td><a href="'. $linkGroup .'">Module</a></td>
    							<td><a href="'. $linkDetail .'">Chi tiết khóa học</a></td>
    							<td>'. $created_by .'</td>
    							<td>'. $id .'</td>
    							<td>'. $ordering .'</td>
							    <td>'. $controls .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => 'javascript:;', 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();', ) ), ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>
