<?php
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <title><?php echo $item['meta_title']; ?></title>
    <meta name="description" content="<?php echo $item['meta_description']; ?>" >
    <meta name="keywords" content="<?php echo $item['meta_keywords']; ?>" >
    <meta name="title" content="<?php echo $item['meta_title']; ?>" >
    <meta name="language" content="vietnamese" >
    <meta name="robots" content="index, follow, all" >
    <meta name="author" content="langgo.edu.vn" >
    <meta name="copyright" content="copyright © 2011 by langgo.edu.vn" >
    <meta name="revisit-after" content="1 days" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="Refresh" content="7200" >
    <meta http-equiv="content-language" content="vi" >
    <meta property="og:image" content="<?php echo $urlImg;?>/527x275.jpg" />
    <meta property="og:title" content="<?php echo $item['meta_title']; ?>" />
    <meta property="og:description" content="<?php echo $item['meta_description']; ?>" />

    <?php
    echo $this->headMeta()
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->setCharset('utf-8');

    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.ico', 'type' => 'image/x-icon'), 'PREPEND')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fontawesome.min.css')
			->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/footer.css')
			->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/jquery.bxslider.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
    
    $URL = isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http' . '://'. $_SERVER[HTTP_HOST] .''. $_SERVER[REQUEST_URI] .'';
    echo '<link href="'. (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http') . '://'. $_SERVER[HTTP_HOST] .'' .'" hreflang="vi-vn" rel="alternate">';
    echo '<link href="'. (!empty(substr($URL, 0, strrpos($URL, '?'))) ? substr($URL, 0, strrpos($URL, '?')) : $URL) .'" rel="canonical">';
    
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
</head>
<body>
	<?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php'; ?>
	<div class="box_top" id="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="hotline">
						<i class="fa fa-phone"></i><a href="tel:02462956369">024.6295.6369</a><a href="024.627.815.67">024.627.815.67</a><a href="024.668.676.44">024.668.676.44</a>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="social">
						<a href="https://www.facebook.com/Tienganhgiaotieplangmaster/" target="_blank"><i class="fa fa-facebook"></i></a>	
						<a href="https://www.youtube.com/channel/UCPeHKeg8RVHOBZWyZijoqow/" target="_blank"><i class="fa fa-youtube-play"></i></a>
						<!-- <a href="#" target="_blank"><i class="fa fa-instagram"></i></a> -->
						<a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end box_top-->

	<div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/LangGo.png"></a></div>
                <div class="col-sm-10">
                    <ul class="menu hidden-xs hidden-sm">
                       <li><a href="#box_gioiThieu" class="go_box">ƯU ĐÃI KHỦNG </a></li>
				        <li><a href="#box_tinTuc" class="go_box">CÂU CHUYỆN THÀNH CÔNG </a></li>
				        <li><a href="#box_moHinh" class="go_box">MÔ HÌNH HỌC KHÁC BIỆT </a></li>
				        <li><a href="#box_lyDo" class="go_box">LÝ DO CHỌN LANGGO </a></li>
				        <li><a href="#box_lichHoc" class="go_box btn_book">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
	<!--end box_header-->
	
	<div class="box_banner">
		<a href="#target" class="go_box btn_book"><img class="img-responsive" src="<?php echo $item['image'];?>"></a>
	</div>
	<!--end box_banner-->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="row">
                <div class="box_content">
                    <div class="col-md-6">
                        <div class="img"><img src="<?php echo $urlImg;?>/langmaster-2020.jpg"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="box_title text-center"><span><img src="<?php echo $urlImg;?>/peach-blossom.png" /> BỨT PHÁ TIẾNG ANH - ĐÓN XUÂN AN LÀNH <img src="<?php echo $urlImg;?>/peach-blossom.png" /></span> <br>Dành riêng cho các bạn học viên đăng ký ngay trong tháng 2/2020</div>
                        <div class="info">
                            <p><span>Đầu năm là thời điểm ai cũng hừng hực quyết tâm thực hiện những kế hoạch lớn. Vì thế, sinh viên chúng mình hãy sẵn sàng bứt phá tiếng Anh để thay đổi bản thân và có cơ hội công việc tốt trong tương lai nhé!</span></p>
                            <p>Với vô vàn những ưu đãi hấp dẫn, LangGo xin gửi tặng các bạn những món quà đặc biệt SIÊU KHỦNG - SIÊU CHẤT hot nhất năm:</p>
                            <p class="item"><img src="<?php echo $urlImg;?>/cherry-blossom.png" /> HỌC BỔNG lên tới 36% dành riêng cho 100 học viên đầu tiên đăng ký</p>
                            <p class="item"><img src="<?php echo $urlImg;?>/cherry-blossom.png" /> Tài khoản học online trên hệ thống eStudy trị giá 1.800.000vnđ</p>
                            <p class="item"><img src="<?php echo $urlImg;?>/cherry-blossom.png" /> Tài khoản trên App tiếng anh "LangGo" trị giá 1.800.000vnđ</p>
                            <p class="item"><img src="<?php echo $urlImg;?>/cherry-blossom.png" /> Khóa "Bí quyết chinh phục IELTS 6.5+” trị giá 555.000vnđ</p>
                            <p class="item"><img src="<?php echo $urlImg;?>/cherry-blossom.png" /> Voucher ưu đãi 70% khóa ngữ âm</p>
                            <p class="item"><img src="<?php echo $urlImg;?>/cherry-blossom.png" /> Sách "Hệ thống ghi nhớ từ vựng PMS", "Hạ gục nhà Tuyển dụng" trị giá 240.000 vnđ</p>
                            <p class="item"><img src="<?php echo $urlImg;?>/cherry-blossom.png" /> Túi Tote, Balo/Áo phông và rất nhiều quà cực kỳ hấp dẫn khác!!</p>
                            <p>Áp dung cho các khóa học Online, khóa học Trực Tuyến 1 kèm 1, khóa học Offline tại lớp học Hà Nội</p>
                            <p>Ưu đãi có hạn đăng ký ngay bạn ơi!</p>
                        </div>
                    </div>
                </div>
                <div class="my-btn"><a href="javscript:;" class="go_box" data-box="box_lichHoc">ĐĂNG KÝ NGAY</a> </div>
            </div>
        </div>
    </div>
    <!-- end box_gioiThieu -->

    <div class="box_tinTuc" id="box_tinTuc">
        <div class="container">
            <div class="box_title">CÂU CHUYỆN THÀNH CÔNG</div>
            <div class="box_content">
                <div class="bxslider" id="my-slide">
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Phương pháp học ở đây rất lý thú với hình ảnh, ngôn ngữ cơ thể và các trò chơi. Cảm ơn LagGo, các giảng viên và trợ giảng đã giúp em rất nhiều.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv2-02.png"></div>
                            <p class="title">Vũ Thịnh - <span>ĐH Giao thông Vận Tải</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Bước ngoặt của em là khi em bắt đầu học tại LangGo, dần dần em nhận ra đam mê của mình đó là phiên dịch và làm việc với ngôn ngữ nói chung.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv-01.png"></div>
                            <p class="title">Trần Phương Thảo - <span>Biên, phiên dịch viên quốc tế</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Em bắt đầu học tiếng Anh từ hồi 8 tuổi và lúc đó em rất ghét nó, thậm chí em không thuộc bảng chữ cái. Em muốn nói lời cảm ơn đến LangGo vì đã đem đến cho em những trải nghiệm tuyệt vời với tiếng Anh.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv-03.png"></div>
                            <p class="title">Đỗ Hương Quỳnh - <span>ĐH Thăng Long Hà Nội</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Môn ngoại ngữ em học là tiếng Trung, LangGo chỉ mất 3 tháng để giúp em thay đổi khả năng phát âm va giao tiếp tiếng Anh tự tin không cần suy nghĩ.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv-05.png"></div>
                            <p class="title">Vân Anh - <span>ĐH Ngoại Thương</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Buổi học đầu tiên, mình cảm thấy cái gì đó rất điên và khác lạ, mình nghĩ "Trời ơi! Mình tìm đúng chỗ học tiếng Anh rồi". LangGo đã cung cấp cho mình phương pháp học hiệu quả và mình đã tự học mỗi ngày.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv-06.png"></div>
                            <p class="title">Lê Bá Sơn - <span>Lớp LEV K134</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Em vẫn còn nhớ em ngạc nhiên thế nào với không khí lớp, với giảng viên và trợ giảng, với phương pháp học. LangGo đã thay đổi hoàn toàn cách nghĩ của em về tiếng Anh.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv2-01.png"></div>
                            <p class="title">Nguyễn Minh Hạnh - <span>HV Báo Chí Tuyên Truyền</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Là một dân ban A chính hiệu và khá tự tin với ngữ pháp của bản thân. Cho đến ngày mình gặp chị TVV tại LangGo, người thay đổi hoàn toàn định hướng học tiếng Anh của mình. Giờ đây không chỉ có ngữ pháp, mình có thể tự tin sử dụng tiếng Anh trong quá trình học tập trên lớp.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv-09.png"></div>
                            <p class="title">Đào Thiện Khoa - <span>HV Ngân Hàng</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Từ 1 đứa chưa tùng được 4.9 điểm trung bình tiếng Anh đến nỗi mất cả học sinh giỏi vì tiếng Anh thì Tiếng Anh đối với mình là 1 "Kẻ Thù". Mình yêu K404 lắm, cảm ơn cô giáo, 2 anh chị trợ giảng đã giúp mình gặt hái được thành quả như ngày hôm nay.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv-08.png"></div>
                            <p class="title">Đoàn Quốc Vương - <span>ĐH Văn Hóa Hà Nội</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="info">
                                <p class="text">Tại LangGo lần đầu tiên em muốn đến lớp học, học tiếng Anh tại LangGo mang đến tâm trạng háo hức chứ không như học trên trường hay trung tâm khác.</p>
                            </div>
                            <div class="image"><img src="<?php echo $urlImg;?>/hv-04.png"></div>
                            <p class="title">Trương Công Thịnh - <span>ĐH Kinh Doanh Công Nghệ</span></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="box_content_1">
                <div class="bxslider" id="bxslider-camnhan">
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279413645?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-1.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video(' https://player.vimeo.com/video/279416374?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-2.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279413883?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-3.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279413028?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-4.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279422266?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-5.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279423445?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-6.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279423492?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-7.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279426002?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-8.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://player.vimeo.com/video/279425947?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-9.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-btn"><a href="javscript:;" class="go_box" data-box="box_lichHoc">ĐĂNG KÝ NGAY</a> </div>
        </div>
    </div>
    <!-- end box_tintuc -->

    <div class="box_moHinh" id="box_moHinh">
        <div class="container">
            <div class="box_content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="item_start">Mô hình học <br>khác biệt (4 CE)</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item item_1">
                            <div class="item_content">
                                <div class="item_info">
                                    <div class="title">Club</div>
                                    <div class="desc">Môi trường luyện tập tiếng Anh hàng tuần và tạo cơ hội phát triển mối quan hệ.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item item_2">
                            <div class="item_content">
                                <div class="item_info">
                                    <div class="title">Conference</div>
                                    <div class="desc">Hội thảo chuyên sâu hướng nghiệp và nâng cao những năng lực từ những chuyên gia trong và ngoài nước.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item item_3">
                            <div class="item_content">
                                <div class="item_info">
                                    <div class="title">Class</div>
                                    <div class="desc">Rèn luyện khả năng ứng dụng tự học từ vựng. Linh hoạt xử lý các chủ đề giao tiếp một cách rõ ràng, chủ động, sáng tạo.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item item_4">
                            <div class="item_content">
                                <div class="item_info">
                                    <div class="title">E-learning</div>
                                    <div class="desc">Ứng dụng điện thoại: Langmaster – học tiếng Anh 30 phút mỗi ngày <br>Hệ thống học online eStudy: Hệ thống tự theo dõi và đánh giá hoạt động học tập cùng kho bài học khổng lồ.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item item_5">
                            <div class="item_content">
                                <div class="item_info">
                                    <div class="title">Community</div>
                                    <div class="desc">Học viên sẽ có cơ hội được tham gia tổ chức hoặc tham dự các chương trình như: hoạt động từ thiện, các cuộc thi tiếng Anh, các hoạt động văn hóa, nghệ thuật,...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-btn"><a href="javscript:;" class="go_box" data-box="box_lichHoc">ĐĂNG KÝ NGAY</a> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_moHinh -->
    
    <!-- box_lydo -->
    <div class="box_lyDo" id="box_lyDo">
        <div class="container">
            <div class="box_title">05 LÝ DO <br>NÊN CHỌN <span>LANGGO</span> </div>
            <div class="box_content">
                <div class="item item_1">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">MÔ HÌNH HỌC TOÀN DIỆN</div>
                            <div class="desc">Ứng dụng mô hình học 4CE, học viên có cơ hội được TẮM tiếng Anh hàng ngày với: Class- Club - E-learning - Conference - Community.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_2">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">Đội ngũ giảng viên có chuyên môn cao</div>
                            <div class="desc">LangGo tự hào là hệ thống có đội ngũ giảng viên đạt chuẩn về chuyên môn tiếng Anh và được đào tạo hoàn thiện về năng lực giảng dạy.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_3">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">Hệ thống học liệu uy tín</div>
                            <div class="desc">Học viên tại LangGo sẽ được học tập và cải thiện tiếng Anh hiệu quả thông qua giáo trình Speakout từ nhà xuất bản Pearson, cuốn sách được trao thưởng “Bộ sách hay nhất trong lĩnh vực giảng dạy tiếng Anh.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_4">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">Phương pháp học tiếng ANh hiện đại</div>
                            <div class="desc">LangGo ứng dụng ngôn ngữ lập trình tư duy NLP đồng thời ứng dụng và phát triển các phương pháp giảng dạy tiếng Anh PG, TPR, ELC và PMS giúp bạn tìm lại đam mê, động lực học tiếng Anh.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_5">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">Cơ hội phát triển nghề nghiệp</div>
                            <div class="desc">Ngoài việc giúp học viên tạo dựng môi trường học tiếng Anh, LangGo còn mang đến cho học viên nhiều cơ hội gặp gỡ và tiếp xúc với các diễn giả; trải nghiệm các dự án cộng đồng từ đó nâng cao năng lực làm việc.</div>
                        </div>
                    </div>
                </div>
                <div class="my-btn"><a href="javscript:;" class="go_box" data-box="box_lichHoc">ĐĂNG KÝ NGAY</a> </div>
            </div>
        </div>
    </div>
    <!-- end box_lydo -->

    <div class="box_nguyenTac" id="box_nguyenTac">
        <div class="container">
            <div class="row">
                <div class="box_title">8 nguyên tắc <span>VÀNG</span> <br>khi học tiếng Anh giao tiếp</div>
                <div class="box_content">
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-2.jpg"></div>
                            <div class="info">
                                <p class="title">1 - HỌC BẰNG TAI KHÔNG HỌC BẰNG MẮT</p>
                                <p class="text">Quy tắc “học bằng TAI không học bằng MẮT” này, tuy rất đơn giản nhưng mang lại hiệu quả rất lớn cho việc học ngôn ngữ. Đây chính là cách mà một đứa trẻ bắt đầu học ngôn ngữ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-3.jpg"></div>
                            <div class="info">
                                <p class="title">2 - HỌC SÂU, NHỚ LÂU</p>
                                <p class="text">Vấn đề của hầu hết các lớp học ngôn ngữ thường đi quá nhanh đến nỗi học sinh không thể nắm vững được tài liệu trước khi chuyển sang bài mới. Vì vậy để đạt được hiệu quả, chúng ta cần dành nhiều thời gian và học thật sâu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-4.jpg"></div>
                            <div class="info">
                                <p class="title">3 - HỌC BẰNG CẢ CƠ THỂ</p>
                                <p class="text">Không chỉ có bộ não mà bạn sẽ dùng tất cả các giác quan nhìn, chạm, vị giác, nghe... dùng cả cơ thể chân tay, vai và cả cảm xúc vào việc học. Đây là phương pháp học tập ngôn ngữ mới với hiệu quả tiếp thu cao cũng như mang lại nhiều niềm vui cho người học</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-5.jpg"></div>
                            <div class="info">
                                <p class="title">4 - HỌC THEO CỤM TỪ, KHÔNG HỌC TỪ ĐƠN LẺ</p>
                                <p class="text">Cách học cũ làm bạn không thể nhớ được từ vựng, nhớ được nhưng lại không sử dụng được. Phương pháp học theo cụm từ, không học từ đơn lẻ sẽ xóa bỏ những điều đó. Bạn sẽ có thể nhớ từ lâu hơn, sử dụng được chúng trong đúng văn cảnh và học được cả ngữ pháp, phát âm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-6.jpg"></div>
                            <div class="info">
                                <p class="title">5 - HỎI ĐÁP VỚI MINI STORY</p>
                                <p class="text">Mục đích của LLS là dạy bạn cách nói và hiểu tiếng Anh một cách nhanh chóng, chính xác và tự động. Phần “tự động” là điều đặc biệt của phương pháp này và nó sẽ được xây dựng thông qua quy tắc 5 – Nghe rõ trả lời với Mini-story</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-7.jpg"></div>
                            <div class="info">
                                <p class="title">6 - HỌC TIẾNG ANH THỰC VÀ TÍCH CỰC</p>
                                <p class="text">Bạn đã học tiếng Anh nhiều năm. Nhưng khi bạn nghe ai đó nói tiếng Anh, nó không giống như tiếng Anh bạn đã học. Bạn cảm thấy khó hiểu và khi bạn nói, người khác cũng không thể hiểu được. Đây chính là vấn đề của việc học theo giáo trình. Vì vậy, nguyên tắc 6 của LLS là chỉ học các tài liệu thực</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-8.jpg"></div>
                            <div class="info">
                                <p class="title">7 -  PHÁT ÂM TIẾNG ANH CHUẨN CÙNG BẢNG IPA</p>
                                <p class="text">Đây thực sự là điều rất quan trọng khi học tiếng Anh. Ngữ âm chuẩn giúp bạn nhàn nhã về sau. Bạn sẽ cảm thấy nghe và nói tiếng Anh dễ dàng hơn rất nhiều</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/image-9.jpg"></div>
                            <div class="info">
                                <p class="title">8 - HỌC TIẾNG ANH BẰNG PHƯƠNG PHÁP NHẬP VAI</p>
                                <p class="text">Ứng dụng phương pháp nhập vai vào bài học là phương pháp rất hiệu quả giúp bạn học tiếng Anh tốt hơn. Bạn có thể nhớ được bối cảnh của hội thoại, giọng điệu, cảm xúc của nhân vật, từ đó nói tiếng Anh chuẩn hơn</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-btn"><a href="javscript:;" class="go_box" data-box="box_lichHoc">ĐĂNG KÝ NGAY</a> </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- box_lichhoc -->
    <div class="box_lichHoc" id="box_lichHoc">
        <div class="container">
            <form class="form-inline" id="form-inline">
                <div class="form-group">
                    <div class="select_location">
                        <div class="box_title">Lịch khai giảng</div>
                        <div class="form-group" id="input-training_location_id">
                            <select name="training_location_id" class="form-control">
                                <option value="" selected="selected">--Chọn địa điểm học--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box_schedule">
                        <div class="box_content">
                            <div class="table-responsive">
                                <table class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th>Khóa học</th>
                                            <th class="">Lớp học</th>
                                            <th class="center">Thời gian</th>
                                            <th class="center">Khai giảng</th>
                                            <th class="center">Địa điểm</th>
                                            <th class="center">Đăng ký</th>
                                        </tr>
                                    </thead>
                                    <tbody>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="load_lichhoc">
                        <div class="block_lichhoc">
                            <div id="list_lichkhaigiang">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_lichhoc -->

    <div class="box_dangKy" id="box_dangKy">
        <div class="box_title">ĐĂNG KÝ THAM GIA TRẢI NGHIỆM</div>
        <div class="detail"> (Đăng ký ngay để trải nghiệm hệ thống học tiếng Anh giao tiếp đã giúp hơn 100.000 học viên thành công <br>trên con đường chinh phục tiếng Anh. Và giờ, đến lượt bạn ... )</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dangKy">
                        <form id="frmDangkyTraiNghiem" name="frmDangkyTraiNghiem" method="post">
                            <div class="col-md-6">
                                <div class="form-group" id="input-name">
                                    <input type="text" class="form-control" id="name" name="name"  placeholder="Họ Tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-number">
                                    <input type="text" class="form-control" id="number" name="number" placeholder="Số người tham dự">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-phone">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-email">
                                    <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-location_city_id">
                                    <select name="location_city_id" class="form-control">
                                        <option value="" selected="selected">Tỉnh thành bạn đang sinh sống</option>
                                        <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                        <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                        <option value="none">Tỉnh khác</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-training_location_id">
                                    <select name="training_location_id" id="training_location_id" class="form-control">
                                        <option value="" selected="selected">- Chọn cơ sở gần bạn nhất -</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btnSuccess">
                                    <input type="hidden" value="1527583398404696a178km" name="form_id">
                                    <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                    <input type="hidden" name="source_channel_id" value="1475118376-3i43-67j8-671v-k4f7l182j8e1">
                                    <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                    <input class="form-control my_btn" id="btn-gui" type="button" value="ĐĂNG KÍ NGAY" onclick="formRegisterCRM('#frmDangkyTraiNghiem');">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dangKy -->

    <div class="box_comment">
        <?php
        $link_page = explode('?', $_SERVER['REQUEST_URI']);
        $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
        ?>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
        </div>
    </div>

    <!-- Popup -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Đăng ký học</h4>
                </div>
                <div class="modal-body">
                    <form id="frmDangKyHoc" name="frmDangKyHoc" method="post">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group" id="input-name">
                                    <input required type="text" class="form-control" name="name"  placeholder="Họ Tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-email">
                                    <input required type="email" class="form-control" name="email"  placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-phone">
                                    <input required type="text" class="form-control" name="phone" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-location_city_id">
                                    <select name="location_city_id" class="form-control">
                                        <option value="" selected="selected">Tỉnh thành bạn đang sinh sống</option>
                                        <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                        <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                        <option value="none">Tỉnh khác</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btnSuccess">
                                    <input type="hidden" value="152807652671l4888w988h" name="form_id">
                                    <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                    <input type="hidden" name="source_channel_id" value="1475118505-5796-1940-921e-v7hy44559w8j">
                                    <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                    <input type="hidden" name="training_class_id" value="">
                                    <input type="hidden" name="training_location_id" value="">
                                    <input type="hidden" name="product_id" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="formRegisterCRM('#frmDangKyHoc');">Đăng ký ngay</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

	<?php
        echo $this -> headScript()
        -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript');
    ?>
	    <script type="text/javascript">
        //scroll to top
        $(document).ready(function() {
            var scrollTop = $(".scrollTop");
            $(window).scroll(function() {
                var topPos = $(this).scrollTop();
                if (topPos > 100) {
                    $(scrollTop).css("opacity", "1");
                } else {
                    $(scrollTop).css("opacity", "0");
                }
            }); // scroll END

            //Click event to scroll to top
            $(scrollTop).click(function() {
                $('html, body').animate({
                    scrollTop: 0
                }, 800);
                return false;
            }); 

            var h1 = $("#h1").position();
            var h2 = $("#h2").position();
            var h3 = $("#h3").position();
            $('.link1').click(function() {
                $('html, body').animate({
                  scrollTop: h1.top
                }, 500);
                return false;
            });
            $('.link2').click(function() {
                $('html, body').animate({
                    scrollTop: h2.top
                }, 500);
                return false;
            }); 
            $('.link3').click(function() {
                $('html, body').animate({
                    scrollTop: h3.top
                }, 500);
                return false;
            });
        }); // END

        //go-box
        $("a[href^='#']").click(function(e) {
            e.preventDefault();
            var position = $($(this).attr("href")).offset().top;
            $("body, html").animate({
                scrollTop: position
            } /* speed */ );
        });

        $(document).ready(function() {
            var maxSlides = 3;
            var slideWidth = 368; 
            if ($(window).width() < 800) {
                maxSlides = 1;
                slideWidth = 0;
            }
            $('#my-slide').show();
            $('#my-slide').bxSlider({
                auto: false,
                autoControls: false,
                minSlides: 1,
                maxSlides: maxSlides,
                moveSlides: 1,
                slideWidth: slideWidth,
                slideMargin: 50,
                adaptiveHeight: true,
                responsive: true
            });
            $('#bxslider-doitac').show();
            $('#bxslider-doitac').bxSlider({
                auto: false,
                autoControls: false,
                minSlides: 1,
                maxSlides: maxSlides,
                moveSlides: 1,
                slideWidth: slideWidth,
                slideMargin: 48,
                adaptiveHeight: true,
                responsive: true
            });
        });

            
        $(document).ready(function() {
            // Menu sticky
            function stickyMenu() {
                var boxMenu = '#box_menu';
                var topPage = $(window).scrollTop();
                var topFix = 72;
                if(topPage >= topFix) {
                    $(boxMenu).addClass('sticky');
                    $(boxMenu).css({'box-shadow' : '0 2px 5px 0 rgba(0,0,0,0.1)'});
                } else {
                    $(boxMenu).removeClass('sticky');
                    $(boxMenu).removeAttr('style');
                }
            }
            $(window).scroll(function () {
                stickyMenu();
            });

            // Menu go box
            $('.go_box').click(function() {
                var box = $(this).attr('data-box');
                if($('#' + box).length) {
                    var top_scroll = 0;
                    top_scroll = $("#" + box).offset().top;
                    $('html,body').animate({
                        scrollTop: top_scroll - 60
                    }, 'slow');
                }
                $('.box_header .menu.mobile').addClass('hidden-xs hidden-sm');
                $('.go_box').removeClass('active');
                $(this).addClass('active');
                $('.menu_mobile_bg').remove();
            });
            
            // Popup video, image
            if ($(".fancybox-button").size() > 0) {
                $(".fancybox-button").fancybox({
                    groupAttr: 'data-rel',
                    prevEffect: 'none',
                    nextEffect: 'none',
                    closeBtn: true,
                    helpers: {
                        title: {
                            type: 'inside'
                        }
                    }
                });
                $('.fancybox-video').fancybox({
                    type: 'iframe'
                });
            }
        });
        
        //Menu Mobile
        function close_memu_mobile() {
            if($('.box_header .menu.mobile').size() > 0) {
                $('.box_header .menu.mobile').addClass('hidden-xs hidden-sm');
                $('.box_header .menu-main').addClass('hidden-xs hidden-sm');
                
            }
            if($('.menu_mobile_bg').size() > 0) {
                $('.menu_mobile_bg').remove();
            }
        }
        $('.menu_mobile a').click(function() {
            $('.box_header .menu').removeClass('hidden-xs hidden-sm').addClass('mobile');
            $('.box_header .menu-main').removeClass('hidden-xs hidden-sm').addClass('mobile');
            $('.box_header').append('<div class="menu_mobile_bg" onclick="javascript:close_memu_mobile();"></div>');
        });
        
        //Popup video
        function play_video(url) {
            var html = '';
            html += '<div class="popup_video" onclick="close_popup()">';
                html += '<div class="popup_content">';
                    html += '<div class="embed-responsive embed-responsive-16by9">';
                        html += '<iframe class="embed-responsive-item" src="'+ url +'" frameborder="0" allowfullscreen></iframe>';
                    html += '</div>';
                    html += '<a href="javascript:void(0)" onclick="close_popup()" class="popup_close"><i class="fa fa-times"></i></a>';
                html += '</div>';
            html += '</div>';
            $('body').append(html);
        }
        function close_popup() {
            $('.popup_video').remove();
        }

        //Cơ sở
        $.ajax({
            type: 'POST',
            url: 'https://langmaster.vn/erp/api/sale-document/list',
            crossDomain: true,
            data: {
                where:{
                    code: 'training-location',
                    type: 'on'
                }
            },
            dataType: 'json',
            success: function(responseData, textStatus, jqXHR) {
                var htmlSelect = '';
                var htmlFooter = '<div class="container"><div class="row">';
                $.each(responseData, function(key, val) {
                    if(val['address']) {
                        htmlFooter += '<div class="col-sm-3"><div class="bottom">';
                            htmlFooter += '<p class="title">'+ val['name'] +'</p>';
                            htmlFooter += '<p class="text"><i class="fa fa-map-marker"></i>'+ val['address'] +'</p>';
                            htmlFooter += '<p class="text"><i class="fa fa-phone"></i>'+ val['phone'] +'</p>';
                            htmlFooter += '</div></div>';
                        htmlSelect += '<option value="'+ val['id'] +'">'+ val['name'] +': '+ val['address'] +'</option>';
                    }
                });
                htmlFooter += '</div></div>';
                $('.api-coso-list').html(htmlFooter);
                $('.api-coso').append(htmlSelect);
            }
        });

        function formRegisterCRM(idForm) {
            $.ajax({
                type: 'POST',
                url: 'https://langmaster.vn/erp/api/sale-form-data/add',
                crossDomain: true,
                data: $(idForm).serialize(),
                dataType: 'json',
                beforeSend: function() {
                    $(idForm + ' .form-group').removeClass('has-error');
                    $(idForm + ' .alert').remove();
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success: function(responseData, textStatus, jqXHR) {
                    var result = responseData;
                    if(result.error) {
                        if(result.error.form_id) {
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                        } else {
                            $.each(result.error, function(key, value) {
                                $(idForm + ' #input-'+ key).addClass('has-error');
                            })
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                        }
                    } else {
                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
                        $(idForm + ' .form-control').not(idForm + ' .form-control.my_btn').val('');
                    }
                    
                    $('body .page-loading').remove();
                },
            });
        }
    </script>
    <section class="box-footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="fanpage">
                            <h3 class="title">LANGGO TRÊN FACEBOOK</h3>
                            <div class="fb-page" data-href="<?php echo $setting['General.System.Facebook']['value']; ?>" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-5">
                        <div class="footer_social">
                            <h3 class="title"><a href="#"><img src="/public/template/frontend/img/langgo/LangGo-footer.png"></a></h3>
                            <p class="text"><span>LangGo Learning system</span> - Hệ thống hoc tiếng Anh giao tiếp toàn diện cho người mới bắt đầu.</p>
                            <p class="network">
                                Social network
                                <a href="<?php echo $setting['General.System.Facebook']['value'];?>" target="_blank"><span><img alt="facebook" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-1.png'; ?>"></span></a>
                                <a href="<?php echo $setting['General.System.Google']['value'];?>" target="_blank"><span><img alt="google+" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-2.png'; ?>"></span></a>
                                <a href="<?php echo $setting['General.System.Youtube']['value'];?>" target="_blank"><span><img alt="youtube" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-3.png'; ?>"></span></a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 text-justify">
                        <div class="receive">
                            <h3 class="title">Đăng ký nhận tin</h3>
                            <p class="text">Để nhận thông tin về các sự kiện đặc biệt và <a href="http://meovatcuocsong.info/free-tron-bo-cac-bo-de-thi-toeic-2018-co-dap-an-full-ebookaudio/" target="_blank" style="color: #000;">tài liệu học tiếng Anh</a> giao tiếp miễn phí. Bạn hãy để lại cho chúng tôi thông tin liên lạc.</p>
                            <form id="frmDangkyNhanTin" name="frmDangkyNhanTin" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-name">
                                            <input required type="text" class="form-control" id="name" name="name" placeholder="Họ Tên">
                                        </div>                     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-phone">
                                            <input required type="text" class="form-control" id="phone" name="phone" placeholder="Điện thoại">
                                        </div>                     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-email">
                                            <input required type="text" class="form-control" id="email" name="email" placeholder="Email">
                                        </div>                     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-training_location_id">
                                            <select name="training_location_id" id="training_location_id" class="form-control">
                                                <option value="" selected="selected">- Chọn cơ sở gần bạn nhất -</option>
                                            </select> 
                                        </div>                     
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-location_city_id">
                                            <select name="location_city_id" class="form-control">
                                                <option value="" selected="selected">- Tỉnh thành bạn đang sinh sống -</option>
                                                <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                                <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                                <option value="none">Tỉnh khác</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btnSuccess">
                                            <input type="hidden" value="1527907487ni9303jd64s2" name="form_id">
                                            <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                            <input type="hidden" name="source_channel_id" value="1475118253-f69m-4h09-9q8p-12538c0gfl04">
                                            <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input class="form-control my_btn" id="btn-gui" type="button" value="ĐĂNG KÝ NHẬN TIN" onclick="formRegisterCRM('#frmDangkyNhanTin');">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        
        <div class="footer_bottom">
            <div class="container"></div>
        </div>
        <div class="container">
            <div style="padding-top: 20px; background: #a21e22; text-align: center; color: #fff; z-index: 100000;" class="copy-right">Hệ thống được phát triển và vận hành bởi <a style="color: #fff;" href="https://langtech.vn/" target="_blank"><b>LangTech</b></a></div>
        </div>
    </section>
    <script type="text/javascript">
        //Địa điểm học
        $.ajax({
            type: 'POST',
            url: 'https://langmaster.vn/erp/api/sale-document/list',
            crossDomain: true,
            data: {
                where:{
                    code: 'training-location',
                }
            },
            dataType: 'json',
            success: function(responseData, textStatus, jqXHR) {
                var htmlSelect = '';
                $.each(responseData, function(key, val) {
                    if(val['address']) {
                        htmlSelect += '<option value="'+ val['id'] +'">Cơ sở: '+ val['address'] +'</option>';
                    }
                });
                $('select[name="training_location_id"]').append(htmlSelect);
            }
        });
        //Cơ sở
        $.ajax({
            type: 'POST',
            url: 'https://langmaster.vn/erp/api/sale-document/list',
            crossDomain: true,
            data: {
                where:{
                    code: 'training-location',
                    type: 'on'
                }
            },
            dataType: 'json',
            success: function(responseData, textStatus, jqXHR) {
                var html = '';
                $.each(responseData, function(key, val) {
                    if(val['address']) {
                        html += '<div class="col-md-4 col-sm-6">';
                            html += '<div class="item">';
                                html += '<div class="text"><i class="fa fa-map-marker"></i>Cơ sở: '+ val['address'] +'</div>';
                                html += '<div class="text"><i class="fa fa-phone"></i>'+ val['phone'] +'</div>';
                            html += '</div>';
                        html += '</div>';
                    }
                });
                $('.box-footer .footer_bottom .container').html('<div class="row">'+ html +'</div>');
            }
        });

        //danh sach lớp học
        function trainingClass(product_id, training_location_id) {
            $.ajax({
                type: 'POST',
                url: 'https://langmaster.vn/erp/api/offline-training-class/list',
                crossDomain: true,
                data: {
                    product_id: product_id,
                    training_location_id: training_location_id
                    
                },

                dataType: 'json',
                success: function(responseData, textStatus, jqXHR) {
                    var html = '';
                    if(responseData) {
                        $.each( responseData, function( key, value ) {
                            html += '<tr>';
                                html += '<td class="nowrap">';
                                    html += '<div class="text class-name">'+ value['product_name'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap">';
                                    html += '<div class="text class-name">'+ value['name'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap center">';
                                    html += '<div class="text">'+ value['time'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap center">';
                                    html += '<div class="text">'+ value['public_date'] +'</div>';
                                html += '</td>';
                                html += '<td class="center">';
                                    html += '<div class="text">'+ value['training_location_address'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap center">';
                                html += '<div class="btn btn-info btn-lg btn-class" onclick="registerClass(\''+ value['id'] +'\', \''+ value['training_location_id'] +'\', \''+ value['product_id'] +'\')">Đăng ký ngay</div>';
                                html += ' </td>';
                            html += '</tr>';
                        });
                    }
                    $('.box_schedule tbody').html(html);
                },
            });
        }
        trainingClass('1525744595334j79wn50ce', '');
        $('select[name="training_location_id"]').change(function() {
            trainingClass('1525744595334j79wn50ce', $(this).val());
        });

        function registerClass(training_class_id, training_location_id, product_id) {
            var modal_id = '#myModal';
            
            $(modal_id + ' input[name="training_class_id"]').val(training_class_id);
            $(modal_id + ' input[name="training_location_id"]').val(training_location_id);
            $(modal_id + ' input[name="product_id"]').val(product_id);
            $('#myModal').modal('toggle');
        }

        //form formRegisterCRM
        function formRegisterCRM(idForm) {
            $.ajax({
                type: 'POST',
                url: 'https://langmaster.vn/erp/api/sale-form-data/add',
                crossDomain: true,
                data: $(idForm).serialize(),
                dataType: 'json',
                beforeSend: function() {
                    $(idForm + ' .form-group').removeClass('has-error');
                    $(idForm + ' .alert').remove();
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success: function(responseData, textStatus, jqXHR) {
                    var result = responseData;
                    if(result.error) {
                        if(result.error.form_id) {
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                        } else {
                            $.each(result.error, function(key, value) {
                                $(idForm + ' #input-'+ key).addClass('has-error');
                            })
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                        }
                    } else {
                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
                        $(idForm + ' .form-control').not(idForm + ' .form-control.my_btn').val('');
                    }
                    
                    $('body .page-loading').remove();
                },
            });
        }
    </script>
    <script type="text/javascript">
        var timer;
        var then = '<?php echo date('Y-m-'. $date_sale); ?> 23:59:59';
        var now = new Date();

        var compareDate = new Date(then) - now.getDate();
        timer = setInterval(function () {
            timeBetweenDates(compareDate);
        }, 1000);

        function timeBetweenDates(toDate) {
            var dateEntered = new Date(toDate);
            var now = new Date();
            var difference = dateEntered.getTime() - now.getTime();

            if (difference <= 0) {
                clearInterval(timer);
            } else {
                var seconds = Math.floor(difference / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                hours %= 24;
                minutes %= 60;
                seconds %= 60;

                $("#days").text(days);
                $("#hours").text(hours);
                $("#minutes").text(minutes);
                $("#seconds").text(seconds);
            }
        }

        if ($(".fancybox-button").size() > 0) {            
            $(".fancybox-button").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'inside'
                    }
                }
            });
        
            $('.fancybox-video').fancybox({
                type: 'iframe'
            });
        }
        // Menu
        var id_menu = '#box_menu';
        $(id_menu + ' .collapsed').click(function() {
            $(id_menu + ' .navbar-collapse').addClass('open');
            $(id_menu + ' .navbar-collapse-background').css({'left': 0});
        });
        $(id_menu + ' .navbar-collapse-background').click(function() {
            $(id_menu + ' .navbar-collapse').removeClass('open');
            $(id_menu + ' .navbar-collapse-background').css({'left': '-100%'});
        });
        $('a[class^="go_"]').click(function() {
            
            $(id_menu + ' .navbar-collapse li').removeClass('active');
            $(this).parent().addClass('active');
            
            var str = $(this).attr('class');;
            var res = str.split(" ");
            var box = res[0].substring(3);
            var top_scroll = 0;
            top_scroll = $("#" + box).offset().top;
            $('html,body').animate({
                scrollTop: top_scroll -70
            }, 'slow');
        });

    </script>
</body>
</html>