.box_footer{background: #0a1529;width: 100%; display: table;}
.box_footer .fanpage{padding: 70px 0 40px 0;}
.box_footer .fanpage .title{color: #fff; font-size: 25px;line-height: 25px; padding: 35px 0 35px 0; font-family: "UTM-Bebas_1";}
.box_footer .footer_social{padding: 70px 0 40px 0;}
.box_footer .footer_social .text{padding-bottom:30px; color: #fff; font-family: "Roboto-regular","Roboto-Bold"; line-height: 23px;}
.box_footer .footer_social .title{padding-bottom:30px; }
.box_footer .footer_social .title img{height: 60px;}
.box_footer .footer_social span{font-family: "Roboto-Bold";}
.box_footer .footer_social {padding: 70px 40px 0 40px;}
.box_footer .footer_social .network{color: #fff; font-size: 25px;text-transform: uppercase;font-family: "UTM-Bebas_1";}
.box_footer .footer_social .network a{padding: 0 4px;}
.box_footer .footer_social .network a:first-child{padding-left: 20px;}
.box_footer .receive{padding: 70px 0 40px 0;}
.box_footer .receive .title{padding: 35px 0 35px 0;color: #fff; font-size: 25px;font-family: "UTM-Bebas_1"; text-transform: uppercase;}
.box_footer .receive .text{ padding-bottom:15px; color: #fff;font-family: "OpenSans-Regular"; line-height: 20px;}
.box_footer .receive input[type=text]{color: #fff; width: 48%; padding: 5px 10px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box; background: transparent;}
.box_footer .receive select{color: #fff; width: 48%; padding: 5px 10px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box; background: transparent;}
.box_footer .receive input::placeholder{color: #fff;}
.box_footer .receive option{background: #0a1529;}
.box_footer .receive input[type=button] { width: 100%; background-color: #793e91; color: white; padding: 10px 10px; margin: 8px 0; border: none; cursor: pointer; }
.box_footer .footer_bottom{padding-bottom: 60px;}
.box_footer .footer_bottom .bottom{text-transform: capitalize;padding-bottom: 30px;}
.box_footer .footer_bottom .bottom .fa{padding-right: 10px;}
.box_footer .footer_bottom .title{font-size: 14px;  line-height: 25px; color: #7d7e7f; font-family: "Roboto-Medium";}
.box_footer .footer_bottom .text{color: #7d7e7f; font-family: "Roboto-Medium"; font-size: 12px; line-height: 25px;}

.scrollTop { position: fixed;right:20px; bottom: 40px; ; padding: 15px; transition: all 0.4s ease-in-out 0s; }
.scrollTop a { font-size: 18px; color: #fff; }