@CHARSET "utf-8";
@import "../fonts/font.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');


body{ color: #141829; font-size: 17px; background: #fbfbfb;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}

.clr { clear: both; }
.clearfix:AFTER{ content: ""; display: block; clear: both;}

.box_top{ height:50px; line-height: 50px; background: #757577; color: #FFF;}
.box_top .hotline a{line-height:50px; color:#fff; padding:0 11px 0 10px; font-size:15px; position: relative;}
.box_top .hotline a:after{ content:""; position: absolute; width: 1px; height:13px; background: #fff; top: 2px; right: 0;}
.box_top .hotline a:last-child:after{content:none;}
.box_top .hotline i{ padding: 0; color: #FFF;}
.box_top .hotline span{}
.box_top .social { text-align: right;}
.box_top .social a{ display: inline-block; margin: 0 10px;}
.box_top .social a:last-child{margin-right: 0;}
.box_top .social i{ color: #FFF;}

.box_header{ width: 100%; top: 0; left: 0; z-index: 99999; height:110px; display: flex;}
.box_header .logo{ padding-top: 35px; display: inline-block; line-height: 100%;}
.box_header .menu{ padding: 40px 0 0; list-style: none; margin: 0;}
.box_header .menu li{ list-style-type: none;padding-left:36px;display: inline-block;position: relative;color: #def1f0; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #111; text-transform: uppercase; font-family: "Roboto-Medium", "Segoe UI"; padding: 8px 0 6px; display: inline-block;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ display: inline-block; background-color: #d32627; color: #fff; padding: 0; width: 138px; height: 33px; line-height: 33px; font-weight: normal; font-family: "Roboto-Medium", "Segoe UI"; border-radius: 3px; font-size: 15px; text-align: center;}
.box_header .menu li a.btn_book:hover{ background-color: #202b53; color: #fff;}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}
.box_header.sticky{background: #fff; position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}

.box_banner{margin-bottom:100px;}
.box_banner img{width:100%;}

.box_gioiThieu{ padding: 50px 0 90px 0;}
.box_gioiThieu .img{padding: 180px 30px 0 0;}
.box_gioiThieu .img img{width: 100%;}
.box_gioiThieu .box_title{background: url(../images/01.png) no-repeat center; color: #fff; font-family: 'Roboto Condensed'; font-weight: 400; margin-bottom: 30px; padding: 25px 35px 50px 35px; font-size: 23px;}
.box_gioiThieu .box_title span{font-weight: 700; font-size: 22px;}
.box_gioiThieu .box_content{display: inline-block;}
.box_gioiThieu .info{padding: 30px; border: 1px solid #0f3661; color: #253e80;}
.box_gioiThieu .info .title{font-size: 18px; font-family: "Roboto Condensed"; font-weight: 700; font-size: 18px; color: #253e80;}
.box_gioiThieu .info .item{padding-left: 15px; word-spacing: -1px;}
.box_gioiThieu .info p{text-align: justify; font-family: "Roboto Condensed"; font-weight: 400; font-size: 17px; color: #425891; padding-bottom: 7px;}
.box_gioiThieu .info p span{font-weight: 700;}
.box_gioiThieu .my-btn{ display: flow-root; width: 320px; max-width:100%; height: 60px; text-align: center; font-size: 20px; line-height: 60px; font-family: "Roboto Condensed"; font-weight: 700; color: #fff; background: #c40e3a; border-radius:5px; margin: 0 auto; margin-top: 35px;}
.box_gioiThieu .my-btn:hover{background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}
.box_gioiThieu .my-btn a{color: #fff; font-family: "Roboto Condensed"; font-weight: 700;}

.box_tinTuc{ padding: 100px 0; background: url(../images/banner-1.jpg) no-repeat center; background-size: cover;}
.box_tinTuc .box_title{ color: #fff; font-size: 30px; line-height:30px; font-family: "Roboto Condensed"; font-weight: 700; margin-bottom: 30px; text-align: center;}
.box_tinTuc .title-1{color: #223a5a;}
.box_tinTuc .title-2{color: #223a5a;}
.box_tinTuc .box_content{margin-bottom: 35px;}
.box_tinTuc .box_content .item{background: #0f3660; color: #fff; padding: 20px; border-radius: 15px; min-height: 310px; transition: transform .5s; box-sizing: border-box;}
.box_tinTuc .box_content .item:hover{background: #fff; color: #0f3661; transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_tinTuc .box_content .item .info{padding-bottom: 30px; height: 150px;}
.box_tinTuc .box_content .item .info .text{font-weight: 300; font-family: "Roboto Condensed"; font-size: 15px; text-align: center;}
.box_tinTuc .box_content .item .title{font-weight: 500; font-family: "Roboto Condensed"; font-size: 17px; text-align: center; padding-top: 10px;}
.box_tinTuc .box_content .item .title span{font-weight: 300;}
.box_tinTuc .box_content .item .image{text-align: center;}
.box_tinTuc .box_content_1 .item .title{ font-size: 15px; color: #252525; padding: 15px 0; line-height: 23px; font-family: "Roboto-Regular";}
.box_tinTuc .box_content_1 .item{position: relative;}
.box_tinTuc .box_content_1 .item .fa{position: absolute; color: #fff; font-size: 50px; top: 50%; left: 50%; margin: -25px 0 0 -25px;}
.box_tinTuc .bxslider{ display: none;}
.box_tinTuc .bx-pager{ display: none;}
.box_tinTuc .bx-wrapper{ position: relative; -moz-box-shadow: 0 0 0 #ccc; -webkit-box-shadow: 0 0 0 #ccc; box-shadow: 0 0 0 #ccc; border: 0 solid #fff; background: none;}
.box_tinTuc .bx-wrapper img{display: inline-block;}
.box_tinTuc .bx-controls-direction a{ position: absolute; top: 50%; text-indent: -99999px; overflow: hidden; width: 54px; height: 54px; margin-top: -27px; border-radius: 4px;}
.box_tinTuc .bx-controls-direction a:hover{ box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}
.box_tinTuc .bx-controls-direction a.bx-prev{ background: url("../images/prev.png") no-repeat center center; left: -88px;}
.box_tinTuc .bx-controls-direction a.bx-next{ background: url("../images/next.png") no-repeat center center; right: -88px;}
.box_tinTuc .my-btn{width: 320px; max-width:100%; height: 60px; text-align: center; font-size: 20px; line-height: 60px; font-family: "Roboto Condensed"; font-weight: 700; color: #fff; background: #c40e3a; border-radius:5px; margin: 0 auto; margin-top: 35px;}
.box_tinTuc .my-btn:hover{ background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}
.box_tinTuc .my-btn a{color: #fff; font-family: "Roboto Condensed"; font-weight: 700;}

.box_moHinh{padding: 60px 0;}
.box_moHinh .item_start{ position: relative; color: #0f3661; padding-bottom: 20px; font-family: "Roboto Condensed"; font-weight: 700; text-transform: uppercase; font-size: 30px; padding-top: 20px;}
.box_moHinh .item_start:after{ content: ""; position: absolute; bottom: 0; left: 0; width: 90px; height: 5px; background-color: #db2428;}
.box_moHinh .item{ border: 2px solid #d41e35; background-color: #FFF; overflow: hidden; margin-bottom: 20px; min-height: 180px; display: table; cursor: pointer; transition: all 0.15s ease-in-out 0s;}
.box_moHinh .item .item_content{ display: table-cell; vertical-align: middle;}
.box_moHinh .item .item_info{ margin: 0px 20px; padding: 0 0 0 20px; border-left: 2px solid #d41e35;}
.box_moHinh .item .title{ color: #d41e35; font-size: 25px; font-weight: 700; padding-left: 70px; margin-bottom: 5px; height: 36px; line-height: 36px;}
.box_moHinh .item .desc{ color: #111; font-size: 15px; font-family: "Roboto Condensed"; font-weight: 400;}
.box_moHinh .item:hover{ background-color: #0f3661; transition: all 0.3s ease-in-out 0s;}
.box_moHinh .item:hover .item_info{ border-color: #FFF;}
.box_moHinh .item:hover .title{ color: #FFF;}
.box_moHinh .item:hover .desc{ color: #FFF;}
.box_moHinh .item:hover .title{ background-position: left bottom;}
.box_moHinh .btn_register{ text-align: center; padding-top: 30px;}
.box_moHinh .btn_register a{ display: inline-block; background-color: #e11e26; padding: 15px 15px; width: 350px; max-width: 100%; text-transform: uppercase; color: #FFF; border-radius: 5px;}
.box_moHinh .btn_register a:hover{ background-color: #195498;}
.box_moHinh .my-btn{display: flow-root; width: 320px; max-width:100%; height: 60px; text-align: center; font-size: 20px; line-height: 60px; font-family: "Roboto Condensed"; font-weight: 700; color: #fff; background: #c40e3a; border-radius:5px; margin: 0 auto; margin-top: 35px;}
.box_moHinh .my-btn:hover{background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}
.box_moHinh .my-btn a{color: #fff; font-family: "Roboto Condensed"; font-weight: 700;}
.box_moHinh .item.item_1 .title{ background: url('../images/4ce-1.png') no-repeat 0 0;}
.box_moHinh .item.item_2 .title{ background: url('../images/4ce-2.png') no-repeat 0 0;}
.box_moHinh .item.item_3 .title{ background: url('../images/4ce-3.png') no-repeat 0 0;}
.box_moHinh .item.item_4 .title{ background: url('../images/4ce-4.png') no-repeat 0 0;}
.box_moHinh .item.item_5 .title{ background: url('../images/4ce-5.png') no-repeat 0 0;}

.box_lyDo{ padding: 80px 0; background: url("../images/banner-2.jpg") no-repeat top center; background-size: cover;}
.box_lyDo .box_title{ line-height: 35px; position: relative; text-align: center; padding-bottom: 22px; color: #FFF; font-family: "Roboto Condensed"; font-weight: 700; font-size: 30px;}
.box_lyDo .box_content{ padding-top: 20px;}
.box_lyDo .item{ width: 1050px; margin: 0 auto; max-width: 100%; position: relative; margin-bottom: 25px;}
.box_lyDo .item::before{display: none; content: "01"; font-family: "Roboto Condensed"; font-weight: 700; position: absolute; height: 72px; line-height: 60px; top: 50%; margin-top: -28px; left: 0; color: #FFF; font-size: 50px;}
.box_lyDo .item .item_content{ min-height: 136px; margin-left: 80px; border-radius: 5px; background: url(../images/icon-16.png) no-repeat left; padding: 35px 35px 35px 100px;}
.box_lyDo .item_2 .item_content{background: url(../images/icon-17.png) no-repeat left;}
.box_lyDo .item_3 .item_content{background: url(../images/icon-18.png) no-repeat left;}
.box_lyDo .item_4 .item_content{background: url(../images/icon-19.png) no-repeat left;}
.box_lyDo .item_5 .item_content{background: url(../images/icon-20.png) no-repeat left;}
.box_lyDo .item .item_content .info{ padding-left: 50px; min-height: 70px;}
.box_lyDo .item .item_content .info .title{ font-family: "Roboto Condensed"; font-weight: 700; font-size: 25px; color: #fff; padding-bottom: 5px; text-transform: uppercase;}
.box_lyDo .item .item_content .info .desc{ font-size: 15px; color: #fff; font-family: "Roboto Condensed"; font-weight: 500;}
.box_lyDo .item.item_2::before{ content: "02";}
.box_lyDo .item.item_3::before{ content: "03";}
.box_lyDo .item.item_4::before{ content: "04";}
.box_lyDo .item.item_5::before{ content: "05";}
.box_lyDo .my-btn{width: 320px; max-width:100%; height: 60px; text-align: center; font-size: 20px; line-height: 60px; font-family: "Roboto Condensed"; font-weight: 700; color: #fff; background: #c40e3a; border-radius:5px; margin: 0 auto; margin-top: 35px;}
.box_lyDo .my-btn:hover{background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}
.box_lyDo .my-btn a{color: #fff; font-family: "Roboto Condensed"; font-weight: 700;}

.box_nguyenTac{padding-top: 100px;}
.box_nguyenTac .box_title{font-size: 30px; font-family: "Roboto Condensed"; padding-bottom: 55px; font-weight: 700; color: #0f3661; text-transform: uppercase; text-align: center;}
.box_nguyenTac .box_title span{position: relative; color: #f1c11a;}
.box_nguyenTac .box_title span:before{position: absolute; content: ""; background: #0f3661; height: 2px; width: 100%; bottom: 5px; left: 0;}
.box_nguyenTac .box_content .item{margin-bottom: 30px;}
.box_nguyenTac .box_content .item .img img{width: 100%;}
.box_nguyenTac .box_content .item .info{padding: 15px 10px; background: #0f3661; color: #fff; min-height: 240px;}
.box_nguyenTac .box_content .item .info .title{font-size: 16px; font-family: "Roboto Condensed"; font-weight: 700; text-align: center; padding-bottom: 10px;}
.box_nguyenTac .box_content .item .info .text{font-size: 15px; font-family: "Roboto Condensed"; font-weight: 500;}
.box_nguyenTac .my-btn{ display: flow-root; width: 320px; max-width:100%; height: 60px; text-align: center; font-size: 20px; line-height: 60px; font-family: "Roboto Condensed"; font-weight: 700; color: #fff; background: #c40e3a; border-radius:5px; margin: 0 auto; margin-top: 35px;}
.box_nguyenTac .my-btn:hover{background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}
.box_nguyenTac .my-btn a{color: #fff; font-family: "Roboto Condensed"; font-weight: 700;}

.box_lichHoc{ padding: 100px 0;}
.box_lichHoc .box_title{text-transform: uppercase; display: inline-flex; line-height: 35px; padding-bottom: 40px; color: #0f3661; font-family: "Roboto Condensed"; font-weight: 700; font-size: 30px;}
.box_lichHoc .select_location{padding-bottom: 30px;}
.box_lichHoc .select_location .form-control{border: 1px solid #222; border-radius: 0;}
.box_lichHoc .select_location select{color: #2b4553; font-family: "Roboto Condensed"; font-weight: 500;}
.box_lichHoc .form-inline .form-group{display: block;}
.box_lichHoc .form-inline .form-group .select_location .form-group{float: right;}
.box_schedule .filter{ text-align: right; margin-bottom: 10px;}
.box_schedule .filter .form-group .form-control{ border-radius: 0; height: 30px; font-size: 13px;}
.box_schedule .box_content{background-color: #FFF;border: 1px solid #e1e1e1;  padding: 0px; height: 420px; overflow-y: auto;}
.box_schedule .box_view{ background-color: #FFF; border: 1px solid #e1e1e1; text-align: center;}
.box_schedule .box_view a{ display: block; padding: 7px 20px; color: #7d7d7d;}
.box_schedule .box_view a:hover{ color: #000;}
.box_schedule .table{width: 100%;border: 1px solid #e1e1e1; margin: 0 0 -1px -1px;}
.box_schedule .table>thead>tr>th{border-color: #e1e1e1; background-color: #0f3660; padding: 10px 20px; color: #fff; font-family: "Roboto Condensed"; font-weight: 700; white-space: nowrap; font-size: 16px; line-height: 25px;}
.box_schedule .table>tbody>tr>td{ border-color: #e1e1e1; padding: 10px 20px; color: #252525;  font-size: 15px; font-family: "Roboto Condensed"; font-weight: 500;}
.box_schedule .table>tbody>tr>td .text{font-family: "Roboto Condensed"; font-weight: 500; font-size: 15px; line-height: 25px;}
.box_schedule .table>tbody>tr>td .option{ font-family: "HelveticaNeue-Italic"; font-size: 12px;}
.box_schedule .table>tbody>tr>td .btn-register{ font-size: 12px; color: #FFF; background-color: #ec1c24; padding: 6px 12px 7px; border-radius: 13px; line-height: 25px; font-family: "Roboto-Medium";}
.box_schedule .table>tbody>tr>td .btn-register:HOVER{ background-color: #141829;}
.box_schedule .nowrap{ white-space: nowrap;}
.box_schedule .center{ text-align: center;}
.box_schedule .box_content::-webkit-scrollbar-track { background-color: transparent; }
.box_schedule .box_content::-webkit-scrollbar { width: 8px; background-color: transparent; margin-right: 2px; }
.box_schedule .box_content::-webkit-scrollbar-thumb { background-color: #e1e1e1; }
.box_schedule .nowrap .btn{height: 30px; line-height: 28px;border-radius: 50px; border: 0; background: #d41e35; padding: 0 15px; font-size: 17px;}

.box_dangKy{margin-bottom:40px;; color: #30373d; position: relative; padding-bottom: 80px; background: url("../images/banner-3.jpg") no-repeat top center; background-size: cover;}
.box_dangKy .box_title{padding: 70px 0 25px 0; text-align: center; font-family: "Roboto Condensed"; font-weight: 700; font-size: 30px; line-height: 30px; color: #fff;}
.box_dangKy .detail{font-family: "Roboto Condensed"; font-weight: 500; font-size: 15px; line-height: 22px; color: #fff; text-align: center; padding-bottom: 60px;}
.box_dangKy .container{width: 1000px; max-width: 100%;}
.box_dangKy .dangKy{ padding: 0 0 0 15px; margin-top: 15px;}
.box_dangKy .dangKy .form-control{border:none; color:#111; height:50px; background:#fff; padding: 6px 30px; font-size: 15px; line-height:20px; font-family: "Roboto Condensed"; font-weight: 500;}
.box_dangKy .dangKy .form-control::placeholder{color: #111;}
.box_dangKy .dangKy select{font-size: 15px; color: #111;}
.box_dangKy .dangKy option{font-size: 15px; color: #111;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .my_btn{font-family: "Roboto-Bold"; font-size: 17px; color: #fff; line-height: 20px; background: #d41e35; width: 300px; max-width: 100%; display: inline-block;}
.box_dangKy .dangKy .my_btn:hover{background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}

.box_comment{margin: 50px 0;}

.box-footer {background: #a21e22; width: 100%; display: table;}
.box-footer .fanpage{ padding: 70px 0 40px 0;}
.box-footer .fanpage .title{ color: #d82127; font-size: 20px; line-height: 25px; padding: 0 0 35px 0;}
.box-footer .footer_social{padding: 70px 0 40px 0;}
.box-footer .footer_social .text{padding-bottom:30px; color: #000; line-height: 23px;}
.box-footer .footer_social .title{padding-bottom:30px; }
.box-footer .footer_social .title img{height: 60px;}
.box-footer .footer_social span{ font-weight: 700;}
.box-footer .footer_social {padding: 70px 40px 0 40px;}
.box-footer .footer_social .network{color: #d82127; font-size: 20px;text-transform: uppercase; font-weight: bold; }
.box-footer .footer_social .network a{padding: 0 4px;}
.box-footer .footer_social .network a:first-child{padding-left: 20px;}
.box-footer .receive{padding: 70px 0 40px 0;}
.box-footer .receive .title{padding: 0 0 35px 0;color: #d82127; font-size: 20px; text-transform: uppercase;}
.box-footer .receive .text{ padding-bottom: 15px; color: #000; line-height: 20px; font-size: 14px;}
.box-footer .receive .form-group{margin: 0;}
.box-footer .receive .form-control{ color: #000; width: 100%; padding: 5px 10px; margin: 0 0 10px; font-size: 13px; display: inline-block; border: 1px solid #d82127; box-sizing: border-box; background: transparent;}
.box-footer .receive .form-control::placeholder { color: #000; }
.box-footer .receive .my_btn { width: 100%; background-color: #d82127; color: white; height: 40px; padding: 10px 10px; margin: 8px 0; border: none; cursor: pointer; }
.box-footer .receive .my_btn:hover{background: #152b50; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box-footer .receive input::placeholder{color: #d82127;}
.box-footer .receive option{background: #fff;}
.box-footer .footer_top { background: #efeeee; }
.box-footer .footer_bottom { background: #a21e22; padding-top: 50px; }
.box-footer .footer_bottom .bottom{text-transform: capitalize;padding-bottom: 30px;}
.box-footer .footer_bottom .bottom .fa{padding-right: 10px;}
.box-footer .footer_bottom .title{font-size: 14px;  line-height: 25px; color: #7d7e7f; font-weight: 700;}
.box-footer .footer_bottom .text{ font-size: 12px; line-height: 25px;}
.box-footer .footer_bottom .item{ color: #fff; padding-bottom: 30px;}
.box-footer .footer_bottom .item .text{color: #fff;}
.box-footer .footer_bottom .item .fa{padding-right: 10px;}
.box-footer .footer_note{ padding: 5px; text-align: center; color: #d82127; font-size: 12px;} 

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.content-loading { position: absolute; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center;}
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

.scrollTop { position: fixed;right:20px; bottom: 40px; ; padding: 15px; transition: all 0.4s ease-in-out 0s; }
.scrollTop a { font-size: 18px; color: #fff; }
.clear{clear:bold;}

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@media ( min-width : 1200px) {
	.popup_video .popup_content{ width: 60%;}
  	
}

@media ( max-width : 1000px) {

	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 13px !important; padding: 0;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 40%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}

	.box_gioiThieu .img{display: none;}
	.box_gioiThieu .box_title{background: #0f3661; border-radius: 10px;}
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
	.box_nguyenTac .col-sm-6:nth-child(3){clear: left;}
	.box_nguyenTac .box_content .item .info{min-height: 200px;}
	.box_tinTuc .box_content, .box_tinTuc .box_content_1{padding: 0 40px 0 30px;}
	.box_tinTuc .bx-controls-direction a.bx-prev, .box_tinTuc .bx-controls-direction a.bx-next{display: inline-block;}
	.box_tinTuc .bx-controls-direction a.bx-prev{left: -50px;}
	.box_tinTuc .bx-controls-direction a.bx-next{right: -50px;}
}

@media(max-width: 768px){
	body{ color: #282828; font-size: 14px;}
	br{display: none;}

	.box_top .social{display:none;}
	.box_top .hotline{text-align: center;}
	.box_top .hotline a{font-size: 12px;}
	
	.box_header .menu{width: 50%;}
	.box_banner { margin-bottom: 0; }
	
	.box_header.sticky{ padding: 0px; z-index: 2000;}	

	.box_gioiThieu{padding: 0 0 40px 0;}
	.box_gioiThieu .box_title{padding: 20px 10px;}
	.box_gioiThieu .info{padding: 15px 10px;}

	.box_moHinh{padding: 40px 0;}
	.box_moHinh .item_start{font-size: 25px; padding: 10px 0; margin-bottom: 10px;}

	.box_lichHoc{padding:0 0 50px 0;}
	.box_lichHoc .box_title{padding-bottom: 0;}
	
	.box_lyDo{padding: 30px 0;}
	.box_lyDo .item .item_content .info .title{padding-bottom: 15px; font-size: 20px;}
	.box_lyDo .item .item_content{background: #132450; padding: 15px 10px; min-height: 110px; margin-left: 60px;}
	.box_lyDo .item .item_content .info{padding: 0;}
	.box_lyDo .item::before{display: inline-block;}

	.box_nguyenTac{padding-top: 40px;}
	.box_nguyenTac .box_title{font-size: 25px; padding: 0 10px 20px 10px;}
	.box_nguyenTac .box_content .item .info{min-height: auto;}

	.box_lichHoc .box_title{display: inline-block; float: left; font-size: 25px;}
	.box_lichHoc .form-inline{display: inline-block;}
	.box_lichHoc .form-inline .form-group .select_location .form-group{float: left;}
	
	.box_dangKy{padding-bottom: 50px;}
	.box_dangKy .box_title{padding-top: 50px;}
	.box_dangKy .detail{padding-bottom: 15px;}
	.box_dangKy .dangKy{padding: 10px 0 0 0;}
	.box_dangKy .dangKy .form-control{height: 45px; font-size: 15px; padding: 6px 15px;}
	.box_dangKy .dangKy .btnSuccess .input-lg{height: 50px;}
	.box_dangKy .dangKy .my_btn{width: 100%;}
	
	.box_comment{margin-bottom: 0;}
	
	.box_tinTuc{padding: 30px 0;}
	.box_tinTuc .box_title{padding-top: 0; padding-bottom: 0; font-size: 25px;}
	.box_tinTuc .box_content .item{min-height: auto;}
	.box_tinTuc .box_content .item .info{height: auto;}
}
