body{ font-size: 12px;}
body.page-overflow{ overflow: hidden;}

/* Bootstrap */
.alert{ padding: 10px; border: 0; margin: 0;}
.nav>li>a>img{ height: 29px; margin-right: 6px;}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{ outline: none; border-color: #999999;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{ margin: 1px 0 0 -15px;}

/* Header */
.header{ min-height: 36px; height: 36px; line-height: 36px;}
.header .navbar-toggle{ margin: 0 0 0 5px; padding: 0;}
.header .navbar-brand{ padding: 8px 20px; text-transform: uppercase; color: #FFF; margin: 0; line-height: normal; font-weight: 300;}
.header .navbar-brand span{ color: #FF0000;}
.header .hor-menu ul.nav li > a { padding: 0 10px; height: 36px; line-height: 36px; color: #f3f3f3; font-size: 12px;}
.header .hor-menu ul.nav li > a > i{ font-size: 12px; line-height: 12px;}
.header .hor-menu ul.nav li ul li a{ padding: 8px 20px 8px 10px !important; color: #f3f3f3; font-size: 12px; height: auto; line-height: normal;}
.header .navbar-nav{ margin-right: 10px;}
.header .navbar-nav > li.dropdown:last-child{ padding: 0;}
.header .navbar-nav > li.dropdown.user .dropdown-toggle{ padding: 0; line-height: 36px; height: 36px;}
.header .navbar-nav > li.dropdown.user .dropdown-toggle:hover, .header .navbar-nav > li.dropdown.user.open .dropdown-toggle{ background: none !important; color: #FFF;}
.header .navbar-nav > li.dropdown.user .dropdown-toggle img { height: 29px; margin-right: 6px; background-color: #ed4f54; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important; }
.header .navbar-nav > li.dropdown .dropdown-menu > li > a > i { font-size: 12px;}
.header .navbar-nav li.dropdown.user .dropdown-toggle i{ font-size: 12px; text-align: right; width: 10px;}
.header .navbar-nav .dropdown-menu{ margin: 0;}
.header .navbar-nav .dropdown-menu .divider{ background-color: #444;}
.header .navbar-nav.pull-right .dropdown-menu .divider{ background-color: #e5e5e5;}
.header .navbar-nav > li.language{ padding-left: 10px;}
.header .navbar-nav > li.language .form-control{}

.hor-menu.open{ position: fixed; width: 70%; height: 100%; top: 0; left: 0; background-color: #000; display: block !important; z-index: 999999;}
.hor-menu.open .navbar-nav{ padding: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0; float: none; overflow: auto;}
.hor-menu.open .navbar-nav > li{ float: none;}
.hor-menu.open .navbar-nav > li > a{ height: 42px !important; line-height: 42px !important; padding: 0 20px !important; text-transform: uppercase;}
.hor-menu.open .dropdown-menu{ position: relative; float: none; display: block !important; padding: 10px 10px; top: 0; left: 0;}
.bg_menu_mobile{ position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 999998;}

/* Portlet */
.portlet.box.default { border: 1px solid #e5e5e5; }
.portlet.box.default > .portlet-title { background-color: #f5f5f5; color: #000000 !important; font-size: 16px; border-bottom: 1px solid #e5e5e5;}
.portlet.box.default > .portlet-title > .caption { font-size: 16px;}
.portlet.box.default > .portlet-title > .tools > a.remove { background-image:url(../img/portlet-remove-icon.png); }
.portlet.box.default > .portlet-title > .tools > a.config { background-image:url(../img/portlet-config-icon.png); }
.portlet.box.default > .portlet-title > .tools > a.reload { background-image:url(../img/portlet-reload-icon.png); }
.portlet.box.default > .portlet-title > .tools > a.expand { background-image:url(../img/portlet-expand-icon.png); }
.portlet.box.default > .portlet-title > .tools > a.collapse { background-image:url(../img/portlet-collapse-icon.png); }

/* Form */
.form-control{ font-size: 12px; }
.form-control[type="file"]{ padding: 5px 5px 4px 5px;}
.form-control.text-danger{ color: #a94442 !important;}
.form-section{ font-size: 18px; font-weight: 400 !important; border-bottom: 1px solid #CCC;}
.form-section.view{ margin-bottom: 15px;}
.form-group .control-element > label.checkbox-inline { font-size: 12px; margin: 1px 30px 1px 0; padding: 0 0 0 15px;}
.form-group .control-element > label.checkbox2 { font-size: 12px; margin: 0px 0 5px 0; padding: 0 0 0 15px;}
.form-group .input-group-btn .btn { padding: 5px 14px 6px;}
.form-control-info{ font-size: 13px; padding-bottom: 8px;}
.input-xs { height: 24px; padding: 3px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.pull-center{ text-align: center;}
.has-error .select2-container-multi .select2-choices{ border-color: #b94a48;}
.input-group-default .btn{ font-size: 12px;}

/* Sidebar */
.page-sidebar ul.page-sidebar-menu > li > a { border-top: 1px solid #444 !important;}
.page-sidebar .page-sidebar-menu > li > a{ font-size: 13px; padding-top: 12px; padding-bottom: 12px;}
.page-sidebar .page-sidebar-menu > li > ul.sub-menu > li > a{ font-size: 12px; padding: 8px 0px; padding-left: 24px !important;}
.page-sidebar .page-sidebar-menu > li > a > .arrow:before{ line-height: 100%;}

/* Page Title */
.page-title{ font-size: 16px; border-bottom: 1px solid #eee; padding-bottom: 10px; font-weight: 500 !important;}
.page-title small{ font-size: 12px;}

/* Table */
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { padding: 6px 8px;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th { padding: 6px 18px 6px 8px; font-size: 12px; background-color: #f3f3f3 !important;}
.table>tbody>tr>td .gi{ color: #999; font-size: 10px; vertical-align: top;}
.table>tbody>tr>td .btn-xs { padding: 1px 5px 1px; border-radius: 2px !important; font-size: 12px; margin: 0 2px; text-align: center;}
.table>tbody>tr>td .btn-xs i{ font-size: 11px !important; min-width: 10px;}
.table>tbody>tr>td .input-group-btn .btn-xs{ padding: 1px 5px 2px; border-radius: 0 !important; margin: 0; font-size: 14px;}
.table>tbody>tr>td .hide-up .spinner-up { display: none;}
.table>tbody>tr>td .hide-down .spinner-down { display: none;}
.table tr.bold td { font-weight: bold;}
.table .center { text-align: center;}
.table .alias{ padding: 2px 0 0; margin: 0; font-size: 11px; color: #999;}
.table .price{ padding: 2px 0 0; margin: 0; font-size: 11px; color: #FF0000;}
.table .price .old{ color: #666; text-decoration: line-through;}
.table .price_old { margin-bottom: 5px; color: #333; text-decoration: line-through; display: block;}
.table .price_value { font-weight: bold; color: #FF0000;}
.table .col-30{ width: 30px;}
.table .col-40{ width: 40px;}
.table .col-50{ width: 50px;}
.table .col-60{ width: 60px;}
.table .col-70{ width: 70px;}
.table .col-80{ width: 80px;}
.table .col-90{ width: 90px;}
.table .col-100{ width: 100px;}
.table .col-110{ width: 110px;}
.table .col-120{ width: 120px;}
.table .col-150{ width: 150px;}
.table .col-200{ width: 200px;}
.table .col-210{ width: 2100px;}
.table .col-220{ width: 2200px;}
.table .col-250{ width: 2500px;}
.table .col-300{ width: 300px;}
.table-striped>tbody>tr:nth-of-type(odd){ background-color: #fdfdfd;}
.table-hover>tbody>tr:hover, .table-hover>tbody>tr.active{ background-color: #efefef;}


/* Table Scrollable */
.table-scrollable{ margin: 0 !important;}

/* Table Report */
.table-report{ border: 1px solid #f3f3f3; margin: 0 0 15px !important;}
.table-report table>thead>tr>th{ border: 1px solid #f3f3f3; padding: 8px 8px 9px 8px; color: #007cad; background-color: #FFF !important; text-transform: uppercase; font-size: 11px;}
.table-report table>tbody>tr>td{ border: 1px solid #f3f3f3;}
.table-report table>thead>tr>th.active{ background-color: #f5f5f5 !important;}
.table-report table>thead>tr>th.success{ background-color: #dff0d8 !important;}

/* Breadcrumb */
.page-content .page-breadcrumb.breadcrumb > li > a, .page-content .page-breadcrumb.breadcrumb > li > i, .page-content .page-breadcrumb.breadcrumb > li > span { font-size: 12px;}

/* Pagination */
.paginations{ padding: 10px 0;}
.paginations .pagination{ margin: 0;}
.paginations .pagination .fa{ width: auto; font-size: 12px;}
.paginations .pagination>li{ float: left;}
.paginations .pagination>li .form-control{ height: 28px; padding: 0 5px;}

/* Dropdown */
.dropdown-menu li > a{ padding: 6px 10px 6px 10px; font-size: 12px;}

/* Nested Tree */
.nested-tree{ border: 1px solid #e5e5e5;}
.nested-tree .item{ margin: 0; padding: 10px; background-color: #FFF; cursor: pointer;}
.nested-tree .item.odd{ background-color: #f5f5f5;}
.nested-tree .item .fa{ margin-right: 4px; color: #222;}

/* Page Control */
.page-control{ min-height: 36px; line-height: 36px; background-color: #f3f3f3;}
.page-control .title{ padding-left: 10px; font-size: 14px;}
.page-control .control .btn-group{ float: left; border-left: 1px solid #e9e9e9;}
.page-control .control .btn-group .btn{ height: 36px; line-height: 36px; padding: 0 10px; font-size: 12px; color: #222;}
.page-control .control .btn-group .btn:hover, .page-control .control .btn-group.open .btn{ background-color: #EEE;}
.page-control .control .btn-group .btn i{ font-size: 12px;}
.page-control .control .btn-group .dropdown-menu{ -webkit-box-shadow: 0 0 0; box-shadow: 0 0 0; border: 0; background-color: #EEE;}
.page-control .control .btn-group .dropdown-menu a:hover{ background-color: #e3e3e3;}
.page-control.fixed{ position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; background-color: #111; color: #FFF;}
.page-control.fixed .control .btn-group{ float: left; border-left: 1px solid #444;}
.page-control.fixed .control .btn-group .btn{ height: 36px; line-height: 36px; padding: 0 10px; font-size: 12px; color: #FFF;}
.page-control.fixed .control .btn-group .btn:hover, .page-control.fixed .control .btn-group.open .btn{ background-color: #222;}
.page-control.fixed .control .btn-group .btn i{ font-size: 12px;}
.page-control.fixed .control .btn-group .dropdown-menu{ -webkit-box-shadow: 0 0 0; box-shadow: 0 0 0; border: 0; background-color: #222;}
.page-control.fixed .control .btn-group .dropdown-menu .divider{ background-color: #333;}
.page-control.fixed .control .btn-group .dropdown-menu a{ color: #FFF;}
.page-control.fixed .control .btn-group .dropdown-menu a:hover{ background-color: #111;}

/* Page Tabs */
.page-tabs .nav-tabs{ margin: 0; background-color: #f9f9f9; border: 0;}
.page-tabs .nav-tabs>li{ margin: 0;}
.page-tabs .nav-tabs>li>a{ border: 0; margin: 0 5px 0 0; padding: 10px;}
.page-tabs .nav-tabs>li.active>a, .page-tabs .nav-tabs>li.active>a:hover, .page-tabs .nav-tabs>li.active>a:focus{ margin: 0 5px 0 0; background: #FFF; border: 0;}

/* Page Filter */
.page-filter{ padding: 0 15px 0 15px; background-color: #FFF;}
.page-filter .form-control{ height: 28px !important; padding: 0 8px;}
.page-filter .form-group{ margin-bottom: 0; margin-top: 10px;}
.page-filter .btn-group{ margin-top: 10px;}
.page-filter .select2-container .select2-choice{ height: 28px !important; line-height: 26px !important; padding: 0 8px 0 !important;}
.page-filter .select2-container .select2-choice abbr{ top: 7px;}
.page-filter [class^="col-"], .page-filter [class*=" col-"]{ padding-left: 5px; padding-right: 5px;}
.page-filter .statis{ padding-top: 13px; font-size: 16px;}
.page-filter .statis span{ display: inline-block; margin-left: 30px;}

/* Page Report */
.page-report{ padding: 15px 10px 0 10px; background-color: #FFF;}
.page-report .text{ line-height: 100%;}
.page-report .text .item{ display: inline-block; margin: 0 30px 0 0;}

/* Report Control */
.report-control{ min-height: 36px; line-height: 36px; background-color: #444; color: #FFF;}
.report-control .title{ padding-left: 10px; font-size: 14px;}

/* Page Filter */
.report-filter{ padding: 0 5px 10px 5px; background-color: #FFF;}
.report-filter .form-control{ height: 28px !important; padding: 0 8px;}
.report-filter .form-group{ margin-bottom: 0; margin-top: 10px;}
.report-filter .btn-group{ margin-top: 10px;}
.report-filter .select2-container .select2-choice{ height: 28px !important; line-height: 26px !important; padding: 0 8px 0 !important;}
.report-filter .select2-container .select2-choice abbr{ top: 7px;}
.report-filter [class^="col-"], .page-filter [class*=" col-"]{ padding-left: 5px; padding-right: 5px;}

/* Report */
.report{ margin-bottom: 30px;}
.report .report-title{ min-height: 36px; line-height: 36px; background-color: #f3f3f3;}
.report .report-title .title{ padding-left: 10px; font-size: 14px;}
.report .report-content{ padding: 10px; border: 1px solid #f3f3f3; border-top: 0;}

/* Image Manager */
.image-manager .item{ height: 150px; overflow: hidden; position: relative; margin: 10px 0 0;}
.image-manager .item .img{ width: 100%;}
.image-manager .item .control{ background-color: rgba(0, 0, 0, 0.6); color: #FFF; position: absolute; top: 0; left: 0; width: 100%; height: 20px; line-height: 20px; text-align: center;}
.image-manager .item .control a{ color: #FFF; padding: 0 7px; font-size: 12px;}
.image-manager .item .control a:hover{ text-decoration: none; color: #EEE;}
.image-manager .item:hover .btn-edit{ display: block;}
.image-manager .btn-add{ height: 150px; background-color: #CCC; text-align: center; font-size: 26px; font-weight: 300; cursor: pointer; color: #999; transition: background-color 0.2s ease-in-out 0s;}
.image-manager .btn-add i{ font-size: 40px; color: #999; margin-top: 50px;}
.image-manager .btn-add:hover{ background-color: #999; color: #FFF;}
.image-manager .btn-add:hover i{ color: #FFF;}
.image-manager .form-control{ margin-top: 2px;}

/* Video Manager */
.video-manager .item{ height: 170px; overflow: hidden; position: relative; margin: 10px 0 0;}
.video-manager .item .img{ width: 100%;}
.video-manager .item .control{ background-color: rgba(0, 0, 0, 0.6); color: #FFF; position: absolute; top: 0; left: 0; width: 100%; height: 20px; line-height: 20px; text-align: center;}
.video-manager .item .control a{ color: #FFF; padding: 0 7px; font-size: 12px;}
.video-manager .item .control a:hover{ text-decoration: none; color: #EEE;}
.video-manager .item:hover .btn-edit{ display: block;}
.video-manager .btn-add{ height: 150px; background-color: #CCC; text-align: center; font-size: 26px; font-weight: 300; cursor: pointer; color: #999; transition: background-color 0.2s ease-in-out 0s;}
.video-manager .btn-add i{ font-size: 40px; color: #999; margin-top: 50px;}
.video-manager .btn-add:hover{ background-color: #999; color: #FFF;}
.video-manager .btn-add:hover i{ color: #FFF;}
.video-manager .form-control{ margin-top: 2px;}

/* Input Icon */
.input-icon i{ margin: 8px 2px 4px 10px;}

/* Note */
.note{ margin: 0; border: 0; padding: 10px 30px 10px 10px;}

/* Permission Choice */
.permission-choice .row{ margin-bottom: 10px;}
.permission-choice .title{ font-weight: bold; font-size: 14px; padding-bottom: 4px; display: inline-block;}
.permission-choice .form-group{ margin-bottom: 0;}
.permission-choice .form-group .checkbox{ margin-bottom: 0; font-size: 12px;}

/* Select 2 */
.select2-drop{ z-index: 99999;}
.select2-drop-mask{ z-index: 99990;}
.select2-container:focus{ outline: none; border-color: #999999;}
.select2-container .select2-choice{ height: 31px;}
.select2-container .select2-choice abbr{ top: 7px;}
.select2-container .selection:focus{ outline: none; border-color: #999999;}
.select2-search input{ padding: 0 5px !important; min-height: 28px; line-height: 100%; font-size: 12px;}
.select2-results .select2-result-label{ padding: 6px 7px 5px;}
.select2-hidden-accessible{ display: none;}
.select2-container-multi .select2-choices .select2-search-field input{ min-height: 29px; line-height: 29px; padding: 0 6px;}
.select2-container-multi .select2-choices .select2-search-choice{ margin: 4px 0 4px 4px; height: 21px; line-height: 20px; padding: 0 5px 0 16px; }
.select2-search-choice-close{ top: 3px;}
.select2-container.select2-allowclear .select2-choice abbr{ display: none !important;}

/* Modal */
.modal .loading-mask{ background-color: rgba(0, 0, 0, 0.2);}
.modal .form-section{ margin: 15px 0px 10px 0px;}
.modal .modal-body .alert{ margin-bottom: 10px !important;}
.modal-scrollable{ overflow: auto !important;}

/* Admin Form */
.adminForm .load_by_subject{ display: none;}
.adminForm .box-hidden{ display: none;}

/* Text Color */
.text-red{ color: #FF0000; }
.text-purple{ color: #852b99; }
.text-orange{ color: #ff5b1b; }
.text-bold{ font-weight: bold; }

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }
.alert .btn-xs{ font-size: 12px; padding: 3px 10px; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important;}
.ajax-load-page{ min-height: 50px;}

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@media (min-width: 992px) {
	.page-content{ padding: 10px 10px 0;}
	.page-content .page-content{ padding: 0;}
}

@media (min-width: 768px) {
	.modal-dialog { width: 500px !important; margin: 0 auto !important; }
}

@media (max-width: 767px){
	.page-content{ padding: 10px 10px 100px !important;}
	.page-content .page-content{ padding: 0 !important;}
}