section.box-home, .box-element{padding: 60px 0; }
.item-col{margin: 15px 0;}
.page-shedule .row{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; justify-content: center;}

.btn-cta{background: none; background-image: url('../images/bg-cta.png'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; position: relative; text-align: center; display: inline-block; padding: 10px 40px; border: none; color: #fff; font-size: 20px; line-height: 20px; font-weight: 600; outline: none;}
.btn-cta:before,
.btn-cta:after{content: ''; width: 15px; height: 15px; position: absolute; background-image: url('../images/dinh.png'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.btn-cta:before{left: 15px;}
.btn-cta:after{right: 15px;}

.section-title, .box-title{font-size: 32px; font-weight: 500; color: #dc2221;}
.section-title:before, .section-title:after{display: none;}

.item-video{position: relative;}
.item-video i {position: absolute; color: #fff; font-size: 60px; top: 50%; left: 50%; margin: -30px 0 0 -30px; }

/* Box-sign */
.box-sign .form-box{width: 450px; margin: 0 auto; max-width: 100%;}
.box-sign .form-box .form-title{font-size: 28px; color: #dc2221; margin-bottom: 20px;}
.box-sign .form-box .chosen-container-multi .chosen-choices,
.box-sign .form-box input,
.box-sign .form-box select{border: none;  border-bottom: #ccc thin solid; width: 100%; outline: none; line-height: 34px; padding: 0 10px; box-shadow: none; background: none; font-size: 16px;}

/* Box-schedule */
.box-schedule{ padding: 60px 0;}
.box-schedule .box-title{ display: block; color: #d52327; text-transform: uppercase; font-weight: 400; margin-bottom: 20px;}
.box-schedule .table-responsive{overflow: auto; max-height: 580px; border-top: #e1e1e1 thin solid; border-bottom: #e1e1e1 thin solid;}
.box-schedule .table{width: 100%; margin: 0;}
.box-schedule .table>thead>tr>th{ background-color: #e1e1e1; padding: 10px 20px; color: #0a2240; font-size: 15px; white-space: nowrap; text-transform: uppercase;}
.box-schedule .table>tbody>tr>td{ padding: 10px 15px; color: #252525;  font-size: 15px; vertical-align: middle;}
.box-schedule .table>tbody>tr>td .btn-info{ padding: 8px 15px 7px; border-radius: 50px; background: #d52327; border: transparent thin solid; font-size: 15px; transition: all 0.3s;}
.box-schedule .table>tbody>tr>td .btn-info i{display: none; font-size: 14px;}
.box-schedule .table>tbody>tr.selected>td .btn-info{background-color: #fff; border-color: #d52327; color: #d52327;}
.box-schedule .table>tbody>tr.selected>td .btn-info i{display: inline-block;}
.box-schedule .table>tbody>tr.selected>td .btn-info span{display: none;}
.box-schedule .nowrap{ white-space: nowrap;}
.box-schedule .center{ text-align: center;}
.box-schedule .box-cart{margin-top: 10px;}
.box-schedule .box-cart .item-cart{font-size: 15px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: #e1e1e1 thin solid; overflow:hidden;}
.box-schedule .box-cart .item-cart-content{width: 285px; max-width: 100%; display: inline-block; float: right;}
.box-schedule .box-cart .item-cart .final-price{color: #d52327;}

/* Box-time */
.box-time{position: relative; }
.box-time .box-time-content{position: relative; z-index: 1;  }
.box-time .box-time-content .box-title{background-color: #d52327; color: #fff; font-weight: 400; padding: 6px 15px; margin-bottom: 50px; position: relative; }
.box-time .box-time-content .box-title:before{background-image: url('../images/left-flag.png'); right: 100%; margin-right: 7px;}
.box-time .box-time-content .box-title:after{background-image: url('../images/right-flag.png'); left: 100%; margin-left: 7px;}
.box-time .box-time-content .item-time{margin-bottom: 20px; font-size: 14px; font-weight: 500;}
.box-time .box-time-content .item-time .item-time-img{margin-bottom: 15px;}

/* Box-reason */
.box-reason{padding-bottom: 0 !important;}
.box-reason .box-flex{align-items: flex-end;}
.box-reason .list-reason{margin-bottom: 30px;}
.box-reason .item-reason{padding-left: 30px; position: relative; font-size: 16px;}
.box-reason .item-reason img{position: absolute; left: 0; top: 0;}
.box-reason .item-reason+.item-reason{margin-top: 20px; }
.box-reason .item-reason .item-reason-title{margin: 0 0 10px; color: #d82228; font-size: 18px; }

/* Testi - Member */
.box-feedback-student{ background-image: url("../images/bg-testi.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }
.box-feedback-student .section-title{ font-size: 34px; color: #fff; color: #fff;}

/* Testi - Teacher */
.box-testi-teacher{ background-size: cover; background-position: center; background-repeat: no-repeat; }
.box-testi-teacher .box-title{ margin: 0 auto 40px;}
.box-testi-teacher .item-box+.item-box{margin-top: 50px;}
.box-testi-teacher .teacher-slide{margin-bottom: 40px;}
.box-testi-teacher .owl-carousel.owl-theme{position: relative;}
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-prev,
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-next{position: absolute; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 30px; height: 36px; line-height: 36px; background-color: rgba(255,255,255,0.5) !important; color: #fff !important; text-shadow: rgb(0, 0, 0) 1px 1px 0px; font-size: 50px !important; margin: 0 !important; border-radius: 0 !important; }
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-prev{left: -30px;}
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-next{right: -30px;}
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-prev span,
.box-testi-teacher .owl-carousel.owl-theme .owl-nav .owl-next span{line-height: 22px;}
.box-testi-teacher .item-member .item-member-img{position: relative; width: 200px; height: 200px; margin: 0 auto; max-width: 100%; border-radius: 100%; overflow: hidden; margin-bottom: 15px;}
.box-testi-teacher .item-member .item-member-img img{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; width: auto; max-width: 105%;}
.box-testi-teacher .item-member .item-member-name{color: rgb(227, 6, 19); font-size: 20px; font-weight: bold; text-align: center; line-height: 1.6; margin: 0 0 15px;}
.box-testi-teacher .item-member .item-member-desc{ font-weight: 600;}
.box-testi-teacher .item-box-cta p{color: #DC1E20; font-size: 24px; font-weight: bold;letter-spacing: 0px; line-height: 1.2; text-shadow: rgb(0, 0, 0) 0px 0px 0px; margin: 0; }

/* Box commitment */
.box-commitment{background-image: url('../images/bg-commit.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; }
.box-commitment .box-title{margin-bottom: 30px;}
.box-commitment .list-commit{ margin-bottom: 30px;}
.box-commitment .item-commitment{color: #414042; padding: 50px 30px 20px 30px; background-image: linear-gradient(to right, #fbfbfb, #ebeced);border: 7px solid #eaebec;border-radius: 40px; width: 100%;}
.box-commitment .item-commitment .item-commitment-img{height: 55px; margin-bottom: 15px;}
.box-commitment .item-commitment .item-commitment-img svg{max-height: 100%;}
.box-commitment .item-commitment .item-commitment-title{ margin: 0 0 15px; padding-bottom: 10px; font-weight: 600; font-size: 25px; color: #d52327; border-bottom: 2px solid #414042; text-align: right; position: relative;}
.box-commitment .item-commitment .item-commitment-title img{ position: absolute; left: 0; bottom: 14px;}
.box-commitment .item-commitment p{ text-align: justify; font-size: 20px;}

@media screen and (min-width: 768px){
	.box-time:before{content: ''; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); height: 20%; background-color: #d52327; z-index: 0; }
	.box-time .box-time-content{background-image: url('../images/bg-thoi-luong.jpg'); background-position: center; background-size: 100% 100%; padding: 60px; width: 1000px; max-width: 100%; margin: 0 auto;}
	.box-schedule .box-cart .item-cart-content{margin-right: 165px;}

	.box-testi-teacher .box-title{ margin: 0 auto 40px; color: #fff; background-image: url('../images/bg-title.png'); background-size: 100% 100%; background-position: center; padding: 18px 0; width: 800px; max-width: 100%; }

	.box-commitment .container{ padding-left: 45px; padding-right: 45px; width: 1280px; max-width: 100%;}
	.box-commitment .row{ margin-left: -45px; margin-right: -45px;}
	.box-commitment .item-col{ padding-left: 45px; padding-right: 45px; display: flex;}
}
@media screen and (max-width: 767px){
	.box-time .box-time-content .box-title{margin-bottom: 20px;}
	.box-home, .box-element{padding: 30px 0; }

}
@media screen and (min-width: 550px){
	.box-time .box-time-content .box-title{display: inline-block;}
	.box-time .box-time-content .box-title:before,
	.box-time .box-time-content .box-title:after{content: ''; position: absolute; height: 100%; top: 20%; width: 70px; background-position: center; background-size: 100% 100%; }
}
@media screen and (max-width: 550px){
	.box-schedule .box-cart .item-cart-content{width: 100%;}
}