<?php
    $template     = '/' . basename(__DIR__);
    $params       = $this->viewModel['params'];
    $settings     = $this->viewModel['settings'];
    $item         = $this->viewModel['item'];
    $url_template = $this->arrParams['template']['urlThemeTemplate'] . $template;
    $url_img      = $url_template . '/images';
    $url_css      = $url_template . '/css';
    $url_js       = $url_template . '/js';

    $current_url  = DOMAIN . $_SERVER[REQUEST_URI];
?>
<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
    <link rel="stylesheet" href="<?php echo $url_css .'/style.css?v='. date('dmYHis'); ?>">
</head>
<body class="landing-page">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <header class="lp-section lp-header">
        <div class="container">
            <div class="list-main">
                <div class="logo">
                    <a href="/"><img src="<?php echo $settings['General.System.LogoWhite']['image'];?>" alt="Logo LangGo"></a>
                </div>
                <div class="cta">
                    <a href="javascript:goBox('.lp-form');">Đăng ký<br />nhận tư vấn</a>
                </div>
                <div class="item-header hidden-xs">
                    <a href="javascript:goBox('.lp-reason');">Lý do chọn LangGo</a>
                </div>
                <div class="item-header hidden-xs">
                    <a href="javascript:goBox('.lp-route');">Lộ trình học</a>
                </div>
                <div class="item-header hidden-xs">
                    <a href="javascript:goBox('.lp-testi-member');">Cảm nhận học viên</a>
                </div>
            </div>
        </div>
    </header>

    <section class="lp-section lp-banner" id="lp-banner">
        <div class="hidden-xs"><a href="javascript:goBox('.box-form');"><img src="<?php echo $url_img; ?>/banner-main.jpg" alt="VẤN ĐỀ CỦA NGƯỜI HỌC TIẾNG ANH GIAO TIẾP"></a></div>
        <div class="visible-xs"><a href="javascript:goBox('.box-form');"><img src="<?php echo $url_img; ?>/banner-second.jpg" alt="VẤN ĐỀ CỦA NGƯỜI HỌC TIẾNG ANH GIAO TIẾP"></a></div>
    </section>

    <section class="lp-section lp-register" id="lp-register">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/SKmQ2f4STGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="lp-section-content">
                        <div class="lp-section-title"><h2 class="title">ĐĂNG KÝ HỌC</h2></div>
                        <div class="lp-form">
                            <form class="main-form" id="frmDangKyNhanTin" action="" method="POST">
                                <div class="form-group" id="input-name">
                                    <input type="text" class="form-control" name="name" placeholder="Họ và tên">
                                </div>
                                <div class="form-group" id="input-phone">
                                    <input type="text" class="form-control" name="phone" placeholder="Số điện thoại">
                                </div>
                                <div class="form-group" id="input-email">
                                    <input type="text" class="form-control" name="email" placeholder="Email">
                                </div>
                                <div class="form-group" id="input-address">
                                    <input type="text" class="form-control" name="address" placeholder="Địa chỉ">
                                </div>
                                <div class="form-group" id="input-content">
                                    <input type="text" class="form-control" name="content" placeholder="Lời nhắn">
                                </div>
                                <div class="btnSuccess">
                                    <input type="hidden" value="<?php echo $item['form_id'];?>" name="form_id">
                                    <input type="hidden" name="training_location_id" value="1480645204-6f20-2dim-76cv-l21v0p1938oe">
                                    <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                    <input type="hidden" name="source_channel_id" value="1475118505-5796-1940-921e-v7hy44559w8j">
                                    <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                    <input type="hidden" name="source_detail" value="<?php echo $_COOKIE['HTTP_REFERER'];?>">
                                </div>
                                <div class="form-group text-center">
                                    <button class="lp-cta" type="button" onclick="formDataCRM('#frmDangKyNhanTin');" >Đăng ký học ngay</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lp-section lp-problem" id="lp-problem">
        <div class="container">
            <div class="lp-section-title text-center"><h2 class="title">Bạn có đang gặp phải những trở ngại sau</h2></div>
            <div class="lp-section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="icon"><img src="<?php echo $url_img; ?>/01.png" /></div>
                            <h3 class="title">Bạn cảm thấy bối rối không biết học IELTS từ đâu?</h3>
                            <div class="image">
                                <img src="<?php echo $url_img; ?>/problem-1.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="icon"><img src="<?php echo $url_img; ?>/02.png" /></div>
                            <h3 class="title">Bạn gặp khó khăn trong việc tìm kiếm một môi trường học IELTS phù hợp cho bản thân?</h3>
                            <div class="image">
                                <img src="<?php echo $url_img; ?>/problem-2.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="icon"><img src="<?php echo $url_img; ?>/03.png" /></div>
                            <h3 class="title">Bạn quá bận rộn để sắp xếp lịch học IELTS cho mình?</h3>
                            <div class="image">
                                <img src="<?php echo $url_img; ?>/problem-3.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_highlight">
                    <div class="image">
                        <img src="<?php echo $url_img; ?>/problem-4.png" />
                    </div>
                    <div class="info">
                        <h3 class="title">Đó không phải lỗi của bạn!</h3>
                        <div class="desc">
                            <p>Bạn không phải là người duy nhất. Hầu hết các lớp học, các trung tâm IELTS, giáo viên tiếng Anh đang áp dụng những phương pháp học rất khô khan, nhàm chán và khó học, dễ mất động lực.</p>
                            <p>Hãy để LangGo giúp bạn thay đổi tư duy và thói quen học IELTS.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="lp-cta" type="button" onclick="goBox('#lp-register')">YES! TÔI MUỐN NHẬN TƯ VẤN</button>
                </div>
            </div>
        </div>
    </section>

    <section class="lp-section lp-object" id="lp-object">
        <div class="container">
            <div class="lp-section-title text-center"><h2 class="title">ĐỐI TƯỢNG</h2></div>
            <div class="lp-section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="item item-1">
                            <h3 class="title">Sinh viên cần điểm IELTS để tốt nghiệp Đại học</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="item item-2">
                            <h3 class="title">Người đi làm cần điểm IELTS để thăng tiến</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="item item-3">
                            <h3 class="title">Học sinh/ Sinh viên cần điểm IELTS để tìm kiếm cơ hội du học</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="item item-4">
                            <h3 class="title">HS cần điểm IELTS để được vào thẳng các trường Đại học hàng đầu Việt Nam</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lp-section lp-course-detail" id="lp-course-detail">
        <div class="container">
            <div class="lp-section-title text-center"><h2 class="title">CHI TIẾT KHOÁ HỌC</h2></div>
            <div class="lp-section-content">
                <div class="item">
                    <div class="icon col"><img src="<?php echo $url_img; ?>/course-detail-1.png"></div>
                    <div class="info col">
                        <div class="title">Thời lượng:</div>
                        <div class="text">Từ 2-3 tháng/ 1 trình độ, 3 buổi/ tuần, 2 giờ/ buổi</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon col"><img src="<?php echo $url_img; ?>/course-detail-2.png"></div>
                    <div class="info col">
                        <div class="title">Mục tiêu:</div>
                        <div class="text">
                            <p>Chinh phục được điểm số IELTS từ 3.0 -7.5</p>
                            <p>Rèn luyện thói quen kỷ luật trong học tiếng Anh và trong cuộc sống</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lp-section lp-course-content" id="lp-course-content">
        <div class="container">
            <div class="lp-section-title text-center"><h2 class="title">NỘI DUNG KHOÁ HỌC</h2></div>
            <div class="lp-section-content">
                <div class="row row-flex">
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="head">Giai đoạn 1</div>
                            <div class="title">1.0 - 3.0 IELTS</div>
                            <div class="box">
                                <div class="box-title time">Thời lượng:</div>
                                <p>7 tuần (100 giờ)</p>
                                <p>20 lessons (40 giờ)</p>
                                <p>Self study (60 giờ)</p>
                            </div>
                            <div class="box">
                                <div class="box-title content">Nội dung:</div>
                                <p>Chuẩn hóa ngữ âm cơ bản (đọc từ đơn lẻ) và nâng cao (trọng âm, âm cuối, (Pre IELTS) nối âm, ngữ điệu)</p>
                                <p>Bổ sung vốn từ vựng về những chủ đề cơ bản hay gặp trong Listening và Speaking IELTS</p>
                                <p>Nắm vững các chủ điểm ngữ pháp quan trọng: Từ loại, thì, cấu trúc câu… hay gặp trong IELTS</p>
                                <p>Luyện viết chính xác các dạng câu cơ bản</p>
                                <p>Làm quen với chiến thuật làm bài Listening</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="head">Giai đoạn 2</div>
                            <div class="title">3.0 - 4.0 IELTS</div>
                            <div class="box">
                                <div class="box-title time">Thời lượng:</div>
                                <p>6 tuần (84 giờ)</p>
                                <p>18 lessons (36 giờ)</p>
                                <p>Self study (48 giờ)</p>
                            </div>
                            <div class="box">
                                <div class="box-title content">Nội dung:</div>
                                <p>Làm quen và nắm vững các chủ điểm ngữ pháp nâng cao thường gặp trong IELTS: câu bị động, câu điều kiện, mệnh đề quan hệ,…</p>
                                <p>Tiếp tục bổ sung vốn từ vựng tương đương trình độ</p>
                                <p>Làm quen với format đề thi IELTS</p>
                                <p>Nắm được phương pháp và luyện tập các dạng trong Listening và Reading : Điền từ, trắc nghiệm, trả lời ngắn</p>
                                <p>Luyện phản xạ với các câu hỏi trong Speaking part 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="head">Giai đoạn 3</div>
                            <div class="title">4.0 - 5.0 IELTS</div>
                            <div class="box">
                                <div class="box-title time">Thời lượng:</div>
                                <p>6 tuần (84 giờ)</p>
                                <p>18 lessons (36 giờ)</p>
                                <p>Self study (48 giờ)</p>
                            </div>
                            <div class="box">
                                <div class="box-title content">Nội dung:</div>
                                <p>Tiếp tục luyện tập các dạng đã học trong Listening và Reading, nắm được phương pháp và luyện thêm các dạng: Nối thông tin, Chọn từ 1 list đáp án, Yes/No/Given, True/False/Not Given</p>
                                <p>Tiếp tục luyện Speaking part 1 và làm quen với các dạng và topic thường gặp trong part 2</p>
                                <p>Nắm được dạng bài và biết cách làm bài Writing task 1 về các dạng phân tích số liệu</p>
                                <p>Luyện viết đoạn văn để chuẩn bị cho các dạng của Writing task 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="head">Giai đoạn 4</div>
                            <div class="title">5.0 - 6.0+ IELTS</div>
                            <div class="box">
                                <div class="box-title time">Thời lượng:</div>
                                <p>10 tuần</p>
                                <p>20 lessons (40 giờ)</p>
                                <p>Self study (58 giờ)</p>
                                <p>7 practice test (14 giờ, 2 test/tuần)</p>
                            </div>
                            <div class="box">
                                <div class="box-title content">Nội dung:</div>
                                <p>Tiếp tục luyện tập các dạng đã học trong Listening và Reading, nắm được phương pháp và luyện thêm các dạng: Nối thông tin, Chọn từ 1 list đáp án, Yes/No/Given, True/False/Not Given</p>
                                <p>Tiếp tục luyện Speaking part 1 và làm quen với các dạng và topic thường gặp trong part 2</p>
                                <p>Nắm được dạng bài và biết cách làm bài Writing task 1 về các dạng phân tích số liệu</p>
                                <p>Luyện viết đoạn văn để chuẩn bị cho các dạng của Writing task 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="head">Giai đoạn 5</div>
                            <div class="title">6.0 - 7.0+ IELTS</div>
                            <div class="box">
                                <div class="box-title time">Thời lượng:</div>
                                <p>8,5 tuần (~150 giờ)</p>
                                <p>26 lessons (52 giờ)</p>
                                <p>Self study (100 giờ)</p>
                            </div>
                            <div class="box">
                                <div class="box-title content">Nội dung:</div>
                                <p>Bổ sung vốn từ vựng cần thiết để nâng cao band điểm</p>
                                <p>Tăng cường luyện tập và áp dụng các chiến thuật làm các dạng bài Listening và Reading</p>
                                <p>Tập trung chính vào những chủ đề thường gặp nhất trong Speaking part 2 và part 3</p>
                                <p>Luyện tập các dạng của Writing task 1 và task 2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="lp-cta" type="button" onclick="goBox('#lp-register')">ĐĂNG KÝ TƯ VẤN NGAY</button>
                </div>
            </div>
        </div>
    </section>

    <section class="lp-section lp-reason" id="lp-reason">
        <div class="container">
            <div class="lp-section-title text-center"><h2 class="title">LÝ DO<br>NÊN LUYỆN THI IELTS TẠI LANGGO</h2></div>
            <div class="lp-section-content">
                <div class="row row-flex">
                    <div class="col-xs 12 col-sm-6 box box-1">
                        <div class="item">
                            <div class="title">
                                <p class="image"><img src="<?php echo $url_img; ?>/reason-icon-1.png" /></p>
                                <h3 class="text">THAY ĐỔI TƯ DUY VÀ<br>THÓI QUEN HỌC TIẾNG ANH</h3>
                            </div>
                            <div class="info">
                                Ứng dụng phương pháp lập trình ngôn ngữ tư duy NLP trong thiết lập mục tiêu và xây dựng lộ trình học IELTS hiệu quả
                            </div>
                        </div>
                    </div>
                    <div class="col-xs 12 col-sm-6 box box-2">
                        <div class="item">
                            <div class="title">
                                <p class="image"><img src="<?php echo $url_img; ?>/reason-icon-2.png" /></p>
                                <h3 class="text">BẢN ĐỒ HỌC TẬP HÀNG<br>NGÀY DAILY CHALLENGE</h3>
                            </div>
                            <div class="info">
                                Giúp bạn phân bổ thời gian học hiệu quả cho từng kỹ năng Listening - Speaking - Reading - Writing
                            </div>
                        </div>
                    </div>
                    <div class="col-xs 12 col-sm-6 box box-3">
                        <div class="item">
                            <div class="title">
                                <p class="image"><img src="<?php echo $url_img; ?>/reason-icon-3.png" /></p>
                                <h3 class="text">CAM KẾT ĐẦU RA BẰNG HỢP ĐỒNG</h3>
                            </div>
                            <div class="info">
                                Đánh bay hoàn toàn nỗi lo không đạt được mục tiêu điểm số, học viên LangGo được học lại miễn phí đến khi đạt đầu ra
                            </div>
                        </div>
                    </div>
                    <div class="col-xs 12 col-sm-6 box box-4">
                        <div class="item">
                            <div class="title">
                                <p class="image"><img src="<?php echo $url_img; ?>/reason-icon-4.png" /></p>
                                <h3 class="text">PHƯƠNG PHÁP HỌC<br>TỪ VỰNG TIÊN TIẾN</h3>
                            </div>
                            <div class="info">
                                Ứng dụng siêu trí nhớ PMS để tăng tốc trong học từ vựng (Độc quyền phát triển bởi LangGo)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs 12 col-sm-6 box box-5">
                        <div class="item">
                            <div class="title">
                                <p class="image"><img src="<?php echo $url_img; ?>/reason-icon-5.png" /></p>
                                <h3 class="text">MÔ HÌNH HỌC TẬP TỐI ƯU</h3>
                            </div>
                            <div class="info">
                                Mô hình học 1 thầy kèm 6 trò dễ dàng tương tác và kèm cặp sát sao kết hợp học chuyên sâu 1-1 giải quyết cơn ác mộng Speaking và Writing
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><button class="lp-cta" type="button" onclick="goBox('#lp-register')">ĐĂNG KÝ TƯ VẤN NGAY</button></div>
            </div>
        </div>
    </section>

    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'cta' => '<div class="text-center"><button class="lp-cta" type="button" onclick="goBox(\'#lp-register\')">ĐĂNG KÝ TƯ VẤN NGAY</button></div>')); ?>
    <?php echo $this->blkDocument($this->arrParams, 'teacher', array('cache' => true, 'cta' => '<div class="text-center"><button class="lp-cta" type="button" onclick="goBox(\'#lp-register\')">ĐĂNG KÝ TƯ VẤN NGAY</button></div>')); ?>

    <section class="lp-section lp-commitment" id="lp-commitment">
        <div class="container">
            <div class="lp-section-title text-center"><h2 class="title">CAM KẾT</h2></div>
            <div class="lp-section-content">
                <div class="item item-1">
                    <div class="item-content">
                        <div class="title">KẾT QUẢ</div>
                        <div class="info">Cam kết đầu ra bằng hợp đồng, không đạt được học lại miễn phí</div>
                    </div>
                </div>
                <div class="item item-2">
                    <div class="item-content ">
                        <div class="title">GIẢNG VIÊN</div>
                        <div class="info">Đội ngũ GV có năng lực tiếng Anh 8.0 IELTS trở lên theo sát tiến độ học tập để đảm bảo kết quả tối đa</div>
                    </div>
                </div>
                <div class="item item-3">
                    <div class="item-content">
                        <div class="title">DỊCH VỤ</div>
                        <div class="info">Đội ngũ giảng viên và bộ phận quản lý chất lượng sẽ theo sát tiến độ học tập để đảm bảo học viên đạt được tiến bộ mong muốn.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <?php echo $this->blkDocument($this->arrParams, 'ads-footer', array('cache' => true)); ?>
    
    <section>
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="5" style="width: 100%;"></div>
        </div>
    </section>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <script src="<?php echo $url_js .'/me.js?v='. date('dmYHis'); ?>" type="text/javascript"></script>
</body>
</html>
