<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="title"><a href="'. $category_url .'">'. $language['post_hot'][$language_active] .'</a></h2>';
        }
        
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        
        $xhtml .= '<div class="item">
                        <div class="info">
                            <h3 class="title">'. $name .'</h3>
                            <div class="desc">
                                '. $description .'
                            </div>
                        </div>
                    </div>';
    } 
    
    $result = '<div class="box_defaultHot" id="box_defaultHot">
                    <div class="container">
                        <div class="box_content">
                           	'. $xhtml .'
                        </div>
                    </div>
                </div>';
}
?>