<?php
if($items->count() > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="title"><a href="'. $category_url .'">'. $language['post_highlight'][$language_active] .'</a></h2>';
        }
        
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        
        $xhtml .= '<div class="col-sm-4">
                        <div class="item">
                            <div class="image">
                                '. $image_medium .'
                            </div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                                <div class="desc hidden-xs">'. $description .' </div>
                            </div>
                        </div>
                    </div>';
    } 
    
    $result = '<div class="box_defaultHighlight" id="box_defaultHighlight">
                    <div class="container">
                        <div class="box_content">
                            <div class="row">
                           	    '. $xhtml .'
                            </div>
                        </div>
                    </div>
                </div>';
}
?>
