<?php
if(count($items) > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    $xhtml          = '';

    $item_index     = 0;
    foreach ($items AS $key => $item) {
        $item_index++;
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));

        // Cắt mô tả 120 kí tự không làm mất nghĩa
        $sub = '';
        $len = 0;
        foreach (explode(' ', $item['description']) as $word)
        {
            $part = (($sub != '') ? ' ' : '') . $word;
            $sub .= $part;
            $len += strlen($part);
            if (strlen($word) > 3 && strlen($sub) >= 120) {
                break;
            }
        }
        $description = $sub . (($len < strlen($str)) ? '...' : '...');
        
        $xhtml_right.= '<div class="items">
                            <div class="item">
                                <a href="'. $item_url .'" target="_blank">'. $item['name'] .'</a>
                            </div>
                        </div>';
        
        $result =   $xhtml_right;
    }
}
?>

