<?php
if(count($items) > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    $xhtml          = '';

    $item_index     = 0;
    foreach ($items AS $key => $item) {
        $item_index++;
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));

        // Cắt mô tả 120 kí tự không làm mất nghĩa
        $sub = '';
        $len = 0;
        foreach (explode(' ', $item['description']) as $word)
        {
            $part = (($sub != '') ? ' ' : '') . $word;
            $sub .= $part;
            $len += strlen($part);
            if (strlen($word) > 3 && strlen($sub) >= 120) {
                break;
            }
        }
        $description = $sub . (($len < strlen($str)) ? '...' : '...');
        
        if ($item_index <= 2) {
            $xhtml_left .= '<div class="col-md-6 col-sm-6 col-xs-6 item">
                                <div class="img"><img src="'. $item['image'] .'" alt="'. $item['name'] .'" width="100%" height="125"></div>
                                <div class="title">
                                    <a href="'. $item_url .'">'. $item['name'] .'</a>
                                </div>
                                <div class="content">'. nl2br($description) .'</div>
                            </div>';
        } else {
            $xhtml_right.= '<div class="items">
                                <div class="item">
                                    <a href="'. $item_url .'" target="_blank">'. $item['name'] .'</a>
                                </div>
                            </div>';
        }
        
        $result =   '<div class="box-event-news">
                        <div class="container">
                            <div class="box-content">
                                <div class="row border-between">
                                    <div class="col-md-6 box-left">
                                        <div class="box-title">Sự kiện & Tin tức</div>
                                        <div class="items">
                                            <div class="row">
                                                '. $xhtml_left .'
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 box-right">
                                        '. $xhtml_right .'
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>';
    }
}
?>

