<?php
if(count($items) > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    $xhtml          = '';

    $item_index     = 0;
    foreach ($items AS $key => $item) {
        $item_index++;
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));

        // Cắt mô tả 120 kí tự không làm mất nghĩa
        $sub = '';
        $len = 0;
        foreach (explode(' ', $item['description']) as $word)
        {
            $part = (($sub != '') ? ' ' : '') . $word;
            $sub .= $part;
            $len += strlen($part);
            if (strlen($word) > 3 && strlen($sub) >= 120) {
                break;
            }
        }
        $description = $sub . (($len < strlen($str)) ? '...' : '...');
        
        $xhtml_left .= '<div class="col-md-6 col-sm-6 col-xs-6 item">
                            <div class="img"><img src="'. $item['image'] .'" alt="'. $item['name'] .'" width="100%" height="125"></div>
                            <div class="title">
                                <a href="'. $item_url .'">'. $item['name'] .'</a>
                            </div>
                            <div class="content">'. nl2br($description) .'</div>
                        </div>';
        
        $result =   $xhtml_left;
    }
}
?>

