<?php
if(count($items) > 0) {
    ?>
    <div class="item-sidebar">
        <div class="item-sidebar-title">Bài viết xem nhiều</div>
        <div class="item-sidebar-content">
            <div class="list-post-sidebar">
                <?php
                foreach ($items AS $key => $item) {
                    $category_url = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
                    $item_index++;
                    $item_url = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                    ?>
                    <div class="item-post-sb">
                        <div class="item-post-sb-img">
                            <a href="<?php echo $item_url; ?>" title="<?php echo $item['name']; ?>"><img src="<?php echo $item['image_thumb']; ?>" alt="<?php echo $item['name']; ?>"></a>
                        </div>
                        <div class="item-post-sb-content">
                            <h3 class="item-post-sb-title"><a href="<?php echo $item_url; ?>" title="<?php echo $item['name']; ?>"><?php echo $item['name']; ?></a></h3>
                            <!-- <div class="item-post-meta">
                                <span><i class="far fa-folder"></i> <a href="<?php echo $category_url; ?>" title="<?php echo $item['category_name']; ?>"><?php echo $item['category_name']; ?></a></span>
                                <span><i class="fa fa-eye"></i> <?php echo $item['view']; ?></span>
                            </div> -->
                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
        </div>
    </div>
    <?php
}
?>