<?php
if($items->count() > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="box_title"><a href="'. $category_url .'">'. $language['video_highlight'][$language_active] .'</a></h2>';
        }
        
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        
        $videos         = $item['videos'] ? unserialize($item['videos']) : '';
        //if(empty($item['image_medium']) && !empty($videos)) {
            $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $videos['medium'][0] .'" alt="'. $item['name'] .'"><span>'. $item['name'] .'</span></a>';
        //}
        
        if(!empty($videos)) {
            foreach ($videos['id'] AS $video_id) {
                $xhtml .= sprintf('
                    <div class="embed-responsive embed-responsive-4by3" style="margin-bottom: 20px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/%s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>', $video_id
                );
            }
        }
    } 
    
    $result = '<div class="box_videoHighlight" id="box_videoHighlight">
                    '. $xhtml .'
                </div>';
}
?>