<?php
    $dateFormat = new \ZendX\Functions\Date();
?>
<div class="container">
    <div class="main-page-ielts">
        <?php echo $this->blkBreadcrumb($this->params); ?>
        <div class="wrapper">
            <h1 class="wrapper-title"><?php echo $this->category['name']; ?></h1>
            <?php
            if(!empty($this->category['content'])) {
                echo '<div class="category_content">'. htmlspecialchars_decode($this->category['content']) .'</div>';
            }
            ?>
            <div class="box_module padding">
            	<div class="box_content">
                    <div class="box_title"><p class="title-post-test">Những bí quyết đánh thức bản thân</p></div>
            		<div class="layout_category_default">
                        <div class="row">
                            <div class="item-col hidden-xs col-sm-4">
                                <?php include $this->params['template']['pathHtml'] . '/box/ielts-right.php';?>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row category_item_grid">
                                    <?php
                                    if($this->items->count() > 0){
                                        foreach ($this->items AS $key => $item_post) {
                                            $created        = $dateFormat->formatToView($item_post['created'], 'd/m/Y');
                                            $item_post_url = $this->url('routePostItem', array( 'alias' => $item_post['alias']));
                                            // Cắt mô tả 120 kí tự không làm mất nghĩa
                                            $sub = '';
                                            $len = 0;
                                            foreach (explode(' ', $item_post['description']) as $word)
                                            {
                                                $part = (($sub != '') ? ' ' : '') . $word;
                                                $sub .= $part;
                                                $len += strlen($part);
                                                if (strlen($word) > 3 && strlen($sub) >= 120) {
                                                    break;
                                                }
                                            }
                                            $description = $sub . (($len < strlen($str)) ? '...' : '...');
                                            ?>
                                            <div class="item-col">
                                                <div class="item-post text-center">
                                                    <div class="col-sm-4">
                                                        <div class="item-post-img">
                                                            <a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>">
                                                                <img src="<?php echo $item_post['image_medium']; ?>" alt="<?php echo $item_post['name']; ?>">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="item-post-title">
                                                            <h2 class="item-post-title"><a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>"> <?php echo $item_post['name']; ?> </a></h2>
                                                            <div class="created"><span class="date"><?php echo $created; ?></span></div>
                                                            <div class="desc"><?php echo $description; ?></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <?php
                                        }
                                    }else{
                                        ?>
                                        <div class="item-col col-xs-12">
                                            <div class="alert alert-danger">Không có dữ liệu trong mục này!</div>
                                        </div>
                                        <?php
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
            		<?php echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator-ielts.phtml', array('currentURL' => $boxLink.'/')); ?>
                    <div class="visible-xs">
                        <?php include $this->params['template']['pathHtml'] . '/box/ielts-right.php';?>
                    </div>
            	</div>
            </div>
        </div>
    </div>
</div>
<?php $this->blkPostCategoryBox($this->arrParams, array('type' => 'ielts', 'box' => 'box_highlight', 'cache' => false, 'limit' => 5), 'home_highlight');?>