<?php
    $language = $this->language; 
    $language_active = $this->language['language_active']; 
?>
<div class="box_module">
    <div class="box_title"><h1 class="title"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
	<div class="box_content">
		<div class="layout_category_product">
            <div class="productGrid">
                <div class="row">
                <?php
                foreach ($this->items AS $key => $item) {
                    $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                    $order_url      = $this->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart', 'id' => $item['id']));
                    
                    $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                    $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                    $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                    $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                    
                    $description    = nl2br($item['description']);
                    $price			= $language['price'][$language_active]. ': <span class="value">'. $language['contact'][$language_active] .'</span>';
                    $sale           = '';
                    if(!empty($item['product_price'])) {
                        if(!empty($item['product_sale_percent'])) {
                            $price	= $item['product_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                            $price	= $language['price'][$language_active]. ': <span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span><u>đ</u></span>';
                            $sale   = '<span class="sale">-'. $item['product_sale_percent'] .'%</span>';
                        } else if(!empty($item['product_sale_price'])) {
                            $price	= $item['product_price'] - $item['product_sale_price'];
                            $price	= $language['price'][$language_active]. ': <span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span><u>đ</u></span>';
                            $sale   = '<span class="sale">-'. round($item['product_sale_price'] / $item['product_price'] * 100, 0) .'%</span>';
                        } else {
                            $price	= $language['price'][$language_active]. ': <span class="value"><span class="mask_currency">'. $item['product_price'] .'</span><u>đ</u></span>';
                        }
                    }
                    
                    echo '<div class="col-sm-3 col-xs-6">
                                <div class="item">
                                    <div class="image">
                                        '. $image_medium .'
                                    </div>
                                    <div class="info">
                                        <h3 class="title">'. $name .'</h3>
                                        <div class="price">'. $price .'</div>
                                    </div>
                                    <div class="control">
                                        <a href="'. $item_url .'" class="add_card"><i class="fa fa-shopping-cart" aria-hidden="true"></i> '. $language['buy'][$language_active] .'</a>
                                    </div>
                                    '. $sale .'
                                </div>
                            </div>';
                }
                ?>
                </div>
            </div>
        </div>
		<?php echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $boxLink)); ?>
	</div>
</div>
