
<?php
    $dateFormat = new \ZendX\Functions\Date();
?>
<div class="box_module padding">
	<div class="box_content">
		<div class="layout_category_default">
            <?php 
            if(!empty($this->category['content'])) {
                echo '<div class="category_content" style="font-size: 16px; text-align: justify;">'. htmlspecialchars_decode($this->category['content']) .'</div>';
                echo '<hr style="border-top: 1px dashed #d52327;">';
            }
            if(count($this->items) > 0){
                ?>
                <div class="row row-flex">
            		<?php
                    foreach ($this->items AS $key => $item) {
                        $options_item = $item['options'] ? unserialize($item['options']) : [];
                        $url = $options_item['image_popup'] ? 'javascript:openPopupImg(\''. $options_item['image_popup'] .'\', \''. $item['name'] .'\');' : 'javascript:;';
                        $list_img = $item['images'] ? unserialize($item['images']) : [];
                        ?>
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <div class="item-teacher clearfix">
                                <div class="row row-flex">
                                    <div class="item-col col-xs-6 col-sm-12">
                                        <div class="image">
                                            <a href="<?php echo $url; ?>" title="<?php echo $item['name']; ?>">
                                                <img src="<?php echo $item['image']; ?>" alt="<?php echo $item['name']; ?>">
                                            </a>
                                        </div>
                                    </div>
                                    <?php 
                                    if($list_img['url']){
                                        foreach ($list_img['url'] as $key_img => $item_url) {
                                            ?>
                                            <div class="item-col col-xs-6 visible-xs">
                                                <img src="<?php echo $item_url; ?>" alt="<?php echo$list_img['name'][$key_img]; ?>">
                                            </div>
                                            <?php
                                        }
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                </div>
                <?php
            }else{
                ?>
                <div class="alert alert-danger">Không có dữ liệu</div>
                <?php
            }
            ?>
        </div>
		<?php echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $boxLink)); ?>
	</div>
</div>