<?php
$dateFormat   = new \ZendX\Functions\Date();
$createArray  = new \ZendX\Functions\CreateArray();
$customString = new \ZendX\Functions\CustomString();
$boxLink      = $this->url('routeExercise', array('post_alias' => $this->post_info['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
$boxName      = $this->item['name'];
$options_item = $this->item['options'] ? unserialize($this->item['options']) : [];
$arrange_sentence = $this->item['arrange_sentence'] ? unserialize($this->item['arrange_sentence']) : [];
?>
<div class="container">
    <div class="main-page-ielts">
        <?php echo $this->blkBreadcrumb($this->arrParams);?>
        <div class="wrapper">
            <p class="wrapper-title">
                <?php 
                $post_link = $this->url('routePostItem', array('alias' => $this->post_info['alias']), array('force_canonical' => true));
                ?>
                <a href="<?php echo $post_link; ?>" title="<?php echo $this->post_info['name']; ?>"><?php echo $this->post_info['name']; ?></a>
            </p>
            <div class="box-content"><?php echo htmlspecialchars_decode($this->item['content']); ?></div>
            <div class="box_module">
            	<div class="box_title"><h1 class="title-post-test"><?php echo $boxName;?></h1></div>
            	<div class="box_content">
            	    <div class="layout_item_default">
                        <div class="layout_item_default_content layout-exercise layout-sentence">
                            <div class="time-limit text-center">
                                Thời gian<br />
                                <b class="time-count"><?php echo $this->item['time_limit']; ?>:00</b>
                            </div>
                            <form class="box-question">
                                <input type="hidden" name="time_taken" value="0" />
                                <input type="hidden" name="exercise_id" value="<?php echo $this->item['id']; ?>" />
                                <p class="text-center"><b>Put the words in the correct order</b></p>
                                <div class="list-sentence">
                                    <?php 
                                    foreach ($arrange_sentence as $key => $item_question) {
                                        $arr_words = explode(' ', $item_question['result']);
                                        shuffle($arr_words);
                                        ?>
                                        <div class="item-sentence">
                                            <input type="hidden" name="answers[<?php echo $key; ?>]" value=""/>
                                            <p class="item-sentence-name">
                                                <b>Question <?php echo $item_question['number']; ?></b> 
                                                <?php 
                                                if($item_question['help']) echo '<i class="fa fa-info" data-help="'. $item_question['help'] .'"></i>';
                                                ?>
                                            </p>
                                            <div class="item-sentence-answer"></div>
                                            <div class="item-sentence-question">
                                                <?php 
                                                foreach ($arr_words as $item_word) {
                                                    ?>
                                                    <span><?php echo $item_word; ?></span>
                                                    <?php
                                                } 
                                                ?>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                    ?>
                                </div>
                            </form>
                            <div class="box-action text-right">
                                <a href="javascript:;" class="btn btn-action btn-submit">Check</a>
                            </div>
                        </div>
                        <?php
                        if(count($this->itemInvolve) > 0) { 
                            ?>
                            <div class="box_involves">
                                <div class="box_title"><div class="title">Bài test khác</div></div>
                                <div class="box_content">
                                    <div class="layout_category_default">
                                        <?php
                                        foreach ($this->itemInvolve AS $key => $item){
                                            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routeExercise', array( 'post_alias' => $this->post_info['alias'], 'alias' => $item['alias']));
                                            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                                            
                                            echo '<div class="item clearfix">
                                                    <h2 class="title">'. $name .'</h2>
                                                </div>';
                                        } 
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <?php
                        } 
                        ?>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>
<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
        let d = -1;
        let total_minutes = parseInt(<?php echo $this->item['time_limit']; ?>);
        let time_down = setInterval(function() {
            d++;
            let distance = (total_minutes*60 - d)*1000;
            let minutes  = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds  = Math.floor((distance % (1000 * 60)) / 1000);
            if(seconds < 10) seconds = "0"+seconds;
            $('.time-count').html(minutes + ":" + seconds);
            $('[name="time_taken"]').val(d);
            if (distance == 0) {
                submitAnswer(time_down);
            }
        }, 1000);
        $('body').on("click", '.btn-submit', function(){
            submitAnswer(time_down);
        });

        $('body').on('click', '.item-sentence-question span', function(){
            let element_sentence = $(this).parents('.item-sentence');
            let element_answer = element_sentence.find('.item-sentence-answer');
            let text_answer = element_answer.html().replace(/\s{2,}/gm,' ').trim();
            if(text_answer != '') text_answer += ' ';
            text_answer += '<span>'+ $(this).text() +'</span>';
            element_answer.html(text_answer);
            element_sentence.find('input').val(element_answer.text());
            $(this).remove();
        });

        $('body').on('click', '.item-sentence-answer span', function(){
            let element_sentence = $(this).parents('.item-sentence');
            let element_question = element_sentence.find('.item-sentence-question');
            let text_question = element_question.html().replace(/\s{2,}/gm,' ').trim();
            if(text_question != '') text_question += ' ';
            text_question += '<span>'+ $(this).text() +'</span>';
            element_question.html(text_question);
            $(this).remove();
            text_answer = element_sentence.find('.item-sentence-answer').text().replace(/\s{2,}/gm,' ').trim();
            element_sentence.find('input').val(text_answer);
        });
        $('body').on('click', '.item-sentence-name i', function(){
            alert($(this).data('help'));
        });
    });

    function submitAnswer(time_down){
        clearInterval(time_down);
        $.ajax({
            method: "POST",
            url: '/post/index/result-exercise',
            data: $('.box-question').serialize(),
            beforeSend: function() {
                $('body').append('<div class="page-loading"><div class="loader"></div></div>');
            },
            success: function(result){
                $('.layout-exercise').html(result);
                $('body .page-loading').remove();
            },
        });
    }
<?php $this->headScript()->captureEnd() ?>