<?php
$dateFormat   = new \ZendX\Functions\Date();
$createArray  = new \ZendX\Functions\CreateArray();
$customString = new \ZendX\Functions\CustomString();
$boxLink      = $this->url('routeExercise', array('post_alias' => $this->post_info['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
$boxName      = $this->item['name'];
$options_item = $this->item['options'] ? unserialize($this->item['options']) : [];
$questions    = $this->item['questions'] ? $createArray->create(unserialize($this->item['questions']), ['key' => 'number', 'value' => 'object']) : [];
?>
<div class="container">
    <div class="main-page-ielts">
        <?php echo $this->blkBreadcrumb($this->arrParams);?>
        <div class="wrapper">
            <p class="wrapper-title">
                <?php 
                $post_link = $this->url('routePostItem', array('category_alias' => $this->post_info['alias'], 'alias' => $this->post_info['alias']), array('force_canonical' => true));
                ?>
                <a href="<?php echo $post_link; ?>" title="<?php echo $this->post_info['name']; ?>"><?php echo $this->post_info['name']; ?></a>
            </p>
            <div class="box_module">
            	<div class="box_title"><h1 class="title-post-test"><?php echo $boxName;?></h1></div>
            	<div class="box_content">
            	    <div class="layout_item_default">
                        <div class="layout_item_default_content layout-exercise layout-reading">
                            <div class="time-limit text-center">
                                Thời gian<br />
                                <b class="time-count"><?php echo $this->item['time_limit']; ?>:00</b>
                            </div>
                            <div class="box-reading">
                                <div class="row row-flex">
                                    <div class="item-col col-xs-12 col-sm-6">
                                        <div class="box-content"><?php echo htmlspecialchars_decode($this->item['content']); ?></div>
                                    </div>
                                    <div class="item-col col-xs-12 col-sm-6">
                                        <form class="box-question">
                                            <input type="hidden" name="time_taken" value="0" />
                                            <input type="hidden" name="exercise_id" value="<?php echo $this->item['id']; ?>" />
                                            <?php 
                                            $content_question = $customString->convertQuestion(htmlspecialchars_decode($this->item['content_question']), $questions);
                                            echo $content_question;
                                            ?>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="box-action text-right">
                                <a href="javascript:;" class="btn btn-action btn-submit">Check</a>
                            </div>
                        </div>
                        <?php
                        if(count($this->itemInvolve) > 0) { 
                            ?>
                            <div class="box_involves">
                                <div class="box_title"><div class="title">Bài test khác</div></div>
                                <div class="box_content">
                                    <div class="layout_category_default">
                                        <?php
                                        foreach ($this->itemInvolve AS $key => $item){
                                            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                                                        
                                            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                                            $description    = nl2br($item['description']);
                                            $created        = $dateFormat->getText($item['created'], 'd.m.Y');
                                            $category_url   = $this->url('routePostCategory', array( 'category_alias' => $item['category_alias']));
                                            $category_name  = '<a href="'. $category_url .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a>';
                                            
                                            echo '<div class="item clearfix">
                                                    <h2 class="title">'. $name .'</h2>
                                                </div>';
                                        } 
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <?php
                        } 
                        ?>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>
<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
        let d = -1;
        let total_minutes = parseInt(<?php echo $this->item['time_limit']; ?>);
        let time_down = setInterval(function() {
            d++;
            let distance = (total_minutes*60 - d)*1000;
            let minutes  = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds  = Math.floor((distance % (1000 * 60)) / 1000);
            if(seconds < 10) seconds = "0"+seconds;
            $('.time-count').html(minutes + ":" + seconds);
            $('[name="time_taken"]').val(d);
            if (distance == 0) {
                submitAnswer(time_down);
            }
        }, 1000);
        $('body').on("click", '.btn-submit', function(){
            submitAnswer(time_down);
        });
    });

    function submitAnswer(time_down){
        clearInterval(time_down);
        $.ajax({
            method: "POST",
            url: '/post/index/result-exercise',
            data: $('.box-question').serialize(),
            beforeSend: function() {
                $('body').append('<div class="page-loading"><div class="loader"></div></div>');
            },
            success: function(result){
                $('.layout-exercise').html(result);
                $('body .page-loading').remove();
            },
        });
    }
<?php $this->headScript()->captureEnd() ?>