<?php
$dateFormat   = new \ZendX\Functions\Date();
$createArray  = new \ZendX\Functions\CreateArray();
$customString = new \ZendX\Functions\CustomString();
$post_link = $this->url('routeExercise', array('post_alias' => $this->post_info['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
$options_item     = $this->item['options'] ? unserialize($this->item['options']) : [];
$arrange_sentence = $this->item['arrange_sentence'] ? unserialize($this->item['arrange_sentence']) : [];
$answers          = $this->params['data']['answers'];
$d_correct        = 0;
foreach ($arrange_sentence as $key => $item_sentence) {
    if(trim($item_sentence['result']) == trim($answers[$key])){
        $d_correct++;
        $arrange_sentence[$key]['correct'] = true;
    }
}
?>
<div class="box-ielts-results">
    <div class="result-info">
        <h3 class="result-info-title">Kết quả thi thử</h3>
        <div class="list-parameters">
            <div class="item-parameter">
                <p><?php echo count($arrange_sentence); ?></p>
                <span>Total Question</span>
            </div>
            <div class="item-parameter">
                <p><?php echo $d_correct; ?></p>
                <span>Correct</span>
            </div>
            <div class="item-parameter">
                <p><?php echo count($arrange_sentence) - $d_correct; ?></p>
                <span>Incorrect</span>
            </div>
            <div class="item-parameter">
                <p>
                    <?php 
                    $minutes = floor($this->params['data']['time_taken'] / 60);
                    $seconds = $this->params['data']['time_taken'] % 60;
                    if($seconds < 10) $seconds = '0'. $seconds;
                    echo $minutes .':'. $seconds; 
                    ?>
                </p>
                <span>Time taken</span>
            </div>
        </div>
        <div class="box-result-content">
            <?php echo htmlspecialchars_decode($this->item['content_result']); ?>
        </div>
        <div class="take-quiz-again">
            <a href="javascript:if(confirm('Bạn muốn làm lại bài test này?')){window.location.href = '<?php echo $post_link; ?>';}"><i class="fas fa-sync-alt"></i> Làm lại</a>
        </div>
        <div class="quiz-feedback">
            <div class="quiz-feedback-title"> <i class="fas fa-rss"></i> Kết quả </div>
            <div class="quiz-feedback-content">
                <div class="content-questions table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th class="text-center">Your answer</th>
                            <th class="text-center">Result</th>
                            <th class="text-center col-80">Correct</th>
                        </thead>
                        <tbody>
                            <?php 
                            foreach ($arrange_sentence as $key => $item_sentence) {
                                ?>
                                <tr>
                                    <td><?php echo $answers[$key]; ?></td>
                                    <td><?php echo $item_sentence['result']; ?></td>
                                    <td class="text-center"><?php echo $item_sentence['correct'] ? '<i class="fa fa-check text-green"></i>' : false; ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-action text-right">
            <a href="<?php echo $post_link; ?>" class="btn btn-action">Quay lại</a>
        </div>
    </div>
</div>
