<?php
    $dateFormat   = new \ZendX\Functions\Date();
    $createArray  = new \ZendX\Functions\CreateArray();
    $customString = new \ZendX\Functions\CustomString();
    $post_link = $this->url('routeExercise', array('post_alias' => $this->post_info['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
    $options_item = $this->item['options'] ? unserialize($this->item['options']) : [];
    $questions    = $this->item['questions'] ? $createArray->create(unserialize($this->item['questions']), ['key' => 'number', 'value' => 'object']) : [];
    $answers      = $this->params['data']['answers'];
    $d_correct    = 0;
    foreach ($questions as $key => $item_question) {
        if($item_question['result'] == $answers[$key]) $d_correct++;
    }
?>
<div class="box-ielts-results">
    <div class="result-info">
        <h3 class="result-info-title">Kết quả thi thử</h3>
        <div class="list-parameters">
            <div class="item-parameter">
                <p><?php echo count($questions); ?></p>
                <span>Total Question</span>
            </div>
            <div class="item-parameter">
                <p><?php echo $d_correct; ?></p>
                <span>Correct</span>
            </div>
            <div class="item-parameter">
                <p><?php echo count($questions) - $d_correct; ?></p>
                <span>Incorrect</span>
            </div>
            <div class="item-parameter">
                <p>
                    <?php 
                    $minutes = floor($this->params['data']['time_taken'] / 60);
                    $seconds = $this->params['data']['time_taken'] % 60;
                    if($seconds < 10) $seconds = '0'. $seconds;
                    echo $minutes .':'. $seconds; 
                    ?>
                </p>
                <span>Time taken</span>
            </div>
        </div>
        <h3 class="result-info-title">Nội dung bài nghe</h3>
        <div class="box-result-content">
            <?php echo htmlspecialchars_decode($this->item['content_result']); ?>
        </div>
        <div class="take-quiz-again">
            <a href="javascript:if(confirm('Bạn muốn làm lại bài test này?')){window.location.href = '<?php echo $post_link; ?>';}"><i class="fas fa-sync-alt"></i> Làm lại</a>
        </div>
        <div class="quiz-feedback">
            <div class="quiz-feedback-title"> <i class="fas fa-rss"></i> Kết quả </div>
            <div class="quiz-feedback-content">
                <div class="box-audio text-center">
                    <?php 
                    if($options_item['note_audio']){
                        ?>
                        <p><i><?php echo $options_item['note_audio']; ?></i></p>
                        <?php
                    }
                    ?>
                    <audio src="<?php echo $item['audio']; ?>" controls controlsList="nodownload"> Trình duyệt của bạn không hỗ trợ file này! </audio>
                </div>
                <div class="content-questions">
                    <?php echo $customString->convertAnswer(htmlspecialchars_decode($item['content_question']), $questions, $answers); ?>
                </div>
            </div>
        </div>
        <div class="box-action text-right">
            <a href="<?php echo $post_link; ?>" class="btn btn-action">Quay lại</a>
        </div>
    </div>
</div>
