<?php
$dateFormat   = new \ZendX\Functions\Date();
$createArray  = new \ZendX\Functions\CreateArray();
$customString = new \ZendX\Functions\CustomString();
$boxLink      = $this->url('routeExercise', array('post_alias' => $this->post_info['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
$boxName      = $this->item['name'];
$options_item = $this->item['options'] ? unserialize($this->item['options']) : [];
$samples = $this->item['samples'] ? unserialize($this->item['samples']) : [];
?>
<div class="container">
    <div class="main-page-ielts">
        <?php echo $this->blkBreadcrumb($this->arrParams);?>
        <div class="wrapper">
            <p class="wrapper-title">
                <?php 
                $post_link = $this->url('routePostItem', array('alias' => $this->post_info['alias']), array('force_canonical' => true));
                ?>
                <a href="<?php echo $post_link; ?>" title="<?php echo $this->post_info['name']; ?>"><?php echo $this->post_info['name']; ?></a>
            </p>
            <div class="box_module">
                <div class="box_title"><h1 class="title-post-test"><?php echo $boxName;?></h1></div>
                <div class="box_content">
                    <div class="layout_item_default">
                        <div class="layout_item_default_content layout-exercise layout-speaking">
                            <?php echo htmlspecialchars_decode($this->item['content']); ?>
                            <hr>
                            <div class="box-record text-center">
                                
                                <div id="controls">
                                    <button id="recordButton">Record</button>
                                    <button id="pauseButton" disabled>Pause</button>
                                    <button id="stopButton" disabled>Stop</button>
                                </div>
                                <div class="timer">00:00</div>
                                <ul id="recordingsList" class="text-center"></ul>
                            </div>
                        </div>
                        <?php 
                            if($samples){
                                ?>
                                <div class="box-samples">
                                    <h3 class="box-title">Bài mẫu</h3>
                                    <div class="list-samples">
                                        <?php 
                                        foreach ($samples as $item_sample) {
                                            if($item_sample['name']){
                                                ?>
                                                <div class="item-sample">
                                                    <div class="item-sample-name"><a href="javascript:;"><?php echo $item_sample['name']; ?></a></div>
                                                    <div class="item-sample-content"><?php echo $item_sample['content'] ? htmlspecialchars_decode($item_sample['content']) : '<i>Đang cập nhật...</i>'; ?></div>
                                                </div>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                                <?php
                            }
                            ?>
                        <?php
                        if(count($this->itemInvolve) > 0) { 
                            ?>
                            <div class="box_involves">
                                <div class="box_title"><div class="title">Bài test khác</div></div>
                                <div class="box_content">
                                    <div class="layout_category_default">
                                        <?php
                                        foreach ($this->itemInvolve AS $key => $item){
                                            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routeExercise', array( 'post_alias' => $this->post_info['alias'], 'alias' => $item['alias']));
                                            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                                            
                                            echo '<div class="item clearfix">
                                                    <h2 class="title">'. $name .'</h2>
                                                </div>';
                                        } 
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <?php
                        } 
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
        let date_now  = new Date();
        var timer_count = '';
        // Record
        //webkitURL is deprecated but nevertheless
        URL = window.URL || window.webkitURL;
        var gumStream;                      //stream from getUserMedia()
        var rec;                            //Recorder.js object
        var input;                          //MediaStreamAudioSourceNode we'll be recording

        // shim for AudioContext when it's not avb. 
        var AudioContext = window.AudioContext || window.webkitAudioContext;
        var audioContext //audio context to help us record

        var recordButton = document.getElementById("recordButton");
        var stopButton = document.getElementById("stopButton");
        var pauseButton = document.getElementById("pauseButton");

        //add events to those 2 buttons
        recordButton.addEventListener("click", startRecording);
        stopButton.addEventListener("click", stopRecording);
        pauseButton.addEventListener("click", pauseRecording);

        function startRecording() {
            var constraints = { audio: true, video:false }

            recordButton.disabled = true;
            stopButton.disabled = false;
            pauseButton.disabled = false

            navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
                console.log("getUserMedia() success, stream created, initializing Recorder.js ...");
                audioContext = new AudioContext();
                gumStream = stream;
                input = audioContext.createMediaStreamSource(stream);
                rec = new Recorder(input,{numChannels:1})

                //start the recording process
                rec.record()
                countTimeRecord();
            }).catch(function(err) {
                recordButton.disabled = false;
                stopButton.disabled = true;
                pauseButton.disabled = true
            });
        }

        function pauseRecording(){
            let timer = $('.timer').attr('data-time');
            if(!timer) timer = 0;
            if (rec.recording){
                //pause
                rec.stop();
                pauseButton.innerHTML="Resume";
                clearInterval(timer_count);
            }else{
                //resume
                rec.record()
                pauseButton.innerHTML="Pause";
                countTimeRecord(timer);
            }
        }

        function stopRecording() {
            clearInterval(timer_count);
            $('.timer').html("00:00");
            $('.timer').attr('data-time', 0);

            //disable the stop button, enable the record too allow for new recordings
            stopButton.disabled = true;
            recordButton.disabled = false;
            pauseButton.disabled = true;

            //reset button just in case the recording is stopped while paused
            pauseButton.innerHTML="Pause";
            
            //tell the recorder to stop the recording
            rec.stop();

            //stop microphone access
            gumStream.getAudioTracks()[0].stop();

            //create the wav blob and pass it on to createDownloadLink
            rec.exportWAV(createDownloadLink);
        }

        function createDownloadLink(blob) {
            var url = URL.createObjectURL(blob);

            //name of .wav file to use during upload and download (without extendion)
            var date_now = new Date();
            var filename = String(date_now.getFullYear()) + String(date_now.getMonth() + 1) + String(date_now.getDay()) + '-T' +date_now.getHours() + date_now.getMinutes()+date_now.getSeconds() + '-' + Math.floor((Math.random() * 1000) + 1);

            $('#recordingsList').append(`
                <li>
                    <audio src="`+ url +`" controls controlsList="nodownload"> Trình duyệt của bạn không hỗ trợ file này! </audio>
                    `+ filename + `.wav - <a href="`+ url +`" download="`+ filename + `.wav">Save</a>
                </li>
            `);
        }

        function countTimeRecord(timer = 0){
            timer_count = setInterval(function() {
                timer++;
                let minutes  = Math.floor(timer / 60);
                if(minutes < 10) minutes = '0' + minutes;
                let seconds  = Math.floor(timer % 60);
                if(seconds < 10) seconds = '0' + seconds;
                $('.timer').html(minutes + ":" + seconds);
                $('.timer').attr('data-time', timer);
            }, 1000);
        }

        $('.item-sample .item-sample-name a').click(function(e){
            e.preventDefault();
            $(this).parents('.item-sample').find('.item-sample-content').slideToggle('fast');
        });
    });

<?php $this->headScript()->captureEnd() ?>    
