<?php
$dateFormat   = new \ZendX\Functions\Date();
$createArray  = new \ZendX\Functions\CreateArray();
$customString = new \ZendX\Functions\CustomString();
$boxLink      = $this->url('routeExercise', array('post_alias' => $this->post_info['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
$boxName      = $this->item['name'];
$options_item = $this->item['options'] ? unserialize($this->item['options']) : [];
$samples = $this->item['samples'] ? unserialize($this->item['samples']) : [];
?>
<div class="container">
    <div class="main-page-ielts">
        <?php echo $this->blkBreadcrumb($this->arrParams);?>
        <div class="wrapper">
            <p class="wrapper-title">
                <?php 
                $post_link = $this->url('routePostItem', array('category_alias' => $this->post_info['alias'], 'alias' => $this->post_info['alias']), array('force_canonical' => true));
                ?>
                <a href="<?php echo $post_link; ?>" title="<?php echo $this->post_info['name']; ?>"><?php echo $this->post_info['name']; ?></a>
            </p>
            <div class="box_module">
            	<div class="box_title"><h1 class="title-post-test"><?php echo $boxName;?></h1></div>
            	<div class="box_content">
            	    <div class="layout_item_default">
                        <div class="layout_item_default_content layout-exercise layout-writing">
                            <div class="time-limit text-center">
                                Thời gian<br />
                                <b class="time-count"><?php echo $this->item['time_limit']; ?>:00</b>
                            </div>
                            <div class="box-content"><?php echo htmlspecialchars_decode($this->item['content']); ?></div>
                            <hr />
                            <div class="box-desc">
                                <p><b>Thời gian làm bài:</b> <?php echo $this->item['time_limit']; ?> phút</p>
                                <p><b>Tối thiểu:</b> <?php echo $options_item['min_word']; ?> từ</p>
                                <p><b>Tối đa:</b> <?php echo $options_item['max_word'] ? $options_item['max_word']. ' từ' : 'không giới hạn'; ?></p>
                                <p><b>Lưu ý, khi hết thời gian làm bài, hệ thống sẽ tự động đóng bài làm!</b></p>
                            </div>
                            <hr>
                            <div class="box-main-content">
                                <div class="limit-word">
                                    Số từ: <?php echo $options_item['min_word']; ?>/<span class="count-word">0</span><?php echo $options_item['max_word'] ? '/'. $options_item['max_word'] : false; ?>
                                </div>
                                <textarea name="user_content" class="form-control" id="user_content" rows="10"></textarea>
                            </div>
                        </div>
                        <?php 
                        if($samples){
                            ?>
                            <div class="box-samples">
                                <h3 class="box-title">Bài mẫu</h3>
                                <div class="list-samples">
                                    <?php 
                                    foreach ($samples as $item_sample) {
                                        ?>
                                        <div class="item-sample">
                                            <div class="item-sample-name"><a href="javascript:;"><?php echo $item_sample['name']; ?></a></div>
                                            <div class="item-sample-content"><?php echo $item_sample['content'] ? htmlspecialchars_decode($item_sample['content']) : '<i>Đang cập nhật...</i>'; ?></div>
                                        </div>
                                        <?php
                                    }
                                    ?>
                                </div>
                            </div>
                            <?php
                        }
                        ?>
                        <?php
                        if(count($this->itemInvolve) > 0) { 
                            ?>
                            <div class="box_involves">
                                <div class="box_title"><div class="title">Bài test khác</div></div>
                                <div class="box_content">
                                    <div class="layout_category_default">
                                        <?php
                                        foreach ($this->itemInvolve AS $key => $item){
                                            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                                                        
                                            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                                            $description    = nl2br($item['description']);
                                            $created        = $dateFormat->getText($item['created'], 'd.m.Y');
                                            $category_url   = $this->url('routePostCategory', array( 'category_alias' => $item['category_alias']));
                                            $category_name  = '<a href="'. $category_url .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a>';
                                            
                                            echo '<div class="item clearfix">
                                                    <h2 class="title">'. $name .'</h2>
                                                </div>';
                                        } 
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <?php
                        } 
                        ?>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>
<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
        let d = -1;
        let total_minutes = parseInt(<?php echo $this->item['time_limit']; ?>);
        let time_down = setInterval(function() {
            d++;
            let distance = (total_minutes*60 - d)*1000;
            let minutes  = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds  = Math.floor((distance % (1000 * 60)) / 1000);
            if(seconds < 10) seconds = "0"+seconds;
            $('.time-count').html(minutes + ":" + seconds);
            $('[name="time_taken"]').val(d);
            if (distance == 0) {
                clearInterval(time_down);
                $('#user_content').prop('disabled', true);
                $('.box-main-content').append('<br /><div class="limit-word">Hết giờ</div>');
            }
        }, 1000);
        
        let min_word = <?php echo $options_item['min_word'] ?: 0; ?>;
        let max_word = <?php echo $options_item['max_word'] ?: 0; ?>;
        $('#user_content').on('change keyup', function(){
            let words = $(this).val() ? $(this).val().match(/\S+/g).length : 0;
            if(max_word > 0){
                if (words > max_word) {
                  var trimmed = $(this).val().split(/\s+/, max_word).join(" ");
                  $(this).val(trimmed + " ");
                }else {
                    $('.count-word').text(words);
                }
            }else {
              $('.count-word').text(words);
            }
        });

        $('.item-sample .item-sample-name a').click(function(e){
            e.preventDefault();
            $(this).parents('.item-sample').find('.item-sample-content').slideToggle('fast');
        });
    });
<?php $this->headScript()->captureEnd() ?>