<html>

<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php'; ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php'; ?>
</head>

<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php'; ?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php'; ?>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-sm-9 col-sm-push-3">
                    <form action="#" id="frmContact" name="frmContact" method="POST" class="">
                        <div class="box_module">
                            <div class="box_title">
                                <h1 class="title"><?php echo $this->viewModel['category']['name']; ?></h1>
                            </div>
                            <div class="box_content">
                                <div class="box_contact">
                                    <?php
                                    if (!empty($this->viewModel['category']['content'])) {
                                        echo '<div class="category_content">' . htmlspecialchars_decode($this->viewModel['category']['content']) . '</div>';
                                    }
                                    ?>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-name">
                                                <label><?php echo $language['name'][$language_active]; ?></label>
                                                <input type="text" name="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-phone">
                                                <label><?php echo $language['phone'][$language_active]; ?></label>
                                                <input type="text" name="phone" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-address">
                                                <label><?php echo $language['address'][$language_active]; ?></label>
                                                <input type="text" name="address" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-email">
                                                <label><?php echo $language['email'][$language_active]; ?></label>
                                                <input type="text" name="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group" id="input-content">
                                                <label><?php echo $language['content'][$language_active]; ?></label>
                                                <textarea name="content" class="form-control" style="height: 100px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="btnSuccess">
                                                <input type="hidden" name="form_id" value="155819945236c7u33z2978">
                                                <input type="button" onclick="javascript:formRegister('frmContact');" value="<?php echo $language['send_form'][$language_active]; ?>" class="btn btn-lg btn-success submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3 col-sm-pull-9">
                    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/left.php'; ?>
                </div>
            </div>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php'; ?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php'; ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php'; ?>
</body>

</html>