<?php
/* This will give an error. Note the output
 * above, which is before the header() call */
header('Location: '. DOMAIN .'/user/index/login/');
exit;
?>
<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/banner.php';?>
    <div class="container">
        <?php echo $this->blkBreadcrumb($this->arrParams);?>
        <div class="wrapper">
            <div class="row">
            	<div class="col-sm-9">
              		<?php echo $this->content; ?>
              	</div>
              	<div class="col-sm-3">
                    <form action="/search">
                        <div class="input-group" style="margin-bottom: 20px;">
                            <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm" style="height: 29px; border: 1px solid #d52327;" value="<?php echo $_GET['keyword']; ?>">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" style="background: #d52327; color: #fff;">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
              	    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/right.php';?>
                    <?php echo $this->blkPostItemBox($this->arrParams, array('type' => 'default', 'box' => '', 'limit' => 10, 'cache' => true), 'news_hot', 'most-view');?>
              	</div>
            </div>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
</body>
</html>