<?php
$urlImg = $this->arrParams['template']['urlImg'];
?>

<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>
    <?php echo $this->blkDocument($this->arrParams, 'ads-slideshow', array('cache' => true));?>
    <?php echo $this->blkDocument($this->arrParams, 'ads-home', array('cache' => true));?>
    <section class="box-category-home">
        <?php $this->blkPostCategoryBox($this->arrParams, array('type' => 'ielts', 'box' => 'box_home', 'cache' => false, 'limit' => 8), 'home');?>
    </section>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php'; ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php'; ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php'; ?>
</body>
</html>