<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>
    <div class="container">
        <div class="wrapper">
      		<?php echo $this->content;?>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
</body>
</html>