
.livechat{z-index: 1000; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s; width: 200px; position: fixed; text-align: center; bottom: 0; right: 15px; color: #fff; background: #ec1c3c; padding: 5px 10px; border-radius: 10px 10px 0 0;}
.livechat a{text-align: center; color: #fff; text-transform: uppercase; font-size: 14px;}
.livechat a .fas{margin-right: 10px;}
.livechat:hover a{font-weight: bold;}