@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default */
body {font-family: "Roboto", sans-serif; background: #fff; font-weight: 400; }
img{max-width: 100%; height: auto;}
a { text-decoration: none; color: #d52327; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
a:HOVER { text-decoration: none; color: #000;}
a:FOCUS { text-decoration: none; color: #000;}
h1,h2,h3,h4,h5,h6{ margin:25px 0; font-weight: 600;}
h2 {font-size: 27px;}
h3 {font-size: 23px;}

ul{padding-left: 0;}
b,strong{font-weight: 700;}
button, .form-control{ outline: none !important;}
.row-flex{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; }

.clr, .clear{ clear: both;}
.wrapper{ padding-bottom: 50px;}
.wrapper_content{ padding: 30px; border-top: 10px solid #d4cab9;}
.container-fluid{ padding: 60px 0 30px;}
.submit_loading{ position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7);}
.submit_loading:AFTER{ content: ""; position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background: url("../img/loading.gif") no-repeat center center;}
.box_loading{ position: relative; background-color: rgba(255, 255, 255, 0.7);}
.box_loading:AFTER{ content: ""; position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background: url("../img/loading.gif") no-repeat center center;}
.submit_loading{ position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7);}
.submit_loading:AFTER{ content: ""; position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background: url("../img/loading.gif") no-repeat center center;}

.modal-search { display: none; background: #FFF; position: absolute; width: 100%; z-index: 999999; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); -webkit-transition: .50s; transition: .50s; transition: all .2s ease-in-out 0s; right: 15px; top: 20px }
.modal-search .container { position: relative }
.modal-search .s-close { position: absolute; right: 20px; top: 25px; font-size: 13px; cursor: pointer; color: #fff; box-shadow: none }
.mobile-search-icon { display: none }
.search-open .modal-search { display: block }
.modal-search .form-control:focus, .modal-search .form-control { background: rgba(0, 0, 0, .6) none repeat scroll 0 0; border: medium none; color: #fff; font-size: 14px; height: 40px; padding: 5px 20px; width: 40%; top: 0; right: 0; transition: all .2s ease-in-out 0s; position: absolute; border-radius: 0!important; margin-top: 10px; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05) }
.search-active .modal-search { box-shadow: none; -webkit-box-shadow: none; border-color: #e0e0e0 }

.hdit-related-posts { background-color: #f8f8f8; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px dashed #0078af; margin: 10px 0; }
.hdit-related-posts h4 { margin: 10px 0; }
.hdit-related-posts .title { font-size: 20px; font-weight: 500; color: #0078af; padding-left: 5px; }
.hdit-related-posts ul { list-style-type: none; padding-left: 0; }
.hdit-related-posts i.fas { color: #D52327; }

/* Bootstrap */
.form-group{ margin-bottom: 12px;}
.form-group .text-danger{ font-size: 12px; padding-top: 2px;}
.form-control{ border-radius: 0; box-shadow: none !important;}
.group_menu_slide{ position: relative;}
.group_menu_slide .banner{ min-height: 60px;}
.group_menu_slide .banner img{ width: 100%;}
.modal-content{ border: 0; border-radius: 0; -webkit-box-shadow: 0 0 0; box-shadow: 0 0 0;}
.table{ font-size: 13px;}
.alert{ border-radius: 0;}
.btn{ border-radius: 0; border: 0; box-shadow: 0 0 0; line-height: 100%; -webkit-box-shadow: 0 0 0;}
.btn-default{ background-color: #EEE;}

.box_breadcrumb{ background-color: #fff; }
.box_breadcrumb .breadcrumb{ margin: 0; padding: 30px 0; background: #FFF; text-transform: uppercase; font-size: 12px; }
.box-banner img{width: 100%;}

/* Header */
.box_header{ padding: 20px 0;}
.box_header .container{ position: relative;}
.box_header img{ max-width: 100% !important;}
.box_header p{ margin: 0;}

.box_menuTop{ text-align: right; background-color: #2664ce;}
.box_menuTop .container{ position: relative;}
.box_menuTop .logo{ position: absolute; top: 0; left: 0; background-color: #FFF; width: 230px; height: 168px; z-index: 99; text-align: center; box-shadow: 0 3px 3px #CCC;}
.box_menuTop .logo img{ margin-top: 10px;}
.box_menuTop ul{ margin: 0; padding: 0; list-style: none;}
.box_menuTop ul li{ display: inline-block; margin-left: 10px;}
.box_menuTop ul li a{ color: #FFF; padding: 10px 0 10px 20px; display: inline-block;}
.box_menuTop ul li:FIRST-CHILD a{ border: 0;}

.box_top{ background-color: #fff; line-height: 32px; color: #FFF; border-bottom: 1px solid #bfc1c3; font-weight: 500; }
.box_top .row>*{height: 32px;}
.box_top .hotline{ color: #4c607d; font-size: 12px;}
.box_top .hotline a{ color: #4c607d;}
.box_top .user{ display: inline-block;}
.box_top .user:AFTER{ content: ""; display: block; clear: both;}
.box_top .user>ul{ margin: 0; padding: 0; list-style: none; height: auto;}
.box_top .user>ul>li{display: inline-block; float: left;}
.box_top .user>ul>li>a{ color: #333; padding: 0 15px; height: 32px; line-height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; display: block;}
.box_top .user>ul>li>a:HOVER{background-color: #e1e1e1;}
.box_top .social{display: inline-block;}
.box_top .social a{color: #4c607d; display: inline-block; min-width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: left;}
.box_top .social a:HOVER{ color: #000; background-color: #e1e1e1;}
.box_top .social a:first-child{ border-left: 1px solid #e1e1e1;}
.box_top .social:AFTER{ content: ""; display: block; clear: both;}
.box_top .email{padding-left: 15px; font-size: 12px; color: #333;}
.box_top .userinfo{float: right;}

.box_tab{ margin-bottom: 30px;}
.box_tab .tab_list:AFTER{ content: ""; display: block; clear: both; margin-bottom: -1px;}
.box_tab .tab_list a{ display: inline-block; float: left; font-size: 16px; font-weight: bold; background-color: #237c3a; color: #FFF; padding: 10px 15px;}
.box_tab .tab_list a.active{ background: #EEE; color: #237c3a;}
.box_tab .tab_content{ padding: 15px; background: #EEE;}

/* Menu */
.box_menuMain { background-color: #fff;}
.box_menuMain .container{position: relative; -js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; align-items: center;}
.box_menuMain .row{ margin: 0;}
.box_menuMain .logo_main{width: 150px; display: inline-block; text-align: center;}
.box_menuMain .logo_main img{max-height: 70px; width: auto;}
.box_menuMain .menu{ padding: 0; display: contents; /*flex: 1 1 auto;*/ text-align: right;}
.box_menuMain .menu>ul{ padding: 0; list-style: none; margin: 0; width: 100%; text-align: center; display: flex; justify-content: space-between;}
.box_menuMain .menu>ul>li{ display: inline-block; position: relative; text-align: left;}
.box_menuMain .menu>ul>li>a{ display: block; font-size: 14px; padding: 48px 20px 13px 20px; color: #000; font-weight: bold; line-height: 100%; text-transform: uppercase; }
.box_menuMain .menu>ul>li>ul{ display: none; position: absolute; top: 100%; left: 0; padding: 10px 0; list-style: none; margin: 0; min-width: 200px; z-index: 999; background-color: #FFF; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175); box-shadow: 0 6px 12px rgba(0,0,0,0.175);}
.box_menuMain .menu>ul>li>ul>li{ border-bottom: solid 1px #f5f5f5;}
.box_menuMain .menu>ul>li>ul>li>a{ color: #555; font-size: 13px; font-weight: 400; padding: 10px 20px; display: block; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}
.box_menuMain .menu>ul>li:FIRST-CHILD>a{ border: 0;}
.box_menuMain .menu>ul>li:hover>a, .box_menuMain .menu>ul>li>a.active{ background-color: #fff; color: #d52327;}
.box_menuMain .menu>ul>li:hover>ul{ display: block;}
.box_menuMain .menu>ul>li>ul>li>ul{ display: none; position: absolute; top: 0; left: 100%; z-index: 999; background-color: #FFF; list-style: none; margin: 0; padding: 0; min-width: 200px; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175); box-shadow: 0 6px 12px rgba(0,0,0,0.175);}
.box_menuMain .menu>ul>li>ul>li>ul>li{ border-bottom: solid 1px #f5f5f5;}
.box_menuMain .menu>ul>li>ul>li>ul>li>a{ color: #555; font-size: 13px; font-weight: 400; padding: 7px 20px; display: block; text-transform: inherit; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}
.box_menuMain .menu>ul>li>ul>li>ul>li:hover>a{ background: #d52327; color: #FFF;}
.box_menuMain .menu>ul>li>ul>li:LAST-CHILD{ border: 0;}
.box_menuMain .menu>ul>li>ul>li:hover>a{ background: #d52327; color: #FFF;}
.box_menuMain .menu>ul>li>ul>li:hover>ul{ display: block;}
/*.box_menuMain .menu>ul>li>ul>li.dropdown:BEFORE{ position: absolute; top: 4px; right: 10px; content: "\f105"; font-family: "FontAwesome"; font-size: 16px;}*/
.box_menuMain .header{flex: 1 1 auto; text-align: right;}
.box_menuMain .header img{ height: 60px;}
.box_menuMain .language{ width: 100px; float: right; text-align: right; padding-top: 18px;}

.box_menuMobile{ position: fixed; top: 0; left: 0; width: 70%; height: 100%; background-color: #fff; overflow: auto; z-index: 99999}
.box_menuMobile ul{ margin: 0; padding: 10px 0; list-style: none;}
.box_menuMobile ul li a{ display: block; padding: 0 10px; font-weight: normal; text-transform: uppercase; position: relative; color: #333;}
.box_menuMobile ul li.dropdown>a>i{position: absolute; right: 10px; top: 0; bottom: 0; padding: 13px 15px; transition: all 0.3s; }
.box_menuMobile ul li.dropdown>a.active>i{transform: rotate(180deg);}
.box_menuMobile ul li a span{ display: block; padding: 10px 0; font-weight: bold; font-size: 14px; border-bottom: 1px solid #ccc;}
.box_menuMobile ul li a.active{color: #d52327;}
.box_menuMobile ul li.dropdown>a>span{padding-right: 40px;}
.box_menuMobile ul li ul{ margin-left: 15px; padding: 0 0 10px; display: none;}
.box_menuMobile ul li ul li a{ font-weight: normal; text-transform: none; font-size: 13px;}

.bg_menu_mobile{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

.box_menuFooter { background-color: #206d34;}
.box_menuFooter ul{ margin: 0; padding: 0; list-style: none; display: table; margin: 0 auto;}
.box_menuFooter ul>li{ display: inline-block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; font-weight: normal; display: block; padding: 8px 20px; color: #FFF; display: 12px;}
.box_menuFooter ul>li>ul>li{ float: none; width: 100%; padding-right: 30px;}
.box_menuFooter ul>li>ul>li>a{ text-transform: none; font-weight: normal; margin-bottom: 5px;}
.box_menuFooter a{ color: #1b3548;}
.box_menuFooter a:hover{ color: #8996a0;}

/* ________________________ Tuấn Anh ________________________ */
audio, canvas, progress, video{outline: none !important;}
hr{border-top-color: #ccc}
.row-flex{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; }
iframe{width: 100%;}
.item-col{margin: 10px 0; margin-left: auto; margin-right: auto;}
.text-bold{font-weight: 600;}
.text-white{color: #fff;}
.text-green{color: #35aa47 !important;}
.text-red{color: #d84a38 !important;}
.line-through{text-decoration: line-through;}
.form-control{max-width: 100%;}
p:last-child{margin-bottom: 0;}

section.box-home{padding: 40px 0; }
.section-title{font-size: 28px; font-weight: bold; text-transform: uppercase; position: relative; padding-bottom: 15px; margin: 0 0 15px; }
.section-title a{color: #333;}
.section-title:after{content: ''; width: 120px; height: 7px; background-color: #d52327; max-width: 100%; left: 0; bottom: -2px; position: absolute;}
.section-title.text-center:after{left: 50%; transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); }

.category_item_grid{display: flex; flex-flow: wrap;}

/* Box test */
.box-test{background-color: #fbfbfb; }
.box-test .box-test-title{padding: 15px;overflow-x: hidden; background-color: #fff;}
.box-test .box-test-title .item-test-title{font-size: 30px; text-transform: uppercase; margin: 0; display: block; position: relative; text-align: center; font-family: "Montserrat"; align-items: center;}
.box-test .box-test-title .item-test-title img{max-width: 60px; max-height: 50px; width: auto; display: inline-block; margin-right: 15px;}
.box-test .box-test-content{margin-top: 15px; background-color: #fff; padding: 15px; }
.box-test .box-test-content .tab-content .row{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; }
.box-test .box-test-content .item-post-img img{border-radius: 15px;}
.box-test .title-side{text-align: center; color: #d52327; font-size: 18px; margin-bottom: 10px; font-weight: bold; }
.box-test .nav-test{list-style: none; padding: 0;}
.box-test .nav-test li+li{margin-top: 2px;}
.box-test .nav-test li a{display: block; padding: 10px 20px; border-radius: 50px; font-weight: bold; color: #333; }
.box-test .nav-test li a:before{content: ''; display: inline-block; width: 7px; height: 7px; background-color: #d52327; border-radius: 100%; vertical-align: middle; margin-right: 10px; }
.box-test .nav-test li a:hover,
.box-test .nav-test li.active a{background-color: #c7c7c7; }
.box-test .item-post .item-post-title{font-size: 14px; margin: 15px 0;}
.box-test .item-post .item-post-title a{color: #333;}
.box-test .box-test-title ul{list-style: none; float: right; margin: 10px 0 0; }
.box-test .box-test-title ul li{display: inline-block; margin: 5px 0; border-right: #333 2px solid; padding-right: 7px; }
.box-test .box-test-title ul li+li{padding-left: 7px; }
.box-test .box-test-title ul li a{color: #333; font-weight: bold;}

.box-teacher { padding: 50px 0;  background: #e8e8e8;}
.box-teacher .box-title { color: #d42226; font-size: 30px; text-transform: uppercase; font-family: "UTMAvoBold", sans-serif; background: url(../img/langgo/background-title-teacher.png) no-repeat center top; padding: 30px 0; }
.box-teacher .box-content { padding-top: 30px; }
.box-teacher .btn-cta{ margin-top: 40px;}
.box-teacher .box-content .teacher-item .teacher-name { color: #1b5393; text-align: center; font-size: 16px; margin-bottom: 10px; text-transform: uppercase; font-weight: bold; }
.box-teacher .box-content .teacher-item .teacher-image { max-width:100%; border-radius: 50%; padding-bottom: 15px; margin: 0 auto;}
.box-teacher .box-content .teacher-item .teacher-description { font-size: 16px; color: #000; text-align: center; padding: 0 10px;}
.box-teacher .owl-theme .owl-nav{ margin: 0;}
.box-teacher .owl-theme .owl-dots{ padding-top: 20px;}
.box-teacher .owl-theme .owl-dots .owl-dot span{ width: 12px; height: 12px; border: 1px solid #d22327; background-color: #FFF;}
.box-teacher .owl-theme .owl-dots .owl-dot.active span,
.box-teacher .owl-theme .owl-dots .owl-dot:hover span{ background-color: #d22327;}
.box-teacher .owl-nav .owl-prev,
.box-teacher .owl-nav .owl-next{ position: absolute; top: 50%; text-indent: -99999px; overflow: hidden; width: 35px; height: 35px; margin-top: -27px; border-radius: 4px; outline: none !important;}
.box-teacher .owl-nav .owl-prev{ background: url("../img/prev.png") no-repeat center center !important; left: -70px;}
.box-teacher .owl-nav .owl-next{ background: url("../img/next.png") no-repeat center center !important; right: -70px;}

/* main-page-ielts */
.wrapper-post-test{background-image: url(../img/bg_bai_viet.jpg); background-size: 100%; background-position: top center; background-repeat: no-repeat; padding: 150px 0 30px; }
.wrapper-post-test .wrapper-title{color: #d52327; font-size: 26px; font-weight: bold; margin-top: 0; margin-bottom: 15px;}
.wrapper-post-test .wrapper-title a{color: #d52327;}
.main-page-ielts, .main-page-ielts .box_module .box_content{background-color: #fff;}
.main-page-ielts .box-content{margin-bottom: 15px;}
.main-page-ielts .box_breadcrumb .breadcrumb{padding: 10px; background-color: #f5f6f7;}
.main-page-ielts .box_module .box_title .title-post-test{margin: 0 0 30px; padding: 15px 25px; background-color: #d52327; color: #fff; font-size: 24px; text-align: center; font-weight: 300;}
.main-page-ielts .box_module .box_title .title-post-test a{color: #fff; font-weight: 600;}
.main-page-ielts .layout_item_default .layout_item_default_content{padding: 25px; border: #ccc thin solid; margin-bottom: 30px;}
.main-page-ielts .box_involves{padding: 0;}
.main-page-ielts .box_involves .box_title .title{padding-bottom: 5px; border-bottom: #ccc thin solid; font-size: 16px;}
.main-page-ielts .layout_category_default{margin-bottom: 15px;}
.main-page-ielts .layout_category_default .item{padding: 5px 0; margin: 0;}
.main-page-ielts .layout_category_default .item .title{margin: 0; font-size: 16px;}
.main-page-ielts .layout_category_default .item .title a{color: #333;}
.main-page-ielts .layout_category_default .item .title a:before{content: ''; display: inline-block; margin-right: 5px; width: 7px; height: 7px; background-color: #d52327; border-radius: 100%; vertical-align: middle; }
.main-page-ielts .layout_category_default .item-post .item-post-img{margin-bottom: 15px;}
.main-page-ielts a{color: #337ab7;}
.main-page-ielts .box_comment{padding: 0;}
.main-page-ielts .box_comment .box_title .title{text-transform: unset;}
.main-page-ielts h1, .main-page-ielts h2, .main-page-ielts h3, .main-page-ielts h4{ margin: 22px 0;}

.main-page-ielts .layout-exercise {font-size: 15px;}
.main-page-ielts .layout-exercise .time-limit{position: fixed; right: 0; top: 130px; background-color: #fff; z-index: 9; padding: 15px; font-size: 16px; border-left: #d52327 5px solid; }
.main-page-ielts .layout-exercise .time-limit .time-count{font-size: 28px; color: #d52327; min-width: 74px; display: inline-block;}
.main-page-ielts .layout-exercise .box-action {margin-top: 15px; border-top: #d52327 5px solid; padding-top: 15px;}
.main-page-ielts .layout-exercise .box-action .btn-action{background-color: #d52327; color: #fff; font-size: 18px;}
.main-page-ielts .layout-exercise .answer-control{font-weight: 400;}
.main-page-ielts .layout-exercise input,
.main-page-ielts .layout-exercise:not(.layout-writing) textarea{background: none; width: 120px; border: none; border-bottom: #ccc thin solid; margin: 0 7px; outline: none; height: 28px !important; line-height: 20px; vertical-align: middle; overflow: hidden; max-width: 100%;}
.main-page-ielts .layout-exercise:not(.layout-writing) textarea{width: 250px;}
.main-page-ielts .layout-exercise input[type="radio"],
.main-page-ielts .layout-exercise input[type="checkbox"]{width: auto;}
.main-page-ielts .layout-exercise select{background: none; min-width: 100px; border: #ccc thin solid; margin: 0 7px; outline: none; padding: 2px 7px;}
.main-page-ielts .layout-exercise .answer-control.type-radio{background: none; min-width: 120px; margin: 0 7px; outline: none; border-left: #d52327 2px solid; margin-bottom: 15px; padding-left: 15px;}
.main-page-ielts .layout-exercise .answer-control.type-radio label{font-weight: 400; cursor: pointer;}
.main-page-ielts .layout-exercise .form-control{outline: none; box-shadow: none;}
.main-page-ielts .layout-listenning .box-audio{margin-bottom: 15px;}
.main-page-ielts .layout-listenning .box-audio audio{width: 600px; max-width: 100%; outline: none !important; border: #ccc thin solid; border-radius: 100px;}
.main-page-ielts .layout-reading .box-reading .item-col:first-child{border-right: #d52327 2px solid;}
.main-page-ielts .layout-reading .box-reading .item-col{max-height: 90vh; overflow-x: hidden;}
.main-page-ielts .layout-writing .box-desc p{margin: 0;}
.main-page-ielts .layout-writing .limit-word{background-color: #d9d9d9; padding: 8px 15px; text-align: center; font-weight: 450; margin-bottom: 15px;}
.main-page-ielts .box-samples{border: #ccc thin solid; padding: 25px; margin-bottom: 20px;}
.main-page-ielts .box-samples .box-title{font-size: 24px; margin: 0 0 15px;}
.main-page-ielts .box-samples .item-sample+.item-sample{margin-top: 10px;}
.main-page-ielts .box-samples .item-sample .item-sample-name{font-weight: 450; font-size: 14px; margin-bottom: 7px;}
.main-page-ielts .box-samples .item-sample .item-sample-name a{color: #333;}
.main-page-ielts .box-samples .item-sample .item-sample-name:before{content: ''; display: inline-block; width: 7px; height: 7px; background-color: #d52327; border-radius: 100%; vertical-align: middle; margin-right: 10px; }
.main-page-ielts .box-samples .item-sample .item-sample-content{display: none; padding-left: 15px; border-left: #d52327 2px solid; margin-left: 15px; font-size: 14px;}
.main-page-ielts .layout-sentence .item-sentence+.item-sentence{margin-top: 15px;}
.main-page-ielts .layout-sentence .item-sentence .item-sentence-name i{font-size: 8px; display: inline-block; background-color: #d52327; color: #fff; width: 15px; height: 15px; line-height: 15px; text-align: center; border-radius: 100%; vertical-align: text-top; cursor: pointer;}
.main-page-ielts .layout-sentence .item-sentence .item-sentence-question{text-align: center; padding: 6px 15px; min-height: 35px; }
.main-page-ielts .layout-sentence .item-sentence .item-sentence-question span{display: inline-block; border: #ccc thin solid; padding: 5px 12px; cursor: pointer; font-weight: 500; }
.main-page-ielts .layout-sentence .item-sentence .item-sentence-answer{border: #ccc thin solid; text-align: center; padding: 6px 15px; min-height: 35px; }
.main-page-ielts .layout-sentence .item-sentence .item-sentence-answer span{cursor: pointer;}
.main-page-ielts .layout-speaking .box-record{width: 500px; max-width: 100%; margin: 0 auto; }
.main-page-ielts .layout-speaking .box-record .timer{font-size: 18px; font-weight: 500; margin: 10px; height: 25px; }
.main-page-ielts .layout-speaking .box-record #controls {display: flex; }
.main-page-ielts .layout-speaking .box-record #controls button{flex-grow: 1; height: 3.5rem; min-width: 2rem; border: none; border-radius: 0.15rem; background: #d52327; margin-left: 2px; box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2); cursor: pointer; display: flex; justify-content: center; align-items: center; color: #fff; font-weight: bold; font-size: 1.5rem; }
.main-page-ielts .layout-speaking .box-record audio{display: block; width: 100%; margin: 10px 0; }
.main-page-ielts .layout-speaking .box-record #controls button:hover, .box-record #controls button:focus {outline: none; background: #c72d1c; }
.main-page-ielts .layout-speaking .box-record #controls button::-moz-focus-inner {border: 0; }
.main-page-ielts .layout-speaking .box-record #controls button:active {box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2); line-height: 3rem; }
.main-page-ielts .layout-speaking .box-record #controls button:disabled {pointer-events: none; background: lightgray; }
.main-page-ielts .layout-speaking .box-record #controls button:first-child {margin-left: 0; }
.main-page-ielts .layout-speaking .box-record ul{padding: 0;}
.main-page-ielts .layout-speaking .box-record #recordingsList li {list-style: none; margin-top: 25px; }
.main-page-ielts .layout-speaking .box-record #recordingsList a{color: #d52327; }

/* Sidebar */
.layout_category_default .item-col .item-sidebar{display: block !important;}
.item-sidebar+.item-sidebar{margin-top: 25px; }
.item-sidebar .item-sidebar-title{border-left: #d52327 10px solid; background-color: #d9d9d9; padding: 7px 15px; font-weight: bold; color: #d52327; font-size: 18px; margin: 0;}
.item-sidebar .item-sidebar-content{padding: 5px 0; }
.item-sidebar .list-cate-sidebar{list-style: none; padding: 0; }
.item-sidebar .list-cate-sidebar>li>a{display: block; padding: 6px 15px 6px 45px; position: relative; background-color: #dfdfdf; color: #333; font-weight: 500; font-size: 16px; }
.item-sidebar .list-cate-sidebar>li+li{margin-top: 5px;}
.item-sidebar .list-cate-sidebar>li>a>i{position: absolute; left: 5px; top: 0; color: #d52327; font-size: 24px; transition: all 0.3s; display: inline-block; padding: 5px 10px; }
.item-sidebar .list-cate-sidebar>li>a>i.active{transform: rotate(90deg);}
.item-sidebar .sub-cate-sidebar{list-style: none; padding-left: 45px; margin-bottom: 5px; display: none; }
.item-sidebar .sub-cate-sidebar li{margin-top: 5px;}
.item-sidebar .sub-cate-sidebar li a{color: #333; font-weight: 500;}
.list-post-sidebar .item-post-sb{overflow: hidden; }
.list-post-sidebar .item-post-sb+.item-post-sb{margin-top: 7px; padding-top: 7px; border-top: #d5d5d5 thin solid; }
.list-post-sidebar .item-post-sb-img{width: 100px; float: left; }
.list-post-sidebar .item-post-sb-content{padding-left: 115px; }
.list-post-sidebar .item-post-sb-title{font-size: 15px; font-weight: 400; margin: 0 0 7px;}
.item-post-meta, .item-post-meta a{color: #8c8c8c; font-size: 12px; }
.item-post-meta span{display: inline-block;}
.item-post-meta span+span{padding-left: 7px; margin-left: 7px; border-left: #8c8c8c thin solid;}

.fb-page{width: 100%;}
.layout_category_default .item-teacher{margin-bottom: 30px;}
.layout_category_default .item-post .item-post-title{font-size: 15px; text-align: left; margin: 0;}
.layout_category_default .item-post .item-post-title a{color: #333;}
.layout_category_default .item-post .created{font-size: 13px; color: #929292; padding: 10px 0;}

.pagination-ielts>li{display: inline-block; overflow: hidden;}
.pagination-ielts>li+li{margin-left: 3px;}
.pagination-ielts>li>a, .pagination-ielts>li>span{margin-left: 0;background: none !important; color: #333 !important; border: #333 thin solid !important; border-radius: 0 !important;}
.pagination-ielts>.active>a, .pagination-ielts>.active>span, .pagination-ielts>.active>a:hover, .pagination-ielts>.active>span:hover, .pagination-ielts>.active>a:focus, .pagination-ielts>.active>span:focus{background-color: #d52327 !important; color: #fff !important; }

.box-ielts-results .result-info-title{margin-top: 0; font-size: 24px;}
.box-ielts-results .list-parameters{margin-bottom: 25px;}
.box-ielts-results .list-parameters .item-parameter{margin: 5px 0; display: inline-block; background-color: #d9d9d9; font-weight: 600; min-width: 130px; padding: 15px;}
.box-ielts-results .list-parameters .item-parameter+.item-parameter{margin-left: 10px;}
.box-ielts-results .list-parameters .item-parameter p{font-size: 30px; color: #d52327;}
.box-ielts-results .box-result-content{margin-bottom: 25px;}
.box-ielts-results .take-quiz-again{background-color: #d9d9d9; font-weight: 600; color: #d52327; font-size: 16px; margin-bottom: 25px; padding: 10px 20px;}
.box-ielts-results .take-quiz-again a{color: #d52327;}
.box-ielts-results .quiz-feedback{border: #d9d9d9 thin solid; padding-bottom: 15px;}
.box-ielts-results .quiz-feedback .quiz-feedback-title{background-color: #d9d9d9; font-weight: 600; font-size: 16px; margin-bottom: 25px; padding: 10px 20px;}
.box-ielts-results .quiz-feedback .quiz-feedback-title i{color: #d52327;}
.box-ielts-results .quiz-feedback .quiz-feedback-content{width: 700px; max-width: 100%; margin: 0 auto;}
.box-ielts-results ul.answer-result.type-choose{background: none; min-width: 100px; margin: 0 7px; outline: none; border-left: #d52327 2px solid; margin-bottom: 15px; padding-left: 15px;}
.box-ielts-results ul.answer-result{list-style: none;}
.box-ielts-results ul.answer-result li.incorrect{color: #c1c1c1;}
.box-ielts-results .answer-result b, .box-ielts-results .answer-result .text-bold{color: blue; font-weight: 600;}

.table .col-30{ width: 30px;}
.table .col-40{ width: 40px;}
.table .col-50{ width: 50px;}
.table .col-60{ width: 60px;}
.table .col-70{ width: 70px;}
.table .col-80{ width: 80px;}
.table .col-90{ width: 90px;}
.table .col-100{ width: 100px;}
.table .col-110{ width: 110px;}
.table .col-120{ width: 120px;}
.table .col-150{ width: 150px;}
.table .col-200{ width: 200px;}
.table .col-210{ width: 2100px;}
.table .col-220{ width: 2200px;}
.table .col-250{ width: 2500px;}
.table .col-300{ width: 300px;}

/* ______________________ KẾT THÚC TUẤN ANH _________________________ */

.box-partner { display: none; background: #efeeee; }
.box-partner .box-item-slider { margin-top: 50px; }
.box-partner .box-content{ margin-bottom: 60px;}
.box-partner .item .image img{ width: 100%;}
.box-partner .item .title{ font-size: 15px; color: #252525; padding: 15px 0; line-height: 23px; font-family: "Roboto-Regular";}

.box-partner .item{position: relative;}
.box-partner .item .fa{position: absolute; color: #fff; font-size: 50px; top: 50%; left: 50%; margin: -25px 0 0 -25px;}
.box-partner .bxslider-partner .item .image{height: 210px;}
.box-partner .bxslider-partner .item .image img{height: 100%;}
.box-partner .bxslider{ display: none; position: relative;}
.box-partner .bx-pager{ display: none;}
.box-partner .bx-wrapper{ position: relative; -moz-box-shadow: 0 0 0 #ccc; -webkit-box-shadow: 0 0 0 #ccc; box-shadow: 0 0 0 #ccc; border: 0 solid #fff; background: none;}
.box-partner .bx-controls-direction a{ position: absolute; top: 50%; text-indent: -99999px; overflow: hidden; width: 35px; height: 35px; margin-top: -27px; border-radius: 4px;}
.box-partner .bx-controls-direction a:hover{ box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}
.box-partner .bx-controls-direction a.bx-prev { background: url("../img/langgo/prev.png") no-repeat center center; left: -88px; }
.box-partner .bx-controls-direction a.bx-next { background: url("../img/langgo/next.png") no-repeat center center; right: -88px; }

.box-trial-register {color: #30373d; position: relative; padding: 40px 0; background: url(../img/background-trial-register.jpg) no-repeat center;}
.box-trial-register .container-box { width: 1000px; max-width: 100%; }
.box-trial-register .register-box{ margin-top: 15px; display: flow-root;}
.box-trial-register .register-box .text-description { color: #fff; padding: 45px 0; text-align: center; font-size: 18px; }
.box-trial-register .register-box .box-title{ color: #fff; font-size: 30px; text-align: center; text-transform: uppercase; margin-bottom: 25px; font-weight: 700; font-family: "Montserrat";}
.box-trial-register .register-box .box-title p{color: #fff; text-align: center;font-size: 18px; text-transform: uppercase; font-weight: 300;}
.box-trial-register .register-box .form-control{border: transparent 2px solid; border-bottom: 1px solid #fff; color:#fff; height: 45px; border-radius: 5px; padding: 0; font-size: 17px; font-weight: 400; font-family: "Montserrat"; border-radius: 0; line-height:27px; background-color: transparent;}
.box-trial-register .register-box .form-control::placeholder{color: #fff; opacity: 0.8;}
.box-trial-register .register-box select{font-size: 17px; color: #111;}
.box-trial-register .register-box option{font-size: 17px; color: #111;}
.box-trial-register .register-box .error{ color: #FF0000;}
.box-trial-register .register-box .alert{margin-top: 10px; border-radius: 0;}
.box-trial-register .register-box .btnSuccess{ text-align: center; margin-top: 15px; }
.box-trial-register .btn_register{text-align: center;}
.box-trial-register .btn_register a{ display: inline-block; background-color: #d52327; font-size: 20px; font-family: "Montserrat"; font-weight: 700; height: 45px; line-height: 45px; text-transform: uppercase; color: #FFF; border-radius: 0; text-align: center; width: 300px; max-width: 100%;}
.box-trial-register .btn_register a:hover{ background-color: rgba(255,30,38,0.7);}
.box-trial-register .register-box .btnSuccess .input-lg:FOCUS{ outline: none;}
.box-trial-register .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: #fff !important; height: 65px; border-radius: 0; padding: 0 30px; font-family: "Roboto-Regular"; font-size: 20px;}
.box-trial-register .bootstrap-select>.dropdown-toggle.bs-placeholder{padding: 0; color: #111; height: 53px; background: #fff; border-radius: 0; border: 0; font-size: 17px;}
.box-trial-register .btn-group.open .dropdown-toggle{color: #111; height: 53px; background: #fff; border-radius: 0; border: 0; font-size: 17px;}
.box-trial-register .bootstrap-select>.dropdown-toggle{color: #111; height: 53px; background: #fff; border-radius: 0; border: 0; font-size: 17px;}
.box-trial-register .hotline{text-align: center; padding: 40px 0; color: #fff; font-size: 22px; font-weight: 300;}

.box-event-news { background: #efeeee; padding: 125px 0 80px 0; }
.box-event-news .box-content { border: 2px solid #d82228; }
.box-event-news .box-content .box-left, .box-event-news .box-content .box-right { padding: 40px 30px; }
.box-event-news .box-content .box-left .box-title { text-transform: uppercase; color: #d42226; font-size: 30px; font-family: "UTMAvoBold", sans-serif; padding-bottom: 20px; border-bottom: 2px solid #d42226; }
.box-event-news .border-between > [class*='col-']:after { background: #d82228; bottom: 45px; content: " "; right: 0; position: absolute; width: 2px; top: 45px; }
.box-event-news .border-between > [class*='col-']:last-child:after { display: none; }
.box-event-news .box-right .item { padding: 15px 0; border-bottom: 1px solid #000; }
.box-event-news .box-right .item a { background: url(../img/langgo/icon-arrow-article.png) no-repeat left 5px; display: block; padding-left: 20px; font-size: 16px; color: #000; font-family: "Roboto Regular", sans-serif; position: relative; }
.box-event-news .box-right .item a:hover { color: #d42226; }
.box-event-news .box-left .title a { font-size: 16px; color: #000; font-weight: bold; font-family: "Roboto", sans-serif; }
.box-event-news .box-left .title a:hover { color: #d42226; }
.box-event-news .box-left .title { padding: 15px 0; text-align: justify; }
.box-event-news .box-content .box-left .items { position: relative; padding-top: 20px; }
.box-event-news .box-content .box-left .items img { height: 150px;}
.box-event-news .box-content .box-left .content { text-align: justify; }

.box-media { padding: 120px 0 130px 0; }
.box-media .box-title .title { font-family: "UTMAvoBold", sans-serif; text-transform: uppercase; font-size: 30px; color: #d42226; padding-bottom: 50px; }
.box-media .box-content { text-align: center; display: flex; flex-wrap: wrap; justify-content: center;}
.box-media .box-content a { display: inline-block; margin: 0 15px; padding-bottom: 20px; padding: 10px; }
.box-media img { filter: grayscale(1); }
.box-media img:hover { filter: grayscale(0); transition: 0.5s ease-in-out; }

.box_bxslider{ display: none; }
.box_bxslider .bxslider{ margin: 0; padding: 0; list-style: none; left: 0;}
.box_bxslider .bxslider img{ width: 100%;}
.box_bxslider .bxslider .item{ display: block; position: relative;}
.box_bxslider .bx-pager{ display: none; position: absolute; bottom: 20px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_bxslider .bx-wrapper { position: relative;}
.box_bxslider .bx-wrapper .bx-pager.bx-default-pager a{ width: 16px; height: 16px; display: inline-block; text-indent: -99999px; margin: 0 4px; border: 2px solid #FFF; background: transparent; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_bxslider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_bxslider .bx-wrapper .bx-pager.bx-default-pager a.active{ background: #237c3a;}
.box_bxslider .bx-pager-item{ display: inline-block;}
.box_bxslider .bx-controls-direction{ display: block;}
.box_bxslider .bx-controls-direction a{ position: absolute; top: 50%; display: inline-block; width: 26px; height: 40px; margin-top: -20px; background: url("../img/icon_next_2.png") no-repeat center center rgba(0, 0, 0, 0.1); text-indent: -99999px; overflow: hidden; z-index: 999;}
.box_bxslider .bx-controls-direction a.bx-prev{ left: 0; background-image: url("../img/icon_prev_2.png");}
.box_bxslider .bx-controls-direction a.bx-next{ right: 0; left: auto; background-image: url("../img/icon_next_2.png");}
.box_bxslider .bx-controls-direction a:hover{ background-color: rgba(0, 0, 0, 0.7);}

.box-comment { margin: 50px 0; }

.box-footer {background: #a21e22;}
.box-footer .text-justify .receive{padding: 0 30px;}
.box-footer .fanpage{ margin-bottom: 50px;}
.box-footer .fanpage .title{margin: 0; color: #d82127; font-size: 18px; font-weight: 700; font-family: "Montserrat"; line-height: 25px; padding: 0 0 35px 0;}
.box-footer .footer_social{margin-bottom: 50px;}
.box-footer .footer_social .text{padding-bottom:15px; color: #000; line-height: 23px;}
.box-footer .footer_social .title img{max-height: 100px;}
.box-footer .footer_social span{ font-weight: 700;}
.box-footer .footer_social .network{color: #d82127; font-size: 20px;text-transform: uppercase; font-weight: bold; }
.box-footer .footer_social .network a{padding: 0 4px; vertical-align: bottom; display: inline-block;}
.box-footer .footer_social .network a:first-child{padding-left: 10px;}
.box-footer .receive .title{margin-top: 0; color: #d82127; font-size: 20px; text-transform: uppercase; font-weight: 700; font-family: "Montserrat";}
.box-footer .receive .text{ padding-bottom: 15px; color: #000; line-height: 20px; font-size: 14px;}
.box-footer .receive .form-group{margin: 0;}
.box-footer .receive .form-control{ color: #000; width: 100%; padding: 5px 10px; margin: 0 0 10px; font-size: 13px; font-family: "Montserrat"; display: inline-block; box-sizing: border-box; background: transparent;}
.box-footer .receive .form-control::placeholder { color: #000; }
.box-footer .receive .my_btn { width: 100%; font-family: "Montserrat"; background-color: #d82127; color: white; height: 40px; padding: 10px 10px; margin: 8px 0; border: none; cursor: pointer; }
.box-footer .receive .my_btn:hover{background: #222; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box-footer .receive input::placeholder{color: #d82127;}
.box-footer .receive option{background: #fff;}
.box-footer .footer_top { background: #efeeee; padding: 50px 0 0;}
.box-footer .footer_bottom { background: #a21e22; padding-top: 30px; }
.box-footer .footer_bottom .bottom{text-transform: capitalize;padding-bottom: 30px;}
.box-footer .footer_bottom .bottom .fa{padding-right: 10px;}
.box-footer .footer_bottom .title{font-size: 14px;  line-height: 25px; color: #7d7e7f; font-weight: 700;}
.box-footer .footer_bottom .text{ font-size: 12px; line-height: 25px;}
.box-footer .footer_bottom .item{ color: #fff; padding-bottom: 30px;}
.box-footer .footer_bottom .item .text{color: #fff;}
.box-footer .footer_bottom .item .fa{padding-right: 10px;}
.box-footer .footer_note{ padding: 5px; text-align: center; color: #d82127; font-size: 12px;}
.box-footer .footer_copyright{ padding: 15px; text-align: center; background-color: #92191c; color: #FFF; font-size: 12px;}
.box-footer .footer_copyright a{ color: #FFF;}

/* Popup Video */
.popup-basic, .popup-video{ background: url("../img/loading.gif") no-repeat center center rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999; display: flex; align-items: center; justify-content: center;}
.popup-basic .popup-content, .popup-video .popup-content{ width: 1100px; max-width: 80%; margin: 0 auto; position: relative; background: #fff; padding: 10px;}
.popup-video .popup-content{padding: 0;}
.popup-basic .popup-close, .popup-video .popup-close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}

.box_banner img{ width: 100%;}

.box_videoHighlight { overflow: hidden; }
.box_videoHighlight a{ display: block; position: relative; color: #000;}
.box_videoHighlight a:HOVER{ color: #000;}
.box_videoHighlight img{ width: 100%;}
.box_videoHighlight span{ position: absolute; top: 45%; left: 5%; width: 90%; font-size: 16px; padding: 5px; background-color: rgba(255, 255, 255, 0.8); font-weight: bold; text-align: center;}

.box_social{ padding-top: 30px; text-align: right;}
.box_social ul{ margin: 0; display: inline-block; padding: 0; list-style: none;}
.box_social a{ display: inline-block; margin-left: 5px; width: 40px; height: 40px; line-height: 40px; text-align: center; background-color: #333; font-size: 18px;}

.box_category{ margin-bottom: 20px; }
.box_category .box_title { text-transform: uppercase; overflow: hidden; background-color: #D42226; text-align: center;}
.box_category .box_title .title{ height: 40px; line-height: 40px; font-size: 16px; padding: 0 10px; font-weight: normal; color: #FFF;}
.box_category .box_title .title a{ color: #FFF; }
.box_category .box_content{ padding: 10px 0; border: 1px solid #d9d9d9; border-top: 0; background-color: #FFF;}
.box_category .box_content>ul{ padding: 0; list-style: none; margin: 0;}
.box_category .box_content>ul>li{ display: block; position: relative;}
.box_category .box_content>ul>li>a{ display: block; padding: 10px 15px; font-size: 13px; font-weight: normal; text-transform: uppercase; color: #222; position: relative; border-top: 1px solid #d9d9d9;}
.box_category .box_content>ul>li>ul{ display: none; padding: 5px 0 5px; list-style: none; margin: 0; background-color: #FFF;}
.box_category .box_content>ul>li>ul>li>a{ color: #222; font-size: 13px; text-transform: uppercase; padding: 10px 15px 10px 30px; display: block; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}
.box_category .box_content>ul>li:hover>a{ background: #D42226; color: #FFF;}
.box_category .box_content>ul>li.active>a{ background: #D42226; color: #FFF;}
.box_category .box_content>ul>li.dropdown:AFTER{ content: "\f196"; font: normal normal normal 14px/1 FontAwesome; position: absolute; top: 13px; right: 10px; color: #666;}
.box_category .box_content>ul>li.dropdown.active:AFTER{ content: "\f147"; font: normal normal normal 14px/1 FontAwesome; position: absolute; top: 13px; right: 10px; color: #FFF;}
.box_category .box_content>ul>li:FIRST-CHILD>a{ border: 0;}
.box_category .box_content>ul>li>ul>li>ul{ display: none; background-color: #FFF; list-style: none; margin: 0; padding: 2px 0;}
.box_category .box_content>ul>li>ul>li>ul>li>a{ color: #D42226; font-size: 13px; font-weight: 400; padding: 7px 30px; display: block; text-transform: inherit; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}
.box_category .box_content>ul>li>ul>li>ul>li:hover>a{ background: #d9d9d9;}
.box_category .box_content>ul>li>ul>li:hover>a{ background: #d9d9d9;}
.box_category .box_content>ul>li>ul>li.active>a{ background: #d9d9d9;}
.box_category .box_content>ul>li>ul>li.dropdown:BEFORE{ position: absolute; top: 4px; right: 10px; content: "\f105"; font-family: "FontAwesome"; font-size: 16px;}
.box_category .box_content>ul>li>ul>li.dropdown.active:BEFORE{ position: absolute; top: 4px; right: 10px; content: "\f107"; font-family: "FontAwesome"; font-size: 16px;}
.box_category .box_content>ul>li>ul>li>ul>li.active>a{ background: #d9d9d9;}
.box_category .box_content>ul>li.selected>ul{ display: block;}
.box_category .box_content>ul>li>ul>li.selected>ul{ display: block;}
.box_category .box_content td, th { padding: 0 10px;}


.box_contact{ padding: 10px 0;}
.box_contact .content{ padding-bottom: 30px;}
.box_contact .btnSuccess{ text-align: center; padding-top: 10px;}
.box_contact textarea{ height: 188px;}

.box_adsHome{display: flow-root; padding: 100px 0 50px 0;}
.box_adsHome .title{font-size: 30px; font-weight: 600; font-family: "Montserrat"; margin: 0; text-transform: uppercase;}
.box_adsHome .slogan{font-weight: 600; font-family: "Montserrat"; font-size: 25px; margin: 0; padding: 30px 0 20px 0; position: relative;}
.box_adsHome .slogan:before{position: absolute; content: ""; width: 75px; height: 5px; top: 5px; left: 0; background: #d52327;}
.box_adsHome .info{padding-left: 50px;}

.box_adsFooter a {width: 700px; display: block; margin: 0 auto; left: inherit; transform: none; }

.box_adsFooter a img {width: 100%; }

.box_adsDoiTac{ margin-bottom: 30px; border-bottom: 1px solid #DDD; border-top: 1px solid #DDD;}
.box_adsDoiTac .box_title{ height: 40px; line-height: 40px; color: #FFF; font-size: 14px; padding: 0 15px; text-transform: uppercase; background-color: #55ab40; display: inline-block;}
.box_adsDoiTac a { display: inline-block; margin: 0 15px;}
.box_adsDoiTac img{ height: 100px;}

.box_adsRight{ margin-bottom: 20px; }
.box_adsRight .box_title{ background: url("../img/bg_title.jpg") no-repeat left; padding: 5px 30px; text-transform: uppercase; font-weight: bold; margin-bottom: 10px;}
.box_adsRight .box_content{ padding: 10px 0; border: 1px solid #CCC;}
.box_adsRight .item{ display: inline-block; margin: 5px;}
.box_adsRight .item img{ width: 100px;}

/* Bai viet lien quan */
.box_involves .item { font-size: 16px; display: block; padding: 10px 0; font-weight: normal; }

.box_chart { height: 200px; position: relative; background: url("../img/icon_chart.jpg") no-repeat center center; }

.box_footer{ padding: 75px 0; position: relative; background: #d52327; color: #FFF; }
.box_footer a{ color: #FFF;}
.box_footer .text { font-size: 15px; }
.box_footer .langgo-brand { font-size: 18px; position: relative }
.box_footer .langgo-brand:after { content: ""; position: absolute; bottom: -10px; left: 0; width: 300px; height: 1px; background: #fff; }
.box_footer .langgo-address { margin-top: 20px; }
.box_footer .col-footer-4 { padding: 0; }
.box_footer .social-langgo { display: flex; align-items: center; justify-content: center; }
.box_footer .item-social { margin: 0 35px; }

.box_copyright{ padding: 20px 0 10px; position: relative; background: #697279; color: #dbdfe2;}

.box_pagination{ text-align: right; margin-top: 20px;}
.box_pagination a{ display: inline-block; padding: 3px 10px; border: 1px solid #CCC; color: #333;}
.box_pagination a:hover{ text-decoration: none; background-color: #EEE;}
.box_pagination a.active{ background-color: #444; border: 1px solid #444; color: #FFF;}
.box_pagination a.disabled{ color: #CCC; cursor: default; }

.box_module{ margin-bottom: 20px; }
.box_module .box_title{ position: relative;}
.box_module .box_title .title{ font-size: 30px; font-weight: 500; margin:0 0 15px; }
.box_module .box_title .title a { color: #111; }
.box_module .box_content{ background-color: #FFF;}
.box_module .box_content img{ max-width: 100% !important;}

.layout_category_default { padding: 0;}
.layout_category_default .col-sm-4{-js-display: flex; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap;}
.layout_category_default .col-sm-4>div{display: flex; width: 100%;}
.layout_category_default .item{ margin-bottom: 15px; box-shadow: 0px 0px 15px #c2c2c2; padding: 25px;}
.layout_category_default .item .image { display: table-cell; width: 50px; vertical-align: top;}
.layout_category_default .item .image img{ width: 100%; }
.layout_category_default .item .info { display: table-cell; vertical-align: top; padding: 0 0 0 34px;}
.layout_category_default .item .info .title{ margin: 0; font-weight: 500; font-size: 20px; line-height: 25px;}
.layout_category_default .item .info .title a{ color: #212323;}
.layout_category_default .item .info .title a:HOVER{ color: #d52327;}
.layout_category_default .item .info .category{ margin: 0 0 10px; color: #a1a1a1; font-size: 13px;}
.layout_category_default .item .info .category a{ text-transform: uppercase; color: #a1a1a1;}
.layout_category_default .item .info .category a:HOVER{ color: #111;}
.layout_category_default .item .info .description{ text-align: justify; font-size: 15px; line-height: 22px;}

.layout_item_default { font-size: 16px;}
.layout_item_default ul{padding-left: 18px;}
.layout_item_default p{ line-height: 27px;}
.layout_item_default .created_by{ margin-bottom: 20px;}
.layout_item_default .created_by .avatar{ width: 52px; background-color: #0f2a51; border-radius: 8px; overflow: hidden; float: left; margin-right: 17px;}
.layout_item_default .created_by .avatar img{ width: 100%;}
.layout_item_default .created_by .info{ padding-top: 15px;}
.layout_item_default .created_by .info .time{ font-size: 12px; color: #707070;}
.layout_item_default .created_by .info .user{ font-size: 12px; color: #707070;}
.layout_item_default .created_by .info .user span{ font-weight: 700; color: #4267b2;}
.layout_item_default .banner_cover{ margin-bottom: 40px;}
.layout_item_default .banner_cover img{ width: 100%;}
.layout_item_default .description{ font-weight: 500; margin-bottom: 10px;}
.layout_item_default .layout_item_default_content{ position: relative; margin-bottom: 50px; min-height: 135px;}
.layout_item_default .box_share { position: absolute; top: 10px; left: 0;}
.layout_item_default .box_share a{ display: block; margin-bottom: 8px;}
.layout_item_default .box_share i{ width: 33px; height: 33px; line-height: 33px; text-align: center; color: #FFF; border-radius: 50%; margin: 0; font-size: 18px;}
.layout_item_default .box_share i.fa-facebook{ background: #4760a2;}
.layout_item_default .box_share i.fa-twitter{ background: #50abf0;}
.layout_item_default .box_share i.fa-google-plus{ background: #eb1c3b;}
.layout_item_default.detail_course{ font-size: 17px;}
.layout_item_default.detail_course ul{ margin: 0; padding: 0; list-style: none;}
.layout_item_default.detail_course ul li{ background: url("../img/icon_li.png") no-repeat left 5px; padding: 0 0 10px 30px;}
.layout_item_default .video{padding-bottom: 15px;}
.layout_item_default .video iframe{height: 500px;}

.layout_item_default_content li a { color: #000; }
.layout_item_default_content li a:hover { text-decoration: underline; }
.layout_item_default_content ol { padding-inline-start: 20px; }
.layout_item_default_content ol li a:hover { color: #d52327; }
.layout_item_default_content td, .layout_item_default_content th { padding: 0 10px; }

.box-most-view {background: #fafafa; box-shadow: 0 0 5px #e9e9e9;}
.box-most-view .box_title{ background: #d52327; height: 36px; line-height: 36px; color: #FFF; padding-left: 10px;  font-size: 18px; text-align: center; }
.box-most-view .box_title a{ color: #c5c5c5; margin-right: 20px; font-size: 16px; font-weight: normal;}
.box-most-view .box_title a.active{ color: #FFF;}
.box-most-view .box_title a:hover{ color: #FFF;}
.box-most-view .box_content{ padding: 0 5px; height: auto;}
.box-most-view .item{padding: 10px 0; overflow: hidden;}
.box-most-view .item+.item{border-top: #f5f5f5 thin solid;}
.box-most-view .item .image{ width: 30%; float: left;}
.box-most-view .item .image a{ display: block;}
.box-most-view .item .info{ float: left; padding-left: 15px;}
.box-most-view .item .info .title a{ color: #000; font-size: 17px; font-weight: 500; display: list-item;}

.box_comment { margin-bottom: 30px; padding-right: 30px;}
.box_comment .box_title { margin-bottom: 20px;}
.box_comment .box_title .title{ float: left; text-transform: uppercase; color: #464646; font-size: 17px; font-weight: 500; padding-top: 5px;}
.box_comment .box_title .share{ float: right;}
.box_comment .box_title .share i{ width: 33px; height: 33px; line-height: 33px; text-align: center; color: #FFF; border-radius: 50%; margin: 0; font-size: 18px; margin-left: 10px;}
.box_comment .box_title .share i.fa-facebook{ background: #4760a2;}
.box_comment .box_title .share i.fa-twitter{ background: #50abf0;}
.box_comment .box_title .share i.fa-google-plus{ background: #eb1c3b;}
.box_comment .box_content{ margin: 0 -8px;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_involves { margin-bottom: 30px; display: inline-block;}
.box_involves .layout_category_default .item{box-shadow: none;}
.box_involves .layout_category_default .item .image{width: 100%; display: block;}
.box_involves .layout_category_default .item .info{padding: 10px 0;}
.box_involves .box_title { margin-bottom: 15px; }
.box_involves .box_title .title { text-transform: uppercase; font-size: 23px; font-weight: 700; color: #0f2a51; }

.error { text-align: center; margin-top: 10px; color: #d91c23; }
.success{ text-align: center; }
.has-error .form-control{border-color: #d52327 !important;}
.has-error .alert-error{margin-top: 3px; font-size: 90%; color: #d52327; padding-left: 15px;}

.layout_item_video{ padding: 15px; border-top: 0;}
.layout_item_video .content_video{ padding-top: 20px; }

.layout_category_gallery{ border-top: 0;}
.layout_category_gallery .item{ margin-bottom: 30px;}
.layout_category_gallery .item .image{ overflow: hidden; margin-bottom: 20px;}
.layout_category_gallery .item .image img{ width: 100%; }
.layout_category_gallery .item .info .title{ font-size: 14px; margin-bottom: 5px; line-height: 20px;}
.layout_category_gallery .item .info .title a{ color: #000;}
.layout_category_gallery .item .info .title a:HOVER{ color: #d2a23a;}
.layout_category_gallery .item .info .count{ color: #707070; font-size: 14px;}
.layout_category_gallery.involve .item .image{ margin-bottom: 10px;}
.layout_category_gallery.involve .item .info .title{ font-size: 12px; line-height: 18px;}

.layout_item_gallery{ border-top: 0;}
.layout_item_gallery .item { margin-bottom: 30px; overflow: hidden;}
.layout_item_gallery .item .image{ text-align: center;}
.layout_item_gallery .item .image img{ width: 100%;}

.btn-gotop{ position: fixed; bottom: 70px; right: 10px; z-index: 9999; display: block; color: #666; font-size: 32px;}

.fancybox-button{ display: block; position: relative;}
.fancybox-button:AFTER { opacity: 0; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; background: url(../img/zoom-in.png) no-repeat center center rgba(0,0,0,0.2); -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; transition: opacity 0.5s ease; }
.fancybox-button:HOVER:AFTER { opacity: 1;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.content-loading { position: absolute; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center;}
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

/*Responsive*/
@media screen and (min-width: 1200px) {
	.container { width: 1230px; }
	.layout_category_default .col-sm-4:nth-child(4),
	.layout_category_default .col-sm-4:nth-child(7),
	.layout_category_default .col-sm-4:nth-child(10),
	.layout_category_default .col-sm-4:nth-child(13),
	.layout_category_default .col-sm-4:nth-child(16),
	.layout_category_default .col-sm-4:nth-child(19),
	.layout_category_default .col-sm-4:nth-child(22){ clear: left;}
	
	.layout_category_gallery .col-sm-3:nth-child(5),
	.layout_category_gallery .col-sm-3:nth-child(9),
	.layout_category_gallery .col-sm-3:nth-child(13),
	.layout_category_gallery .col-sm-3:nth-child(17),
	.layout_category_gallery .col-sm-3:nth-child(21),
	.layout_category_gallery .col-sm-3:nth-child(25),
	.layout_category_gallery .col-sm-3:nth-child(29){ clear: left;}
	
	.layout_category_video .col-sm-3:nth-child(5),
	.layout_category_video .col-sm-3:nth-child(9),
	.layout_category_video .col-sm-3:nth-child(13),
	.layout_category_video .col-sm-3:nth-child(17),
	.layout_category_video .col-sm-3:nth-child(21),
	.layout_category_video .col-sm-3:nth-child(25),
	.layout_category_video .col-sm-3:nth-child(29){ clear: left;}
	
	.layout_category_course .col-sm-4:nth-child(4),
	.layout_category_course .col-sm-4:nth-child(7),
	.layout_category_course .col-sm-4:nth-child(10),
	.layout_category_course .col-sm-4:nth-child(13),
	.layout_category_course .col-sm-4:nth-child(16),
	.layout_category_course .col-sm-4:nth-child(19),
	.layout_category_course .col-sm-4:nth-child(22){ clear: left;}
	
	.layout_item_gallery .col-sm-3:nth-child(5),
	.layout_item_gallery .col-sm-3:nth-child(9),
	.layout_item_gallery .col-sm-3:nth-child(13),
	.layout_item_gallery .col-sm-3:nth-child(17),
	.layout_item_gallery .col-sm-3:nth-child(21),
	.layout_item_gallery .col-sm-3:nth-child(25),
	.layout_item_gallery .col-sm-3:nth-child(29){ clear: left;}
	
	.layout_item_gallery .item .image img{ height: 208px !important;}
}

@media screen and (min-width: 992px){
	/*.box_menuMain .menu>ul>li+li{margin-left: 35px;}*/
	.box_menuMain .logo_main{padding: 15px 0;}

	.top-right-header{text-align: right;}
}

@media all and (max-width: 991px){
	.box_menuMain .logo_main{text-align: left;}

	.top-right-header{height: 32px;}
	.box_top{text-align: center;}
	.box_top .user{margin-left: -5px;}
	.box_top .social a, .box_top .user a{border-top: #ccc thin solid;}
	.form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }
	
	.container-fluid{ padding: 0;}
	.wrapper_content{ padding: 10px; border-top: 0;}
	
	.box_menuMain .logo{padding:5px 0; display: inline-block;}
	.box_menuMain .logo img{ height: 30px;}
	.box_menuMain .toggle{display: inline-block; width: 35px; padding: 10px 5px 0;}
	.box_menuMain .toggle .line{ display: block; height: 1px; background-color: #d52327; margin-bottom: 5px;}
	.box_menuMain .hotline{ position: absolute; top: 5px; right: 15px; width: auto;}
	.box_menuMain .hotline a{ color: #7f8084;}
	.box_menuMain .hotline .phone{ display: none;}
	.box_menuMain .hotline .btn_dangky{ margin: 0; padding: 0;}
	.box_menuMain .hotline .btn_dangky img{ height: 30px;}
	.box_menuMain .language{ padding-top: 5px;}
	.box_menuMain .language img{ height: 30px;}

	.box-partner { padding: 20px 0; background: #fff; }
	.box-partner .box-item-slider { margin-top: 20px; }
	.box-partner .box-title img { width: 100%; }
	.box-partner .bx-controls-direction a.bx-prev { display: none; }
	.box-partner .bx-controls-direction a.bx-next { display: none; }
	.box-partner .box-content { margin-bottom: 30px; }

	.box-teacher { background: #fff; padding: 0; }
	.box-teacher .box-title { background: #fff; font-size: 20px; padding: 0; }
	.box-teacher .teacher-list { padding: 20px 0; }
	.box-teacher .teacher-list .teacher-item .teacher-image { padding: 15px 0; }
	.box-teacher .teacher-list .teacher-item { background: #fff; border: 2px dashed #d52327; margin-bottom: 20px; }
	.box-teacher .teacher-list .teacher-item .teacher-name { text-align: center; font-size: 16px; margin-bottom: 10px; text-transform: uppercase; font-weight: bold; }
	.box-teacher .teacher-list .teacher-item .teacher-description { padding: 20px; }

	.box-event-news { background: #fff; padding: 20px 0; }
	.box-event-news .border-between > [class*='col-']:after { display: none; }
	.box-event-news .border-between > [class*='col-']:last-child:after { display: none; }
	.box-event-news .box-content .box-left .box-title { font-size: 20px; text-align: center; }
	.box-event-news .box-content .box-left, .box-event-news .box-content .box-right { padding: 15px 25px; }
	.box-event-news .items .item { margin-bottom: 10px; }
	.box-event-news .box-left .title { padding: 10px 0; }
	.box-event-news .box-left .img img { height: 300px; }
	.box-event-news .box-right .item { padding-bottom: 10px; }
	.box-event-news .box-right .item a { font-size: 14px; }

	.box-media { padding: 20px 0; }
	.box-media .box-title .title { font-size: 20px; padding-bottom: 15px; }
	.box-media .box-content a { margin: 0; padding-bottom: 10px; }
	
	.box_bxslider .bx-pager{ bottom: 10px;}
	
	.box_adsHome a{ display: block; text-align: center; margin-bottom: 10px;}
	.box_adsHome a img{ max-width: 100%;}
	
	.box_adsFooter .item{ width: 50%;}

	.box-trial-register {background-size: cover; padding: 20px 0; }
	.box-trial-register .register-box {padding: 0; margin: 0;}
	.box-trial-register .register-box  .box-title{padding-bottom: 20px; font-size: 20px; }
	.box-trial-register .register-box  .btnSuccess .input-lg{width: 100%; font-size: 20px;}
	.box-trial-register .register-box .text-description { padding: 10px 0; font-size: 14px; }
	.box-trial-register .register-box .btnSuccess { margin-top: 20px; }
	.box-trial-register .register-box .form-control { padding: 0 20px; height: 40px; }
	.box-trial-register .register-box .btnSuccess .input-lg { height: 40px; font-size: 16px; }
	
	.box_footer { padding: 30px 0; }
	.box_footer table{ display: block;}
	.box_footer table td{ display: block;}
	.box_footer .address-langgo { padding: 0 15px; }
	.box_footer .logo-footer { text-align: center; }
	.box_footer .logo-footer img { max-width: 50%; }
	.box_footer .social-langgo img { max-width: 70%; }
	
	.box_menuFooter{ padding: 20px 0;}
	.box_menuFooter ul>li{ width: 50%; margin-bottom: 0;}
	.box_menuFooter ul>li>ul{ display: none;}
	.box_menuFooter ul>li>ul>li{ margin-bottom: 0;}
	
	.productGrid .item .image{ margin-bottom: 5px;}
	.productGrid .item .title{ padding: 0; font-size: 12px; text-transform: none;}
	.productGrid .item .description{ padding: 0;}
	
	.box_module .box_content{ border: 0;}
	.box_module .box_content img{ max-width: 100% !important; padding:0px;}
	
	.layout_item_product .thumbs .item img{ width: 60px;}
	
	.btn-gotop{ width: 40px;}
}

@media screen and (min-width: 768px){
	.main-page-ielts .wrapper{padding: 30px;}
	.box-test .box-test-sidebar{height: 100%; border-right: #c7c7c7 2px solid; }
	.box_top .user>ul>li:last-child>a{background-color: #d52327; color: #fff; }
}
@media all and (max-width: 767px){
	body{padding-bottom: 64px;}
	.top-right-header{margin-top: 5px;}
	.box_top .user{display: block;}
	.box_top .user>ul{display: block; text-align: center; background-color: #f5f5f5; padding: 0 15px; }
	.box_top .user ul li{position: relative; float: none;}
	.box_top .user ul li+li:before{content: ''; position: absolute; left: 0; height: 20px; top: 6px; background: #ccc; width: 1px; }
	.box_top .user ul li a{border: none;}
	.box_top .social{float: left;}
	.box_top .social a{line-height: 32px;}
	.box_top .social a:first-child, .box_top .social a:last-child{border: 0;}
	.box_top .social a:first-child{border-right: 1px solid #e1e1e1;}
	.box_top .social a, .box_top .user a{border-top: 0;}
	.box_top .userinfo{display: contents;}
	.box_top .user{margin: 0; float: right;}

	.main-page-ielts .wrapper{padding: 15px;}
	.wrapper-post-test{padding-top: 80px;}
	.layout-exercise .time-limit{padding: 15px 5px;}
	.col-xs-3 { padding-left: 5px; padding-right: 5px;}
	.form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }
	
	.container-fluid{ padding: 0;}
	.wrapper_content{ padding: 10px; border-top: 0;}

	.box-partner { padding: 20px 0; background: #fff; }
	.box-partner .box-item-slider { margin-top: 20px; }
	.box-partner .box-title img { width: 60%; }
	.box-partner .bx-controls-direction a.bx-prev { display: none; }
	.box-partner .bx-controls-direction a.bx-next { display: none; }
	.box-partner .box-content { margin-bottom: 30px; }

	.box-teacher { background: #fff; padding: 0; }
	.box-teacher .box-title { background: #fff; font-size: 20px; padding: 0; }
	.box-teacher .teacher-list { padding: 20px 0; }
	.box-teacher .teacher-list .teacher-item .teacher-image { padding: 15px 0; }
	.box-teacher .teacher-list .teacher-item .teacher-name { text-align: center; font-size: 14px; margin-bottom: 10px; text-transform: uppercase; font-weight: bold; }
	.box-teacher .teacher-list .teacher-item { background: #fff; border: 2px dashed #d52327; margin-bottom: 20px; }
	.box-teacher .teacher-list .teacher-item .teacher-description { padding: 0 10px 20px 10px; min-height: unset; }
	.box-event-news .box-left .img img { height: 180px; }

	.box-event-news { background: #fff; padding: 20px 0; }
	.box-event-news .border-between > [class*='col-']:after { display: none; }
	.box-event-news .border-between > [class*='col-']:last-child:after { display: none; }
	.box-event-news .box-content .box-left .box-title { font-size: 20px; text-align: center; }
	.box-event-news .box-content .box-left, .box-event-news .box-content .box-right { padding: 20px 30px; }
	.box-event-news .box-left .title { padding: 10px 0; }
	.box-event-news .box-right .item { padding-bottom: 10px; }
	.box-event-news .box-right .item a { font-size: 14px; }
	.box-event-news .box-left .title a { font-size: 13px; }
	.box-event-news .box-content .box-left .content { font-size: 13px; }

	.box-media { padding: 20px 0; }
	.box-media .box-title .title { font-size: 20px; padding-bottom: 15px; }
	.box-media .box-content a { margin: 0; padding-bottom: 10px; width: 33.33%}
	
	.box_bxslider { margin-bottom: 0;}
	.box_bxslider .bx-pager{ bottom: 10px;}
	
	.box_adsHome{padding: 40px 0;}
	.box_adsHome .info{padding: 0;}
	.box_adsHome .title{font-size: 25px;}
	.box_adsHome .slogan{font-size: 20px;}
	.box_adsHome a{ display: block; text-align: left; margin-bottom: 10px;}
	.box_adsHome a img{ max-width: 100%;}
	
	.box_adsFooter .item{ width: 50%;}

	.box-trial-register {background-size: cover; padding: 20px 0; }
	.box-trial-register .register-box {padding: 0; margin: 0;}
	.box-trial-register .register-box  .box-title{padding-bottom: 20px; font-size: 20px; }
	.box-trial-register .register-box  .btnSuccess .input-lg{width: 100%; font-size: 20px;}
	.box-trial-register .register-box .text-description { padding: 10px 0; font-size: 14px; }
	.box-trial-register .register-box .btnSuccess { margin-top: 20px; }
	.box-trial-register .register-box .form-control { padding: 0 20px; height: 40px; }
	.box-trial-register .register-box .btnSuccess .input-lg { height: 40px; font-size: 16px; }
	
	.box-footer .footer_top{padding:20px 0;}
	.box-footer .fanpage{ padding: 0; margin-bottom: 15px;}
	.box-footer .receive{ padding: 0 0 30px;}
	.box-footer .receive .title{ padding-bottom: 20px; margin-bottom: 0; font-size: 18px;}
	.box-footer .footer_social{ padding: 0; margin-bottom: 30px;}
	.box-footer .footer_social .network{font-size: 18px;}
	.box-footer .footer_bottom .item{ padding-bottom: 15px;}
	.box-footer .fanpage .title { padding: 0 0 20px; font-size: 18px;}
	.box-footer .text-justify .receive{padding: 0;}


	.box_module.padding { padding-right: 0; }
	.box_module .box_content { border: 0; }

	.layout_category_default .item .image { width: 120px; }
	.layout_category_default .item .info { padding-left: 10px;}
	.layout_category_default .item .info a { font-size: 14px;}
	.layout_category_default .item .info .category a { font-size: 11px; }

	.box_module .box_title .title { font-size: 20px;}
	.layout_item_default { font-size: 14px;}
	.layout_item_default .box_share { display: none;}
	.layout_item_default .layout_item_default_content { padding: 0;}
	.main-page-ielts .layout_item_default .layout_item_default_content{padding: 0; border: none;}
	.box-most-view .item .info .title a { font-size: 14px; }
	
	.box_footer { padding: 30px 0; }
	.box_footer table{ display: block;}
	.box_footer table td{ display: block;}
	.box_footer .address-langgo { padding: 0 15px; }
	.box_footer .logo-footer { text-align: center; }
	.box_footer .logo-footer img { max-width: 50%; }
	.box_footer .social-langgo img { max-width: 70%; }
	
	.box_menuFooter{ padding: 20px 0;}
	.box_menuFooter ul>li{ width: 50%; margin-bottom: 0;}
	.box_menuFooter ul>li>ul{ display: none;}
	.box_menuFooter ul>li>ul>li{ margin-bottom: 0;}
	
	.productGrid .item .image{ margin-bottom: 5px;}
	.productGrid .item .title{ padding: 0; font-size: 12px; text-transform: none;}
	.productGrid .item .description{ padding: 0;}
	
	.box_module .box_content{ border: 0;}
	
	.layout_item_product .thumbs .item img{ width: 60px;}

	.layout_category_default .col-sm-4:nth-child(4),
	.layout_category_default .col-sm-4:nth-child(7),
	.layout_category_default .col-sm-4:nth-child(10),
	.layout_category_default .col-sm-4:nth-child(13),
	.layout_category_default .col-sm-4:nth-child(16),
	.layout_category_default .col-sm-4:nth-child(19),
	.layout_category_default .col-sm-4:nth-child(22){ clear: left;}
	
	.layout_category_gallery .col-sm-3:nth-child(5),
	.layout_category_gallery .col-sm-3:nth-child(9),
	.layout_category_gallery .col-sm-3:nth-child(13),
	.layout_category_gallery .col-sm-3:nth-child(17),
	.layout_category_gallery .col-sm-3:nth-child(21),
	.layout_category_gallery .col-sm-3:nth-child(25),
	.layout_category_gallery .col-sm-3:nth-child(29){ clear: left;}
	
	.layout_category_video .col-sm-3:nth-child(5),
	.layout_category_video .col-sm-3:nth-child(9),
	.layout_category_video .col-sm-3:nth-child(13),
	.layout_category_video .col-sm-3:nth-child(17),
	.layout_category_video .col-sm-3:nth-child(21),
	.layout_category_video .col-sm-3:nth-child(25),
	.layout_category_video .col-sm-3:nth-child(29){ clear: left;}
	
	.layout_category_course .col-sm-4:nth-child(4),
	.layout_category_course .col-sm-4:nth-child(7),
	.layout_category_course .col-sm-4:nth-child(10),
	.layout_category_course .col-sm-4:nth-child(13),
	.layout_category_course .col-sm-4:nth-child(16),
	.layout_category_course .col-sm-4:nth-child(19),
	.layout_category_course .col-sm-4:nth-child(22){ clear: left;}
	
	.layout_item_gallery .col-sm-3:nth-child(5),
	.layout_item_gallery .col-sm-3:nth-child(9),
	.layout_item_gallery .col-sm-3:nth-child(13),
	.layout_item_gallery .col-sm-3:nth-child(17),
	.layout_item_gallery .col-sm-3:nth-child(21),
	.layout_item_gallery .col-sm-3:nth-child(25),
	.layout_item_gallery .col-sm-3:nth-child(29){ clear: left;}
	
	.btn-gotop{ width: 40px;}

	.top-bar-mobile{display: flex !important; width: 100%; position: fixed; bottom: 0; left: 0; background-color: #f5f5f5; z-index: 1000; border-top: #ccc thin solid;}
	.top-bar-mobile .item-top-bar{width: 25%; text-align: center; padding: 10px; display: flex; align-items: center; justify-content: center; height: 64px;}
	.top-bar-mobile .item-top-bar+.item-top-bar{border-left: #ccc thin solid; }

	.box-description .item-description{padding: 10px; font-size: 14px;}
	.box-description .item-description .item-description-title{font-size: 14px;}
	.box-description .item-description img{height: 40px; margin-bottom: 15px;}

	.box-test .box-test-content{padding: 0;}
	.box-test .box-test-title .item-test-title{font-size: 25px;}

	.fb_dialog{display: none !important;}
}

@media all and (max-width: 550px){
	.section-title{font-size: 20px;}
	section.box-home{padding: 25px 0;}

	.box_top .row>*{height: auto;}
	.box_top{text-align: center; line-height: 1.5; padding: 2px 0 0;}

	.box-teacher .teacher-list .teacher-item .teacher-name { text-align: center; font-size: 14px; margin-bottom: 10px; text-transform: uppercase; font-weight: bold; }
	.box-teacher .teacher-list .teacher-item .teacher-description { font-size: 14px; padding: 5px; text-align: center; }
	
	.layout_item_default_content table{width: 100% !important; font-size: 13px;}
  	.layout_item_default_content td, .layout_item_default_content th{padding: 0 5px;}
}

@media all and (max-width: 375px){
	.box-partner .box-title img { width: 80%; }
}
