@font-face{
	font-family:'SVNKelsonSansBold';
	src:url('SVN-Kelson-Sans-Bold.eot');
	src:url('SVN-Kelson-Sans-Bold.eot?#iefix') format('embedded-opentype'),
		url('SVN-Kelson-Sans-Bold.woff2') format('woff2'),
		url('SVN-Kelson-Sans-Bold.woff') format('woff'),
		url('SVN-Kelson-Sans-Bold.ttf') format('truetype'),
		url('SVN-Kelson-Sans-Bold.svg#SVNKelsonSansBold') format('svg');
}

@font-face {
	font-family: 'SVNKelsonSansRegular';
	src:url('SVN-Kelson-Sans-Regular.eot');
	src:url('SVN-Kelson-Sans-Regular.eot?#iefix') format('embedded-opentype'),  
		url('SVN-Kelson-Sans-Regular.woff') format('woff'), 
		url('SVN-Kelson-Sans-Regular.woff2') format('woff2'), 
		url('SVN-Kelson-Sans-Regular.ttf')  format('truetype'), 
		url('SVN-Kelson-Sans-Regular.svg#SVNKelsonSansRegular') format('svg');
}

