@CHARSET "utf-8";
@import "../../fonts/font.css";

body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; color: #111;}
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a{ text-decoration:none; }
a:hover{ text-decoration:none; }
.img-responsive{display: inline-block;}
.form-control{height: 55px; padding: 0 40px; }
.modal-body{height:450px;}
.has-error .form-control{ border-color: #a94442 !important;}

.box_top{ height:50px; line-height: 50px; background:#202b53; color: #FFF;}
.box_top .hotline a{line-height:50px; color:#fff; padding:0 11px 0 10px; font-size:15px; position: relative; font-family: "Roboto-Regular";}
.box_top .hotline a:after{ content:""; position: absolute; width: 1px; height:13px; background: #fff; top: 2px; right: 0;}
.box_top .hotline a:last-child:after{content:none;}
.box_top .hotline i{ padding: 0; color: #FFF;}
.box_top .hotline span{}
.box_top .social { text-align: right;}
.box_top .social a{ display: inline-block; padding: 0 10px;}
.box_top .social a:last-child{padding-right: 0; }
.box_top .social i{ color: #FFF;}

.box_header{ width: 100%; top: 0; left: 0; z-index: 99999; height:110px;}
.box_header .logo{ padding-top:33px; display: inline-block; line-height: 100%;}
.box_header .container{ position: relative;}
.box_header .menu{ padding: 40px 0 0; list-style: none; margin: 0;}
.box_header .menu li{ list-style-type: none; float: right; padding-left:57px;display: inline-block;position: relative;color: #def1f0; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #111; text-transform: uppercase; font-family: "Roboto Medium", "Segoe UI"; padding: 8px 0 6px; display: inline-block;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ display: inline-block; background-color: #d42728;color:#fff; padding: 0; width: 138px; height: 33px; line-height: 33px; font-weight: normal; font-family: "Roboto Medium", "Segoe UI"; border-radius: 3px; font-size: 15px; text-align: center;}
.box_header .menu li a.btn_book:hover{ background-color: #202b53; color: #fff;}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}
.box_header.sticky{height: 80px;background: #fff; position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .logo{padding-top: 20px;}
.box_header.sticky .menu{padding-top: 24px;}

.box_banner img{width:100%;}

.box_phuongPhap{padding: 70px 0;}
.box_phuongPhap .crl{clear: both;}
.box_phuongPhap .box_title{font-size: 30px; text-align: center; font-family: "Roboto Medium"; padding-bottom: 30px;}
.box_phuongPhap .phuongPhap{background: url("../images/bg.png") no-repeat top center;}
.box_phuongPhap .img{display: none;}
.box_phuongPhap .phuongPhap .item{width: 450px; float: right; margin-top: 120px;}
.box_phuongPhap .phuongPhap .item_2{margin-top: 25px;}
.box_phuongPhap .phuongPhap .item_3{margin-top: 0px;}
.box_phuongPhap .phuongPhap .item_4{margin-top: 0px;}
.box_phuongPhap .phuongPhap .item_5{margin-top: 25px;}
.box_phuongPhap .phuongPhap .item_6{margin-top: 30px;}
.box_phuongPhap .phuongPhap .item_7{padding-top: 35px; margin: 0;}
.box_phuongPhap .phuongPhap .item_2 .info .text, .box_phuongPhap .phuongPhap .item_4 .info .text, .box_phuongPhap .phuongPhap .item_6 .info .text{direction: rtl; text-align: justify; }
.box_phuongPhap .phuongPhap .item .info .text{text-align: justify;}
.box_phuongPhap .phuongPhap .item .info .title{padding: 20px 0; font-family: "Roboto Medium"; font-size: 20px; color: #e67075; background: url("../images/border_1.png") no-repeat right bottom;}
.box_phuongPhap .phuongPhap .item_2 .info .title{color: #e04c52; text-align: right;}
.box_phuongPhap .phuongPhap .item_3 .info .title{color: #d93b3b;}
.box_phuongPhap .phuongPhap .item_4 .info .title{color: #d32828; text-align: right;}
.box_phuongPhap .phuongPhap .item_5 .info .title{color: #a41e24;}
.box_phuongPhap .phuongPhap .item_6 .info .title{color: #6d1215; text-align: right;}
.box_phuongPhap .phuongPhap .item .info .text{ font-family: "Roboto Light"; font-size: 17px;}
.box_phuongPhap .phuongPhap .item_7 .info .text{font-family: "Roboto Medium";}
.box_phuongPhap .phuongPhap .item_2, .box_phuongPhap .phuongPhap .item_4, .box_phuongPhap .phuongPhap .item_6{float: left; }
.box_phuongPhap .phuongPhap .item_2 .info .title, .box_phuongPhap .phuongPhap .item_4 .info .title, .box_phuongPhap .phuongPhap .item_6 .info .title{background: url("../images/border_2.png") no-repeat left bottom;}
.box_phuongPhap .btn{width: 300px; display: block; margin: 40px auto 0 auto; background: #d32828; color: #fff; text-align: center; font-size: 25px; font-family: "Roboto Medium"; border-radius: 50px;}

.box_dangKy{background: url("../images/bg_dangky.jpg") no-repeat; background-position:top center; padding: 70px 0;}
.box_dangKy .box_title{ padding: 0 0 25px 0; text-align: center; font-size: 35px; text-transform: uppercase; font-family: "UTM-AvoBold"; color: #fff;}
.box_dangKy .detail{ font-size: 16px; line-height: 22px; color: #fff; text-align: center; padding-bottom: 30px;}
.box_dangKy .container{width: 1000px; max-width: 100%;}
.box_dangKy .dangKy{ padding: 0 0 0 15px; margin-top: 15px;}
.box_dangKy .dangKy .box_title{  text-align: center; padding-bottom: 35px; color: #fff; font-size: 30px; line-height:40px;}
.box_dangKy .dangKy .box_title span{color: #ec1b3c;}
.box_dangKy .dangKy .form-control{border:none; color:#0c2441; height:50px; background:rgba(198, 208, 213, 0.9); padding: 6px 30px; font-size: 18px;}
.box_dangKy .dangKy .form-control::placeholder{color: #0c2441;}
.box_dangKy .dangKy .has-error .form-control{ border: 1px solid #FF0000;}
.box_dangKy .dangKy .error{ color: #0c2441;}
.box_dangKy .dangKy .alert{ margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .my_btn{ font-size: 19px; line-height: 20px; background: #ed1c24; width: 230px; max-width: 100%; margin: 0 auto; color: #fff; font-weight: 700;}
.box_dangKy .dangKy .my_btn:hover{background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}

.box_comment{ padding: 70px 0; background: #fff;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box-footer {background: #a21e22; width: 100%; display: table;}
.box-footer .fanpage{ padding: 70px 0 40px 0;}
.box-footer .fanpage .title{ color: #d82127; font-size: 20px; line-height: 25px; padding: 0 0 35px 0;}
.box-footer .footer_social{padding: 70px 0 40px 0;}
.box-footer .footer_social .text{padding-bottom:30px; color: #000; line-height: 23px;}
.box-footer .footer_social .title{padding-bottom:30px; }
.box-footer .footer_social .title img{height: 60px;}
.box-footer .footer_social span{ font-weight: 700;}
.box-footer .footer_social {padding: 70px 40px 0 40px;}
.box-footer .footer_social .network{color: #d82127; font-size: 20px;text-transform: uppercase; font-weight: bold; }
.box-footer .footer_social .network a{padding: 0 4px;}
.box-footer .footer_social .network a:first-child{padding-left: 20px;}
.box-footer .receive{padding: 70px 0 40px 0;}
.box-footer .receive .title{padding: 0 0 35px 0;color: #d82127; font-size: 20px; text-transform: uppercase;}
.box-footer .receive .text{ padding-bottom: 15px; color: #000; line-height: 20px; font-size: 14px;}
.box-footer .receive .form-group{margin: 0;}
.box-footer .receive .form-control{ color: #000; height: 35px; width: 100%; padding: 5px 10px; margin: 0 0 10px; font-size: 13px; display: inline-block; border: 1px solid #d82127; box-sizing: border-box; background: transparent;}
.box-footer .receive .form-control::placeholder { color: #000; }
.box-footer .receive .my_btn { width: 100%; background-color: #d82127; color: white; height: 40px; padding: 10px 10px; margin: 8px 0; border: none; cursor: pointer; }
.box-footer .receive .my_btn:hover{background: #152b50; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box-footer .receive input::placeholder{color: #d82127;}
.box-footer .receive option{background: #fff;}
.box-footer .footer_top { background: #efeeee; }
.box-footer .footer_bottom { background: #a21e22; padding-top: 50px; }
.box-footer .footer_bottom .bottom{text-transform: capitalize;padding-bottom: 30px;}
.box-footer .footer_bottom .bottom .fa{padding-right: 10px;}
.box-footer .footer_bottom .title{font-size: 14px;  line-height: 25px; color: #7d7e7f; font-weight: 700;}
.box-footer .footer_bottom .text{ font-size: 12px; line-height: 25px;}
.box-footer .footer_bottom .item{ color: #fff; padding-bottom: 30px;}
.box-footer .footer_bottom .item .text{color: #fff;}
.box-footer .footer_bottom .item .fa{padding-right: 10px;}
.box-footer .footer_note{ padding: 5px; text-align: center; color: #d82127; font-size: 12px;} 

.scrollTop { position: fixed;right:20px; bottom: 40px; ; padding: 15px; transition: all 0.4s ease-in-out 0s; }
.scrollTop a { font-size: 18px; color: #fff; }

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.bx-wrapper .bx-controls-direction a{z-index: 0;}

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@media(max-width:1024px){
	.box_phuongPhap .phuongPhap .item{width: 355px;}
}

@media ( max-width : 1000px){
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 40px; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ height: 40px; position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 9px !important; padding: 0 !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 40%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	
	.box_target .box_title{padding-top: 15px;}
	.box_target .detail{padding: 0;}
	.box_target .box_content form{padding-bottom: 20px;}
	
	.box-footer .receive input[type=text], select{width:100%;}
	.box-footer .footer_bottom .item{margin-bottom: 30px;}
}

@media(max-width:768px){
	br{display: none;}
	
	.box_top .hotline{text-align: center;}
	.box_top .hotline a{font-size: 12px;}
	.box_top .social{display: none;}
	
	.box_banner{margin-bottom: 30px;}
	
	.box_header .menu{width: 50%;}

	.box_phuongPhap{padding: 0 0 30px 0;}
	.box_phuongPhap .img{display: block; text-align: center;}
	.box_phuongPhap .phuongPhap{background: none;}
	.box_phuongPhap .phuongPhap .item{width: auto; display: flex; margin-bottom: 30px; margin-top: 0;}
	.box_phuongPhap .phuongPhap .item_1{margin-top: 40px;}
	.box_phuongPhap .phuongPhap .item .img{ float: left; width: 100px;}
	.box_phuongPhap .phuongPhap .item .img img{ width: 100px;}
	.box_phuongPhap .phuongPhap .item .info{padding-left: 15px;}
	.box_phuongPhap .phuongPhap .item .info .title{padding-top: 0;}
	.box_phuongPhap .phuongPhap .item .info .text{font-size: 15px;}
	.box_phuongPhap .phuongPhap .item_2 .info, .box_phuongPhap .phuongPhap .item_4 .info, .box_phuongPhap .phuongPhap .item_6 .info{padding-right: 15px; padding-left: 0;}
	.box_phuongPhap .phuongPhap .item_2 .info .title, .box_phuongPhap .phuongPhap .item_4 .info .title, .box_phuongPhap .phuongPhap .item_6 .info .title{background-position: left bottom;}
	
    .box_dangKy{ padding: 30px 0;}
    .box_dangKy .box_title{ font-size: 25px;}
    .box_dangKy .box_title br{ display: none;}
    .box_dangKy .detail br{ display: none;}
    .box_dangKy .dangKy{ margin: 0; padding: 0;}
    .box_dangKy .my_btn{ background: #ed1c24; color: #FFF;}
    .box_dangKy .dangKy .form-control{height: 40px;}
	
	.box-footer .fanpage,.box-footer .receive{padding-top: 0;}
	.box-footer .footer_social{padding: 0;}

	.box_comment{padding: 30px 0;}
	.scrollTop{right: 0 !important;; bottom: 15px !important; padding: 5px !important;}
}
