<?php
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <title><?php echo $item['meta_title']; ?></title>
    <meta name="description" content="<?php echo $item['meta_description']; ?>" >
    <meta name="keywords" content="<?php echo $item['meta_keywords']; ?>" >
    <meta name="title" content="<?php echo $item['meta_title']; ?>" >
    <meta name="language" content="vietnamese" >
    <meta name="robots" content="index, follow, all" >
    <meta name="author" content="langgo.edu.vn" >
    <meta name="copyright" content="copyright © 2011 by langgo.edu.vn" >
    <meta name="revisit-after" content="1 days" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="Refresh" content="7200" >
    <meta http-equiv="content-language" content="vi" >
    <meta property="og:image" content="<?php echo $urlImg;?>/527x275.jpg" />
    <meta property="og:title" content="<?php echo $item['meta_title']; ?>" />
    <meta property="og:description" content="<?php echo $item['meta_description']; ?>" />
    <?php
    echo $this->headMeta()
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->setCharset('utf-8');
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.ico', 'type' => 'image/x-icon'), 'PREPEND')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
			->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/jquery.bxslider.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css')
			->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/footer.css');
    
    $URL = isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http' . '://'. $_SERVER[HTTP_HOST] .''. $_SERVER[REQUEST_URI] .'';
    echo '<link href="'. (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http') . '://'. $_SERVER[HTTP_HOST] .'' .'" hreflang="vi-vn" rel="alternate">';
    echo '<link href="'. (!empty(substr($URL, 0, strrpos($URL, '?'))) ? substr($URL, 0, strrpos($URL, '?')) : $URL) .'" rel="canonical">';
    
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php'; ?>
	<div class="box_top" id="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="hotline">
						<i class="fa fa-phone"></i><a href="tel:02462956369">024.6295.6369</a><a href="024.627.815.67">024.627.815.67</a><a href="024.668.676.44">024.668.676.44</a>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="social">
						<a href="https://www.facebook.com/Tienganhgiaotieplangmaster/" target="_blank"><i class="fa fa-facebook"></i></a>	
						<a href="https://www.youtube.com/channel/UCPeHKeg8RVHOBZWyZijoqow" target="_blank"><i class="fa fa-youtube-play"></i></a>
						<!-- <a href="#" target="_blank"><i class="fa fa-instagram"></i></a> -->
						<a><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end box_top-->
	<div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3"><a href="http://langgo.edu.vn" class="logo"><img src="<?php echo $urlImg;?>/LangGo.png"></a></div>
                <div class="col-md-8 col-sm-9">
                    <ul class="menu hidden-xs hidden-sm">
				        <li><a href="#box_dangKy" class="go_box btn_book">Đăng ký học</a></li>
				        <li><a href="#box_phuongPhap" class="go_box">Phương pháp học</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
	<!--end box_header-->
	
	<div class="box_banner">
		<a href="#target" class="go_box btn_book"><img class="img-responsive" src="<?php echo $item['image'];?>"></a>
	</div>
	<!--end box_banner-->

	<div class="box_phuongPhap" id="box_phuongPhap">
		<div class="container">
			<div class="box_title">Tại sao bạn nên chọn LangGo?</div>
			<div class="img"><img src="<?php echo $urlImg;?>/mobile.png"></div>
			<div class="phuongPhap">
				<div class="item item_1">
					<div class="img"><img src="<?php echo $urlImg;?>/01.png"></div>
					<div class="info">
						<h4 class="title">Khai phá đam mê, <br>tạo động lực học tiếng Anh</h4>
						<p class="text">Bằng việc nghiên cứu, LangGo ứng dụng ngôn ngữ lập trình tư duy NLP (Neuro - Linguistic - Programing) vào trong quá trình giảng dạy giúp bạn tìm lại đam mê, động lực học tiếng Anh</p>
					</div>
				</div>
				<div class="crl"></div>
				<div class="item item_2">
					<div class="info">
						<h4 class="title">Chuẩn hóa <br>âm ngữ, ngữ điệu</h4>
						<p class="text">Pronunciation Guide - Hệ thống học ngữ âm được tổng hợp dựa trên giáo trình của Đại học Cambridge bởi đội nghiên cứu của LangGo sau 8 năm đào tạo hàng chục nghìn học viên tại Việt Nam. Với hệ thống này, Langmaster sẽ giúp bạn chuẩn hóa ngữ âm và ngữ điệu để có thể nói tiếng Anh như người bản ngữ</p>
					</div>
					<div class="img"><img src="<?php echo $urlImg;?>/02.png"></div>
				</div>
				<div class="crl"></div>
				<div class="item item_3">
					<div class="img"><img src="<?php echo $urlImg;?>/03.png"></div>
					<div class="info">
						<h4 class="title">Làm chủ <br>vốn từ vựng</h4>
						<p class="text">Tại LangGo, các bạn học viên sẽ được ứng dụng nhiều phương pháp học từ vựng đa dạng:
						TPR (Total Physical Response) - Phương pháp học ngoại ngữ ưu việt nhất hiện nay phát minh bởi Giáo sư James Asher và
						PMS (Personal Meaning System) - giúp ghi nhớ sâu và lâu những từ vựng phức tạp, trừu tượng bằng cách áp dụng “hệ thống ý nghĩa cá nhân”.</p>
					</div>
				</div>
				<div class="crl"></div>
				<div class="item item_4">
					<div class="info">
						<h4 class="title">Nâng cao <br>khả năng phản xạ ngôn ngữ</h4>
						<p class="text">Để giúp học viên có thể nâng cao năng lực phản xạ trong quá trình giao tiếp, LangGo áp dụng phương pháp học đặc biệt; ELC - Experiential Learning Cycle, mô hình học này giúp học viên có thể tự nâng cao khả năng phản xạ, tự học trong quá trình giao tiếp cùng giảng viên và tự học tại nhà.</p>
					</div>
					<div class="img"><img src="<?php echo $urlImg;?>/04.png"></div>
				</div>
				<div class="crl"></div>
				<div class="item item_5">
					<div class="img"><img src="<?php echo $urlImg;?>/05.png"></div>
					<div class="info">
						<h4 class="title">Tự tin, <br>giao tiếp bằng tiếng Anh</h4>
						<p class="text">Phương pháp học tiếng Anh tại LangGo giúp bạn xóa bỏ sự ngần ngại để tự tin giao tiếp bằng tiếng Anh thông qua các buổi thuyết trình, sự tương tác liên tục giữa giảng viên, trợ giảng và các học viên</p>
					</div>
				</div>
				<div class="crl"></div>
				<div class="item item_6">
					<div class="info">
						<h4 class="title">Môi trường, <br>thực hành, tương tác</h4>
						<p class="text">Phương pháp học tiếng Anh hiệu quả, khác biệt cùng với mô hình lớp học Class - Club - E-learning - Conference - Community (4CE) giúp bạn TẮM TIẾNG ANH hàng ngày trên lớp học và nâng cao 6 nhóm năng lực làm việc</p>
					</div>
					<div class="img"><img src="<?php echo $urlImg;?>/06.png"></div>
				</div>
				<div class="crl"></div>
				<div class="item item_7">
					<div class="img"><img src="<?php echo $urlImg;?>/07.png"></div>
					<div class="info">
						<p class="text">LangGo với sứ mệnh giúp 10 triệu người Việt Nam nghe nói tiếng Anh trôi chảy, <br>thay đổi tư duy để trở nên giàu có và hạnh phúc</p>
					</div>
				</div>
				<div class="crl"></div>
			</div>
			<div class="btn go_box">Đăng ký học ngay</div>
		</div>
	</div>
	
    <div class="box_dangKy" id="box_dangKy">
        <div class="box_title font-title">ĐĂNG KÝ HỌC THỬ MIỄN PHÍ</div>
        <div class="detail"> (Đăng ký ngay để trải nghiệm hệ thống học tiếng Anh giao tiếp đã giúp hơn 100.000 học viên thành công <br>trên con đường chinh phục tiếng Anh. Và giờ, đến lượt bạn ... )</div>
        <div class="container">
            <div class="dangKy">
                <form id="frmDangkyTraiNghiem" name="frmDangkyTraiNghiem" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="input-name">
                                <input type="text" class="form-control" id="name" name="name"  placeholder="Họ Tên">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="input-number">
                                <input type="text" class="form-control" id="number" name="number" placeholder="Số người tham dự">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="input-phone">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="input-email">
                                <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="input-location_city_id">
                                <select name="location_city_id" class="form-control">
                                    <option value="" selected="selected">- Chọn tỉnh thành sinh sống -</option>
                                    <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                    <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                    <option value="none">Tỉnh khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="input-training_location_id">
                                <select name="training_location_id" id="training_location_id" class="form-control">
                                    <option value="" selected="selected">- Chọn cơ sở gần bạn nhất -</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btnSuccess">
                                <input type="hidden" value="1527583398404696a178km" name="form_id">
                                <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                <input type="hidden" name="source_channel_id" value="1475118376-3i43-67j8-671v-k4f7l182j8e1">
                                <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                <input class="form-control my_btn" id="btn-gui" type="button" value="Đăng ký học thử miễn phí" onclick="formRegisterCRM('#frmDangkyTraiNghiem');">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<!-- end box_target -->
	
	<div class="box_comment">
        <?php
            $link_page = explode('?', $_SERVER['REQUEST_URI']);
            $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
        ?>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
        </div>
    </div>
	
	<?php
		echo $this 	-> headScript()
					-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.min.js')
					-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap.min.js')
					-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.bxslider.js')
					-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js')
					-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js')
					-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js');
	?>
	<script type="text/javascript">
		//scroll to top
		$(document).ready(function() {
		  	var scrollTop = $(".scrollTop");
		  	$(window).scroll(function() {
			    var topPos = $(this).scrollTop();
			    if (topPos > 100) {
			      	$(scrollTop).css("opacity", "1");
			    } else {
			      	$(scrollTop).css("opacity", "0");
			    }
		  	}); // scroll END

		  	//Click event to scroll to top
		  	$(scrollTop).click(function() {
			    $('html, body').animate({
			      	scrollTop: 0
			    }, 800);
		    	return false;
		  	}); 

		  	var h1 = $("#h1").position();
		  	var h2 = $("#h2").position();
		  	var h3 = $("#h3").position();
		  	$('.link1').click(function() {
			    $('html, body').animate({
			      scrollTop: h1.top
			    }, 500);
		    	return false;
		  	});
		  	$('.link2').click(function() {
		    	$('html, body').animate({
		      		scrollTop: h2.top
		    	}, 500);
		    	return false;
		  	}); 
		  	$('.link3').click(function() {
		    	$('html, body').animate({
		      		scrollTop: h3.top
		    	}, 500);
		    	return false;
	  		});
		}); // END

		//go-box
		$("a[href^='#']").click(function(e) {
			e.preventDefault();
			var position = $($(this).attr("href")).offset().top;
			$("body, html").animate({
				scrollTop: position
			} /* speed */ );
		});

		$(document).ready(function() {
	        var maxSlides = 3;
	        var slideWidth = 368; 
	        if ($(window).width() < 800) {
	            maxSlides = 1;
	            slideWidth = 0;
	        }
	        $('#bxslider').show();
	        $('#bxslider').bxSlider({
	            auto: true,
	            autoControls: false,
	            minSlides: 1,
	            maxSlides: maxSlides,
	            moveSlides: 1,
	            slideWidth: slideWidth,
	            slideMargin: 48,
	            adaptiveHeight: true,
	            responsive: true
	        });
	    });
			
		$(document).ready(function() {
	        // Menu sticky
	        function stickyMenu() {
	            var boxMenu = '#box_menu';
	            var topPage = $(window).scrollTop();
	            var topFix = 72;
	            if(topPage >= topFix) {
	                $(boxMenu).addClass('sticky');
	                $(boxMenu).css({'box-shadow' : '0 2px 5px 0 rgba(0,0,0,0.1)'});
	            } else {
	                $(boxMenu).removeClass('sticky');
	                $(boxMenu).removeAttr('style');
	            }
	        }
	        $(window).scroll(function () {
	            stickyMenu();
	        });

	        // Menu go box
	        $('.go_box').click(function() {
	            var box = $(this).attr('data-box');
	            if($('#' + box).length) {
	                var top_scroll = 0;
	                top_scroll = $("#" + box).offset().top;
	                $('html,body').animate({
	                    scrollTop: top_scroll - 60
	                }, 'slow');
	            }
	            $('.box_header .menu.mobile').addClass('hidden-xs hidden-sm');
	            $('.go_box').removeClass('active');
	            $(this).addClass('active');
	            $('.menu_mobile_bg').remove();
	        });
	        
	        // Popup video, image
	        if ($(".fancybox-button").size() > 0) {
	            $(".fancybox-button").fancybox({
	                groupAttr: 'data-rel',
	                prevEffect: 'none',
	                nextEffect: 'none',
	                closeBtn: true,
	                helpers: {
	                    title: {
	                        type: 'inside'
	                    }
	                }
	            });
	            $('.fancybox-video').fancybox({
	                type: 'iframe'
	            });
	        }
	    });
	    
	    //Menu Mobile
	    function close_memu_mobile() {
	        if($('.box_header .menu.mobile').size() > 0) {
	            $('.box_header .menu.mobile').addClass('hidden-xs hidden-sm');
	            
	        }
	        if($('.menu_mobile_bg').size() > 0) {
	            $('.menu_mobile_bg').remove();
	        }
	    }
	    $('.menu_mobile a').click(function() {
	        $('.box_header .menu').removeClass('hidden-xs hidden-sm').addClass('mobile');
	        $('.box_header').append('<div class="menu_mobile_bg" onclick="javascript:close_memu_mobile();"></div>');
	    });
	    
	    //Popup video
	    function play_video(url) {
	        var html = '';
	        html += '<div class="popup_video" onclick="close_popup()">';
	            html += '<div class="popup_content">';
	                html += '<div class="embed-responsive embed-responsive-16by9">';
	                    html += '<iframe class="embed-responsive-item" src="'+ url +'" frameborder="0" allowfullscreen></iframe>';
	                html += '</div>';
	                html += '<a href="javascript:void(0)" onclick="close_popup()" class="popup_close"><i class="fa fa-times"></i></a>';
	            html += '</div>';
	        html += '</div>';
	        $('body').append(html);
	    }
	    function close_popup() {
	        $('.popup_video').remove();
	    }

		//Cơ sở
		$.ajax({
			type: 'POST',
			url: 'https://langmaster.vn/erp/api/sale-document/list',
			crossDomain: true,
			data: {
				where:{
					code: 'training-location',
					type: 'on'
				}
			},
			dataType: 'json',
			success: function(responseData, textStatus, jqXHR) {
				var htmlSelect = '';
				var htmlFooter = '<div class="container"><div class="row">';
				$.each(responseData, function(key, val) {
					if(val['address']) {
						htmlFooter += '<div class="col-sm-3"><div class="bottom">';
							htmlFooter += '<p class="title">'+ val['name'] +'</p>';
							htmlFooter += '<p class="text"><i class="fa fa-map-marker"></i>'+ val['address'] +'</p>';
							htmlFooter += '<p class="text"><i class="fa fa-phone"></i>'+ val['phone'] +'</p>';
							htmlFooter += '</div></div>';
						htmlSelect += '<option value="'+ val['id'] +'">'+ val['name'] +': '+ val['address'] +'</option>';
					}
				});
				htmlFooter += '</div></div>';
				$('.api-coso-list').html(htmlFooter);
				$('.api-coso').append(htmlSelect);
			}
		});

		function formRegisterCRM(idForm) {
	        $.ajax({
	            type: 'POST',
	            url: 'https://langmaster.vn/erp/api/sale-form-data/add',
	            crossDomain: true,
	            data: $(idForm).serialize(),
	            dataType: 'json',
	            beforeSend: function() {
	                $(idForm + ' .form-group').removeClass('has-error');
	                $(idForm + ' .alert').remove();
	                $('body').append('<div class="page-loading"><div class="loader"></div></div>');
	            },
	            success: function(responseData, textStatus, jqXHR) {
	                var result = responseData;
	                if(result.error) {
	                    if(result.error.form_id) {
	                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
	                    } else {
	                        $.each(result.error, function(key, value) {
	                            $(idForm + ' #input-'+ key).addClass('has-error');
	                        })
	                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
	                    }
	                } else {
	                    $(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
	                    $(idForm + ' .form-control').not(idForm + ' .form-control.my_btn').val('');
	                }
	                
	                $('body .page-loading').remove();
	            },
	        });
	    }
	    
	</script>
	<section class="box-footer">
	    <div class="footer_top">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-3">
	                    <div class="fanpage">
	                        <h3 class="title">LANGGO TRÊN FACEBOOK</h3>
	                        <div class="fb-page" data-href="<?php echo $setting['General.System.Facebook']['value']; ?>" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
	                    </div>
	                </div>
	                
	                <div class="col-sm-5">
	                    <div class="footer_social">
	                        <h3 class="title"><a href="#"><img src="/public/template/frontend/img/langgo/LangGo-footer.png"></a></h3>
	                        <p class="text"><span>LangGo Learning system</span> - Hệ thống hoc tiếng Anh giao tiếp toàn diện cho người mới bắt đầu.</p>
	                        <p class="network">
	                            Social network
	                            <a href="<?php echo $setting['General.System.Facebook']['value'];?>" target="_blank"><span><img alt="facebook" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-1.png'; ?>"></span></a>
	                            <a href="<?php echo $setting['General.System.Google']['value'];?>" target="_blank"><span><img alt="google+" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-2.png'; ?>"></span></a>
	                            <a href="<?php echo $setting['General.System.Youtube']['value'];?>" target="_blank"><span><img alt="youtube" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-3.png'; ?>"></span></a>
	                        </p>
	                    </div>
	                </div>
	                
	                <div class="col-sm-4 text-justify">
	                    <div class="receive">
	                        <h3 class="title">Đăng ký nhận tin</h3>
	                        <p class="text">Để nhận thông tin về các sự kiện đặc biệt và <a href="http://meovatcuocsong.info/free-tron-bo-cac-bo-de-thi-toeic-2018-co-dap-an-full-ebookaudio/" target="_blank" style="color: #000;">tài liệu học tiếng Anh</a> giao tiếp miễn phí. Bạn hãy để lại cho chúng tôi thông tin liên lạc.</p>
	                        <form id="frmDangkyNhanTin" name="frmDangkyNhanTin" method="post">
	                            <div class="row">
	                                <div class="col-md-6">
	                                    <div class="form-group" id="input-name">
	                                        <input required type="text" class="form-control" id="name" name="name" placeholder="Họ Tên">
	                                    </div>                     
	                                </div>
	                                <div class="col-md-6">
	                                    <div class="form-group" id="input-phone">
	                                        <input required type="text" class="form-control" id="phone" name="phone" placeholder="Điện thoại">
	                                    </div>                     
	                                </div>
	                                <div class="col-md-6">
	                                    <div class="form-group" id="input-email">
	                                        <input required type="text" class="form-control" id="email" name="email" placeholder="Email">
	                                    </div>                     
	                                </div>
	                                <div class="col-md-6">
	                                    <div class="form-group" id="input-training_location_id">
	                                        <select name="training_location_id" id="training_location_id" class="form-control">
	                                            <option value="" selected="selected">- Chọn cơ sở gần bạn nhất -</option>
	                                        </select> 
	                                    </div>                     
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="form-group" id="input-location_city_id">
	                                        <select name="location_city_id" class="form-control">
	                                            <option value="" selected="selected">- Tỉnh thành bạn đang sinh sống -</option>
	                                            <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
	                                            <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
	                                            <option value="none">Tỉnh khác</option>
	                                        </select>
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="btnSuccess">
	                                        <input type="hidden" value="1527907487ni9303jd64s2" name="form_id">
	                                        <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
	                                        <input type="hidden" name="source_channel_id" value="1475118253-f69m-4h09-9q8p-12538c0gfl04">
	                                        <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
	                                        <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
	                                        <input class="form-control my_btn" id="btn-gui" type="button" value="ĐĂNG KÝ NHẬN TIN" onclick="formRegisterCRM('#frmDangkyNhanTin');">
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>  
	            </div>
	        </div>
	    </div>
	    
	    <div class="footer_bottom">
	        <div class="container"></div>
	    </div>
	    <div class="container">
	        <div style="padding-top: 20px; background: #a21e22; text-align: center; color: #fff; z-index: 100000;" class="copy-right">Hệ thống được phát triển và vận hành bởi <a style="color: #fff;" href="https://langtech.vn/" target="_blank"><b>LangTech</b></a></div>
	    </div>
	</section>
	<script type="text/javascript">
	    //Địa điểm học
	    $.ajax({
	        type: 'POST',
	        url: 'https://langmaster.vn/erp/api/sale-document/list',
	        crossDomain: true,
	        data: {
	            where:{
	                code: 'training-location',
	            }
	        },
	        dataType: 'json',
	        success: function(responseData, textStatus, jqXHR) {
	            var htmlSelect = '';
	            $.each(responseData, function(key, val) {
	                if(val['address']) {
	                    htmlSelect += '<option value="'+ val['id'] +'">Cơ sở: '+ val['address'] +'</option>';
	                }
	            });
	            $('select[name="training_location_id"]').append(htmlSelect);
	        }
	    });
	    //Cơ sở
	    $.ajax({
	        type: 'POST',
	        url: 'https://langmaster.vn/erp/api/sale-document/list',
	        crossDomain: true,
	        data: {
	            where:{
	                code: 'training-location',
	                type: 'on'
	            }
	        },
	        dataType: 'json',
	        success: function(responseData, textStatus, jqXHR) {
	            var html = '';
	            $.each(responseData, function(key, val) {
	                if(val['address']) {
	                    html += '<div class="col-md-4 col-sm-6">';
	                        html += '<div class="item">';
	                            html += '<div class="text"><i class="fa fa-map-marker"></i>Cơ sở: '+ val['address'] +'</div>';
	                            html += '<div class="text"><i class="fa fa-phone"></i>'+ val['phone'] +'</div>';
	                        html += '</div>';
	                    html += '</div>';
	                }
	            });
	            $('.box-footer .footer_bottom .container').html('<div class="row">'+ html +'</div>');
	        }
	    });
	    function formRegisterCRM(idForm) {
	        $.ajax({
	            type: 'POST',
	            url: 'https://langmaster.vn/erp/api/sale-form-data/add',
	            crossDomain: true,
	            data: $(idForm).serialize(),
	            dataType: 'json',
	            beforeSend: function() {
	                $(idForm + ' .form-group').removeClass('has-error');
	                $(idForm + ' .alert').remove();
	                $('body').append('<div class="page-loading"><div class="loader"></div></div>');
	            },
	            success: function(responseData, textStatus, jqXHR) {
	                var result = responseData;
	                if(result.error) {
	                    if(result.error.form_id) {
	                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
	                    } else {
	                        $.each(result.error, function(key, value) {
	                            $(idForm + ' #input-'+ key).addClass('has-error');
	                        })
	                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
	                    }
	                } else {
	                    $(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
	                    $(idForm + ' .form-control').not(idForm + ' .form-control.my_btn').val('');
	                }
	                
	                $('body .page-loading').remove();
	            },
	        });
	    }
	</script>
	<script type="text/javascript">
	    if ($(".fancybox-button").size() > 0) {            
	        $(".fancybox-button").fancybox({
	            groupAttr: 'data-rel',
	            prevEffect: 'none',
	            nextEffect: 'none',
	            closeBtn: true,
	            helpers: {
	                title: {
	                    type: 'inside'
	                }
	            }
	        });
	    
	        $('.fancybox-video').fancybox({
	            type: 'iframe'
	        });
	    }
	    // Menu
	    var id_menu = '#box_menu';
		$(id_menu + ' .collapsed').click(function() {
			$(id_menu + ' .navbar-collapse').addClass('open');
			$(id_menu + ' .navbar-collapse-background').css({'left': 0});
		});
		$(id_menu + ' .navbar-collapse-background').click(function() {
			$(id_menu + ' .navbar-collapse').removeClass('open');
			$(id_menu + ' .navbar-collapse-background').css({'left': '-100%'});
		});
		$('a[class^="go_"]').click(function() {
			
			$(id_menu + ' .navbar-collapse li').removeClass('active');
			$(this).parent().addClass('active');
			
			var str = $(this).attr('class');;
			var res = str.split(" ");
			var box = res[0].substring(3);
			var top_scroll = 0;
	        top_scroll = $("#" + box).offset().top;
	        $('html,body').animate({
	            scrollTop: top_scroll -70
	        }, 'slow');
		});
	</script>
</body>