h1, h2, h3, h4, h5, h6{ margin: 0;}

.lp-section { padding: 70px 0 70px;}
.lp-section .lp-section-title{ text-align: center; margin-bottom: 60px;}
.lp-section .lp-section-title .title{ font-size: 45px; font-weight: 400; color: #000; text-transform: uppercase;}

/* CTA */
.lp-cta{ background-color: #d22327; padding: 15px 30px; border-radius: 40px; color: #FFF; text-transform: uppercase; font-weight: bold; font-size: 20px; border: 0; position: relative; transition: all 0.2s;}
.lp-cta:before{ content: ""; position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px; border-radius: 40px; border: 2px solid #FFF; box-shadow: 0 0 3px #FFF;}
.lp-cta:hover{ background-color: #bc1c20;}

    /* Header */
.lp-header{ background-color: #DC1E20; font-size: 20px; padding: 0;}
.lp-header a{color: #fff !important; }
.lp-header .list-main{ position: relative; z-index: 5; text-align: right; padding-right: 150px;}
.lp-header .list-main .logo{ position: absolute; top: 12px; left: 0;}
.lp-header .list-main .logo img{ height: 36px;}
.lp-header .list-main .cta{ position: absolute; top: 7px; right: 0; padding: 0 10px !important; border-radius: 3px; border: #fff 2px solid; background-color: rgb(255, 193, 8); text-transform: uppercase; font-size: 14px; text-align: center; }
.lp-header .list-main .cta a{color: #333 !important;}
.lp-header .list-main .item-header{padding: 15px 20px; text-align: center; display: inline-block; text-transform: uppercase;}
.lp-header .list-main .item-header i{font-size: 20px; margin-right: 5px;}

/* Banner */
.lp-banner{position: relative; padding: 0;}
.lp-banner a{ display: block;}
.lp-banner img{width: 100%;}

/* Register */
.lp-register{ background: url("../images/bg-register.jpg") no-repeat center center; background-size: cover;}
.lp-register .lp-section-title{ margin-bottom: 20px;}
.lp-register .lp-section-title .title{ color: #FFF; font-weight: 600; font-size: 28px;}
.lp-register .lp-section-content{ padding: 0 0 0 80px;}
.lp-register .video{ padding-top: 60px;}

/* Form */
.lp-form{}
.lp-form .form-group{ margin-bottom: 12px;}
.lp-form .form-control{ height: 56px; padding: 0 30px; font-size: 18px; border-radius: 12px; background-color: #d5d5d5; border-color: #a8a6a6; color: #000;}
.lp-form .form-control::-webkit-input-placeholder {color: black;}
.lp-form .form-control:-ms-input-placeholder {color: black;}
.lp-form .form-control::placeholder {color: black;}
.lp-form .lp-cta{ margin-top: 10px;}
.lp-form .alert{ border: 0; border-radius: 12px;}

/* Problem */
.lp-problem .lp-section-title{ margin-bottom: 90px;}
.lp-problem .lp-section-title .title{ text-transform: none;}
.lp-problem .item{ border: 1px solid #c6c6c6; box-shadow: 15px -15px #c6c6c6; padding: 20px 30px; margin-bottom: 40px;}
.lp-problem .item .icon{ text-align: center; margin-bottom: 25px;}
.lp-problem .item .title{ font-size: 24px; line-height: 30px; font-weight: 500; margin: 0; min-height: 120px;}
.lp-problem .item .image{ text-align: center;}
.lp-problem .item .image img{ height: 223px;}
.lp-problem .item_highlight{ display: flex; padding: 30px 0;}
.lp-problem .item_highlight .image{ max-width: 100%; text-align: center; flex: 0 0 350px;}
.lp-problem .item_highlight .info { padding-top: 10px;}
.lp-problem .item_highlight .info .title{ font-size: 30px;line-height: 30px; font-weight: 500; margin-bottom: 15px;}
.lp-problem .item_highlight .info .desc p{ font-size: 20px; margin-bottom: 10px; position: relative; line-height: 24px;}
.lp-problem .item_highlight .info .desc p:after{ content: ""; position: absolute; width: 10px; height: 10px; border-radius: 50%; background-color: #d12427; top: 7px; left: -25px;}

/* Object */
.lp-object{ background: url("../images/bg-object.jpg") no-repeat center center; background-size: cover;}
.lp-object .item{ min-height: 318px; background: url("../images/object-1.png") no-repeat top left; margin-bottom: 30px;}
.lp-object .item .title{ font-size: 22px; color: #333333; line-height: 27px; font-weight: 400; padding: 170px 30px 0 40px;}
.lp-object .item.item-2{ background-image: url("../images/object-2.png");}
.lp-object .item.item-3{ background-image: url("../images/object-3.png");}
.lp-object .item.item-4{ background-image: url("../images/object-4.png");}

/* Course Detail */
.lp-course-detail{ background: url("../images/bg-course-detail.jpg") no-repeat center center; background-size: cover;}
.lp-course-detail .lp-section-title .title{ color: #FFF;}
.lp-course-detail .item{ display: flex; margin-bottom: 30px;}
.lp-course-detail .item .col{ background-color: #FFF; border-radius: 15px; display: flex; align-items: center;}
.lp-course-detail .item .icon{ flex: 0 0 160px; justify-content: center; padding: 20px 0;}
.lp-course-detail .item .info{ flex-grow: 1; margin-left: 30px; padding: 20px 50px; font-size: 20px;}
.lp-course-detail .item .info{ display: flex;}
.lp-course-detail .item .info .title{ flex: 0 0 155px; font-size: 27px; font-weight: 600;}
.lp-course-detail .item .info .text{  flex-grow: 1;}
.lp-course-detail .item .info .text p{ position: relative; padding-left: 20px; margin: 0;}
.lp-course-detail .item .info .text p:after{ content: ""; position: absolute; width: 10px; height: 10px; border-radius: 50%; background-color: #d12427; top: 9px; left: 0;}

/* Course Content */
.lp-course-content{ background: #e6e6e6;}
.lp-course-content .lp-section-title{ margin-bottom: 80px;}
.lp-course-content .row-flex{justify-content: center;}
.lp-course-content .row-flex>*{display: flex;}
.lp-course-content .item{ width: 100%; border: 1px solid #0e0e0e; padding: 30px; position: relative; background-color: #FFF; margin-bottom: 60px;}
.lp-course-content .item .head{ position: absolute; top: -30px; left: 0; width: 100%; height: 82px; background: url("../images/bg-course-content-head.png") no-repeat center center; color: #FFF; text-align: center; font-size: 32px; font-weight: 600; padding-top: 24px;}
.lp-course-content .item .title{ text-align: center; font-size: 30px; color: #d22327; padding: 40px 0 20px; font-weight: 900;}
.lp-course-content .item .box{ margin-bottom: 10px;}
.lp-course-content .item .box .box-title{ font-size: 18px; font-weight: 600; background: url("../images/course-content-icon-1.png") no-repeat left bottom 4px; padding: 10px 0 0 50px; margin: 0 0 5px 20px;}
.lp-course-content .item .box .box-title.content{ background-image: url("../images/course-content-icon-2.png");}
.lp-course-content .item .box  p{ position: relative; padding-left: 20px; margin: 0 0 7px; font-size: 18px;}
.lp-course-content .item .box  p:after{ content: ""; position: absolute; width: 10px; height: 10px; border-radius: 50%; background-color: #d12427; top: 6px; left: 0;}

/* Box Reason */
.lp-reason{ background: url("../images/bg-reason.jpg") no-repeat center center; background-size: cover;}
.lp-reason .lp-section-title{ display: flex; justify-content: center;}
.lp-reason .lp-section-title .title{ background: url("../images/bg-reason-title.png") no-repeat left center; padding: 10px 0 10px 150px; color: #FFF; text-align: left; background-size: auto 100%;}
.lp-reason .lp-section-content{ padding-top: 20px;}
.lp-reason .item{ color: #FFF; margin-bottom: 50px;}
.lp-reason .item .title{ display: flex;}
.lp-reason .item .title .image{ flex: 0 0 80px; display: flex; align-items: center;}
.lp-reason .item .title .text{ background-color: #d22327; padding: 10px 15px; display: flex; align-items: center;}
.lp-reason .item .info{ font-size: 22px; padding: 10px 30px 0 0;}

/* Commitment */
.lp-commitment{ background: url("../images/bg-commitment.jpg") no-repeat center center; background-size: cover;}
.lp-commitment .lp-section-title .title{ color: #FFF;}
.lp-commitment .item{ width: 829px; height: 148px; max-width: 100%; margin: auto auto; margin-bottom: 20px; background: url("../images/bg-commitment-item-1.png") no-repeat top left; display: flex; align-items: center; color: #FFF; flex-wrap: wrap;}
.lp-commitment .item .item-content{ padding: 15px 20px 25px 160px;}
.lp-commitment .item .item-content .title{ font-size: 20px; font-weight: bold;}
.lp-commitment .item .item-content .info{ font-size: 18px;}

/* Replace style main */
.section-title{ font-weight: 400; font-size: 45px; color: #000;}
.section-title:after{ display: none;}

.box-feedback-student{ background-color: #FFF;}
.box-feedback-student .lp-cta{ margin-top: 40px;}

.box-teacher{ background-color: #e6e6e6;}
.box-teacher .lp-cta{ margin-top: 40px;}
.box-teacher .teacher-slider .owl-item{ padding: 0 15px;}
.box-teacher .box-content .teacher-item { padding: 20px 25px; position: relative; z-index: 2;}
.box-teacher .box-content .teacher-item:before{ content: ""; position: absolute; z-index: 1; background: url("../images/bg-teacher-item.png") no-repeat center center; background-size: 100% 100%; top: 0; right: -15px; bottom: 0; left: -15px;}
.box-teacher .box-content .teacher-item>*{ z-index: 2; position: relative;}
.box-teacher .box-content .teacher-item .teacher-image{ border: 1px solid #d22327; padding: 5px; margin-bottom: 15px; width: 100%;}
.box-teacher .box-content .teacher-item .teacher-name{ text-align: left; color: #404041; font-size: 18px; margin-bottom: 5px;}
.box-teacher .box-content .teacher-item .teacher-description{ text-align: left; padding: 0; color: #404041; font-size: 18px;}

@media screen and (min-width: 1360px){
    .lp-reason{ padding-bottom: 100px;}
    .lp-reason .row-flex{ position: relative; height: 670px; background: url("../images/bg-reason-content.png") no-repeat center center; }
    .lp-reason .row-flex .box{ position: absolute; top: 0; left: 15px; padding: 0; width: 420px;}
    .lp-reason .row-flex .box .item .info{ padding-right: 0;}
    .lp-reason .row-flex .box .title .text{ width: 100%;}
    .lp-reason .row-flex .box.box-1{ top: 65px;}
    .lp-reason .row-flex .box.box-2{ top: 305px;}
    .lp-reason .row-flex .box.box-3{ top: 532px; width: 505px;}
    .lp-reason .row-flex .box.box-4{ left: auto; right: 0; top: 73px;}
    .lp-reason .row-flex .box.box-5{ left: auto; right: 0; top: 305px;}
    .lp-reason .lp-cta{ margin-top: 70px;}

    .lp-commitment{ padding-bottom: 100px;}
    .lp-commitment .lp-section-content{ height: 490px; background: url("../images/bg-commitment-content.png") no-repeat left center; position: relative;}
    .lp-commitment .lp-section-content .item{ position: absolute; top: 0; left: 370px;}
    .lp-commitment .lp-section-content .item.item-2{ top: 172px;}
    .lp-commitment .lp-section-content .item.item-3{ top: 345px;}
}

@media screen and (min-width: 992px){
    .container{ width: 1200px; max-width: 100%;}

    .lp-problem .container{ padding-left: 45px; padding-right: 45px; width: 1220px; max-width: 100%;}
    .lp-problem .row{ margin-left: -45px; margin-right: -45px;}
    .lp-problem .row .col-sm-4{ padding-left: 45px; padding-right: 45px;}
}
@media screen and (max-width: 767px){
    .lp-section{ padding: 30px 0;}
    .lp-section .lp-section-title { margin-bottom: 40px;}
    .lp-section .lp-section-title .title{ font-size: 30px;}

    .lp-cta{ font-size: 16px;}

    .lp-form .form-control{ height: 44px;}

    .lp-header{ padding: 0; height: 50px;}
    .lp-header .list-main .logo{ top: 10px;}
    .lp-header .list-main .logo img{ height: 30px;}
    .lp-header .list-main .cta{ top: 3px;}

    .lp-banner{ padding: 0;}

    .lp-register .video{ padding: 0 0 30px;}
    .lp-register .lp-section-content{ padding: 0;}

    .lp-problem .lp-section-title{ margin-bottom: 40px;}
    .lp-problem .item{padding: 15px 30px;}
    .lp-problem .item .title{font-size: 20px; min-height: unset;}
    .lp-problem .item .image img{ display: none;}
    .lp-problem .item_highlight{ display: block; padding-top: 0;}
    .lp-problem .item_highlight .image{ flex: none; margin-bottom: 20px;}

    .lp-object .item{ background-image: none !important; padding: 20px; text-align: center; background-color: #f65151; border-radius: 20px; margin-bottom: 20px; min-height: 0;}
    .lp-object .item .title{ padding: 0; color: #FFF;}

    .lp-course-detail .item{ display: block;}
    .lp-course-detail .item .icon{ flex: none; border-radius: 15px 15px 0 0;}
    .lp-course-detail .item .info{ display: block; margin: 0; border-radius: 0 0 15px 15px;}

    .lp-reason .lp-section-title .title{ font-size: 24px !important; padding-left: 108px;}
    .lp-reason .item .info{ font-size: 18px; padding-right: 0;}
    .lp-reason .item .title .text{ font-size: 18px; width: 100%;}

    .lp-commitment .item{ background-image: none; background-color: #f65151; border-radius: 15px;}
    .lp-commitment .item .item-content{ padding: 20px;}

    /* Replace main style */
    section.box-home{ padding: 30px 0;}
    .section-title{ font-size: 30px; padding: 0;}
    .owl-theme .owl-dots .owl-dot span{ margin: 0 3px;}

    .box-feedback-student .box-content{ padding-top: 20px;}
}