
@font-face {
	font-family: 'SVNKelsonSansBold';
	src:url('../fonts/SVN-Kelson-Sans-Bold.eot');
	src:url('../fonts/SVN-Kelson-Sans-Bold.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/SVN-Kelson-Sans-Bold.woff') format('woff'), 
		url('../fonts/SVN-Kelson-Sans-Bold.woff2') format('woff2'), 
		url('../fonts/SVN-Kelson-Sans-Bold.ttf')  format('truetype'), 
		url('../fonts/SVN-Kelson-Sans-Bold.svg#SVNKelsonSansBold') format('svg');
}

@font-face {
	font-family: 'SVN-Kelson-Sans-Regular';
	src:url('../fonts/SVN-Kelson-Sans-Regular.eot');
	src:url('../fonts/SVN-Kelson-Sans-Regular.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/SVN-Kelson-Sans-Regular.woff') format('woff'), 
		url('../fonts/SVN-Kelson-Sans-Regular.woff2') format('woff2'), 
		url('../fonts/SVN-Kelson-Sans-Regular.ttf')  format('truetype'), 
		url('../fonts/SVN-Kelson-Sans-Regular.svg#SVN-Kelson-Sans-Regular') format('svg');
}

