@charset "utf-8";
@import "../fonts/font.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=vietnamese');

body{ color: #141829; font-size: 17px; background: #fbfbfb;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #d52327; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}

.clr { clear: both; }
.clearfix:AFTER{ content: ""; display: block; clear: both;}
.btn_dangKy{ font-size: 25px; line-height: 35px; font-family: "SVNKelsonSansBold"; text-transform: uppercase; height: 50px; margin: 30px auto 0 auto; background: #ec1c24; width: 300px; border-radius: 0; max-width: 100%; display: block; color: #fff;}
.btn_dangKy:hover{cursor: pointer;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 999; position: relative; height: 100px;}
.box_header .container{ position: relative;}
.box_header .container:after{ content: ""; display: block; clear: both;}
.box_header .menu-logo{ float: left;}
.box_header .menu-logo .logo{ display: block; margin-top: 30px; text-align: left;}
.box_header .menu-logo .logo img{ max-height: 70px;}
.box_header .menu-main{ float: right;}
.box_header .menu-main .menu{ list-style: none; display:block; text-align:right; margin: 0; padding-top: 25px;}
.box_header .menu-main .menu li{ display: inline-block; padding-left: 35px; text-align: center; vertical-align: middle;}
.box_header .menu-main .menu li a{ text-transform:uppercase; font-size: 16px; line-height:35px; font-family: "SVNKelsonSansBold"; color: #d52327; padding: 8px 0 6px; display: inline-block;}
.box_header .menu-main .menu li a.active{color: #ec1c24;}
.box_header .menu-main .menu li a:hover{ color: #ec1c24;}
.box_header .menu-main .menu li a.btn_register{ display: inline-block; background-color: #ec1c24; color: #FFF; padding: 0 15px; height: 32px; line-height: 30px; font-weight: normal; border-radius: 3px;}
.box_header .menu-main .menu li a.btn_register:hover{ background-color: #d52327;}
.box_header .menu-main .menu li a.btn_register.active{ background-color: #d52327;}
.box_header .menu_mobile{ position: absolute; top: 13px; right: 10px; width: 30px; z-index: 99;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #FFF; margin-bottom: 4px;}
.box_header .menu-main.mobile{ position: fixed; width: 70%; height: 100%; top: 0; left: 0; background-color: #d52327; z-index: 999999; overflow: hidden;}
.box_header .menu-main.mobile .menu { float: none; margin: 0; padding: 30px 0;}
.box_header .menu-main.mobile .menu li{ display: block; text-align: center; margin: 0; padding: 0;}
.box_header .menu-main.mobile .menu li a{ color: #FFF; padding: 10px;}
.box_header .menu-main.mobile .menu li a.btn_register{ padding: 0 10px; color: #222; margin-top: 20px;}

.box_banner{ position: relative;}
.box_banner .image img{ width: 100%;}
.box_banner .info{ position: absolute; top: 50%; left: 0; width: 100%; text-align: center;}
.box_banner .info .text{ padding: 30px 50px; text-transform: uppercase; color: #ec1c24; font-size: 40px; background-color: rgba(255, 255, 255, 0.7); display: inline-block; font-weight: bold;}

.box_noibat{ background: url("../images/banner-1.jpg") no-repeat top center; background-size: cover; padding: 80px 0;}
.box_noibat .box_title{ font-family: "SVNKelsonSansBold"; font-size: 35px; text-transform: uppercase; position: relative; text-align: center; padding-bottom: 22px; color: #FFF;}
.box_noibat .box_title::after{ content: ""; position: absolute; bottom: 0; left: 50%; margin-left: -155px; width: 310px; height: 1px; background-color: #FFF;}
.box_noibat .box_title::before{ font-family: 'Glyphicons Halflings'; content: "\e252"; position: absolute; bottom: -25px; left: 50%; margin-left: -7px; color: #FFF; font-size: 25px;}
.box_noibat .box_content{ width: 100%; max-width: 100%; margin: 0 auto; margin-top: 70px; display: flex;}
.box_noibat .box_content .item{ width: 230px; max-width: 100%; min-height: 366px; float: left; padding-top: 115px; margin: 0 7px;}
.box_noibat .box_content .item-1{ background: url("../images/01.png") no-repeat;}
.box_noibat .box_content .item-2{ background: url("../images/02.png") no-repeat;}
.box_noibat .box_content .item-3{ background: url("../images/03.png") no-repeat;}
.box_noibat .box_content .item-4{ background: url("../images/04.png") no-repeat;}
.box_noibat .box_content .item-5{ background: url("../images/05.png") no-repeat;}
.box_noibat .box_content .item:first-child{margin-left: 0;}
.box_noibat .box_content .item:last-child{margin-right: 0;}
.box_noibat .box_content .item .title{text-align: center; color: #d52327; font-family: "SVNKelsonSansBold"; font-size: 20px; line-height: 23px; padding: 5px 0 15px;}
.box_noibat .box_content .item .detail{text-align: justify; font-weight: 500; font-size: 12px; line-height: 20px; padding: 0 15px 10px 15px;}

.box_nangLuc{ background: #FFF; padding: 70px 0;}
.box_nangLuc .box_title{ font-family: "SVNKelsonSansBold"; font-size: 35px; text-transform: uppercase; position: relative; text-align: center; padding-bottom: 22px; color: #d52327;}
.box_nangLuc .box_title::after{ content: ""; position: absolute; bottom: 0; left: 50%; margin-left: -155px; width: 310px; height: 1px; background-color: #d52327;}
.box_nangLuc .box_title::before{ font-family: 'Glyphicons Halflings'; content: "\e252"; position: absolute; bottom: -25px; left: 50%; margin-left: -7px; color: #d52327; font-size: 25px;}
.box_nangLuc .box_desc{ color: #111; font-size: 18px; font-weight: 400; line-height: 22px; padding: 40px 0; text-align: center;}
.box_nangLuc .item{ min-height: 130px; background: url("../images/icon-21.png") no-repeat 30px center #FFF; border: 1px solid #303753; border-radius: 10px; padding: 35px 35px 35px 130px; margin-bottom: 40px;} 
.box_nangLuc .item-2{ background-image: url("../images/icon-22.png");}
.box_nangLuc .item-3{ background-image: url("../images/icon-23.png");}
.box_nangLuc .item-4{ background-image: url("../images/icon-24.png");}
.box_nangLuc .item-5{ background-image: url("../images/icon-25.png");}
.box_nangLuc .item-6{ background-image: url("../images/icon-26.png");}
.box_nangLuc .item .title{font-weight: 600;font-size: 18px;color: #3b3b3b;padding: 0 0 5px;}
.box_nangLuc .item .text{font-weight: 400; font-size: 15px; color: #3b3b3b;}

.box_schedule .filter{ text-align: right; margin-bottom: 10px;}
.box_schedule .filter .form-group .form-control{ border-radius: 0; height: 30px; font-size: 13px;}
.box_schedule .box_content{background-color: #FFF;border: 1px solid #e1e1e1; border-bottom: 0;  padding: 0px; overflow: auto; max-height: 580px;}
.box_schedule .box_view{ background-color: #e1e1e1; border: 1px solid #e1e1e1; text-align: center;}
.box_schedule .box_view a{ display: block; padding: 7px 20px; color: #0a2240; text-transform: uppercase;}
.box_schedule .box_view a:hover{ color: #000;}
.box_schedule .table{width: 100%;border: 1px solid #e1e1e1; margin: 0 0 -1px -1px;}
.box_schedule .table>thead>tr>th{ border-color: #e1e1e1; background-color: #e1e1e1; padding: 10px 20px; color: #0a2240; font-size: 15px; white-space: nowrap; text-transform: uppercase;}
.box_schedule .table>tbody>tr>td{ border-color: #e1e1e1; padding: 10px 20px; color: #252525;  font-size: 15px;}
.box_schedule .table>tbody>tr>td .option{ font-family: "HelveticaNeue-Italic"; font-size: 12px;}
.box_schedule .table>tbody>tr>td .btn-info{ padding: 5px 15px 4px; border-radius: 50px; background: #d52327; border: none; font-size: 14px; transition: all 0.7s ease-in-out 0s;}
.box_schedule .table>tbody>tr>td .btn-info:HOVER{ background: #d05451; transition: all 0.7s ease-in-out 0s;}
.box_schedule .nowrap{ white-space: nowrap;}
.box_schedule .center{ text-align: center;}

.box_lichHoc{ padding: 60px 0;}
.box_lichHoc .box_title{ display: block; font-size: 40px; color: #d52327; border-bottom: 1px solid #d52327; text-transform: uppercase; font-weight: 700; margin-bottom: 20px;}
.box_lichHoc .box_filter{ margin-bottom: 20px; text-align: right;}
.box_lichHoc .box_filter .form-control{ border-radius: 0; border: 1px solid #0a2240; height: 40px; display: inline-block; width: auto; font-size: 16px;}
.box_lichHoc .modal-body{display: inline-block;}
.box_lichHoc .modal-title{font-size: 35px; text-align: center; color: #643e89;  text-transform: uppercase;}
.box_lichHoc .modal-body .my_btn{ font-size: 19px; background: #e23a59; color: #fff; text-transform: uppercase; padding: 0; font-weight: 700;}
.box_lichHoc .modal-dialog{width: 1020px; max-width: 100%; height: 60%;}
.box_lichHoc .modal-dialog .form-control{height: 55px;}
.box_lichHoc .thongtinhocphi { padding: 10px 20px; display: table; background: #d52327; width: 100%; color: #FFF;}
.box_lichHoc .thongtinhocphi .content{ display: table-cell; vertical-align: middle;}
.box_lichHoc .thongtinhocphi .content .item{ padding: 10px 0; border-bottom: 1px solid #fff; text-align: left; font-size: 16px;}
.box_lichHoc .thongtinhocphi .content .item span{font-size: 25px;}
.box_lichHoc .thongtinhocphi .content .item .text{padding-bottom: 10px;}
.box_lichHoc .thongtinhocphi .content .item:last-child{border: 0;}
.box_lichHoc .thongtinhocphi .content .item .note{font-size: 25px; font-weight: 700; font-family: "Conv_iCielNovecentosans-DemiBold_3"; color: #edff00;}
.box_lichHoc .thongtinhocphi .content .item .note:hover{color: #fff; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_lichHoc .thongtinhocphi .content .item br{display: none;}

.box_hotline{ padding: 40px 0 0; text-align: center; font-size: 30px; font-weight: 600; color: #FF0000;}
.box_hotline i{ margin-right: 10px;}
.box_hotline a{ color: #FF0000;}

.box_lyDo{ padding: 80px 0; background: url("../images/ly-do-6.jpg") no-repeat top center; background-size: cover;}
.box_lyDo .box_title{ font-family: "SVNKelsonSansBold"; font-size: 35px; text-transform: uppercase; position: relative; text-align: center; padding-bottom: 22px; color: #FFF;}
.box_lyDo .box_title::after{ content: ""; position: absolute; bottom: 0; left: 50%; margin-left: -155px; width: 310px; height: 1px; background-color: #FFF;}
.box_lyDo .box_title::before{ font-family: 'Glyphicons Halflings'; content: "\e252"; position: absolute; bottom: -25px; left: 50%; margin-left: -7px; color: #FFF; font-size: 25px;}
.box_lyDo .box_content{ padding-top: 20px; position: relative;}
.box_lyDo .box_content:before{ position: absolute; content: ""; background: url("../images/before.png") no-repeat left; width: 210px; height: 100%; left: 0;}
.box_lyDo .item{ margin: 0 auto; max-width: 100%; position: relative; padding-left: 200px;}
.box_lyDo .item .item_content{ min-height: 136px; border-radius: 5px; background: url("../images/06.png") no-repeat center; background-size: auto; padding: 40px 35px 35px 60px;}
.box_lyDo .item .item_content .info{ padding-left: 50px; min-height: 70px;}
.box_lyDo .item .item_content .info .title{ font-family: "SVNKelsonSansBold"; font-size: 20px; color: #d52327; padding-bottom: 5px;}
.box_lyDo .item .item_content .info .desc{ font-size: 15px; color: #464646; font-weight: 500;}
.box_lyDo .item.item_2 .item_content{ background-image: url("../images/07.png");}
.box_lyDo .item.item_3 .item_content{ background-image: url("../images/08.png");}
.box_lyDo .item.item_4 .item_content{ background-image: url("../images/09.png");}
.box_lyDo .item.item_5 .item_content{ background-image: url("../images/10.png");}

.box_dangKy{ color: #30373d; position: relative; padding-bottom: 80px; background: url("../images/banner-5.jpg") no-repeat top center; background-size: cover;}
.box_dangKy .container{width: 1000px; max-width: 100%;}
.box_dangKy .box_title{padding: 70px 0 25px 0; text-align: center; font-family: "SVNKelsonSansBold"; font-size: 25px; line-height: 30px; color: #fff;}
.box_dangKy .box_info{ font-size: 15px; line-height: 22px; color: #fff; text-align: center; padding-bottom: 50px;}
.box_dangKy .dangKy{ padding: 0 0 0 15px; }
.box_dangKy .dangKy .form-control{border:none; color:#111; height:50px; background:rgba(255, 255, 255, 0.7); padding: 6px 30px; font-size: 15px; line-height:20px;}
.box_dangKy .dangKy .form-control::placeholder{color: #111;}
.box_dangKy .dangKy select{font-size: 15px; color: #111;}
.box_dangKy .dangKy option{font-size: 15px; color: #111;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .my_btn{ font-size: 25px; line-height: 20px; background: #ec1c24; width: 300px; border-radius: 0; max-width: 100%; display: inline-block; font-weight: 600; color: #fff;}
.box_dangKy .dangKy .my_btn:hover{ background: #202b53 !important; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.box_comment{margin: 50px 0;}

.box_tinTuc{ padding: 70px 0; background: #f1f1f1;}
.box_tinTuc .box_title{margin-bottom: 35px; font-family: "SVNKelsonSansBold"; font-size: 35px; line-height: 35px; position: relative; text-align: center; padding-bottom: 22px; color: #d52327;}
.box_tinTuc .box_title::after{ content: ""; position: absolute; bottom: 0; left: 50%; margin-left: -155px; width: 310px; height: 1px; background-color: #d52327;}
.box_tinTuc .box_title::before{ font-family: 'Glyphicons Halflings'; content: "\e252"; position: absolute; bottom: -25px; left: 50%; margin-left: -7px; color: #d52327; font-size: 25px;}
.box_tinTuc .box_content{margin-bottom: 50px;}
.box_tinTuc .item .image img{ width: 100%;}
.box_tinTuc .item .title{ font-size: 15px; color: #252525; padding: 15px 0; line-height: 23px; font-family: "Roboto-Regular";}
.box_tinTuc .item{position: relative;}
.box_tinTuc .item .fa{position: absolute; color: #fff; font-size: 50px; top: 50%; left: 50%; margin: -25px 0 0 -25px;}
.box_tinTuc .bxslider{ display: none; position: relative;}
.box_tinTuc .bx-pager{ display: none;}
.box_tinTuc .bx-wrapper{ position: relative; -moz-box-shadow: 0 0 0 #ccc; -webkit-box-shadow: 0 0 0 #ccc; box-shadow: 0 0 0 #ccc; border: 0 solid #fff; background: none;}
.box_tinTuc .bx-controls-direction a{ position: absolute; top: 50%; text-indent: -99999px; overflow: hidden; width: 54px; height: 54px; margin-top: -27px; border-radius: 4px;}
.box_tinTuc .bx-controls-direction a:hover{ box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}
.box_tinTuc .bx-controls-direction a.bx-prev{ background: url("../images/prev.png") no-repeat center center; left: -88px;}
.box_tinTuc .bx-controls-direction a.bx-next{ background: url("../images/next.png") no-repeat center center; right: -88px;}

.box-footer {background: #a21e22; width: 100%; display: table;}
.box-footer .fanpage{ padding: 70px 0 40px 0;}
.box-footer .fanpage .title{ color: #d82127; font-size: 20px; line-height: 25px; padding: 0 0 35px 0;}
.box-footer .footer_social{padding: 70px 0 40px 0;}
.box-footer .footer_social .text{padding-bottom:30px; color: #000; line-height: 23px;}
.box-footer .footer_social .title{padding-bottom:30px; }
.box-footer .footer_social .title img{height: 60px;}
.box-footer .footer_social span{ font-weight: 700;}
.box-footer .footer_social {padding: 70px 40px 0 40px;}
.box-footer .footer_social .network{color: #d82127; font-size: 20px;text-transform: uppercase; font-weight: bold; }
.box-footer .footer_social .network a{padding: 0 4px;}
.box-footer .footer_social .network a:first-child{padding-left: 20px;}
.box-footer .receive{padding: 70px 0 40px 0;}
.box-footer .receive .title{padding: 0 0 35px 0;color: #d82127; font-size: 20px; text-transform: uppercase;}
.box-footer .receive .text{ padding-bottom: 15px; color: #000; line-height: 20px; font-size: 14px;}
.box-footer .receive .form-group{margin: 0;}
.box-footer .receive .form-control{ color: #000; height: 35px; width: 100%; padding: 5px 10px; margin: 0 0 10px; font-size: 13px; display: inline-block; border: 1px solid #d82127; box-sizing: border-box; background: transparent;}
.box-footer .receive .form-control::placeholder { color: #000; }
.box-footer .receive .my_btn { width: 100%; background-color: #d82127; color: white; height: 40px; padding: 10px 10px; margin: 8px 0; border: none; cursor: pointer; }
.box-footer .receive .my_btn:hover{background: #152b50; transition: color 0.7s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box-footer .receive input::placeholder{color: #d82127;}
.box-footer .receive option{background: #fff;}
.box-footer .footer_top { background: #efeeee; }
.box-footer .footer_bottom { background: #a21e22; padding-top: 50px; }
.box-footer .footer_bottom .bottom{text-transform: capitalize;padding-bottom: 30px;}
.box-footer .footer_bottom .bottom .fa{padding-right: 10px;}
.box-footer .footer_bottom .title{font-size: 14px;  line-height: 25px; color: #7d7e7f; font-weight: 700;}
.box-footer .footer_bottom .text{ font-size: 12px; line-height: 25px;}
.box-footer .footer_bottom .item{ color: #fff; padding-bottom: 30px;}
.box-footer .footer_bottom .item .text{color: #fff;}
.box-footer .footer_bottom .item .fa{padding-right: 10px;}
.box-footer .footer_note{ padding: 5px; text-align: center; color: #d82127; font-size: 12px;} 

.scrollTop { position: fixed;right:20px; bottom: 40px; ; padding: 15px; transition: all 0.4s ease-in-out 0s; }
.scrollTop a { font-size: 18px; color: #fff; }

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 8%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

/*RESPONSIVE*/
@media ( min-width : 1200px) {
	.popup_video .popup_content{ width: 60%;}

	.box_header.sticky{ height: 80px; position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
	.box_header.sticky .menu-logo{ width: 20%; }
	.box_header.sticky .menu-logo .logo img{ height: 50px;}
	.box_header.sticky .menu-logo .logo{ margin-top: 15px;}
	.box_header.sticky .menu-main{ width: 80%;}
	.box_header.sticky .menu-main .menu{ padding-top: 12px;}
}

@media(max-width:1024px){
	.box_tinTuc .bx-controls-direction a.bx-prev{display: none;}
	.box_tinTuc .bx-controls-direction a.bx-next{display: none;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 40px; background-color: #202b53;}
	.box_header .menu-logo .logo{ margin-top: 5px;}
	.box_header .menu-logo .logo img{ height: 30px;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 70%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px; width: 100%;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF !important;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	
	.box_noibat{ padding: 40px 0;}
	.box_noibat .box_title{ padding: 0; margin-bottom: 30px;}
	.box_noibat .box_content{ display: block; padding: 0; margin: 0;}	
	.box_noibat .box_content .item{ width: 100%; background: #fff; margin: 0; text-align: left; padding: 10px 20px 10px 55px; position: relative; margin-bottom: 15px; min-height: 0;}
	.box_noibat .box_content .item:before{position: absolute; content: ""; background: url("../images/icon-10.png") no-repeat; width: 60px; height: 60px; top: 15px; left: 10px; }
	.box_noibat .box_content .item-2:before{background: url("../images/icon-11.png") no-repeat;}
	.box_noibat .box_content .item-3:before{background: url("../images/icon-13.png") no-repeat;}
	.box_noibat .box_content .item-4:before{background: url("../images/icon-16.png") no-repeat;}
	.box_noibat .box_content .item-5:before{background: url("../images/icon-17.png") no-repeat;}
	.box_noibat .box_content .item .title{text-align: left; padding-left: 15px;}
	.box_noibat .box_content .item .detail{text-align: left;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 14px;}
	
	.box_noibat{margin-bottom: 0;}

	.box_nangLuc{ padding: 30px 0;}
	.box_nangLuc .box_desc{ font-size: 15px; line-height: 22px; padding: 15px 0 20px;}
	.box_nangLuc .item{ min-height: 0;padding: 15px 15px 15px 135px; margin-bottom: 15px;}

	.box_lichHoc{ padding: 40px 0;}
	.box_lichHoc .box_filter .form-control{ display: block; width: 100%;}
	.box_lichHoc .box_title{ padding-bottom: 20px; text-align: center;}

    .box_lyDo{ padding: 40px 0;}
    .box_lyDo .box_title{ font-size: 25px;}
    .box_lyDo .box_content:before{display: none;}
    .box_lyDo .item{padding: 0;}
    .box_lyDo .item .item_content{ margin: 0; padding-right: 10px; position: relative; background-size: cover; padding-left: 65px;}
    .box_lyDo .item .item_content:before{position: absolute; content: "01"; font-family: "SVNKelsonSansBold"; font-size: 45px; left: 5px; top: 40px; color: #d52327;}
    .box_lyDo .item_2 .item_content:before{content: "02";}
    .box_lyDo .item_3 .item_content:before{content: "03";}
    .box_lyDo .item_4 .item_content:before{content: "04";}
    .box_lyDo .item_5 .item_content:before{content: "05";}
    .box_lyDo .item .item_content .info{ border: 0; padding-left: 10px; border-left: 1px solid #ccc;}
    .box_lyDo .item .item_content .info .title{ font-size: 18px; line-height: 20px; }
    .box_lyDo .item .item_content .info .desc{ font-size: 13px;}
	
	.box_dangKy{ padding-bottom: 50px;}
	.box_dangKy .box_title{ padding-top: 50px;}
	.box_dangKy .box_info br{ display: none;}
	.box_dangKy .box_info{ padding-bottom: 15px;}
	.box_dangKy .dangKy{ padding: 10px 0 0 0;}
	.box_dangKy .dangKy .form-control{ height: 45px; font-size: 15px; padding: 6px 15px;}
	.box_dangKy .dangKy .btnSuccess .my_btn{ width: 100%;}

	.box_comment{margin-bottom: 0;}
	
	.box_tinTuc{ padding: 40px 0 0 0;}
	.box_tinTuc .box_title{ font-size: 25px; margin-bottom: 20px;}
	
	.box_footer .fanpage{ padding: 0;}
	.box_footer .receive{ padding: 0;}
	.box_footer .footer_social{padding: 30px 0 !important;}
}
