<?php
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlTemplate = $this->arrParams['template']['urlThemeTemplate'] . $template;
    $urlImg     = $urlTemplate . '/images';
    $settings   = $this->viewModel['settings'];

    $current_url = DOMAIN.$_SERVER[REQUEST_URI];
?>
<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
    <link rel="stylesheet" href="<?php echo $urlTemplate; ?>/css/style.css" />
    
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>

    <div class="page-shedule">
        <div class="banner">
            <img src="<?php echo $item['image'];?>" alt="Lịch khai giảng" />
        </div>

        <div class="box-element box-sign">
            <div class="container">
                <div class="row">
                    <div class="item-col col-xs-12 col-sm-6">
                        <div class="item-video">
                            <div class="image">
                                <iframe height="325" src="https://www.youtube.com/embed/Y9YCPCo7vcU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="item-col col-xs-12 col-sm-5 col-sm-push-1">
                        <div class="form-box">
                            <div class="text-center"><p class="form-title">Đăng ký khoá học</p></div>
                            <form action="" method="POST" id="formShedule">
                                <input type="hidden" name="form_id" value="<?php echo $item['form_id']; ?>" />
                                <input type="hidden" name="source" value="<?php echo $current_url; ?>" />
                                <div class="form-group" id="input-name">
                                    <input name="name" type="text" placeholder="Họ và tên" class="form-control" />
                                </div>
                                <div class="form-group" id="input-phone">
                                    <input name="phone" type="text" placeholder="Số điện thoại" class="form-control" />
                                </div>
                                <div class="form-group" id="input-email">
                                    <input name="email" type="text" placeholder="Địa chỉ email" class="form-control" />
                                </div>
                                <div class="form-group" id="input-address">
                                    <input name="address" type="text" placeholder="Địa chỉ" class="form-control" />
                                </div>
                                <div class="form-group" id="input-products">
                                    <select name="products[]" class="select-product form-control" multiple data-placeholder="Chọn khoá học"></select>
                                </div>
                                <div class="text-center">
                                    <div class="btnSuccess"></div>
                                    <button type="button" class="btn-cta btn-submit">ĐĂNG KÝ NGAY</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-element box-schedule">
            <div class="container">
                <div class="box-title">Lịch khai giảng</div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-schedule">
                            <thead>
                                <tr>
                                    <th>Khóa học</th>
                                    <th>Lớp học</th>
                                    <th class="center">Thời gian</th>
                                    <th class="center">Khai giảng</th>
                                    <th class="center" style="width: 150px;">Đăng ký</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                    <div class="box-cart">
                        <!-- <div class="item-cart">
                            <div class="item-cart-content">
                                <b>Tổng học phí</b>
                                <div class="pull-right total-price" data-price="0"></div>
                            </div>
                        </div>
                        <div class="item-cart">
                            <div class="item-cart-content">
                                <b>Ưu đãi</b>
                                <b class="pull-right sale-price" data-price="0"></b>
                            </div>
                        </div> -->
                        <div class="item-cart">
                            <div class="item-cart-content">
                                <b>Thành tiền</b>
                                <b class="pull-right final-price" data-price="0"></b>
                            </div>
                        </div>
                        <div class="item-cart-content text-center"><button type="button" class="btn-cta" onclick="javascript:goBox('.box-sign');">Hoàn tất và thanh toán</button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-element box-time">
            <div class="container">
                <div class="box-time-content">
                    <div class="text-center"><div class="box-title">Thời lượng</div></div>
                    <div class="list-item-time text-center">
                        <div class="row">
                            <div class="item-col col-xs-4">
                                <div class="item-time">
                                    <div class="item-time-img">
                                        <img src="<?php echo $urlImg; ?>/icon-1.jpg" alt="Từ 2-3 tháng/1 trình độ" />
                                    </div>
                                    <p>Từ 2-3 tháng/1 trình độ</p>
                                </div>
                            </div>
                            <div class="item-col col-xs-4">
                                <div class="item-time">
                                    <div class="item-time-img">
                                        <img src="<?php echo $urlImg; ?>/icon-2.jpg" alt="3 buổi/tuần" />
                                    </div>
                                    <p>3 buổi/tuần</p>
                                </div>
                            </div>
                            <div class="item-col col-xs-4">
                                <div class="item-time">
                                    <div class="item-time-img">
                                        <img src="<?php echo $urlImg; ?>/icon-3.jpg" alt="2 giờ/buổi" />
                                    </div>
                                    <p>2 giờ/buổi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><button type="button" class="btn-cta" onclick="javascript:goBox('.box-sign');">ĐĂNG KÝ NGAY</button></div>
                </div>
            </div>
        </div>  

        <div class="box-element box-reason">
            <div class="container">
                <div class="section-content">
                    <div class="row box-flex">
                        <div class="item-col col-xs-12 col-sm-6">
                            <h2><img src="<?php echo $urlImg; ?>/why-us.jpg" alt="05 Lý do chọn LangGo"></h2>
                            <div class="list-reason">
                                <div class="item-reason">
                                    <img src="<?php echo $urlImg; ?>/icon-arrow.png" title="THAY ĐỔI TƯ DUY VÀ THÓI QUEN HỌC TIẾNG ANH">
                                    <h3 class="item-reason-title">THAY ĐỔI TƯ DUY VÀ THÓI QUEN HỌC TIẾNG ANH</h3>
                                    Ứng dụng phương pháp lập trình ngôn ngữ tư duy NLP trong thiết lập mục tiêu và xây dựng lộ trình học IELTS hiệu quả
                                </div>
                                <div class="item-reason">
                                    <img src="<?php echo $urlImg; ?>/icon-arrow.png" title="PHƯƠNG PHÁP HỌC TỪ VỰNG TIÊN TIẾN">
                                    <h3 class="item-reason-title">PHƯƠNG PHÁP HỌC TỪ VỰNG TIÊN TIẾN</h3>
                                    Ứng dụng siêu trí nhớ PMS để tăng tốc trong học từ vựng (Độc quyền phát triển bởi LangGo)
                                </div>
                                <div class="item-reason">
                                    <img src="<?php echo $urlImg; ?>/icon-arrow.png" title="BẢN ĐỒ HỌC TẬP HÀNG NGÀY DAILY CHALLENGE">
                                    <h3 class="item-reason-title">BẢN ĐỒ HỌC TẬP HÀNG NGÀY DAILY CHALLENGE</h3>
                                    Giúp bạn phân bổ thời gian học hiệu quả cho từng kỹ năng Listening - Speaking - Reading - Writing
                                </div>
                                <div class="item-reason">
                                    <img src="<?php echo $urlImg; ?>/icon-arrow.png" title="MÔ HÌNH HỌC TẬP TỐI ƯU">
                                    <h3 class="item-reason-title">MÔ HÌNH HỌC TẬP TỐI ƯU</h3>
                                    Mô hình học 1 thầy kèm 6 trò dễ dàng tương tác và kèm cặp sát sao kết hợp học chuyên sâu 1-1 giải quyết cơn ác mộng Speaking và Writing
                                </div>
                                <div class="item-reason">
                                    <img src="<?php echo $urlImg; ?>/icon-arrow.png" title="CAM KẾT ĐẦU RA BẰNG HỢP ĐỒNG">
                                    <h3 class="item-reason-title">CAM KẾT ĐẦU RA BẰNG HỢP ĐỒNG</h3>
                                    Đánh bay hoàn toàn nỗi lo không đạt được mục tiêu điểm số, học viên LangGo được học lại miễn phí đến khi đạt đầu ra.
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="reason-img"><img src="<?php echo $urlImg; ?>/why_img.png" alt="5 Lý do nên chọn LangGo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'cta' => '<div class="text-center"><button type="button" class="btn-cta" onclick="javascript:goBox(\'.box-sign\');">ĐĂNG KÝ NGAY</button></div>')); ?>
        <?php echo $this->blkDocument($this->arrParams, 'teacher', array('cache' => true, 'cta' => '<div class="text-center"><button type="button" class="btn-cta" onclick="javascript:goBox(\'.box-sign\');">ĐĂNG KÝ NGAY</button></div>')); ?>

        <div class="box-element box-commitment text-center">
            <div class="container">
                <div class="text-center"><h2 class="box-title">CAM KẾT</h2></div>
                <div class="list-commit">
                    <div class="row">
                        <div class="item-col col-xs-12 col-sm-4">
                            <div class="item-commitment">
                                <h4 class="item-commitment-title"><img src="<?php echo $urlImg; ?>/01.png"> VỀ KẾT QUẢ</h4>
                                <p>Cam kết đầu ra bằng <span>HỢP ĐỒNG</span> đảm bảo chất lượng đúng với kỳ vọng. Ký hợp đồng cam kết về chất lượng dịch vụ cung cấp với mỗi học viên.</p>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-4">
                            <div class="item-commitment">
                                <h4 class="item-commitment-title"><img src="<?php echo $urlImg; ?>/02.png"> VỀ GIẢNG VIÊN</h4>
                                <p>Tất cả giảng viên đều có năng lực Tiếng Anh, kinh nghiệm giảng dạy Tiếng Anh chuyên nghiệp và có tiêu chuẩn cao trong đào tạo.</p>
                            </div>
                        </div>
                        <div class="item-col col-xs-12 col-sm-4">
                            <div class="item-commitment">
                                <h4 class="item-commitment-title"><img src="<?php echo $urlImg; ?>/03.png"> VỀ DỊCH VỤ</h4>
                                <p>Đội ngũ giảng viên và bộ phận quản lý chất lượng sẽ theo sát tiến độ học tập để đảm bảo học viên đạt được tiến bộ mong muốn.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><button type="button" class="btn-cta" onclick="javascript:goBox('.box-sign');">ĐĂNG KÝ NGAY</button></div>
            </div>
        </div> 
    </div>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <script src="<?php echo $urlTemplate; ?>/js/me.js"></script>

    <script type="text/javascript">
        $(document).ready(function(e){
            trainingClassIelts();

            $("body").on("click", ".btn-choose", function(){
                $(this).parents("tr").toggleClass('selected');
                finalPrice();
                reSelectProduct();
            });

            $(".select-product").on("change", function(){
                var product_ids = $(this).val();
                if(product_ids){
                    $('.table-schedule tbody tr.selected').each(function(){
                        var product_id = $(this).data("product");
                        if(product_ids.indexOf(product_id) < 0) $(this).removeClass('selected');
                    });
                }else{
                    $('.table-schedule tbody tr.selected').removeClass('selected');
                }
                finalPrice();
            });

            $('.btn-submit').click(function(e){
                e.preventDefault();
                var add_success = formDataCRM('#'+ $(this).parents('form').attr("id"));
                if(add_success){
                    $('.select-product').chosen('destroy');  
                    $('.select-product').prop("selectedIndex", -1);   
                    $('.select-product').chosen();
                    $('.table-schedule tbody tr.selected').removeClass('selected');
                }
            });
        });

        function trainingClassIelts() {
            $.ajax({
                type: 'POST',
                url: '<?php echo DOMAIN_ERP; ?>/api/training-class/list-ielts',
                crossDomain: true,
                data: {},
                dataType: 'json',
                success: function(resp, textStatus, jqXHR) {
                    var html_select_product = '';
                    var html_class = '';
                    if(resp.success) {
                        var list_product = resp.list_product;
                        $.each(list_product, function( key, item ) {
                            html_select_product += '<option value="'+ item['id'] +'">'+ item['name'] +'</option>';
                        });
                        var list_class = resp.list_class;
                        $.each(list_class, function( key, item ) {
                            html_class += ` 
                                <tr data-product="`+ item['product_id'] +`" data-price="`+ item['product_price'] +`" data-class="`+ item['id'] +`">
                                    <td class="nowrap">
                                        <div class="text class-name">`+ item['product_name'] +`</div>
                                    </td>
                                    <td class="nowrap">
                                        <div class="text class-name">`+ item['name'] +`</div>
                                    </td>
                                    <td class="nowrap center">
                                        <div class="text">`+ item['time'] +`</div>
                                    </td>
                                    <td class="nowrap center">
                                        <div class="text">`+ item['public_date'] +`</div>
                                    </td>
                                    <td class="nowrap center">
                                        <div class="btn btn-info btn-choose"><span>Đăng ký ngay</span><i class="fa fa-check"></i></div> 
                                    </td>
                                </tr>
                            `;
                        });
                    }
                    $('.select-product').html(html_select_product);
                    $('.select-product').chosen();
                    $('.box-schedule table tbody').html(html_class);
                },
            });
        }

        function finalPrice(){
            var final_price = 0;
            $('.table-schedule tbody tr.selected').each(function(){
                final_price += $(this).data("price");
            });
            
            $('.final-price').html(formatNumber(final_price));
        }

        // Phải tách ra khỏi finalPrice vì sự kiên change của .select-product
        function reSelectProduct(){
            var product_ids = [];
            $('.table-schedule tbody tr.selected').each(function(){
                var product_id = $(this).data("product");
                if(product_ids.indexOf(product_id) < 0) product_ids.push(product_id);
            });
            $('.select-product').chosen('destroy');  
            $('.select-product').prop("selectedIndex", -1);   
            $('.select-product').val(product_ids);
            $('.select-product').chosen();
        }
    </script>
</body>
</html>