<?php
    $toc = new \ZendX\Functions\Toc();
    $dateFormat = new \ZendX\Functions\Date();
    $shortcode  = new \ZendX\Functions\Shortcode($this->getHelperPluginManager()->getServiceLocator());
    $boxLink    = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
    $boxName    = $this->item['name'];
    
    // Thông tin người đăng bài
    $user_avatar = $this->user[$this->item['created_by']]['avatar'] ? $this->user[$this->item['created_by']]['avatar'] : $this->params['template']['urlImg'] .'/avatar.png';
?>

<div class="col-sm-9">
    <div class="box_module padding">
        <div class="box_title"><h1 class="title"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
        <div class="box_content">
            <div class="layout_item_default">
                <?php
                if(!empty($this->item['image_cover'])) {
                    echo '<div class="banner_cover"><img alt="Cover" src="'. $this->item['image_cover'] .'"></div>';
                }
                ?>
                <div class="layout_item_default_content">
                    <?php 
                    $content = $shortcode->callback_shortcode(htmlspecialchars_decode($this->item['content'])); 
                    echo $toc->the_content($content, array('toc_show' => 1, 'toc_class_default' => ''));
                    ?>
                </div>
            </div>
        </div>
    </div>

    <div class="box_comment padding">
        <div class="box_title clearfix">
            <div class="title">Bình luận bài viết</div>
            <div class="share">
                <a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $boxLink;?>" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/home?status=<?php echo $boxLink;?>" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://plus.google.com/share?url=<?php echo $boxLink;?>" target="_blank"><i class="fab fa-google-plus"></i></a>
            </div>
        </div>
        <div class="box_content">
            <div class="fb-comments" data-href="https://www.facebook.com/mindpoo.vn/" data-numposts="5" data-width="100%"  order_by="reverse_time"></div>
        </div>
    </div>
</div>

<div class="col-sm-3">
    <form action="/search">
        <div class="input-group" style="margin-bottom: 20px;">
            <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm" style="height: 29px; border: 1px solid #d52327;" value="<?php echo $_GET['keyword']; ?>">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" style="background: #d52327; color: #fff;">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/right.php';?>
    <?php echo $this->blkPostItemBox($this->arrParams, array('type' => 'default', 'box' => '', 'limit' => 10, 'cache' => true), 'news_hot', 'most-view');?>
</div>
            
<?php
if(count($this->itemInvolve) > 0) { 
?>
<div class="box_involves">
	<div class="col-sm-12"><div class="box_title"><div class="title">Bài viết cùng chuyên mục</div></div></div>
	<div class="box_content">
		<div class="layout_category_default">
        <?php
        foreach ($this->itemInvolve AS $key => $item){
            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                        
            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
            $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
            $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
            $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
            $description    = nl2br($item['description']);
            $created        = $dateFormat->getText($item['created'], 'd.m.Y');
            $category_url   = $this->url('routePostCategory', array( 'category_alias' => $item['category_alias']));
            $category_name  = '<a href="'. $category_url .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a>';
            
            echo '<div class="col-sm-3">
                        <div class="item clearfix">
                            <div class="image">'. $image_medium .'</div>
                            <div class="info">
                                <h2 class="title">'. $name .'</h2>
                                <div class="category">'. $category_name .'/ <span class="date">'. $created .'</span></div>
                                <div class="description hidden-xs">'. $description .'</div>
                            </div>
                        </div>
                    </div>';
        } 
        ?>
        </div>
	</div>
</div>
<?php
} 
?>

<?php $this->headScript()->captureStart() ?>
	$(document).on('click', '.go_box', function() {
        var box = $(this).attr('data-box');

        // Thay đổi URL State (Hỗ trợ SEO) - API History HTML5
        var currURL = $(location).attr('href');
        var stateURL = currURL.split('#');
        stateURL = stateURL[0] + '#' + box;
        history.pushState(null, '', stateURL);
        if($('#' + box).length) {
            var top_scroll = 0;
            top_scroll = $("#" + box).offset().top;
            $('html,body').animate({
                scrollTop: top_scroll - 80
            }, 'slow');
        }
    });

    $(document).ready(function() {
    	var h_mxh = $('.layout_item_default .box_share').outerHeight();
    	var h_content = $('.layout_item_default .layout_item_default_content').outerHeight();
        var mxh_offset = $('.layout_item_default .box_share').offset();
        
        $(window).scroll(function () {
        	var topPage = $(window).scrollTop();
        	var topFixed = mxh_offset.top - 100;
        	var stopFixed = mxh_offset.top + h_content - h_mxh - 70;
        	if (topPage >= topFixed) {
            	if(topPage <= stopFixed) {
          		    $(".layout_item_default .box_share").css({'position': 'fixed', 'top': '70px', 'left': mxh_offset.left + 'px'});
            	} else {
            		$(".layout_item_default .box_share").css({'position': 'absolute', 'top': 'auto', 'bottom': '0px', 'left': '0px'});
            	}
        	} else {
        		$(".layout_item_default .box_share").removeAttr('style');
        	}
        });
    });
<?php $this->headScript()->captureEnd() ?>