<?php
    $toc = new \ZendX\Functions\Toc();
    $dateFormat = new \ZendX\Functions\Date();
    $shortcode  = new \ZendX\Functions\Shortcode($this->getHelperPluginManager()->getServiceLocator());
    $boxLink    = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
    $boxName    = $this->item['name'];
?>
<div class="container">
    <div class="main-page-ielts">
        <?php echo $this->blkBreadcrumb($this->params);?>
        <div class="wrapper">
            <!-- <p class="wrapper-title">BÀI VIẾT</p> -->
            <div class="box_module padding">
            	<div class="box_title"><h1 class="title-post-test"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
            	<div class="box_content">
            	    <div class="layout_item_default">
            	    	<div class="row">
                            <div class="item-col col-xs-12 col-sm-8">
                                <div class="layout_item_default_content">
                                    <?php 
                                    $content = $shortcode->callback_shortcode(htmlspecialchars_decode($this->item['content'])); 
                                    echo $toc->the_content($content, array('toc_show' => 1, 'toc_class_default' => ''));
                                    if(count($item['list_exercise']) > 0){
                                        ?>
                                        <div class="box_involves">
                                            <div class="box_title"><div class="title">Danh sách bài tập</div></div>
                                            <div class="box_content">
                                                <div class="layout_category_default">
                                                    <ul class="list-exercise">
                                                        <?php 
                                                        foreach ($item['list_exercise'] as $item_exercise) {
                                                            $item_exercise_url = $this->url('routeExercise', array('post_alias' => $item['alias'], 'alias' => $item_exercise['alias']));
                                                            ?>
                                                            <li><a href="<?php echo $item_exercise_url; ?>"><?php echo $item_exercise['name']; ?></a></li>
                                                            <?php
                                                        }
                                                        ?>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                    ?>
                                </div>
                                <?php
                                if(count($this->itemInvolve) > 0) { 
                                    ?>
                                    <div class="box_involves">
                                        <div class="box_title"><div class="title">Bài viết liên quan</div></div>
                                        <div class="box_content">
                                            <div class="layout_category_default">
                                                <?php
                                                foreach ($this->itemInvolve AS $key => $item){
                                                    $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                                                                
                                                    $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                                                    $description    = nl2br($item['description']);
                                                    $created        = $dateFormat->getText($item['created'], 'd.m.Y');
                                                    $category_url   = $this->url('routePostCategory', array( 'category_alias' => $item['category_alias']));
                                                    $category_name  = '<a href="'. $category_url .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a>';
                                                    
                                                    echo '<div class="item clearfix">
                                                            <h3 class="title">'. $name .'</h3>
                                                        </div>';
                                                } 
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                    <?php
                                } 
                                ?>
                                <div class="box_comment padding">
                                    <div class="box_title clearfix">
                                        <div class="title">Bình luận</div>
                                    </div>
                                    <div class="box_content">
                                        <div class="fb-comments" data-href="<?php echo $boxLink; ?>" data-width="100%" data-numposts="5" order_by="reverse_time"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col fix-sidebar col-xs-12 col-sm-4">
                                <?php include_once $this->params['template']['pathHtml'] . '/box/ielts-right.php';?>
                            </div>      
                        </div>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>