<?php
    $language = $this->language;
    $language_active = $this->language['language_active'];
?>
<div class="box_module">
	<div class="box_title"><h1 class="title"><a href="<?php echo $this->item['alias'];?>" title="<?php echo $this->item['name'];?>"><?php echo $this->item['name'];?></a></h1></div>
	<div class="box_content">
	    <div class="layout_item_product">
    		<?php
            $image          = $this->item['image'];
            $image_thumb    = $this->item['image_thumb'];
            $images         = $this->item['images'] ? unserialize($this->item['images']) : '';
            $description    = !empty($this->item['description']) ? '<div class="desc">'. nl2br($this->item['description']) .'</div>' : '';
            
            // Xử lý Giá bán
    		$price			= '<span class="value">'. $language['contact'][$language_active] .'</span>';
            if(!empty($this->item['product_price'])) {
    		    if(!empty($this->item['product_sale_percent'])) {
    		        $price	= $this->item['product_price'] - ($this->item['product_sale_percent'] / 100 * $this->item['product_price']);
    		        $price	= '<span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $this->item['product_price'] .' </span><u>đ</u></span>';
    		    } else if(!empty($this->item['product_sale_price'])) {
                    $price  = $this->item['product_price'] - $this->item['product_sale_price'];
                    $price  = '<span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $this->item['product_price'] .' </span><u>đ</u></span>';
                }else {
    		        $price	= '<span class="value"><span class="mask_currency">'. $this->item['product_price'] .'</span><u>đ</u></span>';
    		    }
    		}
            if($this->item['product_sale_percent'] != '' && $this->item['product_sale_price'] != ''){
                $price  = $this->item['product_price'] - $this->item['product_sale_price'] - ($this->item['product_sale_percent'] / 100 * $this->item['product_price']);
                $price  = '<span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $this->item['product_price'] .' </span><u>đ</u></span>';
            }
    		?>
		    <div class="detail-product" id="detail-product">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="image"><a href="<?php echo $image;?>" class="fancybox-button" data-rel="fancybox-button"><img src="<?php echo $image;?>"></a></div>
                        <div class="thumbs">
                            <div class="item"><img class="active" src="<?php echo $image_thumb;?>"></div>
                            <?php
                            if(!empty($images)) {
                                for ($i = 0; $i < count($images['url']); $i++) { 
                            ?>
                            <div class="item"><a href="<?php echo $images['url'][$i];?>" class="fancybox-button" data-rel="fancybox-button"><img src="<?php echo $images['thumb'][$i];?>"></a></div>
                            <?php
                                } 
                            }
                            ?>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="information">
                        	<form name="frmCart" id="frmCart" action="" method="post" class="form-inline">
                                <h2 class="title"><?php echo $this->item['name'];?></h2>
                                <?php echo $description;?>
                                <?php
                                if(!empty($this->item['product_code'])) { echo '<div class="code">'. $language['product_code'][$language_active] .': '. $this->item['product_code'] .'</div>';}
                                ?>
                                <div class="price">
                                    <?php echo $price;?>
                                </div>
                                <div class="cart">
                                	<div class="form-group">
                                        <input class="form-control" name="number" type="number" value="1" min="1">
                                    	<a class="form-control" href="javascript:;" onclick="javascript:addCart('<?php echo $this->item['id'];?>');" id="btnAddCart"><i class="fa fa-shopping-bag"></i> <span><?php echo $language['buy'][$language_active]; ?></span></a>
                                  	</div>
                              	</div>
							</form>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="content">
                <?php echo htmlspecialchars_decode($this->item['content']);?>
            </div>
		</div>
	</div>
</div>

<?php
if(count($this->itemInvolve) > 0) { 
?>
<div class="box_module">
	<div class="box_title"><div class="title"><?php echo $language['product_other'][$language_active]; ?></div></div>
	<div class="box_content">
	    <div class="layout_category_product">
	    	<div class="row productGrid">
            <?php
            foreach ($this->itemInvolve AS $key => $item) {
                $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                $order_url      = $this->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart', 'id' => $item['id']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                
                $description    = nl2br($item['description']);
                $price			= $language['price'][$language_active]. ': <span class="value">'. $language['contact'][$language_active] .'</span>';
                $sale           = '';
                if(!empty($item['product_price'])) {
                    if(!empty($item['product_sale_percent'])) {
                        $price	= $item['product_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                        $price	= $language['price'][$language_active]. ': <span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span><u>đ</u></span>';
                        $sale   = '<span class="sale">-'. $item['product_sale_percent'] .'%</span>';
                    } else if(!empty($item['product_sale_price'])) {
                        $price	= $item['product_price'] - $item['product_sale_price'];
                        $price	= $language['price'][$language_active]. ': <span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span><u>đ</u></span>';
                        $sale   = '<span class="sale">-'. round($item['product_sale_price'] / $item['product_price'] * 100, 0) .'%</span>';
                    } else {
                        $price	= $language['price'][$language_active]. ': <span class="value"><span class="mask_currency">'. $item['product_price'] .'</span><u>đ</u></span>';
                    }
                }
                if($item['product_sale_percent'] != '' && $item['product_sale_price'] != ''){
                    $price  = $item['product_price'] - $item['product_sale_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                    $price  = '<span class="value"><span class="mask_currency">'. $price .'</span><u>đ</u></span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span><u>đ</u></span>';
                }
                
                echo '<div class="col-sm-3 col-xs-6">
                            <div class="item">
                                <div class="image">
                                    '. $image_medium .'
                                </div>
                                <div class="info">
                                    <h3 class="title">'. $name .'</h3>
                                    <div class="price">'. $price .'</div>
                                </div>
                                <div class="control">
                                    <a href="'. $item_url .'" class="add_card"><i class="fa fa-shopping-cart" aria-hidden="true"></i> '. $language['buy'][$language_active] .'</a>
                                </div>
                                '. $sale .'
                            </div>
                        </div>';
            }
            ?>
            </div>
        </div>
	</div>
</div>
<?php
    } 
?>

<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
    	$('#detail-product .thumbs img').click(function() {
            var url = $(this).attr('data-zoom-image');
            
            $('#detail-product .thumbs img').removeClass('active');
            $(this).addClass('active');
            $('#detail-product .image img').attr('src', url);
    	});
    });
    
    function addCart(id) {
    	var number = 1;
    	if($('input[name="number"]').size() > 0) {
    		number = parseInt($('input[name="number"]').val());
    	}
    	$.ajax({
    		type: "POST",
    		url: '<?php echo $this->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart'));?>',
    		data: {
    			id: id,
    		    number: number
    		},
    		dataType: "json",
    		cache: false,
    		beforeSend: function() {
				 $('body').append('<div class="submit_loading"></div>');
			},
    		success: function(result){
    		    $('#myModal').remove();
    		    var xhtml = '<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">' +
                  '<div class="modal-dialog" role="document">' +
                    '<div class="modal-content">' +
                      '<div class="modal-header">' +
                        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        '<h4 class="modal-title" id="myModalLabel"><?php echo $language['notification'][$language_active];?></h4>' +
                      '</div>' +
                      '<div class="modal-body">' +
                        '<?php echo $language['successfully_add_cart'][$language_active];?>' +
                      '</div>' +
                      '<div class="modal-footer">' +
                        '<button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $language['continue_ordering'][$language_active];?></button>' +
                        '<a href="<?php echo $this->url('routePost/default', array('controller' => 'product', 'action' => 'cart'));?>" class="btn btn-success"><?php echo $language['view_cart'][$language_active];?> <b class="text-red">('+ result.total_amount +')</b></a>' +
                      '</div>' +
                    '</div>' +
                  '</div>' +
                '</div>';
    		    
    		    $('.submit_loading').remove();
    		    $('body').append(xhtml);
    		    $('#myModal').modal('show');
    		    viewCart();
    		}
    	});
    }
<?php $this->headScript()->captureEnd() ?>


