<?php
    $language = $this->language;
    $language_active = $this->language['language_active'];
?>
<div class="box_module">
	<div class="box_title"><h1 class="title"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
	<div class="box_content">
	    <div class="layout_item_video">
		<?php
        if(!empty($this->item['videos'])) {
            $videos = unserialize($this->item['videos']);
            
            $xhtml  = '<div class="row">';
            
            for ($i = 0; $i < count($videos['id']); $i++) {
                $video = '<div class="video embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/'. $videos['id'][0] .'?rel=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe></div>';
            
                $xhtml .= sprintf('
                    <div class="col-xs-12">
                        <div class="item">%s</div>
                    </div>', $video
                );
            }
            $xhtml .= '</div>';
            echo $xhtml;
        }
        
        if(!empty($this->item['content'])) {
            echo '<div class="content_video">'. htmlspecialchars_decode($this->item['content']) .'</div>';
        }
		?>
		</div>
	</div>
</div>

<?php
if(count($this->itemInvolve) > 0) { 
?>
<div class="box_module">
	<div class="box_title"><div class="title"><?php echo $language['video_other'][$language_active];?></div></div>
	<div class="box_content">
	    <div class="layout_category_video">
            <?php
            $xhtml = '<div class="row">';
            foreach ($this->itemInvolve AS $key => $item) {
                $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'category_index' => $item['category_index'], 'alias' => $item['alias'], 'index' => $item['index']));
        
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
        
                $xhtml .= '<div class="col-xs-6 col-sm-4">
                                <div class="item">
                                    <div class="image">'. $image_medium .'</div>
                                    <div class="info">
                                        <h2 class="title">'. $name .'</h2>
                                    </div>
                                </div>
                            </div>';
            }
            
            $xhtml .= '</div>';
            echo $xhtml;
            ?>
        </div>
	</div>
</div>
<?php
    } 
?>
