<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elementItem = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => '<span class="text-info">'. $this->item['name'] .'</span>', 'label' => 'Họ và tên', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="text-info">'. $this->item['phone'] .'</span>', 'label' => 'Điện thoại', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="text-info">'. $this->item['email'] .'</span>', 'label' => 'Email', 'boxClass' => 'col-md-2'),
    );
    $xhtmlItem = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementItem);
    
    $myForm->get('password')->setValue('');
    $elements = array(
        array('section' => 'Đổi mật khẩu', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('password'), 'label' => 'Mật khẩu mới', 'validate' => array('require' => true)),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtmlItem;?>
		</div>
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>