<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
		<div class="box_title">THAY ĐỔI MẬT KHẨU</div>
		<div class="box_content">
            <div class="form-group">
            	<input type="text" name="password_current" class="form-control" placeholder="Mật khẩu hiện tại">
            </div>
            <div class="form-group">
            	<input type="text" name="password" class="form-control" placeholder="Nhập mật khẩu mới: Lớn hơn 6 ký tự">
            </div>
            <div class="form-group">
            	<input type="text" name="password_confirm" class="form-control" placeholder="Nhập lại mật khẩu mới">
            </div>
            <?php
            if(count($this->errors) > 0) {
            ?>
        	<div class="alert alert-block alert-danger">
        		<?php
        		foreach ($this->errors AS $error) {
        		    echo '<p>'. $error .'</p>';
        		}
        		?>
        	</div>
        	<?php
            }
        	?>
            <div class="form-button">
                <button type="submit" name="submit" class="form-control btn_submit">Đặt lại mật khẩu</button>
            </div>
         </div>
	</form>
</div>
