<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
		<div class="box_title">Vui lòng nhập mật khẩu mới</div>
		<div class="box_content">
            <div class="form-group">
            	<input class="form-control" type="password" id="password" name="password" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="form-group">
            	<input class="form-control" type="password" id="confirm_password" name="confirm_password" placeholder="Nhập lại mật khẩu mới">
            </div>
            <?php
            if(!empty($this->result['error'])) {
                echo '<div class="alert alert-danger">'. $this->result['error'] .'</div>';
            }
            ?>
            <?php echo $this->flashMessenger()->render();?>
            <div class="form-button">
                <button type="submit" id="submit" name="submit" class="form-control btn_submit">Đặt lại mật khẩu</button>
            </div>
		</div>
	</form>
</div>
