<?php
$dateFormat = new \ZendX\Functions\Date();
?>
<div class="page_user">
    <div class="profile-detail">
    	<div class="row">
    		<div class="col-sm-2 col-xs-5">
    		    <div class="avatar">
    			    <img src="<?php echo $this->params['template']['urlImg'] . '/no-avatar-200.jpg';?>">
    			</div>
    		</div>
    		<div class="col-sm-10 col-xs-7">
    		    <?php echo $this->flashMessenger()->render();?>
                <?php 
                    $contact_options = $this->contact['options'] ? unserialize($this->contact['options']) : [];
                ?>
    			<div class="info name"><?php echo $this->contact['name'];?></div>
    			<div class="info email">Email: <span><?php echo $this->contact['email'];?></span></div>
    			<div class="info phone">SĐT: <span><?php echo $this->contact['phone'];?></span></div>
    			<div class="info address">Địa chỉ: <span><?php echo $contact_options['address'];?></span></div>
    			<div class="config">
    			    <a href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'update-profile'));?>" class="btn btn-default">Sửa thông tin</a>
    			    <?php
    			    if($this->contact['password_status'] != 2) { 
    			    ?>
    			    <a href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'change-password'));?>" class="btn btn-default">Đổi mật khẩu</a>
    			    <?php
    			    } 
    			    ?>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<?php
if(count($this->course_item) > 0) {
    $arr_course_id = explode(" ", trim($course_list_id));
    for ($i=0; $i < count($arr_course_id); $i++) { 
        $id =  $arr_course_id[$i];
        $xhtml = '';
        foreach ($this->course_item AS $key => $item) {
            $alias          = $item['alias'];
            $item_url       = $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $item['id']));
            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
            $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
            $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
            $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
            $description    = nl2br($item['description']);
            $course_category_name = $item['category_id'] ? $this->course_category[$item['category_id']]['name'] : '';
            
            $xhtml .=  '<div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="image">'. $image .'</div>
                                <div class="info">
                                    <h3 class="title">'. $name .'</h3>
                                </div>
                            </div>
                        </div>';
        }
    }
    if(!empty($xhtml)) {
    ?>
    <div class="user_box_page_list">
        <div class="row">
            <div class="col-sm-12">
            <div class="course-title">Tài liệu miễn phí</div>
                <div class="user_box_content">
                    <div class="box_content">
                        <div class="courseGrid">
                            <div class="row">
                                <?php echo $xhtml;?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    }
}
?>