<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
		<div class="box_title text-center">ĐĂNG NHẬP TÀI KHOẢN</div>
		<div class="box_content">
			<div class="form-group">
				<input type="text" class="form-control" name="username" value="<?php echo $this->params['data']['username'];?>" placeholder="Điện thoại hoặc Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Mật khẩu">
			</div>
			<?php
            if(!empty($this->result['error'])) {
                echo '<div class="alert alert-danger">'. $this->result['error'] .'</div>';
            }
            ?>
            <div class="form-group">
        		<a class="forgot" href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'forgot-password'));?>">Quên mật khẩu?</a> 
        		Hoặc 
        		<a class="forgot" href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'register'));?>">Đăng ký</a>
            </div>
            <div class="form-button">
                <button type="submit" name="register-submit" class="form-control btn_submit">ĐĂNG NHẬP NGAY</button>
            </div>
		</div>
	</form>	
</div>
