<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
		<div class="box_title">ĐĂNG KÝ TÀI KHOẢN</div>
		<div class="box_link">Bạn đã có tài khoản? <a href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'login'));?>">Đăng nhập tại đây</a></div>
		<div class="box_content">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control" name="name" value="<?php echo $this->params['data']['name'];?>" placeholder="Họ và tên">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control" name="phone" value="<?php echo $this->params['data']['phone'];?>" placeholder="Điện thoại">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control" name="email" value="<?php echo $this->params['data']['email'];?>" placeholder="Email">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Mật khẩu">
					</div>
				</div>
				<div class="col-sm-12">
					<?php
		            if(!empty($this->result['error'])) {
		                echo '<div class="alert alert-danger">'. $this->result['error'] .'</div>';
		            }
		            ?>
				</div>
				<div class="col-sm-12">
					<div class="form-button">
		                <button type="submit" name="register-submit" class="form-control btn_submit">ĐĂNG KÝ TÀI KHOẢN</button>
		            </div>
				</div>
			</div>
		</div>
	</form>
</div>
