<?php
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <title><?php echo $item['meta_title']; ?></title>
    <meta name="description" content="<?php echo $item['meta_description']; ?>" >
    <meta name="keywords" content="<?php echo $item['meta_keywords']; ?>" >
    <meta name="title" content="<?php echo $item['meta_title']; ?>" >
    <meta name="language" content="vietnamese" >
    <meta name="robots" content="index, follow, all" >
    <meta name="author" content="langgo.edu.vn" >
    <meta name="copyright" content="copyright © 2011 by langgo.edu.vn" >
    <meta name="revisit-after" content="1 days" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="Refresh" content="7200" >
    <meta http-equiv="content-language" content="vi" >
    <meta property="og:image" content="<?php echo $urlImg;?>/527x275.jpg" />
    <meta property="og:title" content="<?php echo $item['meta_title']; ?>" />
    <meta property="og:description" content="<?php echo $item['meta_description']; ?>" />

    <?php
    echo $this->headMeta()
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->setCharset('utf-8');

    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.ico', 'type' => 'image/x-icon'), 'PREPEND')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/skin.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');

    $URL = isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http' . '://'. $_SERVER[HTTP_HOST] .''. $_SERVER[REQUEST_URI] .'';
    echo '<link href="'. (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 'https' : 'http') . '://'. $_SERVER[HTTP_HOST] .'' .'" hreflang="vi-vn" rel="alternate">';
    echo '<link href="'. (!empty(substr($URL, 0, strrpos($URL, '?'))) ? substr($URL, 0, strrpos($URL, '?')) : $URL) .'" rel="canonical">';
    
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php'; ?>
    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="menu-logo"><a href="http://langgo.edu.vn" class="logo"><img src="<?php echo $urlImg;?>/LangGo.png"></a></div>
            <div class="menu-main hidden-xs hidden-sm">
                <ul class="menu">
                    <?php
                    $hotline = preg_split("/[-,;]+/", str_replace(' ', '', $setting['General.System.Hotline']['value']));
                    if(count($hotline) > 0) {
                        echo '<li>';
                        shuffle($hotline);
                        foreach ($hotline AS $key => $phone) { 
                            $tmp = '';
                            if($key > 0) {
                                $tmp = ' - ';
                            }
                            
                            echo $tmp . '<a href="tel:'. str_replace('.', '', $phone) .'" rel="nofollow" class="icon goi-dien-toi-langmaste" style="font-size: 18px; color: #FF0000; font-weight: bold;">'. $phone .'</a>';
                        } 
                        echo '</li>';
                    }
                    ?>
                    <li><a href="#box_lichHoc" class="go_box btn_register">ĐĂNG KÝ NGAY</a></li>
                </ul>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->
    
    <div class="box_banner" id="box_banner">
        <div class="image"><img class="img-responsive" src="<?php echo $item['image'];?>"></div>
        <div class="info hidden-xs">
            <div class="text">Lịch khai giảng tháng <?php echo date('m/Y'); ?>
            <h1 style="font-size: 18px;"><a href="/khoa-hoc-tieng-anh-giao-tiep-cho-nguoi-mat-goc">KHÓA HỌC TIẾNG ANH GIAO TIẾP</a></h1>            
        </div></div>
    </div>
    <!-- end box_banner -->
    
    <!-- box_lichhoc -->
    <div class="box_lichHoc" id="box_lichHoc">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><div class="box_title font-title">Lịch khai giảng</div></div>
                <div class="col-sm-6">
                    <div class="box_filter">
                        <select name="training_location_id" class="form-control">
                            <option value="" selected="selected">Chọn địa điểm học</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_schedule">
                    <div class="box_content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Khóa học</th>
                                        <th>Lớp học</th>
                                        <th class="center">Thời gian</th>
                                        <th class="center">Khai giảng</th>
                                        <th class="center">Địa điểm</th>
                                        <th class="center">Đăng ký</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="load_lichhoc" style="display: none;">
                    <div class="block_lichhoc">
                        <div id="list_lichkhaigiang">
                        </div>
                    </div>
                </div>
                <?php
                    $hotline = preg_split("/[-,;]+/", str_replace(' ', '', $setting['General.System.Hotline']['value']));
                    if(count($hotline) > 0) {
                ?>
                <div class="box_hotline">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <?php
                    shuffle($hotline);
                    foreach ($hotline AS $key => $phone) { 
                        $tmp = '';
                        if($key > 0) {
                            $tmp = ' - ';
                        }
                        
                        echo $tmp . '<a href="tel:'. str_replace('.', '', $phone) .'" rel="nofollow">'. $phone .'</a>';
                    } 
                    ?>
                </div>
                <?php
                    }
                ?>
            </div>
        </div>
    </div>
    <!-- end box_lichhoc -->

    <div class="box_noibat" id="box_noibat">
        <div class="box_title">MÔ HÌNH HỌC KHÁC BIỆT <br>4CE</div>
        <div class="container">
            <div class="box_content">
                <div class="item item-1">
                    <div class="title">CLASS</div>
                    <div class="detail">Tìm hiểu, rèn luyện ngữ âm từ căn bản và nâng cao từ đó thành phản xạ trong quá trình nói.</div>
                    <div class="detail">Tự tin giao tiếp tiếng Anh thông qua các tình huống thực tiễn được xây dựng cùng giảng viên.</div>
                </div>
                <div class="item item-2">
                    <div class="title">CLUB</div>
                    <div class="detail">Môi trường luyện tập tiếng Anh hàng tuần và tạo cơ hội phát triển mối quan hệ.</div>
                </div>
                <div class="item item-3">
                    <div class="title">E-LEARNING</div>
                    <div class="detail">Ứng dụng điện thoại:<br>LangGo – học tiếng Anh 30 phút mỗi ngày giúp học viên tạo dựng thói quen học tiếng Anh hàng ngày</div>
                    <div class="detail">Hệ thống học online eStudy: Hệ thống tự theo dõi và đánh giá hoạt động học tập cùng kho bài học khổng lồ</div>
                </div>
                <div class="item item-4">
                    <div class="title">CONFERENCE</div>
                    <div class="detail">Hội thảo chuyên sâu hướng nghiệp và nâng cao những năng lực từ những chuyên gia trong và ngoài nước</div>
                </div>
                <div class="item item-5">
                    <div class="title">COMMUNITY</div>
                    <div class="detail">Học viên sẽ có cơ hội được tham gia tổ chức hoặc tham dự các chương trình như: hoạt động từ thiện, các cuộc thi tiếng Anh, các hoạt động văn hóa, nghệ thuật,...</div>
                </div>
            </div>
        </div>
        <div class="go_box btn btn_dangKy" data-box="box_lichHoc">Đăng ký học ngay</div>
    </div>
    <!-- end box_noibat -->
    
    <!-- box_nangLuc -->
    <div class="box_nangLuc">
        <div class="container">
            <div class="box_title">Năng lực làm việc</div>
            <div class="box_desc">Ngoài việc nâng cao năng lực tiếng Anh, bạn còn được phát triển 6 nhóm năng lực làm việc thiết yếu bao gồm:</div>
            <div class="box_content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <p class="title">Collaboration</p>
                            <p class="text">(Năng lực hợp tác)</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item item-2">
                            <p class="title">Communication</p>
                            <p class="text">(Năng lực giao tiếp)</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item item-3">
                            <p class="title">Commitment</p>
                            <p class="text">(Năng lực cam kết)</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item item-4">
                            <p class="title">Self-awareness</p>
                            <p class="text">(Năng lực nhận thức bản thân)</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item item-5">
                            <p class="title">Self-management</p>
                            <p class="text">(Năng lực quản trị bản thân)</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item item-6">
                            <p class="title">Self-development</p>
                            <p class="text">(Năng lực phát triển bản thân)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_nangLuc -->

   <div class="box_lyDo" id="box_lyDo">
        <div class="container">
            <div class="box_title">05 lý do <br>nên chọn <a href="http://langgo.edu.vn" title="LangGo" style="color:#fff">LangGo</a></div>
            <div class="box_content">
                <div class="item item_1">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">MÔ HÌNH HỌC TOÀN DIỆN</div>
                            <div class="desc">Ứng dụng mô hình học 4CE, học viên có cơ hội được TẮM tiếng Anh hàng ngày với: <br>Class- Club - E-learning - Conference - Community.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_2">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">ĐỘI NGŨ GIẢNG VIÊN CÓ CHUYÊN MÔN CAO</div>
                            <div class="desc">LangGo tự hào là hệ thống có đội ngũ giảng viên đạt chuẩn về chuyên môn tiếng Anh và được đào tạo hoàn thiện về năng lực giảng dạy.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_3">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">HỆ THỐNG HỌC LIỆU UY TÍN</div>
                            <div class="desc">Học viên tại LangGo sẽ được học tập và cải thiện tiếng Anh hiệu quả thông qua giáo trình Speakout từ nhà xuất bản Pearson, cuốn sách được trao thưởng “Bộ sách hay nhất trong lĩnh vực giảng dạy tiếng Anh.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_4">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">PHƯƠNG PHÁP HỌC TIẾNG ANH HIỆN ĐẠI</div>
                            <div class="desc">LangGo ứng dụng ngôn ngữ lập trình tư duy NLP đồng thời ứng dụng và phát triển các phương pháp giảng dạy tiếng Anh PG, TPR, ELC và PMS giúp bạn tìm lại đam mê, động lực học tiếng Anh.</div>
                        </div>
                    </div>
                </div>
                <div class="item item_5">
                    <div class="item_content">
                        <div class="info">
                            <div class="title">CƠ HỘI PHÁT TRIỂN NGHỀ NGHIỆP</div>
                            <div class="desc">Ngoài việc giúp học viên tạo dựng môi trường học tiếng Anh, LangGo còn mang đến cho học viên nhiều cơ hội gặp gỡ và tiếp xúc với các diễn giả; trải nghiệm các dự án cộng đồng từ đó nâng cao năng lực làm việc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="go_box btn btn_dangKy" data-box="box_lichHoc">Đăng ký học ngay</div>
    </div>
    
    <div class="box_tinTuc" id="box_tinTuc">
        <div class="container">
            <div class="box_title">CẢM NHẬN HỌC VIÊN</div>
            <div class="box_content">
                <div class="bxslider" id="bxslider-camnhan">
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/h6OtORYgV6w?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-1.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video(' https://www.youtube.com/embed/yFrpncySaWI?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-2.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/Szc-Gobzuwk?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-3.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/txl9W5rq6g8?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-4.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/-BcedY4eARM?autoplay=1');"><img src="<?php echo $urlImg;?>/tintuc-5.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box_title">ĐỐI TÁC</div>
            <div class="box_content">
                <div class="bxslider" id="bxslider-doitac">
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/vlaDhvpFyz8?autoplay=1');"><img src="<?php echo $urlImg;?>/cg-1.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/_RjWrMZ8lBk?autoplay=1');"><img src="<?php echo $urlImg;?>/cg-3.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/2X2JgXonUuc?autoplay=1');"><img src="<?php echo $urlImg;?>/cg-4.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_tintuc -->
    
    <div class="box_dangKy" id="box_dangKy">
        <div class="container">
            <div class="box_title">ĐĂNG KÝ HỌC THỬ MIỄN PHÍ</div>
            <div class="box_info">(Đăng ký ngay để trải nghiệm hệ thống học tiếng Anh giao tiếp đã giúp hơn 100.000 học viên thành công <br>trên con đường chinh phục tiếng Anh. Và giờ, đến lượt bạn ... )</div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dangKy">
                        <form id="frmDangkyTraiNghiem" name="frmDangkyTraiNghiem" method="post">
                            <div class="col-md-6">
                                <div class="form-group" id="input-name">
                                    <input type="text" class="form-control" id="name" name="name"  placeholder="Họ Tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-number">
                                    <input type="text" class="form-control" id="number" name="number" placeholder="Số người tham dự">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-phone">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-email">
                                    <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-location_city_id">
                                    <select name="location_city_id" class="form-control">
                                        <option value="" selected="selected">- Tỉnh thành bạn đang sinh sống -</option>
                                        <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                        <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                        <option value="none">Tỉnh khác</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-training_location_id">
                                    <select name="training_location_id" id="training_location_id" class="form-control">
                                        <option value="" selected="selected">- Chọn cơ sở gần bạn nhất -</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btnSuccess">
                                    <input type="hidden" value="1527583398404696a178km" name="form_id">
                                    <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                    <input type="hidden" name="source_channel_id" value="1475118376-3i43-67j8-671v-k4f7l182j8e1">
                                    <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                    <input class="form-control my_btn" id="btn-gui" type="button" value="ĐĂNG KÝ HỌC NGAY" onclick="formRegisterCRM('#frmDangkyTraiNghiem');">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dangKy -->
    
    <div class="box_comment">
        <?php
        $link_page = explode('?', $_SERVER['REQUEST_URI']);
        $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
        ?>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
        </div>
    </div>

    <!-- Popup -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Đăng ký học</h4>
                </div>
                <div class="modal-body">
                    <form id="frmDangkyHoc" name="frmDangkyHoc" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="input-name">
                                    <input required type="text" class="form-control" name="name"  placeholder="Họ Tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-email">
                                    <input required type="email" class="form-control" name="email"  placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-phone">
                                    <input required type="text" class="form-control" name="phone" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-location_city_id">
                                    <select name="location_city_id" class="form-control">
                                        <option value="" selected="selected">- Tỉnh thành bạn đang sinh sống -</option>
                                        <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                        <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                        <option value="none">Tỉnh khác</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btnSuccess">
                                    <input type="hidden" value="152807652671l4888w988h" name="form_id">
                                    <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                    <input type="hidden" name="source_channel_id" value="1475118505-5796-1940-921e-v7hy44559w8j">
                                    <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                    <input type="hidden" name="training_class_id" value="">
                                    <input type="hidden" name="training_location_id" value="">
                                    <input type="hidden" name="product_id" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="formRegisterCRM('#frmDangkyHoc');">Đăng ký ngay</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    
    <?php
        echo $this -> headScript()
        -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>

    <script type="text/javascript">
        //go-box
        $("a[href^='#']").click(function(e) {
            e.preventDefault();
            var position = $($(this).attr("href")).offset().top;
            $("body, html").animate({
                scrollTop: position
            } /* speed */ );
        });

        $(document).ready(function() {
            var maxSlides = 3;
            var slideWidth = 368; 
            if ($(window).width() < 800) {
                maxSlides = 1;
                slideWidth = 0;
            }
            $('#bxslider-camnhan').show();
            $('#bxslider-camnhan').bxSlider({
                auto: false,
                autoControls: false,
                minSlides: 1,
                maxSlides: maxSlides,
                moveSlides: 1,
                slideWidth: slideWidth,
                slideMargin: 50,
                adaptiveHeight: true,
                responsive: true
            });
            $('#bxslider-doitac').show();
            $('#bxslider-doitac').bxSlider({
                auto: false,
                autoControls: false,
                minSlides: 1,
                maxSlides: maxSlides,
                moveSlides: 1,
                slideWidth: slideWidth,
                slideMargin: 48,
                adaptiveHeight: true,
                responsive: true
            });
        });

            
        $(document).ready(function() {
            // Menu sticky
            function stickyMenu() {
                var boxMenu = '#box_menu';
                var topPage = $(window).scrollTop();
                var topFix = 72;
                if(topPage >= topFix) {
                    $(boxMenu).addClass('sticky');
                    $(boxMenu).css({'box-shadow' : '0 2px 5px 0 rgba(0,0,0,0.1)'});
                } else {
                    $(boxMenu).removeClass('sticky');
                    $(boxMenu).removeAttr('style');
                }
            }
            $(window).scroll(function () {
                stickyMenu();
            });

            // Menu go box
            $('.go_box').click(function() {
                var box = $(this).attr('data-box');
                if($('#' + box).length) {
                    var top_scroll = 0;
                    top_scroll = $("#" + box).offset().top;
                    $('html,body').animate({
                        scrollTop: top_scroll - 60
                    }, 'slow');
                }
                $('.box_header .menu.mobile').addClass('hidden-xs hidden-sm');
                $('.go_box').removeClass('active');
                $(this).addClass('active');
                $('.menu_mobile_bg').remove();
            });
            
            // Popup video, image
            if ($(".fancybox-button").size() > 0) {
                $(".fancybox-button").fancybox({
                    groupAttr: 'data-rel',
                    prevEffect: 'none',
                    nextEffect: 'none',
                    closeBtn: true,
                    helpers: {
                        title: {
                            type: 'inside'
                        }
                    }
                });
                $('.fancybox-video').fancybox({
                    type: 'iframe'
                });
            }
        });
        
        //Menu Mobile
        function close_memu_mobile() {
            if($('.box_header .menu.mobile').size() > 0) {
                $('.box_header .menu.mobile').addClass('hidden-xs hidden-sm');
                $('.box_header .menu-main').addClass('hidden-xs hidden-sm');
                
            }
            if($('.menu_mobile_bg').size() > 0) {
                $('.menu_mobile_bg').remove();
            }
        }
        $('.menu_mobile a').click(function() {
            $('.box_header .menu').removeClass('hidden-xs hidden-sm').addClass('mobile');
            $('.box_header .menu-main').removeClass('hidden-xs hidden-sm').addClass('mobile');
            $('.box_header').append('<div class="menu_mobile_bg" onclick="javascript:close_memu_mobile();"></div>');
        });
        
        //Popup video
        function play_video(url) {
            var html = '';
            html += '<div class="popup_video" onclick="close_popup()">';
                html += '<div class="popup_content">';
                    html += '<div class="embed-responsive embed-responsive-16by9">';
                        html += '<iframe class="embed-responsive-item" src="'+ url +'" frameborder="0" allowfullscreen></iframe>';
                    html += '</div>';
                    html += '<a href="javascript:void(0)" onclick="close_popup()" class="popup_close"><i class="fa fa-times"></i></a>';
                html += '</div>';
            html += '</div>';
            $('body').append(html);
        }
        function close_popup() {
            $('.popup_video').remove();
        }

        //Cơ sở
        $.ajax({
            type: 'POST',
            url: 'https://langmaster.vn/erp/api/sale-document/list',
            crossDomain: true,
            data: {
                where:{
                    code: 'training-location',
                    type: 'on'
                }
            },
            dataType: 'json',
            success: function(responseData, textStatus, jqXHR) {
                var htmlSelect = '';
                var htmlFooter = '<div class="container"><div class="row">';
                $.each(responseData, function(key, val) {
                    if(val['address']) {
                        htmlFooter += '<div class="col-sm-3"><div class="bottom">';
                            htmlFooter += '<p class="title">'+ val['name'] +'</p>';
                            htmlFooter += '<p class="text"><i class="fa fa-map-marker"></i>'+ val['address'] +'</p>';
                            htmlFooter += '<p class="text"><i class="fa fa-phone"></i>'+ val['phone'] +'</p>';
                            htmlFooter += '</div></div>';
                        htmlSelect += '<option value="'+ val['id'] +'">'+ val['name'] +': '+ val['address'] +'</option>';
                    }
                });
                htmlFooter += '</div></div>';
                $('.api-coso-list').html(htmlFooter);
                $('.api-coso').append(htmlSelect);
            }
        });

        function formRegisterCRM(idForm) {
            $.ajax({
                type: 'POST',
                url: 'https://langmaster.vn/erp/api/sale-form-data/add',
                crossDomain: true,
                data: $(idForm).serialize(),
                dataType: 'json',
                beforeSend: function() {
                    $(idForm + ' .form-group').removeClass('has-error');
                    $(idForm + ' .alert').remove();
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success: function(responseData, textStatus, jqXHR) {
                    var result = responseData;
                    if(result.error) {
                        if(result.error.form_id) {
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                        } else {
                            $.each(result.error, function(key, value) {
                                $(idForm + ' #input-'+ key).addClass('has-error');
                            })
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                        }
                    } else {
                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
                        $(idForm + ' .form-control').not(idForm + ' .form-control.my_btn').val('');
                    }
                    
                    $('body .page-loading').remove();
                },
            });
        }
        
    </script>
    <section class="box-footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="fanpage">
                            <h3 class="title">LANGGO TRÊN FACEBOOK</h3>
                            <div class="fb-page" data-href="<?php echo $setting['General.System.Facebook']['value']; ?>" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-5">
                        <div class="footer_social">
                            <h3 class="title"><a href="#"><img src="/public/template/frontend/img/langgo/LangGo-footer.png"></a></h3>
                            <p class="text"><span>LangGo Learning system</span> - Hệ thống hoc tiếng Anh giao tiếp toàn diện cho người mới bắt đầu.</p>
                            <p class="network">
                                Social network
                                <a href="<?php echo $setting['General.System.Facebook']['value'];?>" target="_blank"><span><img alt="facebook" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-1.png'; ?>"></span></a>
                                <a href="<?php echo $setting['General.System.Google']['value'];?>" target="_blank"><span><img alt="google+" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-2.png'; ?>"></span></a>
                                <a href="<?php echo $setting['General.System.Youtube']['value'];?>" target="_blank"><span><img alt="youtube" src="<?php echo $this->arrParams['template']['urlImg'] . '/langgo/social-3.png'; ?>"></span></a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 text-justify">
                        <div class="receive">
                            <h3 class="title">Đăng ký nhận tin</h3>
                            <p class="text">Để nhận thông tin về các sự kiện đặc biệt và <a href="http://meovatcuocsong.info/free-tron-bo-cac-bo-de-thi-toeic-2018-co-dap-an-full-ebookaudio/" target="_blank" style="color: #000;">tài liệu học tiếng Anh</a> giao tiếp miễn phí. Bạn hãy để lại cho chúng tôi thông tin liên lạc.</p>
                            <form id="frmDangkyNhanTin" name="frmDangkyNhanTin" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-name">
                                            <input required type="text" class="form-control" id="name" name="name" placeholder="Họ Tên">
                                        </div>                     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-phone">
                                            <input required type="text" class="form-control" id="phone" name="phone" placeholder="Điện thoại">
                                        </div>                     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-email">
                                            <input required type="text" class="form-control" id="email" name="email" placeholder="Email">
                                        </div>                     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-training_location_id">
                                            <select name="training_location_id" id="training_location_id" class="form-control">
                                                <option value="" selected="selected">- Chọn cơ sở gần bạn nhất -</option>
                                            </select> 
                                        </div>                     
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-location_city_id">
                                            <select name="location_city_id" class="form-control">
                                                <option value="" selected="selected">- Tỉnh thành bạn đang sinh sống -</option>
                                                <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                                <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                                <option value="none">Tỉnh khác</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btnSuccess">
                                            <input type="hidden" value="1527907487ni9303jd64s2" name="form_id">
                                            <input type="hidden" name="source_group_id" value="1475114382-d0w9-n376-0b3i-6rh2qnkjl815">
                                            <input type="hidden" name="source_channel_id" value="1475118253-f69m-4h09-9q8p-12538c0gfl04">
                                            <input type="hidden" name="source" value="<?php echo $_SERVER['REQUEST_URI'];?>">
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input class="form-control my_btn" id="btn-gui" type="button" value="ĐĂNG KÝ NHẬN TIN" onclick="formRegisterCRM('#frmDangkyNhanTin');">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        
        <div class="footer_bottom">
            <div class="container"></div>
        </div>
        <div class="container">
            <div style="padding-top: 20px; background: #a21e22; text-align: center; color: #fff; z-index: 100000;" class="copy-right">Hệ thống được phát triển và vận hành bởi <a style="color: #fff;" href="https://langtech.vn/" target="_blank"><b>LangTech</b></a></div>
        </div>
    </section>
    <script type="text/javascript">
        //Địa điểm học
        $.ajax({
            type: 'POST',
            url: 'https://langmaster.vn/erp/api/sale-document/list',
            crossDomain: true,
            data: {
                where:{
                    code: 'training-location',
                }
            },
            dataType: 'json',
            success: function(responseData, textStatus, jqXHR) {
                var htmlSelect = '';
                $.each(responseData, function(key, val) {
                    if(val['address']) {
                        htmlSelect += '<option value="'+ val['id'] +'">Cơ sở: '+ val['address'] +'</option>';
                    }
                });
                $('select[name="training_location_id"]').append(htmlSelect);
            }
        });
        //Cơ sở
        $.ajax({
            type: 'POST',
            url: 'https://langmaster.vn/erp/api/sale-document/list',
            crossDomain: true,
            data: {
                where:{
                    code: 'training-location',
                    type: 'on'
                }
            },
            dataType: 'json',
            success: function(responseData, textStatus, jqXHR) {
                var html = '';
                $.each(responseData, function(key, val) {
                    if(val['address']) {
                        html += '<div class="col-md-4 col-sm-6">';
                            html += '<div class="item">';
                                html += '<div class="text"><i class="fa fa-map-marker"></i>Cơ sở: '+ val['address'] +'</div>';
                                html += '<div class="text"><i class="fa fa-phone"></i>'+ val['phone'] +'</div>';
                            html += '</div>';
                        html += '</div>';
                    }
                });
                $('.box-footer .footer_bottom .container').html('<div class="row">'+ html +'</div>');
            }
        });

        //danh sach lớp học
        function trainingClass(product_id, training_location_id) {
            $.ajax({
                type: 'POST',
                url: 'https://langmaster.vn/erp/api/offline-training-class/list',
                crossDomain: true,
                data: {
                    product_id: product_id,
                    training_location_id: training_location_id
                    
                },

                dataType: 'json',
                success: function(responseData, textStatus, jqXHR) {
                    var html = '';
                    if(responseData) {
                        $.each( responseData, function( key, value ) {
                            html += '<tr>';
                                html += '<td class="nowrap">';
                                    html += '<div class="text class-name">'+ value['product_name'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap">';
                                    html += '<div class="text class-name">'+ value['name'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap center">';
                                    html += '<div class="text">'+ value['time'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap center">';
                                    html += '<div class="text">'+ value['public_date'] +'</div>';
                                html += '</td>';
                                html += '<td class="center">';
                                    html += '<div class="text">'+ value['training_location_address'] +'</div>';
                                html += '</td>';
                                html += '<td class="nowrap center">';
                                html += '<div class="btn btn-info btn-lg btn-class" onclick="registerClass(\''+ value['id'] +'\', \''+ value['training_location_id'] +'\', \''+ value['product_id'] +'\')">Đăng ký ngay</div>';
                                html += ' </td>';
                            html += '</tr>';
                        });
                    }
                    $('.box_schedule tbody').html(html);
                },
            });
        }
        trainingClass('1525744595334j79wn50ce', '');
        $('select[name="training_location_id"]').change(function() {
            trainingClass('1525744595334j79wn50ce', $(this).val());
        });

        function registerClass(training_class_id, training_location_id, product_id) {
            var modal_id = '#myModal';
            
            $(modal_id + ' input[name="training_class_id"]').val(training_class_id);
            $(modal_id + ' input[name="training_location_id"]').val(training_location_id);
            $(modal_id + ' input[name="product_id"]').val(product_id);
            $('#myModal').modal('toggle');
        }

        //form formRegisterCRM
        function formRegisterCRM(idForm) {
            $.ajax({
                type: 'POST',
                url: 'https://langmaster.vn/erp/api/sale-form-data/add',
                crossDomain: true,
                data: $(idForm).serialize(),
                dataType: 'json',
                beforeSend: function() {
                    $(idForm + ' .form-group').removeClass('has-error');
                    $(idForm + ' .alert').remove();
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success: function(responseData, textStatus, jqXHR) {
                    var result = responseData;
                    if(result.error) {
                        if(result.error.form_id) {
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                        } else {
                            $.each(result.error, function(key, value) {
                                $(idForm + ' #input-'+ key).addClass('has-error');
                            })
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                        }
                    } else {
                        $(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
                        $(idForm + ' .form-control').not(idForm + ' .form-control.my_btn').val('');
                    }
                    
                    $('body .page-loading').remove();
                },
            });
        }
    </script>
    <script type="text/javascript">
        if ($(".fancybox-button").size() > 0) {            
            $(".fancybox-button").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'inside'
                    }
                }
            });
        
            $('.fancybox-video').fancybox({
                type: 'iframe'
            });
        }
        // Menu
        var id_menu = '#box_menu';
        $(id_menu + ' .collapsed').click(function() {
            $(id_menu + ' .navbar-collapse').addClass('open');
            $(id_menu + ' .navbar-collapse-background').css({'left': 0});
        });
        $(id_menu + ' .navbar-collapse-background').click(function() {
            $(id_menu + ' .navbar-collapse').removeClass('open');
            $(id_menu + ' .navbar-collapse-background').css({'left': '-100%'});
        });
        $('a[class^="go_"]').click(function() {
            
            $(id_menu + ' .navbar-collapse li').removeClass('active');
            $(this).parent().addClass('active');
            
            var str = $(this).attr('class');;
            var res = str.split(" ");
            var box = res[0].substring(3);
            var top_scroll = 0;
            top_scroll = $("#" + box).offset().top;
            $('html,body').animate({
                scrollTop: top_scroll -70
            }, 'slow');
        });
    </script>

</body>
</html>