<!-- <div class="page-loading"><div class="loader">Loading...</div></div> -->
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-content">
    	<div class="row">
        	<div class="col-md-6 col-sm-6">
				Trang chủ
        	</div>
        	<div class="col-md-6 col-sm-6">
        	</div>
        </div>
	</div>
</form>
