<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        $category_name  = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2>';
        
        $xhtml          = '';
        if(count($category['items']) > 0) {
            foreach ($category['items'] AS $key => $item) {
                $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = $item['description'];
                
                $xhtml .= '<div class="item">
                                <div class="image">'. $image_thumb .'</div>
                                <h3 class="title">'. $name .'</h3>
                            </div>';
            }
        }
        
        $result .= '<div class="box_default_left">
                        <div class="box_title">'. $category_name .'</div>
                        <div class="box_content">
                            '. $xhtml .'
                        </div>
                    </div>';
    }
}
?>