<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        $category_name  = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2><a href="'. $category_url .'" class="view_all">'. $language['viewall'][$language_active] .'</a>';
        
        $xhtml          = '';
        $item_index     = 0;
        if(count($category['items']) > 0) {
            foreach ($category['items'] AS $key => $item) {
                $item_index++;
                $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);

                if ($item_index <= 2) {
                    $xhtml_left .= '<div class="col-md-6 item">
                                        <div class="img"><img src="'. $item['image'] .'" alt="'. $item['name'] .'" width="100%" height="125"></div>
                                        <div class="title">'. $name .'</div>
                                        <div class="content">'. $description .'</div>
                                    </div>';
                } else {
                    $xhtml_right.= '<div class="items">
                                        <div class="item">
                                            <a href="'. $item_url .'" target="_blank">'. $item['name'] .'</a>
                                        </div>
                                    </div>';
                }
            }
        }
        
        $result = '<div class="box-event-news">
                        <div class="container">
                            <div class="box-content">
                                <div class="row border-between">
                                    <div class="col-md-6 box-left">
                                        <div class="box-title">Sự kiện & Tin tức</div>
                                        <div class="items">
                                            <div class="row">
                                                '. $xhtml_left .'
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 box-right">
                                        '. $xhtml_right .'
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>';
    }
}
?>