<div class="item-sidebar">
    <h3 class="item-sidebar-title">Danh mục bài học</h3>
    <div class="item-sidebar-content">
        <ul class="list-cate-sidebar">
            <?php
            if(count($categories) > 0) {
                foreach ($categories AS $category) {
                    $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
                    $cate_childs_right = [];
                    if($category['childs']){
                        foreach ($category['childs'] as $item_child) {
                            if($item_child['box_right']) $cate_childs_right[] = $item_child;
                        }
                    }
                    ?>
                    <li class="<?php echo $cate_childs_right? 'has-childs' : false; ?>">
                        <a href="<?php echo $category_url; ?>">
                            <?php 
                            if($cate_childs_right){
                                ?>
                                <i class="fa fa-caret-right"></i>
                                <?php
                            }
                            echo $category['name']; 
                            ?>
                        </a>
                        <?php 
                        if($cate_childs_right){
                            ?>
                            <ul class="sub-cate-sidebar">
                                <?php
                                foreach ($cate_childs_right as $item_cate) {
                                    $item_cate_url = $view->url('routePostCategory', array( 'alias' => $item_cate['alias']));
                                    ?>
                                    <li><a href="<?php echo $item_cate_url; ?>"><?php echo $item_cate['name']; ?></a></li>
                                    <?php
                                }
                                ?>
                            </ul>
                            <?php
                        }
                        ?>
                    </li>
                    <?php
                }
            }
            ?>
        </ul>
    </div>
</div>
