<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        
        $cate_childs_hot = [];
        $category['own_items'] = $view->getHelperPluginManager()->getServiceLocator()->get('Post\Model\PostItemTable')->listItem(['data' => ['post_category_id' => $category['id'], 'bot_hot' => 1, 'limit' => 2]], array('task' => 'list-all'))->toArray();
        if($category['childs']){
            foreach ($category['childs'] as $item_child) {
                if($item_child['box_hot']) {
                    $item_child['items'] = $view->getHelperPluginManager()->getServiceLocator()->get('Post\Model\PostItemTable')->listItem(['data' => ['post_category_id' => $item_child['id'], 'bot_hot' => 1, 'limit' => 5]], array('task' => 'list-all'))->toArray();
                    $cate_childs_hot[] = $item_child;
                }
            }
        }
        ?>
        <section class="box-home box-provide">
            <div class="container">
                <h2 class="section-title text-center"><a href="<?php echo $category_url; ?>"><?php echo $category['name']; ?></a></h2>
                <div class="list-provide">
                    <?php 
                    if($cate_childs_hot){
                        ?>
                        <div class="row row-flex">
                                <?php
                                foreach ($cate_childs_hot as $key => $item_cate) {
                                    $item_cate_url = $view->url('routePostCategory', array( 'alias' => $item_cate['alias']));
                                    ?>
                                    <div class="item-col col-xs-12 col-sm-6 col-md-4">
                                        <div class="item-provide">
                                            <h3 class="item-provide-title text-center"><a href="<?php echo $item_cate_url; ?>"><?php echo $item_cate['name']; ?></a></h3>
                                            <ul class="item-provide-content">
                                                <?php 
                                                foreach ($item_cate['items'] as $item_post) {
                                                    $item_post_url = $view->url('routePostItem', array( 'alias' => $item_post['alias']));
                                                    ?>
                                                    <li><a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name'] ?>"><?php echo $item_post['name'] ?></a></li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                    <?php
                                }
                                ?>
                        </div>
                        <?php
                    }
                    ?>
                </div>
            </div>
        </section>
        <?php
    }
}
?>
