<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        $cate_childs_hot = [];
        $category['own_items'] = $view->getHelperPluginManager()->getServiceLocator()->get('Post\Model\PostItemTable')->listItem(['data' => ['post_category_id' => $category['id'], 'bot_hot' => 1, 'limit' => 8]], array('task' => 'list-all'))->toArray();
        if($category['childs']){
            foreach ($category['childs'] as $item_child) {
                if($item_child['box_hot']) {
                    $item_child['items'] = $view->getHelperPluginManager()->getServiceLocator()->get('Post\Model\PostItemTable')->listItem(['data' => ['post_category_id' => $item_child['id'], 'bot_hot' => 1, 'limit' => 8]], array('task' => 'list-all'))->toArray();
                    $cate_childs_hot[] = $item_child;
                }
            }
        }
        ?>
        <?php 
            if(count($category['own_items']) > 0) {
        ?>
        <section class="box-home box-test">
            <div class="container">
                <div class="box-test-title">
                    <h2 class="item-test-title">
                        <a href="<?php echo $category_url; ?>" title="<?php echo $category['name']; ?>"><?php echo $category['name']; ?></a>
                    </h2>
                </div>
                <div class="box-test-content">
                    <div class="row row-flex">
                        <?php 
                            $d_hot = 0;
                            foreach ($category['own_items'] as $key => $item_post) {
                                $d_hot++;
                                if($d_hot == 9) break;
                                $item_post_url = $view->url('routePostItem', array( 'alias' => $item_post['alias']));
                        ?>
                                <div class="item-col col-sm-6 col-md-3 <?php echo $key>3 ? 'hidden-xs' : 'col-xs-6'; ?>">
                                    <div class="item-post text-center">
                                        <div class="item-post-img">
                                            <a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>">
                                                <img src="<?php echo $item_post['image_medium']; ?>" alt="<?php echo $item_post['name']; ?>">
                                            </a>
                                        </div>
                                        <div class="item-post-title">
                                            <h3 class="item-post-title"><a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>"> <?php echo $item_post['name']; ?> </a></h3>
                                        </div>
                                    </div>
                                </div>
                        <?php
                            }
                        ?>
                    </div>
                </div>
            </div>
        </section>
        <?php
            }
        ?>
<?php
    }
}
?>
