<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        $category_name  = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2><a href="'. $category_url .'" class="view_all">'. $language['viewall'][$language_active] .'</a>';
        
        $xhtml          = '';
        if(count($category['items']) > 0) {
            foreach ($category['items'] AS $key => $item) {
                $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                
                $xhtml .= '<div class="col-sm-3 col-xs-6">
                                <div class="item">
                                    <div class="image">
                                        '. $image_medium .'
                                    </div>
                                    <div class="info">
                                        <h3 class="title">'. $name .'</h3>
                                    </div>
                                </div>
                            </div>';
            }
        }
        $cate_childs_hot = [];
        if($category['childs']){
            foreach ($category['childs'] as $item_child) {
                if($item_child['box_hot']) {
                    $item_child['items'] = $view->getHelperPluginManager()->getServiceLocator()->get('Post\Model\PostTestTable')->listItem(['data' => ['category_id' => $item_child['id'], 'bot_hot' => 1, 'limit' => 8]], array('task' => 'list-all'))->toArray();
                    $cate_childs_hot[] = $item_child;
                }
            }
        }
        ?>
        <section class="box-home box-test">
            <div class="container">
                <div class="box-test-title">
                    <h2 class="item-test-title">
                        <img src="<?php echo $category['image']; ?>" alt="<?php echo $category['name']; ?>" />
                        <a href="<?php echo $category_url; ?>" title="<?php echo $category['name']; ?>"><?php echo $category['name']; ?></a>
                    </h2>
                </div>
                <div class="box-test-content">
                    <div class="row row-flex">
                        <div class="item-col col-xs-12 col-sm-3">
                            <div class="box-test-sidebar">
                                <?php 
                                if($cate_childs_hot){
                                    ?>
                                    <div class="title-side">Chọn mục tiêu</div>
                                    <ul class="nav-test">
                                        <?php 
                                        foreach ($cate_childs_hot as $key => $item_cate) {
                                            ?>
                                            <li class="<?php echo $key==0?'active':false; ?>"><a href="#cate-<?php echo $item_cate['index']; ?>" data-toggle="tab"><?php echo $item_cate['name']; ?></a></li>
                                            <?php
                                        }
                                        ?>
                                    </ul>
                                    <?php
                                }
                                ?>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="tab-content">
                                <?php 
                                if($cate_childs_hot){
                                    foreach ($cate_childs_hot as $key => $item_cate) {
                                        ?>
                                        <div role="tabpanel" class="tab-pane fade <?php echo $key==0?'in active':false; ?>" id="cate-<?php echo $item_cate['index']; ?>">
                                            <div class="row">
                                                <?php 
                                                if($item_cate['items']){
                                                    foreach ($item_cate['items'] as $item_post) {
                                                        $item_post_url = $view->url('routePostItem', array( 'alias' => $item_post['alias']));
                                                        ?>
                                                        <div class="item-col col-xs-12 col-sm-6 col-md-3">
                                                            <div class="item-post text-center">
                                                                <div class="item-post-img">
                                                                    <a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>">
                                                                        <img src="<?php echo $item_post['image_medium']; ?>" alt="<?php echo $item_post['name']; ?>">
                                                                    </a>
                                                                </div>
                                                                <div class="item-post-title">
                                                                    <h3 class="item-post-title"><a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>"> <?php echo $item_post['name']; ?> </a></h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                }else{
                                    if(count($category['items']) > 0) {
                                        ?>
                                        <div class="row">
                                            <?php
                                            foreach ($category['items'] AS $key => $item_post) {
                                                if($item_post['box_hot']){
                                                    $item_post_url = $view->url('routePostItem', array( 'alias' => $item_post['alias']));
                                                    ?>
                                                    <div class="item-col col-xs-12 col-sm-6 col-md-3">
                                                        <div class="item-post text-center">
                                                            <div class="item-post-img">
                                                                <a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>">
                                                                    <img src="<?php echo $item_post['image_medium']; ?>" alt="<?php echo $item_post['name']; ?>">
                                                                </a>
                                                            </div>
                                                            <div class="item-post-title">
                                                                <h3 class="item-post-title"><a href="<?php echo $item_post_url; ?>" title="<?php echo $item_post['name']; ?>"> <?php echo $item_post['name']; ?> </a></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </div>
                                        <?php
                                    }
                                }
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <?php
    }
}
?>
