<?php
if(count($categories) > 0) {
    $xhtml = '';
	foreach ($categories AS $index => $category){
		$category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias'], 'index' => $category['index']));
		$category_name   = '<a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a>';
       
		$xhtml .= '<div class="item" style="background-image: url('. $category['image'] .'); background-position: top center;">';
    		$childs = $category['childs'];
    		if(count($childs) > 0){
    			unset($childs[0]);
    			$xhtml .= '<div class="item_content index_'. $index .'">';
    			$xhtml .= '<div class="icon"><img src="'. $category['icon'] .'"></div>';
    			$xhtml .= '<div class="title">'. $category_name .'</div>';
    			$xhtml .= '<div class="list">';
               	foreach ($childs AS $key => $child) {
                   	array_shift($child);
                   	$child_url = $view->url('routePostCategory', array( 'alias' => $child['alias'], 'index' => $child['index']));
                   	$name = $child['name'];
                   	$xhtml .= '<div class="list_item"><a href="'. $child_url .'" title="'. $name .'" class="'. $name .'">'. $name .'</a></div>';
               	}
               	$xhtml .= '</div>';
               	$xhtml .= '</div>';
           	}
       	$xhtml .= '</div>';
	}
	
   	$result = '<div class="box_productHomeCategory">
                  <div class="content">'. $xhtml .'</div>
              </div>';
}
?>