<?php
if(count($categories) > 0) {
	foreach ($categories AS $category){
		$category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias'], 'index' => $category['index']));
		$category_name  = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2>';
       
		$childs = $category['childs'];
		if(count($childs) > 0){
			$xhtml .= '<ul>';
			$parentRight = array();
			$maxLevel = 1;
			$minLevel = 1;
			$i = 0;
			foreach ($childs AS $menu) {
			    if($i > 0) {
			        $name   = $menu['name'];
			        $icon   = $menu['icon'] ? $menu['icon'] : 'link';
			
			        $link = $view->url('routePostCategory', array('alias' => $menu['alias']));
			         
			        if($menu['level'] > $maxLevel) {
			            $maxLevel = $menu['level'] - 1;
			        }
			        
			        $class = '';
			        if($menu['id'] == $params['meta']['category_id']) {
			            $class = 'seletced active';
			        }
			         
			        if($menu['right'] - $menu['left'] == 1) {
			            $xhtml .= '<li class="'. $class .'"><a href="'. $link .'"><span class="title">'. $name .'</span></a></li>';
			             
			            for ($j = $minLevel; $j < $maxLevel; $j++) {
			                if(in_array($menu['right'] + $j, $parentRight)) {
			                    $xhtml .= '</ul></li>';
			                }
			            }
			        } else {
			            $class = !empty($class) ? ' '. $class : $class;
			            $parentRight[] = $menu['right'];
			            $xhtml .= '<li class="dropdown'. $class .'"><a href="javascript:;"><span class="title">'. $name .'</span></a><ul class="children">';
			        }
			    }
			    $i++;
			}
			$xhtml .= '</ul>';
       	}
       
	}
	
   	$result = '<div class="box_category" id="box_category">
                  <div class="box_title">'. $category_name .'</div>
                  <div class="box_content">'. $xhtml .'</div>
              </div>';
}
?>

<?php $view->headScript()->captureStart() ?>
	$(document).ready(function() {
	    $("#box_category ul li.seletced").parents("li").addClass("selected active");
		$("#box_category ul li.dropdown>a").click(function() {
		    $("li", $(this).parent().parent()).removeClass('active');
		    $($(this).parent()).addClass('active');
		    $(">li ul.children", $(this).parent().parent()).slideUp();
		    $('>ul.children:first', $(this).parent()).slideDown();
		});
	});
<?php $view->headScript()->captureEnd() ?>