<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        $category_name  = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2><a href="'. $category_url .'" class="view_all">'. $language['viewall'][$language_active] .'</a>';
        
        $xhtml          = '';
        if(count($category['items']) > 0) {
            foreach ($category['items'] AS $key => $item) {
                $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                
                $xhtml .= '<div class="item">
                                <div class="image">
                                    '. $image_medium .'
                                </div>
                                <h3 class="title">'. $name .'</h3>
                            </div>';
            }
        }
        
        $result .= '<div class="box_productCategoryLeft">
                        <div class="box_title">'. $category_name .'</div>
                        <div class="box_content">
                            <div class="productGrid">
                                '. $xhtml .'
                            </div>
                        </div>
                    </div>';
    }
}
?>