<?php
    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="no-padding">STT</th>';
    $xhtmlHead .= '<th>Tên loại</th>';
    $xhtmlHead .= '<th>Giá</th>';
    $xhtmlHead .= '<th>Hình ảnh</th>';
    $xhtmlHead .= '<th class="col-90">Công cụ</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->item['options'])) {
        $items = unserialize($this->item['options']);
        $index = 0;
        foreach ($items AS $key => $item) {
            $index++;
            $code                   = $key;
            $name                   = $item['name'];
            $price                  = $item['price'];
            $image                  = '';
            for ($i = 0; $i <= 10; $i++) {
                if(!empty($item['image_'. $i])) {
                    $image .= '<img src="'. $item['image_'. $i] .'" style="height: 60px; margin-right: 5px;">';
                }
            }
            
            // Control Action
            $controlDelete         = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Xóa loại sản phẩm', 'class' => 'btn btn-xs red', 'icon' => 'fa fa-trash', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'delete-category')) .'\', {\'id\': \''. $this->item['id'] .'\', \'code\': \''. $code .'\'});'));
            $controls               = 
            
            $xhtmlItems .= '<tr>
    							<td>'. $index .'</td>
    							<td><a href="javascript:;" onclick="javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form-category')) .'\', {\'id\': \''. $this->item['id'] .'\', \'code\': \''. $code .'\'});"><b>'. $name .'</b></a></td>
							    <td class="mask_currency">'. $price .'</td>
    							<td>'. $image .'</td>
    							<td>'. $controlDelete .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm loại', 'link' => 'javascript:;', 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form-category')) .'\', {\'id\': \''. $this->item['id'] .'\'});', 'class' => 'btn', ) ),
        array( 'name' => 'back', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'icon' => 'fa-arrow-left', 'attributes' => array( 'onclick' => '', 'class' => 'btn' ) ),
    );
?>
<div class="page-control">
	<div class="title pull-left">
		<?php echo $this->caption;?>
	</div>
	<div class="control pull-right">
		<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
	</div>
	<div class="clearfix"></div>
</div>
<?php echo $this->flashMessenger()->render();?>
<div class="page-content">
	<div class="table-manager" id="table-manager">
		<div>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<?php echo $xhtmlHead;?>
				</thead>
				<tbody>
					<?php echo $xhtmlItems;?>
				</tbody>
			</table>
		</div>
	</div>
</div>