<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <div class="alert alert-danger">Bạn có chắc chắn muốn xóa loại sản phẩm này?</div>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm">
    	<input type="hidden" name="id" value="<?php echo $this->item['id'];?>">
    	<input type="hidden" name="code" value="<?php echo $this->params['data']['code'];?>">
    	<input type="hidden" name="modal" value="success">
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Xác nhận xóa</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
