<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('name'), 'label' => 'Tên loại sản phẩm', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('price'), 'label' => 'Giá bán', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_1'), 'label' => 'Hình ảnh 1', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_2'), 'label' => 'Hình ảnh 2', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_3'), 'label' => 'Hình ảnh 3', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_4'), 'label' => 'Hình ảnh 4', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_5'), 'label' => 'Hình ảnh 5', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_6'), 'label' => 'Hình ảnh 6', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_7'), 'label' => 'Hình ảnh 7', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_8'), 'label' => 'Hình ảnh 8', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_9'), 'label' => 'Hình ảnh 9', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('image_10'), 'label' => 'Hình ảnh 10', 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('code'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true))
    );

    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
