<?php
    $date = new \ZendX\Functions\Date();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    $elements = array(
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'result_check_contact'),
        array('section' => 'Thông tin', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('file_import'), 'label' => 'Tải file cần import', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('submit'), 'label' => '&nbsp;', 'boxClass' => 'col-md-2'),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" enctype="multipart/form-data">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
		<div class="row">
			<div class="col-md-12"><a href="/public/files/import/mau-excel.xlsx" style="font-size: 16px; margin-bottom: 10px; display: inline-block;">Download file mẫu</a></div>
		</div>
		<?php
		if(!empty($this->import) && !empty($this->sheetData)) {  
		?>
    	<div class="row">
			<div class="col-md-12"><h3 class="form-section">Danh sách Import</h3></div>
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<tr>
    						<th class="col-50">STT</th>
    						<th>Mã sản phẩm</th>
    						<th>Tên sản phẩm</th>
    						<th>Đường dẫn tĩnh</th>
    						<th>ID Danh mục</th>
    						<th>Giá</th>
    						<th>Giảm giá (%)</th>
    						<th>Mô tả</th>
    						<th>Thông số kỹ thuật</th>
    						<th>Hiển thị</th>
    						<th>Mới</th>
    						<th>Nổi bật</th>
    						<th>Hot</th>
    						<th>Bán chạy</th>
    						<th>Tình trạng</th>
    						<th>Hiện giá</th>
    						<th>Đơn vị</th>
    						<th>Công cụ</th>
    					</tr>
    				</thead>
    				<tbody>
    					<?php
    					$index = 0;
    					foreach ($this->sheetData AS $key => $val) { 
    						if($index > 0) {
    							$post_category_id = $this->post_category[trim($val['C'])]['id'];
    							$post_category_name = $this->post_category[trim($val['C'])]['name'];
    					?>
    					<tr id="tr_<?php echo $index;?>">
							<td><?php echo $index;?></td>
							<td><span class="product_code"><?php echo $val['A'];?></span></td>
							<td><span class="name"><?php echo $val['B'];?></span></td>
							<td><span class="alias"><?php echo $val['B'];?></span></td>
							<td><span class="post_category_id"><?php echo $post_category_name;?><input type="hidden" name="id" value="<?php echo $post_category_id;?>"></span></td>
							<td><span class="product_price"><?php echo $val['D'];?></span></td>
							<td><span class="product_sale_percent"><?php echo $val['E'];?></span></td>
							<td><span class="description"><?php echo nl2br($val['F']);?></span></td>
							<td><span class="content"><?php echo nl2br($val['G']);?></span></td>
							<td><span class="status"><?php echo $val['H'];?></span></td>
							<td><span class="box_new"><?php echo $val['I'];?></span></td>
							<td><span class="box_highlight"><?php echo $val['J'];?></span></td>
							<td><span class="box_hot"><?php echo $val['K'];?></span></td>
							<td><span class="box_best"><?php echo $val['L'];?></span></td>
							<td><span class="product_status"><?php echo $val['M'];?></span></td>
							<td><span class="product_price_show"><?php echo $val['N'];?></span></td>
							<td><span class="product_unit"><?php echo $val['O'];?></span></td>
						    <td><a href="javascript:;" data-id="<?php echo $key;?>" class="btn btn-xs default">Import</a></td>
						</tr>
						<?php
    						}
    						$index++;
    					} 
						?>
					</tbody>
    			</table>
			</div>
		</div>
		<?php
		} else {
			echo '<div class="alert alert-danger">Không có dữ liệu import</div>';
		}
		?>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    
	function getAlias(source, target) {
		var data = $(source).text();
		data= data.toLowerCase();
		
		data = data.replace(/à|ả|ã|á|ạ|ă|ằ|ẳ|ẵ|ắ|ặ|â|ầ|ẩ|ẫ|ấ|ậ/g,"a");
		data = data.replace(/è|ẻ|ẽ|é|ẹ|ê|ề|ể|ễ|ế|ệ/g,"e");
		data = data.replace(/ì|ỉ|ĩ|í|ị/g,"i");
		data = data.replace(/ò|ỏ|õ|ó|ọ|ô|ồ|ổ|ỗ|ố|ộ|ơ|ờ|ở|ỡ|ớ|ợ/g,"o");
		data = data.replace(/ù|ủ|ũ|ú|ụ|ư|ừ|ử|ữ|ứ|ự/g,"u");
		data = data.replace(/ỳ|ỷ|ỹ|ý/g,"y");
		data = data.replace(/đ/g,"d");
		data = data.replace(/!|@|\$|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'| |\"|\“|\”|\&|\#|\[|\]|~/g,"-");
		data = data.replace(/-+-/g,"-");
		data = data.replace(/^\-+|\-+$/g,"");
		
		$(target).text(data);
	}
	
	function startImportContact(index, total) {
		var item = '#tr_'+ index;
		
		getAlias(item + ' .name', item + ' .alias');
		
		if(index <= total) {
            $.ajax({
    			url: "<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'import'));?>",
    			type: 'POST',
    			data: {
                    'product_code': $(item + ' .product_code').text(),
                    'name': $(item + ' .name').text(),
                    'alias': $(item + ' .alias').text(),
                    'post_category_id': $(item + ' .post_category_id input[name="id"]').val(),
                    'product_price': $(item + ' .product_price').text(),
                    'product_sale_percent': $(item + ' .product_sale_percent').text(),
                    'description': $(item + ' .description').html(),
                    'content': $(item + ' .content').html(),
                    'status': $(item + ' .status').text(),
                    'box_new': $(item + ' .box_new').text(),
                    'box_highlight': $(item + ' .box_highlight').text(),
                    'box_hot': $(item + ' .box_hot').text(),
                    'box_best': $(item + ' .box_best').text(),
                    'product_status': $(item + ' .product_status').text(),
                    'product_price_show': $(item + ' .product_price_show').text(),
                    'product_unit': $(item + ' .product_unit').text(),
    			},
    			beforeSend: function() {
    				$(item + ' .btn').html('Đang xử lý ...').removeClass('default').addClass('yellow');
    			},
    			success: function(result) {
    				setTimeout(function(){
    					if(result == 'Không tìm thấy danh mục') {
    						$(item + ' .btn').html(result).removeClass('yellow').addClass('red');
    					} else if(result == 'Cập nhật') {
    						$(item + ' .btn').html(result).removeClass('yellow').addClass('red');
    					} else {
    						$(item + ' .btn').html(result).removeClass('yellow').addClass('green');
    					}
    				    index = index + 1;
    				    startImportContact(index, total); 
    			    }, 100);
    			}
    		});
		} else {
		    alert('Đã import thành công');
		}
	}
	<?php
		if(!empty($this->import) && !empty($this->sheetData)) {  
	?>
	var total = $('.table tbody tr').length;
	startImportContact(1, total);
	<?php
		} 
	?>
	
	/*$('.table th').click(function(){
        startImportContact(1, total);
    });*/
    
<?php $this->headScript()->captureEnd() ?>