<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_product_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_category'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-2 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="no-padding">STT</th>';
    $xhtmlHead .= '<th class="no-padding">Ảnh</th>';
    $xhtmlHead .= $this->linkAdminSort('Tên', 'name', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Mã sản phẩm', 'product_code', $this->params['ssFilter'], null);
    $xhtmlHead .= '<th>Danh mục</th>';
    $xhtmlHead .= $this->linkAdminSort('Đơn vị', 'product_unit', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Tình trạng', 'product_status', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Mới', 'box_new', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Bán chạy', 'box_best', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Nổi bật', 'box_highlight', $this->params['ssFilter'], null);
    $xhtmlHead .= $this->linkAdminSort('Hot', 'box_hot', $this->params['ssFilter'], null);
	$xhtmlHead .= $this->linkAdminSort('Thứ tự', 'ordering', $this->params['ssFilter'], array('class' => 'col-80'));
    $xhtmlHead .= '<th>Công cụ</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id                     = $item->id;
            $post_category_id       = $this->category[$item->post_category_id];
            $name                   = $item->name;
            $alias                  = $item->alias;
            $view                   = $item->view;
            $layout                 = $item->layout;
            $product_code           = $item->product_code;
            $product_unit           = $item->product_unit;
            $product_status         = $this->product_status[$item->product_status];
            $box_new                = $this->box_new[$item->box_new];
            $box_best               = $this->box_best[$item->box_best];
            $box_highlight          = $this->box_highlight[$item->box_highlight];
            $box_hot                = $this->box_hot[$item->box_hot];
            $image_thumb            = !empty($item->image_thumb) ? '<img src="'. $item->image_thumb .'" style="width: 44px;">' : '';
            
            $ordering               = @$this->xFormInput('data['. $id .'][ordering]', $item->ordering, array('class' => 'form-control input-xs mask_integer'));
            $cid                    = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            // Link Action
            $linkView               = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'category_index' => $item['category_index'], 'alias' => $item['alias'], 'index' => $item['index']));
            $linkEdit               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            $linkCopy               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id, 'code' => 'copy'));
            
            // Control Action
            $controlView            = $this->linkAdminHtml($linkView, array('type' => 'icon', 'title' => 'Xem', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-eye', 'target' => '_blank'));
            $controlEdit            = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlCopy            = $this->linkAdminHtml($linkCopy, array('type' => 'icon', 'title' => 'Copy', 'class' => 'btn btn-xs default', 'icon' => 'fa fa-copy'));
            $controlStatus          = $this->linkAdminStatus($id, $item->status);
            $controls               = $controlView . $controlCopy;
            
            // Sản phẩm
            $price			        = '';
            if(!empty($item['product_price'])) {
                if(!empty($item['product_sale_percent'])) {
                    $price	= $item['product_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                    $price	= '<p class="price"><span class="old mask_currency">'. $item['product_price'] .'</span> <span class="value mask_currency">'. $price .'</span> (-'. $item['product_sale_percent'] .'%)</p>';
                } else if(!empty($item['product_sale_price'])){
                    $price	= $item['product_price'] - $item['product_sale_price'];
                    $price	= '<p class="price"><span class="old mask_currency">'. $item['product_price'] .'</span> <span class="value mask_currency">'. $price .'</span> (-'. $item['product_sale_price'] .'VNĐ)</p>';

                } else {
                    $price	= '<p class="price"><span class="value mask_currency">'. $item['product_price'] .'</span></p>';
                }
            }
            if($item['product_sale_percent'] != '' && $item['product_sale_price'] != ''){
                $price  = $item['product_price'] - $item['product_sale_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                $price	= '<p class="price"><span class="old mask_currency">'. $item['product_price'] .'</span> <span class="value mask_currency">'. $price .'</span> (-'. $item['product_sale_percent'] .'% & -'. $item['product_sale_price'] .'VNĐ)</p>';
            }
            
            // Html
            $x_post_category_id = '<select name="data['. $id .'][post_category_id]" class="form-control input-xs" style="width: auto;">';
            foreach ($this->category AS $key => $val) {
                $checked = ($key == $item->post_category_id) ? ' selected="selected"' : '';
                $x_post_category_id .= '<option value="'. $key .'"'. $checked .'>'. $val .'</option>';
            }
            $x_post_category_id .= '</select>';
            
            $x_product_status = '<select name="data['. $id .'][product_status]" class="form-control input-xs" style="width: auto;">';
            foreach ($this->product_status AS $key => $val) {
                $checked = ($key == $item->product_status) ? ' selected="selected"' : '';
                $x_product_status .= '<option value="'. $key .'"'. $checked .'>'. $val .'</option>';
            }
            $x_product_status .= '</select>';
            
            $x_box_new = '<select name="data['. $id .'][box_new]" class="form-control input-xs" style="width: auto;">';
            foreach ($this->box_new AS $key => $val) {
                $checked = ($key == $item->box_new) ? ' selected="selected"' : '';
                $x_box_new .= '<option value="'. $key .'"'. $checked .'>'. $val .'</option>';
            }
            $x_box_new .= '</select>';
            
            $x_box_best = '<select name="data['. $id .'][box_best]" class="form-control input-xs" style="width: auto;">';
            foreach ($this->box_best AS $key => $val) {
                $checked = ($key == $item->box_best) ? ' selected="selected"' : '';
                $x_box_best .= '<option value="'. $key .'"'. $checked .'>'. $val .'</option>';
            }
            $x_box_best .= '</select>';
            
            $x_box_highlight = '<select name="data['. $id .'][box_highlight]" class="form-control input-xs" style="width: auto;">';
            foreach ($this->box_highlight AS $key => $val) {
                $checked = ($key == $item->box_highlight) ? ' selected="selected"' : '';
                $x_box_highlight .= '<option value="'. $key .'"'. $checked .'>'. $val .'</option>';
            }
            $x_box_highlight .= '</select>';
            
            $x_box_hot = '<select name="data['. $id .'][box_hot]" class="form-control input-xs" style="width: auto;">';
            foreach ($this->box_hot AS $key => $val) {
                $checked = ($key == $item->box_hot) ? ' selected="selected"' : '';
                $x_box_hot .= '<option value="'. $key .'"'. $checked .'>'. $val .'</option>';
            }
            $x_box_hot .= '</select>';
            
            $x_product_unit = '<select name="data['. $id .'][product_unit]" class="form-control input-xs" style="width: auto;">';
            $x_product_unit .= '<option value="">- Chọn -</option>';
            foreach ($this->product_unit AS $key => $val) {
                $checked = ($key == $item->product_unit) ? ' selected="selected"' : '';
                $x_product_unit .= '<option value="'. $key .'"'. $checked .'>'. $val .'</option>';
            }
            $x_product_unit .= '</select>';
            
            $x_product_code = '<input name="data['. $id .'][product_code]" value="'. $item['product_code'] .'" type="text" class="form-control input-xs col-100">';
            
            $options = !empty($item['options']) ? unserialize($item['options']) : array();
            $x_options = !empty($options) ? ' ('. count($options) .')' : '';
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $cid .'</td>
    							<td>'. $index .'</td>
    							<td>'. $image_thumb .'</td>
    							<td><a href="'. $linkEdit .'"><b>'. $name .'</b></a>'. $price .'<div><a href="'. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'category', 'id' => $id)) .'" style="font-size: 11px; color: #666;"><i class="fa fa-folder" style="font-size: 11px;"></i> Loại sản phẩm'. $x_options .'</a></div></td>
							    <td>'. $x_product_code .'</td>
							    <td>'. $x_post_category_id .'</td>
							    <td>'. $x_product_unit .'</td>
							    <td>'. $x_product_status .'</td>
							    <td>'. $x_box_new .'</td>
							    <td>'. $x_box_best .'</td>
							    <td>'. $x_box_highlight .'</td>
							    <td>'. $x_box_hot .'</td>
    							<td>'. $ordering .'</td>
							    <td><div style="white-space: nowrap;">'. $controls .'</div></td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');' ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'Nhập từ Excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'import')), 'icon' => 'fa-upload', 'attributes' => array()), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o', 'attributes' => array())), 'children-class' => 'dropdown-menu pull-right' ),
        array( 'name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array( 'onclick' => 'javascript:controlSubmitFormIndex();', 'class' => 'btn' ) ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div>
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>
<?php $this->headScript()->captureStart() ?>
    $('#adminForm .control-element select').change(function() {
		$('#adminForm').submit();
    });
    
    function controlSubmitFormIndex(){
    	jQuery.ajax({
			url: '/xadmin/product/index',
			type: 'POST',
			data: $('#adminForm').serialize(),
			beforeSend: function() {
				$('body').append('<div class="page-loading"><div class="loader"></div></div>');
			},
			success: function(result) {
				console.log(result);
				
				$('.page-loading').remove();
			},
			complete: function(){
			}
		});
    }
<?php $this->headScript()->captureEnd() ?>