<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $item['url'];
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .= $image;
    } 
    
    $result = '<div class="box_adsHome" id="box_adsHome">
        		    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 hidden-xs">
                                <div class="image">'.$image.'</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="info">
                                    <h3 class="title font-title">'.$name.'</h3>
                                    <h4 class="slogan">'.$description.'</h4>
                                    <div class="text">'.$content.'</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>';
}
?>