<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $item['url'];
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" target="_blank" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .= '<li>'. $image .'</li>';
    } 
    
    $result = '<section class="box_bxslider" id="box_bxslider">
                    <div class="box_content">
                        <ul class="bxslider">
                        	'. $xhtml .'
                        </ul>
                    </div>
                </section>';
}
?>
<?php $view->headScript()->captureStart() ?>
    $(document).ready(function() {
    	$("#box_bxslider").show();
        $("#box_bxslider .bxslider").bxSlider({
        	auto: false,
            minSlides: 1,
            maxSlides: 1,
            //mode: "fade",
            //slideWidth: 360,
            slideMargin: 0,
            moveSlides: 1,
            responsive: true,
            pause: 8000,
            speed: 2000
        });
    });
<?php $view->headScript()->captureEnd() ?>