<?php
if($items->count() > 0) {
    $item       = $items->current();
    $image      = '<div class="logo"><a href="/"><img src="'. $item['image'] .'"></a></div>';
    $content    = htmlspecialchars_decode($item['content']);
    
    $search = '<div class="box_search hidden-xs hidden-sm">
                    <form action="/search"><div class="form-group"><div class="input-group"><input name="keyword" type="text" class="form-control" placeholder="'. $language['search'][$language_active] .'" value="'. $_GET['keyword'] .'"><div class="input-group-addon"><button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div></div></div></form>
                </div>';
    
    $result = sprintf('
        <div class="box_header hidden-xs">
            <div class="container">
                %s
            </div>
        </div>', $content
    );
}
?>
