<?php
if($items->count() > 0) {
    $xhtml = '';
    
    foreach ($items AS $key => $item) { 
        if(!empty($options['type'])) {
            if(!in_array($item['type'], $options['type'])) {
                continue;
            }
        }
        $url            = $view->url('routeAdmin', array('alias' => $item['alias']));
        
        $video_id       = explode('/embed/', $item['file']);
        if(!empty($video_id[1])) {
            $video_id   = $video_id[1];
        } else {
            $video_id   = explode('?v=', $item['file']);
            if(!empty($video_id[1])) {
                $video_id = explode('&', $video_id[1]);
                $video_id = $video_id[0];
            } else {
                $video_id = $item['file'];
            }
        }
        
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        $image          = !empty($item['image']) ? $item['image'] : 'https://i3.ytimg.com/vi/'. $video_id .'/maxresdefault.jpg?v=1';
        $description    = nl2br($item['description']);
        $content        = htmlspecialchars_decode($item['content']);

        $xhtml .= '<div class="item">
                        <div class="item-content">
                            <div class="image"><a href="javascript:;" onclick="playVideoPopup(\'https://www.youtube.com/embed/'. $video_id .'?autoplay=1\');"><img src="'. $image .'" alt=""><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                    </div>';
    } 

    $result = '<section class="box-home box-feedback-student" id="box-feedback-student">
                    <div class="container">
                        <h2 class="section-title text-center">Cảm nhận học viên</h2>
                        <div class="box-content">
                            <div class="feedback-slide owl-theme owl-carousel">
                                '. $xhtml .'
                            </div>
                        </div>
                        '. $options['cta'] .'
                    </div>
                </section>';
}
?>
                
<?php $view->headScript()->captureStart() ?>
    $(document).ready(function(e){
        $('.feedback-slide').owlCarousel({
            margin    : 30,
            loop      : true,
            responsive:{
                0:{
                    nav  : false,
                    dots : true,
                    items: 1
                },
                767:{
                    nav  : true,
                    dots : true,
                    items: 2
                },
                992:{
                    nav  : true,
                    dots : true,
                    items: 3
                }
            }
        });
    });
<?php $view->headScript()->captureEnd() ?>