<?php
if($items->count() > 0) {
    $xhtml = '';
    
    foreach ($items AS $key => $item) { 
        if(!empty($options['type'])) {
            if(!in_array($item['type'], $options['type'])) {
                continue;
            }
        }
        $url            = $view->url('routeAdmin', array('alias' => $item['alias']));
        
        $video_id       = explode('/embed/', $item['file']);
        if(!empty($video_id[1])) {
            $video_id   = $video_id[1];
        } elseif (preg_match('/(youtube)/', $item['file'])) {
            $video_id   = explode('?v=', $item['file']);
            if(!empty($video_id[1])) {
                $video_id = explode('&', $video_id[1]);
                $video_id = $video_id[0];
            } else {
                $video_id = $item['file'];
            }
        } elseif (preg_match('/(vimeo)/', $item['file'])) {
            $video_id = preg_match('/(http|https)?:\/\/(www\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|)(\d+)(?:|\/\?)/', $item['file'], $match);
        }
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        // if (preg_match('/(vimeo)/', $item['file'])) {
        //     $xml_vimeo  = simplexml_load_file('http://vimeo.com/api/v2/video/' . $match[4] . '.xml');
        //     $image      = $xml_vimeo->video[0]->thumbnail_medium;
        // } else {
        //     $image      = !empty($item['image']) ? $item['image'] : 'https://i3.ytimg.com/vi/'. $video_id .'/maxresdefault.jpg?v=1';
        // }
        $image          = $item['image'];
        $description    = nl2br($item['description']);
        $content        = htmlspecialchars_decode($item['content']);

        if (preg_match('/(vimeo)/', $item['file'])) {
            $xhtml .=   '<div class="item">
                            <div class="item-content">
                                <div class="image"><a href="javascript:;" onclick="play_video(\'https://player.vimeo.com/video/'. $match[4] .'?autoplay=1\');"><img src="'. $image .'" alt=""><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                            </div>
                        </div>';
        } else {
            $xhtml .=   '<div class="item">
                            <div class="item-content">
                                <div class="image"><a href="javascript:;" onclick="play_video(\'https://www.youtube.com/embed/'. $video_id .'?autoplay=1\');"><img src="'. $image .'" alt=""><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                            </div>
                        </div>';
        }
    } 
    
    $result = '<section class="box-partner" id="box-partner">
                    <div class="box-title text-center">
                        <fieldset>
                            <legend aligns="center"><img src="/public/template/frontend/img/langgo/langgo-partner.png" alt=""></legend>
                        </fieldset>
                    </div>
                    <div class="container box-item-slider">
                        <div class="box-content">
                            <div class="bxslider-partner">
                                '. $xhtml .'
                            </div>
                        </div>
                    </div>
                </section>';
}
?>
                
<?php $view->headScript()->captureStart() ?>
    // Popup video
    function play_video(url) {
        var html = '';
        html += '<div class="popup-video" onclick="close_popup()">';
            html += '<div class="popup-content">';
                html += '<div class="embed-responsive embed-responsive-16by9">';
                    html += '<iframe class="embed-responsive-item" src="'+ url +'" frameborder="0" allowfullscreen></iframe>';
                html += '</div>';
                html += '<a href="javascript:void(0)" onclick="close_popup()" class="popup-close"><i class="fa fa-times"></i></a>';
            html += '</div>';
        html += '</div>';
        $('body').append(html);
    }
    
    // Close Popup video
    function close_popup() {
        $('.popup-video').remove();
    }
<?php $view->headScript()->captureEnd() ?>