<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $item['url'];
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        $phone          = $item['phone'];
        $email          = $item['email'];
        $address        = $item['address'];
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .= sprintf('
            <div class="item">
                <div class="name"><i class="fa fa-user" aria-hidden="true"></i> %s</div>
                <div class="phone"><i class="fas fa-mobile-alt"></i> <a href="tel:%s">%s</a></div>
                <div class="email"><i class="far fa-envelope"></i> %s</div>
                <div class="skype"><i class="fab fa-skype"></i> <a href="skype:%s">Chat Skype</a></div>
            </div>', $item['name'], preg_replace("/[^0-9]/", "", $item['phone']), $item['phone'], $email, $address
        );
    } 
    
    $result = '<div class="box_support" id="box_support">
                    <div class="box_title"><div class="title">'. $language['suport_online'][$language_active] .'</div></div>
                    <div class="box_content">
            		    '. $xhtml .'
                    </div>
                </div>';
}
?>