<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $item['url'];
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .=   '<div class="teacher-item">
                        <div class="teacher-image text-center"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></div>
                        <div class="teacher-name">'. $item['name'] .'</div>
                        <div class="teacher-description">'. $item['description'] .'</div>
                    </div>';
    } 
    
    $result =   '<section class="box-home box-teacher" id="box-teacher">
                    <div class="container">
                        <h2 class="section-title text-center">Tác giả</h2>
                        <div class="box-content">
                            <div class="teacher-slider owl-theme owl-carousel">
                                '. $xhtml .'
                            </div>
                        </div>
                        '. $options['cta'] .'
                    </div>
                </section>';
}
?>

<?php $view->headScript()->captureStart() ?>
    $(document).ready(function() {
        $('.teacher-slider').owlCarousel({
            margin: 30,
            loop: true,
            autoplay: true,
            responsive:{
                0:{
                    nav: false,
                    dots: true,
                    items:1
                },
                767:{
                    nav: true,
                    dots: true,
                    items:3
                },
                992:{
                    nav: true,
                    dots: true,
                    items:4
                }
            }
        });
    });
<?php $view->headScript()->captureEnd() ?>

