<?php
    $configs = $this->params['configs'];
    $myForm  = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-2 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    if($configs['list']['general']['showCheckbox']['value'] == 1) {
        $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    }
    if($configs['list']['general']['showIndex']['value'] == 1) {
        $xhtmlHead .= '<th class="col-50">STT</th>';
    }
    foreach ($configs['list']['fields'] AS $field) {
        $xhtmlHead .= $this->linkAdminSort($field['caption'], $field['name'], $this->params['ssFilter'], $field['attributes']);
    }
	if($configs['list']['general']['showControl']['value'] == 1) {
        $xhtmlHead .= '<th class="col-80">Công cụ</th>';
	}
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id             = $item->id;
            $name           = $item->name;
            $created        = date_format(date_create($item->created), 'd/m/Y H:i:s');
            $created_by     = $this->user[$item->created_by]['fullname'];
            $ordering       = @$this->xFormInput('ordering['. $id .']', $item->ordering, array('class' => 'form-control input-xs'));
            $cid            = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            // Link Action
            $linkEdit       = $this->url('routeAdminDocument/default', array('slug' => $configs['code'], 'action' => 'form', 'id' => $id));
            $linkCopy       = $this->url('routeAdminDocument/default', array('slug' => $configs['code'], 'action' => 'form', 'id' => $id, 'code' => 'copy'));
            
            // Control Action
            $controlEdit    = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlCopy    = $this->linkAdminHtml($linkCopy, array('type' => 'icon', 'title' => 'Copy', 'class' => 'btn btn-xs default', 'icon' => 'fa fa-copy'));
            $controlStatus  = $this->linkAdminStatus($id, $item->status);
            $controls       = $controlStatus . $controlEdit . $controlCopy;
            
            $xhtmlColumn    = '';
            if($configs['list']['general']['showCheckbox']['value'] == 1) {
                $xhtmlColumn .= '<td>'. $cid .'</td>';
            }
            if($configs['list']['general']['showIndex']['value'] == 1) {
                $xhtmlColumn .= '<td>'. $index .'</td>';
            }
            foreach ($configs['list']['fields'] AS $field) {
                switch ($field['name']) {
                    case 'name':
                        $fieldColumn = '<a href="'. $linkEdit .'"><b>'. $item[$field['name']] .'</b></a>';
                        break;
                    case 'ordering':
                        $fieldColumn = @$this->xFormInput('ordering['. $id .']', $item[$field['name']], array('class' => 'form-control input-xs'));
                        break;
                    default:
                        switch ($field['type']) {
                            case 'image':
                                $fieldColumn = $item[$field['name']] ? '<img src="'. $item[$field['name']] .'" class="'. $field['attributes']['class'] .'">' : '';
                                break;
                            default:
                                $fieldColumn = $item[$field['name']];
                                if(!empty($field['data_source'])) {
                                    $fieldColumn = $this->data_source[$field['data_source']['table']][$item[$field['name']]]['name'];
                                }
                        }
                }
                
                $fieldClass = $field['options']['class'] ? ' class="' . $field['attributes']['class'] . '"' : '';
                $xhtmlColumn .= sprintf('<td%s>%s</td>', $fieldClass, $fieldColumn);
            }
            if($configs['list']['general']['showControl']['value'] == 1) {
                $xhtmlColumn .= '<td>'. $controls .'</td>';
            }
            
            $xhtmlItems    .= '<tr id="tr_'. $id .'">'. $xhtmlColumn .'</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdminDocument/default', array('slug' => $this->params['route']['slug'], 'action' => 'form')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => 'javascript:;', 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();', ) ), ), 'children-class' => 'dropdown-menu pull-right' ),
        array( 'name' => 'config', 'caption' => 'Cài đặt', 'link' => 'javascript:;', 'icon' => 'fa-cogs', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
    );
?>
<form action="<?php echo $this->url('routeAdminDocument/default', array('slug' => $this->params['route']['slug'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdminDocument/default', array('slug' => $configs['code'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>
