<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    if(empty($myForm->get('post_category_id')->getValue())) {
        $myForm->get('post_category_id')->setValue($this->ssData['post_category_id']);
    }
    
    $elements = array(
        array('element' => $myForm->get('name'), 'label' => 'Tên', 'validate' => array('require' => true), 'boxClass' => 'col-xs-12 col-sm-4 col-md-3 col-lg-2'),
        array('element' => $myForm->get('post_category_id'), 'label' => 'Danh mục', 'validate' => array('require' => true), 'boxClass' => 'col-xs-12 col-sm-4 col-md-3 col-lg-2'),
        array('element' => $myForm->get('image'), 'label' => 'Hình ảnh', 'validate' => array('require' => true)),
        array('element' => $myForm->get('image_popup'), 'label' => 'Hình ảnh popup', 'validate' => array('require' => true)),
        array('element' => $myForm->get('status'), 'label' => 'Trạng thái', 'boxClass' => 'col-md-1'),
        array('element' => $myForm->get('ordering'), 'label' => 'Thứ tự', 'boxClass' => 'col-md-1'),
        array('element' => '', 'section' => 'Thông tin bằng hình ảnh', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
    
?>
<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
    <div class="page-content">
    	<div class="row">
            <?php echo $xhtml;?>
        </div>
        <div class="row image-manager" id="image-manager">
            <?php
            $images = '';
            if(!empty($this->params['data']['images'])) {
                $images = $this->params['data']['images'];
            } elseif(!empty($this->item['images'])) {
                $images = unserialize($this->item['images']);
            }
            
            if(!empty($images)) {
                $string = '0123456789abcde0123456789fghi0123456789jklm0123456789nopqrst0123456789uvwxyz0123456789';
                
                for ( $i = 0; $i < count($images['url']); $i++) {
                    $image_url      = $images['url'][$i];
                    $image_name     = $images['name'][$i];
                
                    $id_item        = 'img_' . substr(str_shuffle($string), 0, 10);
                    $image          = '<img class="img" src="'. $image_url .'" />';
                    $input_hidden   = '<input type="hidden" name="images[url][]" value="'. $image_url .'">';
                    $input_name     = '<input type="text" class="form-control input-sm" name="images[name][]" placeholder="Tên" value="'. $image_name .'">';
                    $control        = '<div class="control">
                                          <a href="javascript:;" onclick="openEditImage(\''. $id_item .'\')">Sửa</a> |
                                          <a href="javascript:;" onclick="openDeleteImage(\''. $id_item .'\')">Xóa</a>
                                      </div>';
                    $content        = $image . $input_hidden . $control;
                    echo sprintf('<div class="col-md-2" id="%s"><div class="item">%s</div>%s</div>', $id_item, $content, $input_name);
                }
            }
            ?>
            <div class="col-md-2 add-item"><div class="item"><div onclick="openAddImage()" class="btn-add"><i class="fa fa-plus"></i><div class="text">Thêm ảnh</div></div></div></div>
        </div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    function openAddImage() {
        var id = '#image-manager';
        

        window.KCFinder = {
            callBackMultiple: function(files) {
                window.KCFinder = null;
                
                for (var i = 0; i < files.length; i++) {
                    var id_item = 'img_' + i + ramdomString(10);
                    $(id + ' .add-item').before('<div class="col-md-2 col-xs-4" id="'+ id_item +'"></div>');
                    var url = files[i];
                    var image           = '<img class="img" src="' + url + '" />';
                    var input_hidden    = '<input type="hidden" name="images[url][]" value="' + url + '">';
                    var input_name      = '<input type="text" class="form-control input-sm" name="images[name][]" placeholder="Tên" value="">';
                    var control         = '<div class="control">' + 
                                                '<a href="javascript:;" onclick="openEditImage(\'' + id_item + '\')">Sửa</a> |' +  
                                                '<a href="javascript:;" onclick="openDeleteImage(\'' + id_item + '\')">Xóa</a>' + 
                                            '</div>';
                    $('#' + id_item).html('<div class="item">' + image + input_hidden + control + '</div>' + input_name);
                }
            }
        };
        window.open('/public/scripts/kcfinder/browse.php?type?opener=ckeditor&type=images&langCode=vi', 'kcfinder_multiple', 'status=0, toolbar=0, location=0, menubar=0, directories=0, ' + 'resizable=1, scrollbars=0, width=1000, height=600' );
    }

    function openEditImage(id_item) {
        window.KCFinder = {
            callBack: function(url) {
                window.KCFinder = null;
                                    
                $('#' + id_item + ' .img').attr('src', url);
                $('#' + id_item + ' input[type="hidden"]').val(url);
            }
        };
        window.open('/public/scripts/kcfinder/browse.php?type?opener=ckeditor&type=images&langCode=vi', 'kcfinder_textbox', 'status=0, toolbar=0, location=0, menubar=0, directories=0, ' + 'resizable=1, scrollbars=0, width=1000, height=600' );
    }

    function openDeleteImage(id_item) {
        Form.extendedModals('confirm');
        var $modal  = $('#confirm-modal');
        
        $modal.modal();
        $modal.find('.modal-body').html("Nếu xóa phần tử sẽ không thể khôi phục lại. Bạn có chắc chắn muốn xóa?");
        $modal.on('click', '.confirm', function(){
            $modal.modal('hide');
            $('#' + id_item).remove();
        });
        
        $modal.on('hidden.bs.modal', function (e) {
            $modal.html('');
        });
    }
<?php $this->headScript()->captureEnd() ?>