<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    $elements_top = array(
        array('element' => $myForm->get('name'), 'label' => 'Tên', 'validate' => array('require' => true)),
        array('element' => $myForm->get('type'), 'label' => 'Loại', 'validate' => array('require' => true), 'boxClass' => 'col-md-3 col-lg-2'),
        array('element' => $myForm->get('time_limit'), 'label' => 'Thời gian làm bài (phút)', 'validate' => array('require' => true), 'boxClass' => 'col-md-2 box-fade box-listenning box-reading box-writing box-grammar box-arrange_sentence hidden'),
        array('element' => $myForm->get('min_word'), 'label' => 'Số từ tối thiểu', 'validate' => array('require' => true), 'boxClass' => 'col-md-2 col-lg-1 box-fade box-writing hidden'),
        array('element' => $myForm->get('max_word'), 'label' => 'Số từ tối đa', 'boxClass' => 'col-md-2 col-lg-1 box-fade box-writing hidden'),
        array('element' => $myForm->get('status'), 'label' => 'Trạng thái', 'boxClass' => 'col-md-2 col-lg-1'),
        array('element' => $myForm->get('ordering'), 'label' => 'Thứ tự', 'boxClass' => 'col-md-2 col-lg-1'),
        array('element' => '', 'section' => 'Phần đề bài', 'boxClass' => 'col-md-12 box-fade box-listenning box-reading box-speaking box-writing hidden'),
        array('element' => $myForm->get('audio'), 'label' => 'Audio', 'validate' => array('require' => true), 'boxClass' => 'col-xs-12 col-sm-4 col-md-3 box-fade box-listenning hidden'),
        array('element' => $myForm->get('note_audio'), 'label' => 'Ghi chú audio', 'boxClass' => 'col-xs-12 col-sm-4 col-md-3 box-fade box-listenning hidden'),
        array('element' => $myForm->get('content'), 'label' => 'Nội dung đề bài', 'boxClass' => 'col-md-12 box-fade box-reading box-speaking box-writing hidden'),
        array('element' => '', 'section' => 'Phần câu hỏi', 'boxClass' => 'col-md-12 box-fade box-reading box-listenning box-grammar hidden'),
        array('element' => $myForm->get('content_question'), 'label' => 'Bố cục câu hỏi', 'boxClass' => 'col-md-12 box-fade box-reading box-listenning box-grammar hidden'),
    );
    $elements_bot = array(
        array('element' => '', 'section' => 'Phần đối chiếu', 'boxClass' => 'col-md-12 box-fade box-reading box-listenning hidden'),
        array('element' => $myForm->get('content_result'), 'label' => 'Nội dung đối chiếu', 'boxClass' => 'col-md-12 box-fade box-reading box-listenning hidden'),
        array('element' => '', 'section' => 'Phần mở rộng', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('meta_title'), 'label' => 'Meta title', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_keywords'), 'label' => 'Meta keywords', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_description'), 'label' => 'Meta description', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('alias'), 'label' => 'Đường dẫn tĩnh', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_url'), 'label' => 'Link thay thế', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('post_id'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    $xhtml_top = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements_top);
    $xhtml_bot = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements_bot);

?>
<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements_top);?>
    <?php echo @$this->xViewElementErrors($elements_bot);?>
    <div class="page-content">
    	<div class="row">
            <?php echo $xhtml_top;?>
            <div class="col-xs-12 col-sm-12 col-md-12 box-fade box-reading box-listenning box-grammar arrange_sentence hidden">
                <label class="control-label">Câu hỏi<span class="required">*</span></label>
                <div class="control-element">
                    <table class="table table-bordered table-question">
                        <thead>
                            <tr>
                                <th class="col-100">Câu số</th>
                                <th class="col-100">Loại</th>
                                <th>
                                    Lựa chọn<br />
                                    Giá trị và text hiển thị cách nhau bởi 2 dấu gạch dưới __<br />
                                    Các lựa chọn cách nhau bởi dấu chấm phẩy ;
                                </th>
                                <th>Đáp án</th>
                                <th class="col-80">Công cụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <script id="tr-question" type="x-kendo-template">
                        # 
                        data.forEach(function(item) {
                            var index = Math.floor(Math.random() * Math.floor(9999999999));
                            #
                            <tr>
                                <td class="col-100"><input type="text" name="questions[#= index #][number]" class="form-control mask_number" placeholder="Câu số" value="#= item.number #" /></td>
                                <td>
                                    <select name="questions[#= index #][type]" class="form-control select2 select2_basic">
                                        <option value="text" #= item.type == 'text' ? 'selected' : '' #>Text ngắn</option>
                                        <option value="textarea" #= item.type == 'textarea' ? 'selected' : '' #>Text dài</option>
                                        <option value="select" #= item.type == 'select' ? 'selected' : '' #>Select</option>
                                        <option value="radio" #= item.type == 'radio' ? 'selected' : '' #>Radio</option>
                                    </select>
                                </td>
                                <td><input type="text" name="questions[#= index #][options]" class="form-control" placeholder="Lựa chọn" value="#= item.options ? item.options : '' #" /></td>
                                <td><input type="text" name="questions[#= index #][result]" class="form-control" placeholder="Đáp án" value="#= item.result ? item.result : '' #" /></td>
                                <td><a href="javascript:;" title="Xoá câu hỏi" class="btn btn-xs red remove-tr"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            #
                        });
                        #
                    </script>
                    <div class="text-right">
                        <button type="button" class="btn blue" onclick="addQuestion();">Thêm câu hỏi</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 box-fade box-writing box-speaking hidden">
                <label class="control-label">Bài viết mẫu<span class="required">*</span></label>
                <div class="control-element">
                    <table class="table table-bordered table-sample">
                        <thead>
                            <tr>
                                <th style="width: 30%;">Tên bài mẫu</th>
                                <th>Nội dung</th>
                                <th class="col-80">Công cụ</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <script id="tr-sample" type="x-kendo-template">
                        # 
                        data.forEach( function(item) {
                            var index = Math.floor(Math.random() * Math.floor(9999999999));
                            var item_name = item.name ? item.name : '';
                            var item_content = item.content ? item.content : '';
                            #
                            <tr>
                                <td><input type="text" name="samples[#= index #][name]" class="form-control" placeholder="Tên bài mẫu" value="#= item_name #" /></td>
                                <td><textarea name="samples[#= index #][content]" class="form-control" id="text-#= index #">#= item_content #</textarea></td>
                                <td><a href="javascript:;" title="Xoá câu hỏi" class="btn btn-xs red remove-tr"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            #
                        });
                        #
                    </script>
                    <div class="text-right">
                        <button type="button" class="btn blue" onclick="addSample();">Thêm bài mẫu</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 box-fade box-arrange_sentence hidden">
                <label class="control-label">Câu hỏi<span class="required">*</span></label>
                <div class="control-element">
                    <table class="table table-bordered table-arrange-sentence">
                        <thead>
                            <tr>
                                <th class="col-100">Câu số</th>
                                <th>Nội dung câu</th>
                                <th>Hướng dẫn</th>
                                <th class="col-80">Công cụ</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <script id="tr-arrange-sentence" type="x-kendo-template">
                        # 
                        data.forEach( function(item) {
                            var index = Math.floor(Math.random() * Math.floor(9999999999));
                            var item_number = item.number ? item.number : '';
                            var item_result = item.result ? item.result : '';
                            var item_help = item.help ? item.help : '';
                            #
                            <tr>
                                <td><input type="text" name="arrange_sentence[#= index #][number]" class="form-control mask_number" placeholder="Câu số" value="#= item_number #" /></td>
                                <td><input type="text" name="arrange_sentence[#= index #][result]" class="form-control" value="#= item_result #" ></td>
                                <td><input type="text" name="arrange_sentence[#= index #][help]" class="form-control" value="#= item_help #" ></td>
                                <td><a href="javascript:;" title="Xoá câu hỏi" class="btn btn-xs red remove-tr"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            #
                        });
                        #
                    </script>
                    <div class="text-right">
                        <button type="button" class="btn blue" onclick="addArrangeSentence();">Thêm câu hỏi</button>
                    </div>
                </div>
            </div>
            <?php echo $xhtml_bot;?>
        </div>
	</div>
</form>
<?php 
$arr_questions = $this->params['data']['questions'] ? json_encode(array_values($this->params['data']['questions'])) : ($this->item['questions'] ? json_encode(unserialize($this->item['questions'])) : []);
$arr_samples = $this->params['data']['samples'] ? json_encode(array_values($this->params['data']['samples'])) : ($this->item['samples'] ? json_encode(unserialize($this->item['samples'])) : []);
$arr_arrange_sentence = $this->params['data']['arrange_sentence'] ? json_encode(array_values($this->params['data']['arrange_sentence'])) : ($this->item['arrange_sentence'] ? json_encode(unserialize($this->item['arrange_sentence'])) : []);
$this->headScript()->captureStart() 
?>
    CKEDITOR.replace( 'content', {
        customConfig : 'config.js?v=1'
    });
    CKEDITOR.replace( 'content_question', {
        customConfig : 'config.js?v=1'
    });
    CKEDITOR.replace( 'content_result', {
        customConfig : 'config.js?v=1'
    });

    $(document).ready(function(e){
        load_box();
        $('[name="type"]').change(function(){
            load_box();
        });
        
        let type = '<?php echo $this->item['type'] ?: $this->params['data']['type']; ?>';
        if(type != null && type != 'null' && type !== ''){
            if(type == 'writing' || type == 'speaking'){
                let data_samples = <?php echo $arr_samples; ?>;
                console.log(data_samples);
                if(data_samples) addSample(data_samples);
            }else if(type == 'arrange_sentence'){
                let data_arrange_sentence = <?php echo $arr_arrange_sentence; ?>;
                if(data_arrange_sentence) addArrangeSentence(data_arrange_sentence);
            }else{
                let data_questions = <?php echo $arr_questions; ?>;
                if(data_questions) addQuestion(data_questions);
            }
        }
        $('body').on("click", ".remove-tr", function(e){
            e.preventDefault();
            $(this).parents('tr').remove();
        });
    });
    function load_box(){
        $('.box-fade').addClass('hidden');
        $('.box-fade.box-' + $('[name="type"]').val()).removeClass('hidden');
    }

    //Thêm câu hỏi
    function addQuestion(data = []){
        if(data.length == 0) data.push({});
        let template = kendo.template($('#tr-question').html());
        let html = template(data);
        $('.table-question tbody').append(html);
        Form.init();
    }
    //Thêm bài mẫu
    function addSample(data = []){
        if(data.length == 0) data.push({});
        let template = kendo.template($('#tr-sample').html());
        let html     = template(data);
        $('.table-sample tbody').append(html);
        $('.table-sample tbody tr textarea').each(function(){
            let this_id = $(this).attr('id');
            if($('#cke_'+ this_id).length == 0){
                CKEDITOR.replace( this_id, {
                    customConfig : 'config.js?v=1'
                });
            }
        });
        Form.init();
    }
    
    // Thêm câu sắp xếp
    function addArrangeSentence(data = []){
        if(data.length == 0) data.push({});
        let template = kendo.template($('#tr-arrange-sentence').html());
        let html     = template(data);
        $('.table-arrange-sentence tbody').append(html);
        Form.init();
    }
<?php $this->headScript()->captureEnd() ?>