<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-2 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="col-50">STT</th>';
    $xhtmlHead .= $this->linkAdminSort('Tên', 'name', $this->params['ssFilter'], null);
    $xhtmlHead .= '<th>Loại</th>';
    $xhtmlHead .= '<th>Thời gian làm bài</th>';
    $xhtmlHead .= '<th class="col-50">Lượt xem</th>';
	$xhtmlHead .= $this->linkAdminSort('Ngày tạo', 'created', $this->params['ssFilter'], null);
	$xhtmlHead .= $this->linkAdminSort('Thứ tự', 'ordering', $this->params['ssFilter'], array('class' => 'col-80'));
    $xhtmlHead .= '<th class="col-80">Công cụ</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id       = $item->id;
            $name     = $item->name;
            $alias    = $item->alias;
            $view     = $item->view;
            $created  = date_format(date_create($item->created), 'd/m/Y H:i:s');
            $ordering = @$this->xFormInput('ordering['. $id .']', $item->ordering, array('class' => 'form-control input-xs'));
            $cid      = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            // Link Action
            $linkView               = $this->url('routeExercise', array( 'post_alias' => $this->post_info['alias'], 'alias' => $item['alias']));
            $linkEdit               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            $linkCopy               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id, 'code' => 'copy'));
            
            // Control Action
            $controlView            = $this->linkAdminHtml($linkView, array('type' => 'icon', 'title' => 'Xem', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-eye', 'target' => '_blank'));
            $controlEdit            = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlCopy            = $this->linkAdminHtml($linkCopy, array('type' => 'icon', 'title' => 'Copy', 'class' => 'btn btn-xs default', 'icon' => 'fa fa-copy'));
            $controlStatus          = $this->linkAdminStatus($id, $item->status);
            $controls               = $controlView . $controlStatus . $controlEdit . $controlCopy;

            $list_type = json_decode(TYPE_EXERCISE, true);

            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $cid .'</td>
    							<td>'. $index .'</td>
    							<td><a href="'. $linkEdit .'"><b>'. $name .'</b></a><p class="alias">Url: '. $alias .'</p>'. $price .'</td>
                                <td>'. $list_type[$item->type] .'</td>
                                <td>'. $item->time_limit .'</td>
                                <td class="text-center">'. $view .'</td>
    							<td>'. $created .'</td>
    							<td>'. $ordering .'</td>
							    <td>'. $controls .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ))), 'children-class' => 'dropdown-menu pull-right' ),
        array( 'name' => 'back', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => 'ielts', 'action' => 'index')), 'icon' => 'fa-arrow-left', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
    );
    if(!$this->post_info){
        $arrControl = array(
            array( 'name' => 'back', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => 'ielts', 'action' => 'index')), 'icon' => 'fa-arrow-left', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        );
    }
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
            <?php
            if(!$this->post_info){
                ?>
                <div class="alert alert-danger">Không lấy được thông tin bài luyện thi</div>
                <?php
            }else{
                ?>
        		<div class="table-scrollable">
        			<table class="table table-striped table-bordered table-hover">
        				<thead>
        					<?php echo $xhtmlHead;?>
        				</thead>
        				<tbody>
        					<?php echo $xhtmlItems;?>
        				</tbody>
        			</table>
        		</div>
        		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            }
            ?>
    	</div>
	</div>
</form>
<?php $this->headScript()->captureStart() ?>
    $('#adminForm select').change(function() {
		$('#adminForm').submit();
    });
<?php $this->headScript()->captureEnd() ?>